{% extends "PluginCeres::PageDesign.PageDesign" %}
{% import "PluginCeres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set itemData = config("PluginCeres.item.data") | split(', ') %}
{% set configItemName = config("PluginCeres.item.name") %}
{% set variations = services.item.getVariationAttributeMap( item.itemBase.id ) %}
{% set basePriceList = getBasePriceList( services.item.getVariationList( item.itemBase.id ) ) %}
{% set crossSellingList = services.item.getItemCrossSellingList(item.itemBase.id) %}

{% block PageBody %}
    {{ component( "PluginCeres::Item.Components.VariationSelect" ) }}
    {{ component( "PluginCeres::Item.Components.VariationImageList" ) }}
    {{ component( "PluginCeres::Basket.Components.AddItemToBasket" ) }}

    <resource name="currentVariation" data="{{ item | json_encode() }}"></resource>
    <div class="single container-max page-content">
        <div class="row m-t-3">
            <div class="col-md-7 single-leftside">
                <div class="row">
                    <div class="col-xs-12">
                        <variation-image-list></variation-image-list>
                    </div>
                </div>
            </div>
            <!-- ITEM DETAIL -->
            <div class="col-md-5 single-rightside m-t-1">

                <h6 class="producertag">
                    <a href="#" class="producer text-muted">{{ item.itemBase.producer }}</a>
                </h6>

                <h1 class="h3 title">
                    {{ item.itemDescription | itemName(configItemName) }} <span v-resource-bind:currentVariation="variationBase.variationName">{{ item.variationBase.variationName }}</span>
                </h1>

                {% if ('item.shortDescription' in itemData or 'all' in itemData) and item.itemDescription.shortDescription != '' %}
                    <p class="single-description">{{ item.itemDescription.shortDescription }}</p>
                {% endif %}

                <hr>

                <div class="m-b-3">
                    <!-- <div class="rating pull-xs-right">
                        <span class="tag tag-pill tag-success">
                            <i class="fa fa-star"></i>
                            4.5
                            <span class="amount">357</span>
                        </span>
                    </div> -->

                    <span class="articlenumber small text-muted">
                        <b>{{ trans("PluginCeres::Template.itemNumber") }}</b>
                        <span v-resource-bind:currentVariation="variationBase.customNumber">{{ item.variationBase.customNumber }}</span>
                    </span>
                </div>

                {% if variations is not null %}
                <div class="row m-b-1">
                    <variation-select :attributes="{{ services.item.getAttributeNameMap( item.itemBase.id ) | json_encode() }}" :variations="{{ variations | json_encode() }}" preselect="{{ item.variationBase.id }}"></variation-select>
                </div>
                {% endif %}

                {{ LayoutContainer.show("PluginCeres::SingleItem.BeforePrice") }}
                {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
                    <div class="crossprice" v-resource-if:currentVariation="variationRecommendedRetailPrice.price > 0">
                        <del class="text-muted small" v-resource-bind:currentVariation="variationRecommendedRetailPrice.price" :filters="['currency']">
                            {{ item.variationRecommendedRetailPrice.price | formatMonetary(item.variationRetailPrice.currency) }}
                        </del>
                    </div>
                {% endif %}

                <span class="price h1">
                    <span v-resource-bind:currentVariation="variationRetailPrice.price" :filters="['currency']">{{ item.variationRetailPrice.price | formatMonetary(item.variationRetailPrice.currency) }}</span>
                    <sup>*</sup>
                </span>

                {% for variationId, basePrice in basePriceList %}
                <div class="base-price text-muted m-y-1" v-resource-if:currentVariation="variationBase.id == {{ variationId }}">
                    {{ trans("PluginCeres::Template.itemUnitPrice") }}
                    <span class="base-price-value">{{ basePrice.price | formatMonetary(item.variationRetailPrice.currency) }}</span> /
                    <span class="base-price-amount">
                    {% if basePrice.lot > 1 %}
                        {{ basePrice.lot }}
                    {% endif %}
                    {{ services.unit.getUnitById( basePrice.unit, services.sessionStorage.getLang() ).name }}
                    </span>
                </div>
                {% endfor %}
                {{ LayoutContainer.show("PluginCeres::SingleItem.AfterPrice") }}

                {% for availability in services.availability.getAvailabilities() %}
                <span class="availability tag availability_{{ availability.id }}" v-resource-if:currentVariation="variationBase.availability == {{ availability.id }}">
                    {{ availability.languages[0].name }}
                </span>
                {% endfor %}

                <div class="row m-y-1">

                    {{ LayoutContainer.show("PluginCeres::SingleItem.BeforeAddToBasket") }}
                    <add-item-to-basket :item="{{ item | json_encode() }}" :show-quantity="true"></add-item-to-basket>

                    {{ LayoutContainer.show("PluginCeres::SingleItem.AfterAddToBasket") }}
                </div>

                <div class="row">
                    <!--
                    <div class="col-xs-6 offset-xs-6 m-t-1">
                        <a class="pull-xs-right text-muted small" href="#">
                            {{ trans("PluginCeres::Template.itemWishList") }}
                            <i class="fa fa-heart"></i>
                        </a>
                    </div> -->
                </div>
            <!-- ./ITEM DETAIL -->

                <div class="shariff" data-theme="white" data-services='["twitter","facebook","googleplus","pinterest"]'
                     data-url="" style="max-width:100%;overflow:auto;" data-media-url=""></div>

                <hr>

                <span class="vat small text-muted">
                    {{ trans("PluginCeres::Template.itemInclVAT") }} {{ trans("PluginCeres::Template.itemExclusive") }}
                    <a href="#" title="{{ trans("PluginCeres::Template.itemShippingCosts") }}">{{ trans("PluginCeres::Template.itemShippingCosts") }}</a>
                </span>

            </div>

            <!-- ITEM DESCRIPTION -->
            <div class="col-md-7 m-y-3">

                <ul class="nav nav-tabs" role="tablist">
                    {% if not item.itemDescription.description == '' and('item.description' in itemData or 'all' in itemData) %}
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#details-{{ item.variationBase.id }}"
                               role="tab">{{ trans("PluginCeres::Template.itemDescription") }}</a>
                        </li>
                    {% endif %}

                    {% if not item.itemDescription.technicalData == '' and('item.technical_data' in itemData or 'all' in itemData) %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#data-{{ item.variationBase.id }}"
                               role="tab">{{ trans("PluginCeres::Template.itemTechnicalData") }}</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#assessments-details"
                           role="tab">{{ trans("PluginCeres::Template.itemMoreDetails") }}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="details-{{ item.variationBase.id }}" role="tabpanel">
                        <div class="m-y-2">
                            {{ item.itemDescription.description|raw }}
                        </div>
                    </div>
                    <div class="tab-pane" id="data-{{ item.variationBase.id }}" role="tabpanel">
                        <div class="m-y-2">
                            {{ item.itemDescription.technicalData|raw }}
                        </div>
                    </div>

                    <div class="tab-pane" id="assessments-details" role="tabpanel">
                        <div class="m-y-2">
                            <table class="table table-striped table-hover table-sm">
                                <tbody>
                                {% if 'item.id' in itemData or 'all' in itemData %}
                                    <tr>
                                        <td>{{ trans("PluginCeres::Template.itemId") }}</td>
                                        <td>{{ item.itemBase.id }}</td>
                                    </tr>
                                {% endif %}

                                {% if 'item.condition' in itemData or 'all' in itemData %}
                                    <tr>
                                        <td>{{ trans("PluginCeres::Template.itemCondition") }}</td>
                                        <td>{{ trans("PluginCeres::Template.itemNew") }}</td>
                                    </tr>
                                {% endif %}

                                {% if 'item.age_rating' in itemData or 'all' in itemData %}
                                    <tr>
                                        <td>{{ trans("PluginCeres::Template.itemAge") }}</td>
                                        <td>{{ trans("PluginCeres::Template.itemFSK", {"age": item.itemBase.ageRestriction }) }}</td>
                                    </tr>
                                {% endif %}

                                {% if ('item.external_id' in itemData or 'all' in itemData) %}
                                    <tr v-resource-if:currentVariation="variationBase.externalId != ''">
                                        <td>{{ trans("PluginCeres::Template.itemExternalVariationId") }}</td>
                                        <td v-resource-bind:currentVariation="variationBase.externalId">{{ item.variationBase.externalId }}</td>
                                    </tr>
                                {% endif %}

                                {% if ('item.variation_model' in itemData or 'all' in itemData) %}
                                    <tr v-resource-if:currentVariation="variationBase.model != ''">
                                        <td>{{ trans("PluginCeres::Template.itemModel") }}</td>
                                        <td v-resource-bind:currentVariation="variationBase.model">{{ item.variationBase.model }}</td>
                                    </tr>
                                {% endif %}

                                {% if ('item.manufacturer' in itemData or 'all' in itemData) and item.itemBase.producer != '' %}
                                    <tr>
                                        <td>{{ trans("PluginCeres::Template.itemManufacturer") }}</td>
                                        <td>{{ item.itemBase.producer }}</td>
                                    </tr>
                                {% endif %}

                                {% if ('item.producerCountry' in itemData or 'all' in itemData) and item.itemBase.producingCountryId != '' %}
                                    {% set country = services.country.getCountryName(item.itemBase.producingCountryId) %}
                                    <tr>
                                        <td>{{ trans("PluginCeres::Template.itemManufacturingCountry") }}</td>
                                        <td>{{ country }}</td>
                                    </tr>
                                {% endif %}

                                {% if 'item.variationBase_content' in itemData or 'all' in itemData %}
                                    {% set unit = services.unit.getUnitById(item.variationBase.unitId) %}
                                    <tr>
                                        <td>{{ trans("PluginCeres::Template.itemContent") }}</td>
                                        <td>{{ item.variationBase.content|formatDecimal(0) }} {{ unit.name }}</td>
                                    </tr>
                                {% endif %}

                                {% if ('item.weightG' in itemData or 'all' in itemData) and item.variationBase.weightG != '' %}
                                    <tr v-resource-if:currentVariation="variationBase.weightG != ''">
                                        <td>{{ trans("PluginCeres::Template.itemWeight") }}</td>
                                        <td v-resource-bind:currentVariation="variationBase.weightG">{{ item.variationBase.weightG }}g</td>
                                    </tr>
                                {% endif %}

                                {% if ('item.weightNetG' in itemData or 'all' in itemData) and item.variationBase.weightNetG != '' %}
                                    <tr v-resource-if:currentVariation="variationBase.weightNetG != ''">
                                        <td>{{ trans("PluginCeres::Template.itemNetWeight") }}</td>
                                        <td v-resource-bind:currentVariation="variationBase.weightNetG">{{ item.variationBase.weightNetG }}g</td>
                                    </tr>
                                {% endif %}

                                {% if ('item.variation_dimensions' in itemData or 'all' in itemData) %}
                                    <tr>
                                        <td>{{ trans("PluginCeres::Template.itemDimensions") }}</td>
                                        <td>
                                            <span v-resource-bind:currentVariation="variationBase.lengthMm">{{ item.variationBase.lengthMm }}</span>&times;<!--
                                            --><span v-resource-bind:currentVariation="variationBase.widthMm">{{ item.variationBase.widthMm }}</span>&times;<!--
                                            --><span v-resource-bind:currentVariation="variationBase.heightMm">{{ item.variationBase.heightMm }}</span> mm
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if ('item.customs_tariff_number' in itemData or 'all' in itemData) and item.itemBase.customsTariffNumber != '' %}
                                    <tr>
                                        <td>{{ trans("PluginCeres::Template.itemCustomsTariffNumber") }}</td>
                                        <td>{{ item.itemBase.customsTariffNumber }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./ITEM DESCRIPTION -->

        <!-- CROSSSELLING -->
        {% if crossSellingList | length > 0 %}
            <hr>

            <div class="row m-y-3">
                <div class="col-xs-12">
                    <h3 class="m-b-1">{{ (crossSellingList|first).relationship }}</h3>
                </div>
                <div class="col-xs-12">
                    <ul class="crosssellers list-unstyled row">
                        {% for crossSellingItem in crossSellingList %}
                            <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                {% include "PluginCeres::Category.Item.Partials.CategoryListItem" with { 'item': services.item.getItem(crossSellingItem.crossItemId) } %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <!-- ./CROSSSELLING -->

        {#<hr>#}

        {#<h3 class="m-t-3 m-b-1">{{ trans("PluginCeres::Template.itemCustomerFeedback") }}</h3>#}
        {#<div class="row m-b-3">#}
            {#{% include "PluginCeres::Item.Partials.ItemRating" %}#}
        {#</div>#}

    </div>
{% endblock %}
