{% macro print( address ) %}
    <div>{{address.name1}}</div>
    <div>{{address.name2}} {{address.name3}}</div>
    <div>{{address.name4}}</div>
    <div>{{address.address1}} {{address.address2}}</div>
    <div>{{address.postalCode}} {{address.town}}</div>
{% endmacro %}