{% macro forOrder( orderData, shownFields = null ) %}

{% set totals = orderData.totals %}
{% set highlightNetPrices = orderData.highlightNetPrices | default(false) %}

<div class="cmp cmp-totals">
    <h3>{{ trans("Ceres::Template.checkoutSum") }}</h3>
    <div>
        <dl>
            {% if 'orderValueNet' in shownFields or shownFields == null %}
                {# ORDER VALUE NET #}
                <dt{% if highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {{ trans("Ceres::Template.checkoutValue") }} ({{ trans("Ceres::Template.checkoutNet") }})
                </dt><!--
                --><dd{% if highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {{ (totals.totalNet - totals.shippingNet + totals.itemSumRebateNet) | formatMonetary( totals.currency ) }}
                </dd>
            {% endif %}

            {% if 'orderValueGross' in shownFields or shownFields == null %}
                {# ORDER VALUE GROSS #}
                <dt{% if not highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {{ trans("Ceres::Template.checkoutValue") }} ({{ trans("Ceres::Template.checkoutGross") }})
                </dt><!--
                --><dd{% if not highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {% if totals.isNet %}
                        {{ (totals.totalNet - totals.shippingNet + totals.itemSumRebateNet) | formatMonetary( totals.currency ) }}
                    {% else %}
                        {{ (totals.totalGross - totals.shippingGross + totals.itemSumRebateGross)  | formatMonetary( totals.currency ) }}
                    {% endif %}
                </dd>
            {% endif %}
            
            {% if 'rebate' in shownFields or shownFields == null %}
                {% if totals.itemSumRebateNet > 0 %}
                    {# REBATE #}
                    <dt class="rebate-hint">
                        {{ trans("Ceres::Template.orderConfirmationRebate") }}
                    </dt><!--
                    --><dd class="rebate-hint">
                        {% if highlightNetPrices %}
                            {{ totals.itemSumRebateNet | formatMonetary( totals.currency ) }}
                        {% else %}
                            {{ totals.itemSumRebateGross | formatMonetary( totals.currency ) }}
                        {% endif %}
                    </dd>

                    {# SUB TOTAL NET #}
                    <dt {% if highlightNetPrices %} class="font-weight-bold"{% endif %}>
                        {{ trans("Ceres::Template.orderConfirmationSubTotal") }} ({{ trans("Ceres::Template.checkoutNet") }})
                    </dt><!--
                    --><dd {% if highlightNetPrices %} class="font-weight-bold"{% endif %}>
                        {{ (totals.totalNet - totals.shippingNet) | formatMonetary( totals.currency ) }}
                    </dd>

                    {# SUB TOTAL GROSS #}
                    <dt {% if not highlightNetPrices %} class="font-weight-bold"{% endif %}>
                        {{ trans("Ceres::Template.orderConfirmationSubTotal") }} ({{ trans("Ceres::Template.checkoutGross") }})
                    </dt><!--
                    --><dd {% if not highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {% if totals.isNet %}
                        {{ (totals.totalNet - totals.shippingNet) | formatMonetary( totals.currency ) }}
                    {% else %}
                        {{ (totals.totalGross - totals.shippingGross) | formatMonetary( totals.currency ) }}
                    {% endif %}
                    </dd>
                {% endif %}
            {% endif %}

            {% if 'shippingCostsNet' in shownFields or shownFields == null %}
                {# SHIPPING COSTS NET #}
                <dt{% if highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {{ trans("Ceres::Template.orderConfirmationShippingCosts") }} ({{ trans("Ceres::Template.checkoutNet") }})
                </dt><!--
                --><dd{% if highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {{ totals.shippingNet | formatMonetary( totals.currency ) }}
                </dd>
            {% endif %}

            {% if 'shippingCostsGross' in shownFields or shownFields == null %}
                {# SHIPPING COSTS GROSS #}
                <dt{% if not highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {{ trans("Ceres::Template.orderConfirmationShippingCosts") }} ({{ trans("Ceres::Template.checkoutGross") }})
                </dt><!--
                --><dd{% if not highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {{ totals.shippingGross | formatMonetary( totals.currency ) }}
                </dd>
            {% endif %}

            {% if 'promotionCoupon' in shownFields or shownFields == null %}
                {% if totals.couponType == 'promotional' and (totals.couponValue | trimNewlines) != 0 %}
                    {# COUPON #}
                    <dt{% if not highlightNetPrices %} class="font-weight-bold"{% endif %}>
                        {{ trans("Ceres::Template.checkoutCoupon") }}
                    </dt><!--
                    --><dd{% if not highlightNetPrices %} class="font-weight-bold"{% endif %}>
                        {{ totals.couponValue | formatMonetary( totals.currency ) }}
                    </dd>
                {% endif %}
            {% endif %}
            
            {% if
                'shippingCostsGross' in shownFields or
                'shippingCostsNet' in shownFields or
                'rebate' in shownFields or
                'orderValueGross' in shownFields or
                'orderValueNet' in shownFields or
                shownFields == null
            %}
                <hr>
            {% endif %}

            {% set grossNet = LayoutContainer.show("Ceres::OrderConfirmation.GrossNetReplace", orderData.order) %}
            {% if grossNet|trim is not empty %}
                {{ grossNet }}
            {% else %}

                {% if 'totalSumNet' in shownFields or shownFields == null %}
                    {# TOTAL SUM NET #}
                    <dt{% if highlightNetPrices %} class="font-weight-bold"{% endif %}>
                        {{ trans("Ceres::Template.checkoutTotalSum") }} ({{ trans("Ceres::Template.checkoutNet") }})
                    </dt><!--
                    --><dd{% if highlightNetPrices %} class="font-weight-bold"{% endif %}>
                        {{ totals.totalNet | formatMonetary( totals.currency ) }}
                    </dd>
                {% endif %}

                {% if 'vats' in shownFields or shownFields == null %}
                    {% if not totals.isNet %}
                        {# VATS #}
                        <div class="vatTotals">
                            {% for vat in totals.vats %}
                                <dt>
                                    {{ trans("Ceres::Template.orderConfirmationVAT") }} {{ vat.rate }}%
                                </dt><!--
                                --><dd>
                                    {{ vat.value | formatMonetary( totals.currency ) }}
                                </dd>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}

                <div class="totalSum">
                    {% if
                        'promotionCoupon' in shownFields or
                        'totalSumNet' in shownFields or
                        'vats' in shownFields or
                        shownFields == null
                    %}
                        <hr>
                    {% endif %}

                    {% if 'totalSumGross' in shownFields or shownFields == null %}
                        {# TOTAL SUM GROSS #}
                        <dt{% if not highlightNetPrices %} class="font-weight-bold"{% endif %}>
                            {{ trans("Ceres::Template.checkoutTotalSum") }} ({{ trans("Ceres::Template.checkoutGross") }})
                        </dt><!--
                        --><dd{% if not highlightNetPrices %} class="font-weight-bold"{% endif %}>
                            {{ totals.totalGross | formatMonetary( totals.currency ) }}
                        </dd>
                    {% endif %}
                </div>
            {% endif %}

            {% if totals.couponType == 'sales' and (totals.couponValue | trimNewlines) != 0 %}
                {% if 'salesCoupon' in shownFields or shownFields == null %}
                    {# SALES COUPON #}
                    <dt>
                        {{ trans("Ceres::Template.checkoutCoupon") }}
                    </dt><!--
                    --><dd>
                        {{ totals.couponValue | formatMonetary( totals.currency ) }}
                    </dd>
                {% endif %}

                {% if 'openAmount' in shownFields or shownFields == null %}
                    {# OPEN AMOUNTS #}
                    <dt>
                        <strong>{{ trans("Ceres::Template.checkoutOpenAmount") }}</strong>
                    </dt><!--
                    --><dd>
                        <strong>{{ totals.openAmount | formatMonetary( totals.currency ) }}</strong>
                    </dd>
                {% endif %}
            {% endif %}
            {{ LayoutContainer.show("Ceres::OrderConfirmation.AfterTotals", orderData.order) }}
        </dl>
    </div>
</div>
{% endmacro %}
