<!DOCTYPE html>

{% set lang = services.sessionStorage.getLang() %}

<html lang="{{ lang }}" data-framework="vue">

    <head>
        {% include "PluginCallisto::PageDesign.Head" %}
    </head>

    <body>
        <resource name="basket" route="/rest/basket/" data="{{ services.basket.getBasket() | json_encode() }}" :events="['AfterBasketChanged!basket']"></resource>
        <resource-list name="basketItems" route="/rest/basket/items/" data="{{ services.basket.getBasketItems() | json_encode() }}"></resource-list>

        <div class="wrapper wrapper-top">
            <!-- messages -->
            <notifications></notifications>
        </div>

        <div class="wrapper wrapper-left">
          <!-- filters -->
        </div>

        <div class="wrapper wrapper-main">

            {% include "PluginCallisto::PageDesign.Header.Header" %}

            <div class="main" id="page-body">
                {% block PageBody %}
                    <!-- inject content of inherited templates here -->
                {% endblock %}
            </div>

            {% include "PluginCallisto::PageDesign.Footer" %}
        </div>

        <div class="wrapper wrapper-right">
          <basket-preview></basket-preview>
        </div>

        <div class="wrapper wrapper-bottom">
            <!-- eventually messages -->

            <!-- LOGIN MODAL -->
            {% include "PluginCallisto::Templates.Login.LoginModal" %}

            <!-- Register Modal -->
            {% include "PluginCallisto::Templates.Registration.SimpleRegistrationModal" %}
        </div>

        {% include "PluginCallisto::Templates.Main" %}
        {% include "PluginCallisto::PageDesign.Components.PageDesignComponents" %}

        <script src="{{ plugin_path('PluginCallisto') }}/js/dist/plugin-callisto-vendor.js"></script>
        <script src="{{ plugin_path('PluginCallisto') }}/js/src/app.config.js"></script>
        <script src="{{ plugin_path('PluginCallisto') }}/js/dist/plugin-callisto-app.js"></script>

    </body>
</html>
