{% set lang = services.sessionStorage.getLang() %}
{% set category = services.category.get(widgetSettings.categoryId, lang) %}

{% set propXS = "prop-xs-" ~ widgetSettings.aspectRatioXSWidth ~ "-" ~ widgetSettings.aspectRatioXSHeight %}
{% set propMD = "prop-md-" ~ widgetSettings.aspectRatioMDWidth ~ "-" ~ widgetSettings.aspectRatioMDHeight %}
{% set propLG = "prop-lg-" ~ widgetSettings.aspectRatioLGWidth ~ "-" ~ widgetSettings.aspectRatioLGHeight %}
{% set propXL = "prop-xl-" ~ widgetSettings.aspectRatioXLWidth ~ "-" ~ widgetSettings.aspectRatioXLHeight %}

<div class="m-y-2 sale-new">
    <div class="{{ propXS }} {{ propMD }} {{ propLG }} {{ propXL }}">
        <div class="prop-inner">
            <a class="featured-sale-new" href="{{ services.category.getURL(category, lang) }}">
                {% if category.details[0].imagePath %}
                    <img src="documents/{{ category.details[0].imagePath }}" alt="{{ category.details[0].name }}">
                {% endif %}
                <div class="featured-category-inner">
                    <h2 class="featured-category-headline">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ category.details[0].name }}
                    </h2>
                </div>
            </a>
        </div>
    </div>
</div>