{% set slides = [] %}
{% for param in sliderParams %}
    {% set data = {} %}
    {% if param.categoryId | trim is not empty %}
        {% set category = services.category.get(param.categoryId, lang) %}
        {% if category %}
            {% set data = {
                name: category.details[0].name,
                url: services.category.getURL(category, lang)
            } %}

            {% if category.details[0].imagePath | trim is not empty %}
                {% set data = data | merge({ imagePath: "documents/" ~ category.details[0].imagePath }) %}
            {% endif %}
        {% endif %}
    {% elseif param.variationId | trim is not empty %}
        {% set item = services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [param.variationId]}).documents[0].data %}
        {% set data = {
            name: item | itemName,
            url: item | itemURL,
            imagePath: (item.images | itemImages | orderByKey('position') | first).url
        } %}
    {% endif %}

    {% if param.customImagePath | trim is not empty %}
        {% set data = data | merge({ imagePath: param.customImagePath }) %}
    {% endif %}

    {% if data.name is defined or data.url is defined or data.imagePath is defined %}
        {% set slides = slides | merge([data]) %}
    {% endif %}

{% endfor %}

{% if slides is empty %}
    {% set slides = [
        { imagePath: trans("Ceres::Widget.imageCarousel_placeholder_firstSlide") },
        { imagePath: trans("Ceres::Widget.imageCarousel_placeholder_secondSlide") },
        { imagePath: trans("Ceres::Widget.imageCarousel_placeholder_thirdSlide") }
    ] %}
{% endif %}

{% set carouselId = random(999999) %}

<div class="cmp cmp-hero">
    <div class="hero-main">
        <div id="carousel-example-generic_{{ carouselId }}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for slide in slides %}
                    <div class="carousel-item{% if loop.first %} active{% endif %}">
                        <a class="hero-category" {% if slide.url is defined %}href="{{ slide.url }}"{% endif %}>
                            {% if slide.imagePath is defined %}
                                <img src="{{ slide.imagePath }}" alt="{{ slide.name }}" class="img-fluid">
                            {% else %}
                                <h2 class="text-danger">No image provided.</h2>
                            {% endif %}
                            {% if slide.name is defined %}
                                <div class="carousel-caption">
                                    <h2>
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ slide.name }}
                                    </h2>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>

            {% if slides | length > 1 %}
                <ol class="carousel-indicators">
                    {% for i in 1..slides | length %}
                        <li data-target="#carousel-example-generic_{{ carouselId }}" data-slide-to="{{ i - 1 }}" {% if loop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>

                <a class="left carousel-control" href="#carousel-example-generic_{{ carouselId }}" role="button"
                    data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">{{ trans("Ceres::Template.homepageBack") }}</span>
                </a>

                <a class="right carousel-control" href="#carousel-example-generic_{{ carouselId }}" role="button"
                    data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">{{ trans("Ceres::Template.homepageNext") }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
