{% set customClass = widget.settings.customClass.mobile %}

<div class="widget widget-grid widget-four-col row{% if customClass | length > 0 %} {{ customClass }}{% endif %}">
    <div class="widget-inner col-12 {{ gridLayouts.oneToOneToOneToOne[0] }}">
        <div{% if isPreview %} data-builder-child-container="first"{% endif %}>{{ children.first | raw }}</div>
    </div>

    <div class="widget-inner col-12 {{ gridLayouts.oneToOneToOneToOne[1] }}">
        <div{% if isPreview %} data-builder-child-container="second"{% endif %}>{{ children.second | raw }}</div>
    </div>

    <div class="widget-inner col-12 {{ gridLayouts.oneToOneToOneToOne[2] }}">
        <div{% if isPreview %} data-builder-child-container="third"{% endif %}>{{ children.third | raw }}</div>
    </div>

    <div class="widget-inner col-12 {{ gridLayouts.oneToOneToOneToOne[3] }}">
        <div{% if isPreview %} data-builder-child-container="fourth"{% endif %}>{{ children.fourth | raw }}</div>
    </div>
</div>