{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{# {% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set spacingClasses = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set appearance = widget.settings.appearance.mobile | default("primary") %} #}

<div class="widget widget-popper widget-{{ appearance }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"
    {% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>
    <popper v-cloak class="float-right" {{ WidgetHelper.makeClickable(isPreview) }}>
        <template #handle>
            <button class="btn btn-icon btn-secondary btn-sm">
                <i class="fa fa-info"></i>
            </button>
        </template>
        <template #title>
            {{ trans("Ceres::Template.regContactInformations") }}
        </template>
        <template #content>
            <ul class='pl-3'>
                <li class='mb-3'>{{ trans('Ceres::Template.regContactInfoText1') }}</li>
                <li class='mb-3'>{{ trans('Ceres::Template.regContactInfoText2') }}</li>
                <li class='mb-3'>{{ trans('Ceres::Template.regContactInfoText3') }}</li>
                <li>{{ trans('Ceres::Template.regContactInfoText4') }}</li>
            </ul>
            {# <div data-builder-child-container="popper">{{ children.popper | raw }}</div> #}
        </template>
    </popper>
</div>
