{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}
{% set customClass = widget.settings.customClass.mobile %}
{% set tabs = widget.settings.tabs.mobile %}
{% set appearance = widget.settings.appearance.mobile %}
{% set renderContent = false %}
{% for tab in tabs if tab.title | trim is not empty %}
    {% set renderContent = true %}
{% endfor %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "",spacingSettings.customMargin.mobile) %}


{% if renderContent %}
<div class="widget widget-tab{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}" 
    {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>

    <content-loader
    viewBox="0 0 400 150"
    :speed="2"
    primaryColor="#f3f3f3"
    secondaryColor="#ecebeb"
  >
    <circle cx="10" cy="20" r="8" /> 
    <rect x="25" y="15" rx="5" ry="5" width="220" height="10" /> 
    <circle cx="10" cy="50" r="8" /> 
    <rect x="25" y="45" rx="5" ry="5" width="220" height="10" /> 
    <circle cx="10" cy="80" r="8" /> 
    <rect x="25" y="75" rx="5" ry="5" width="220" height="10" /> 
    <circle cx="10" cy="110" r="8" /> 
    <rect x="25" y="105" rx="5" ry="5" width="220" height="10" />
  </content-loader>
    <tab-list class="widget-inner" appearance="{{ appearance | default("primary") }}" :render-empty="{{ isPreview | json_encode }}">
        {% for tab in tabs if children[tab.uuid] | raw is not empty or isPreview and tab.title | trim is not empty %}
            <tab-item class="{% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}" 
                {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %} 
                title="{{ tab.title }}"
                {{ WidgetHelper.makeClickable(isPreview) }}>
                <div class="my-4" data-builder-child-container="{{ tab.uuid }}">{{ children[tab.uuid] | raw }}</div>
            </tab-item>
        {% endfor %}
    </tab-list>
</div>
{% endif %}
