{% set customClass = widget.settings.customClass.mobile %}
{% set layout = widget.settings.layout.mobile %}

<div class="widget widget-grid widget-three-col row{% if customClass | length > 0 %} {{ customClass }}{% endif %}">
    {% if layout == "oneStackedToTwo" %}
        <div class="widget-inner widget-inner-stacked col-12 {{ gridLayouts[layout][0] }}">
            <div class="widget-inner row">
                <div class="col-12"{% if isPreview %} data-builder-child-container="first"{% endif %}>{{ children.first | raw }}</div>
            </div>

            <div class="widget-inner row">
                <div class="col-12"{% if isPreview %} data-builder-child-container="second"{% endif %}>{{ children.second | raw }}</div>
            </div>
        </div>
        <div class="widget-inner col-12 {{ gridLayouts[layout][1] }}">
            <div{% if isPreview %} data-builder-child-container="third"{% endif %}>{{ children.third | raw }}</div>
        </div>

    {% elseif layout == "twoToOneStacked" %}

        <div class="widget-inner col-12 {{ gridLayouts[layout][0] }}">
            <div{% if isPreview %} data-builder-child-container="first"{% endif %}>{{ children.first | raw }}</div>
        </div>

        <div class="widget-inner widget-inner-stacked col-12 {{ gridLayouts[layout][1] }}">
            <div class="widget-inner row">
                <div class="col-12"{% if isPreview %} data-builder-child-container="second"{% endif %}>{{ children.second | raw }}</div>
            </div>

            <div class="widget-inner row">
                <div class="col-12"{% if isPreview %} data-builder-child-container="third"{% endif %}>{{ children.third | raw }}</div>
            </div>
        </div>

    {% else %}

        <div class="widget-inner col-12 {{ gridLayouts[layout][0] }}">
            <div{% if isPreview %} data-builder-child-container="first"{% endif %}>{{ children.first | raw }}</div>
        </div>

        <div class="widget-inner col-12 {{ gridLayouts[layout][1] }}">
            <div{% if isPreview %} data-builder-child-container="second"{% endif %}>{{ children.second | raw }}</div>
        </div>

        <div class="widget-inner col-12 {{ gridLayouts[layout][2] }}">
            <div{% if isPreview %} data-builder-child-container="third"{% endif %}>{{ children.third | raw }}</div>
        </div>

    {% endif %}
</div>