{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PageBody %}

    {{ component( "Ceres::Basket.Components.BasketList" ) }}
    {{ component( "Ceres::Basket.Components.Coupon" ) }}
    {{ component( "Ceres::Basket.Components.BasketTotals" ) }}

    <div class="page-content basket container-max" itemtype="http://schema.org/Product http://schema.org/Thing http://schema.org/Offer http://schema.org/PriceSpecification">

        <div class="row m-t-1">
            <div class="col-xs-12">
                <h1 class="h4">{{ trans("Ceres::Template.basket") }}</h1>
            </div>
        </div>

        <hr class="m-b-3">

        <div class="row">
            <div class="col-xs-12">
                <basket-list template="#vue-basket-list" size="large"></basket-list>
            </div>
        </div>

        {% set beforeCouponContainer = LayoutContainer.show("Ceres::Basket.BeforeCoupon") %}

        {% if beforeCouponContainer|trim is not empty %}
            {{ beforeCouponContainer }}
            <hr class="m-y-2">
        {% endif %}

        <div class="row">
            <div class="col-xs-12 col-sm-7 m-b-1">
                <coupon template="#vue-coupon"></coupon>
            </div>
            <div class="col-xs-12 col-md-5">
                <basket-totals template="#vue-basket-totals" :config="{{ config("Ceres.basket.data")|split(', ')|json_encode() }}"></basket-totals>
            </div>
        </div>

        <hr class="m-y-2">

        <div class="row m-b-3">
            <div class="col-xs-12 col-sm-4 offset-sm-8">
                {{ LayoutContainer.show("Ceres::Basket.BeforeCheckoutButton") }}
                <a class="btn btn-primary btn-block" href="/checkout">{{ trans("Ceres::Template.orderCheckout") }} <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                {{ LayoutContainer.show("Ceres::Basket.AfterCheckoutButton") }}
            </div>
        </div>
    </div>
{% endblock %}
