{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title trans("Ceres::Template.basket") %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    {{ component( "Ceres::Basket.Components.BasketList" ) }}
    {{ component( "Ceres::Basket.Components.Coupon" ) }}
    {{ component( "Ceres::Basket.Components.BasketTotals" ) }}
    {{ component( "Ceres::Basket.Components.BasketShippingCountrySelect" ) }}

    <div v-cloak class="page-content basket container-max" itemtype="http://schema.org/Product http://schema.org/Thing http://schema.org/Offer http://schema.org/PriceSpecification">

        <div class="row mt-3">
            <div class="col-12">
                <h1 class="h2">{{ trans("Ceres::Template.basket") }}</h1>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <div class="pt-4 px-3 bg-white">
                    <basket-list size="large"></basket-list>
                </div>
            </div>

            <div class="col-md-5">
                <div class="py-4 px-3 bg-white" v-stick-in-parent="$store.state.basket.isBasketInitiallyLoaded">

                    <shipping-country-select template="#vue-basket-shipping-country-select"></shipping-country-select>

                    <hr class="d-md-none">
                    {{ LayoutContainer.show("Ceres::Basket.BeforeBasketTotals") }}
                    <basket-totals class="mb-4" template="#vue-basket-totals"></basket-totals>
                    {{ LayoutContainer.show("Ceres::Basket.AfterBasketTotals") }}

                    <hr>
                    {{ LayoutContainer.show("Ceres::Basket.BeforeCoupon") }}
                    <coupon></coupon>
                    <hr>

                    {{ LayoutContainer.show("Ceres::Basket.BeforeCheckoutButton") }}
                    <a v-waiting-animation-infinite class="btn btn-primary btn-block" href="{{ urls.checkout }}">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        {{ trans("Ceres::Template.basketCheckout") }}
                    </a>
                    {{ LayoutContainer.show("Ceres::Basket.AfterCheckoutButton") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
