{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.basket") }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

    {{ component( "Ceres::Basket.Components.BasketList" ) }}
    {{ component( "Ceres::Basket.Components.Coupon" ) }}
    {{ component( "Ceres::Basket.Components.BasketTotals" ) }}

    <div v-cloak class="page-content basket container-max" itemtype="http://schema.org/Product http://schema.org/Thing http://schema.org/Offer http://schema.org/PriceSpecification">

        <div class="row mt-3">
            <div class="col-12">
                <h1 class="h2">{{ trans("Ceres::Template.basket") }}</h1>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <div class="col-12 pt-4 bg-white">
                    <basket-list template="#vue-basket-list" size="large"></basket-list>
                </div>
            </div>

            <div class="col-md-5">
                <div class="col-12 py-4 bg-white" v-stick-in-parent="$store.state.basket.isBasketInitiallyLoaded">
                    <hr class="d-md-none">
                    <basket-totals class="mb-4" template="#vue-basket-totals"></basket-totals>

                    <hr>
                    <coupon template="#vue-coupon"></coupon>
                    <hr>

                    {{ LayoutContainer.show("Ceres::Basket.BeforeCheckoutButton") }}
                    <a v-waiting-animation-infinite class="btn btn-primary btn-block" href="{{ urls.checkout }}">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        {{ trans("Ceres::Template.basketCheckout") }}
                    </a>
                    {{ LayoutContainer.show("Ceres::Basket.AfterCheckoutButton") }}
                </div>
            </div>
        </div>

        {% set beforeCouponContainer = LayoutContainer.show("Ceres::Basket.BeforeCoupon") %}

        {% if beforeCouponContainer|trim is not empty %}
            {{ beforeCouponContainer }}
            <hr class="my-4">
        {% endif %}
    </div>
{% endblock %}
