{% extends getPartial('page-design') %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.newsletterOptOutTitle") }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

    <form action="/newsletter/unsubscribe" method="POST">
        <div class="container-max page-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-lg-6 mb-5 content-center">
                    <h1 class="mb-5 mt-4">{{ trans("Ceres::Template.newsletterOptOutTitle") }}</h1>

                    <span>{{ trans("Ceres::Template.newsletterOptOutInfoText") }}</span>

                    <div class="input-unit mt-3">
                        <label for="email-input-id">Email</label>
                        <input type="email" name="email" class="form-control" id="email-input-id">
                    </div>

                    <hr>

                    <span class="input-group-btn">
                        <button type="submit" v-waiting-animation-infinite class="btn btn-primary btn-right btn-medium btn-xs-max-width">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.newsletterUnsubscribeButtonLabel") }}
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
