{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}

<script type="x/template" id="vue-wish-list-item">
    <div class="basket-item-container basket-list-item">
        <div class="basket-item component-loading with-icon">
            <div class="image-container">
                <img class="img-basket-small" v-if="image" :src="image" :title="wishListItem | itemName">
            </div>

            <div class="meta-container-wrapper">
                <div class="meta-container-wrapper-inner">
                    <div class="meta-container">
                        <div>
                            <a :href="wishListItem | itemURL" class="item-name text-primary text-appearance">
                                ${ wishListItem | itemName }
                            </a>

                            <div class="item-base-price">
                                ${ unitPrice | currency }
                            </div>

                            <div class="item-small-prices text-muted" v-if="!(wishListItem.unit.unitOfMeasurement === 'C62' && wishListItem.unit.content === 1) && wishListItem.variation.mayShowUnitPrice">
                                <div>
                                    ${ basePrice }
                                </div>
                                <div>
                                    <strong>{{ trans("Ceres::Template.basketContent") }}: </strong>
                                    ${ wishListItem.unit.content } ${ wishListItem.unit.names.name }
                                </div>
                            </div>

                            <div class="item-small-prices">
                                <div v-for="attribute in wishListItem.attributes">
                                    <strong>${ attribute.attribute.names.name }: </strong>
                                    <span>${ attribute.value.names.name }</span>
                                </div>
                            </div>

                            <div class="item-small-prices text-muted">
                                <template v-for="propertyGroup in transformedVariationProperties">
                                    <div v-for="property in propertyGroup.properties">
                                        <strong v-if="propertyGroup.name">${ propertyGroup.name }: </strong>
                                        <span>${ property.names.name }</span>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
    
                    <div class="basket-item-container-right d-block">
                        <div class="add-to-basket-container">
                            {{ AddToBasket.printVueComponent( "wishListItem", false, false, { ":has-price": "wishListItem | hasItemDefaultPrice" } ) }}
                        </div>
    
                        <div class="price-box">
                
                            <div class="item-remove-container text-center">
                                <div class="btn btn-sm item-remove-button" @click="$emit('remove-item', 'fick dich')">
                                    <span>
                                        {{ trans("Ceres::Template.basketDelete") }}
                                        <i v-waiting-animation-infinite class="fa fa-trash-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <template>
                    <div class="item-additional-information-container">
                        <div class="item-additional-information">
                            <template v-if="isDataFieldVisible('wishListItem.item.id')">
                                <div class="mt-3">
                                    <strong>{{ trans("Ceres::Template.basketItemId") }}:</strong>
                                    <span>${ wishListItem.item.id }</span>
                                </div>
                            </template>

                            <template v-if="isDataFieldVisible('wishListItem.variation.number')">
                                <div v-if="wishListItem.variation.number">
                                    <strong>{{ trans("Ceres::Template.basketItemNumber") }}:</strong>
                                    <span>${ wishListItem.variation.number }</span>
                                </div>
                            </template>

                            <template v-if="isDataFieldVisible('wishListItem.variation.availability')">
                                <div v-if="wishListItem.variation.availability.names.name">
                                    <strong>{{ trans("Ceres::Template.basketAvailability") }}:</strong>
                                    <span class="wish-list-availability" :class="'availability_' + wishListItem.variation.availability.id">${ wishListItem.variation.availability.names.name }</span>
                                </div>
                            </template>

                            <template v-if="isDataFieldVisible('wishListItem.texts.description')">
                                <p class="my-3" v-if="wishListItem.texts.description" v-html="wishListItem.texts.description"></p>
                            </template>

                            <template v-if="isDataFieldVisible('wishListItem.texts.shortDescription')">
                                <p class="my-3" v-if="wishListItem.texts.shortDescription" v-html="wishListItem.texts.shortDescription"></p>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</script>
