{% extends getPartial('page-design') %}

{% set page = 1 %}
{% if request.get("page") %}
    {% set page = request.get("page") %}
{% endif %}

{% set itemsPerPage = config("Ceres.pagination.defaultItemsPerPage") %}
{% if request.get("items") %}
    {% set itemsPerPage = request.get("items") %}
{% endif %}

{% set paginatedResult = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.search, {'searchString': request.get("query"), 'page': page, 'itemsPerPage': itemsPerPage }) %}
{% block PageBody %}

    {{ component( "Ceres::ItemList.Components.ItemList" ) }}
    {{ component( "Ceres::ItemList.Components.ItemListSorting" ) }}
    {{ component( "Ceres::ItemList.Components.ItemsPerPage" ) }}
    {{ component( "Ceres::ItemList.Components.Pagination" ) }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterList") }}

    <resource name="itemList" :data="{{ paginatedResult | json_encode }} || {}"></resource>
    <resource name="facets" :data="{{ paginatedResult.facets | json_encode }} || []"></resource>
    <resource name="facetParams" :data="[]"></resource>

    <div class="categoriegrid page-content container-max">

        <div class="m-b-3 col-xs-12 list-controls">

            <div class="col-xs-12 col-lg-5 offset-lg-7">
                <item-list-sorting template="#vue-item-list-sorting" :sort-data="{{ config("Ceres.sort.data") | split(', ') | json_encode() }}"></item-list-sorting>
                <items-per-page template="#vue-items-per-page" :pagination-values="{{ config("Ceres.pagination.values") | split(', ') | json_encode() }}"></items-per-page>
                <pagination template="#vue-pagination"></pagination>
            </div>
            <item-filter-list :facets="{{ paginatedResult.facets | json_encode }}"></item-filter-list>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <item-list template="#vue-item-list"></item-list>
            </div>
        </div>
    </div>

{% endblock %}
