{% extends "PluginCallisto::PageDesign.PageDesign" %}

{% block PageBody %}

    {{ component( "PluginCallisto::ItemList.Components.ItemList" ) }}
    {{ component( "PluginCallisto::ItemList.Components.ItemSearch" ) }}
    {{ component( "PluginCallisto::ItemList.Components.ItemsPerPage" ) }}
    {{ component( "PluginCallisto::ItemList.Components.ItemListSorting" ) }}
    {{ component( "PluginCallisto::ItemList.Components.Pagination" ) }}

    <div class="categoriegrid page-content container-max">
        <div class="row m-t-1">
            <item-search></item-search>
        </div>
        <div class="row m-b-3">
            <div class="col-xs-12 col-lg-7">
                {#{% include "PluginCallisto::Category.Item.Partials.CategoryViewFilter" %}#}
            </div>
            <div class="col-xs-12 col-lg-5">
                {#{% include "PluginCallisto::Category.Item.Partials.ListControls" with { 'paginatedResult': paginatedResult } %}#}

                <item-list-sorting :sort-data="{{ config("PluginCallisto.sort.data") | split(', ') | json_encode() }}"></item-list-sorting>
                <items-per-page :pagination-values="{{ config("PluginCallisto.pagination.values") | split(', ') | json_encode() }}"></items-per-page>
                <pagination items-per-page="{{ config('PluginCallisto.pagination.defaultItemsPerPage') }}"></pagination>
                {% include "PluginCallisto::Category.Item.Partials.Pagination" with { 'paginatedResult': paginatedResult } %}
            </div>

            <item-list></item-list>
        </div>
        <div class="list-controls m-b-3 row">
            <div class="col-xs-12">
                {% include "PluginCallisto::Category.Item.Partials.Pagination" with { 'paginatedResult': paginatedResult } %}
            </div>
        </div>
    </div>


{% endblock %}