{% extends getPartial('page-design') %}

{% block PageBody %}

    {{ component( "Ceres::ItemList.Components.ItemList" ) }}
    {{ component( "Ceres::ItemList.Components.ItemListSorting" ) }}
    {{ component( "Ceres::ItemList.Components.ItemsPerPage" ) }}
    {{ component( "Ceres::ItemList.Components.Pagination" ) }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterTagList") }}

    <div class="categoriegrid page-content container-max">
        <div class="row m-t-1">
            <div class="col-xs-12">
                <h1 class="h2" id="searchPageTitle">{{ trans("Ceres::Template.generalSearchResults") }} {{ searchString }}</h1>
            </div>
        </div>

        <div class="list-controls m-b-3">
            <div class="list-controls-inner">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="list-wrapper">
                            <item-list-sorting template="#vue-item-list-sorting" :sorting-list="{{ searchOptions.sorting | json_encode }}" :default-sorting="{{ searchOptions.defaultSorting | json_encode }}"></item-list-sorting>
                            <items-per-page
                                template="#vue-items-per-page"
                                :pagination-values="{{ searchOptions.itemsPerPage | json_encode }}"></items-per-page>
                            <item-filter-list :facet-data="{{ facets | json_encode }}"></item-filter-list>
                        </div>
                    </div>
                </div>
            </div>

            <item-filter-tag-list></item-filter-tag-list>
        </div>

        {% if ceresConfig.pagination.position in ['top', 'top_bottom'] %}
            <div class="list-controls m-b-3 row">
                <div class="col-xs-12">
                    <pagination template="#vue-pagination"></pagination>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12">

                <div id="vue-rendered-item-list" class="item-list-frame">
                    <item-list
                        :item-data="{{ itemList | json_encode }}"
                        :total-items-data="{{ itemCountTotal }}"
                        template="#vue-item-list">
                    </item-list>
                </div>

            </div>
        </div>

        {% if ceresConfig.pagination.position in ['bottom', 'top_bottom'] %}
            <div class="list-controls m-b-3 row">
                <div class="col-xs-12">
                    <pagination template="#vue-pagination"></pagination>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block PartialHead %}
<script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "{{ webstoreConfig.domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ webstoreConfig.domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}</script>
    {% if isSearch %}
        <title>{{ trans("Ceres::Template.generalSearchResults") }} {{ searchString }} | {{ ceresConfig.header.companyName }}</title>
    {% endif %}
{% endblock %}
