{% extends "PluginCeres::PageDesign.PageDesign" %}

{% block PageBody %}

    {{ component( "PluginCeres::ItemList.Components.AddToBasket" ) }}
    {{ component( "PluginCeres::ItemList.Components.CategoryItem" ) }}
    {{ component( "PluginCeres::ItemList.Components.ImageCarousel" ) }}
    {{ component( "PluginCeres::ItemList.Components.ItemLazyImg" ) }}
    {{ component( "PluginCeres::ItemList.Components.ItemList" ) }}
    {{ component( "PluginCeres::ItemList.Components.ItemListSorting" ) }}
    {{ component( "PluginCeres::ItemList.Components.ItemsPerPage" ) }}
    {{ component( "PluginCeres::ItemList.Components.ItemStoreSpecial" ) }}
    {{ component( "PluginCeres::ItemList.Components.LoadingAnimation" ) }}
    {{ component( "PluginCeres::ItemList.Components.Pagination" ) }}

    <resource name="itemList" :data="{}"></resource>

    <div class="categoriegrid page-content container-max">
        <div class="m-b-3">

            <div class="col-lg-3 offset-lg-7">
                <item-list-sorting
                        :sort-data="{{ config("PluginCeres.sort.data") | split(', ') | json_encode() }}"></item-list-sorting>
            </div>

            <div class="col-lg-2">
                <items-per-page
                        :pagination-values="{{ config("PluginCeres.pagination.values") | split(', ') | json_encode() }}"></items-per-page>
            </div>

            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <pagination></pagination>
                </div>
            </div>

        </div>

        <div class="col-xs-12">
            <loading-animation></loading-animation>
            <item-list></item-list>
        </div>

        <div class="list-controls m-b-3 row">
            <div class="col-xs-12">
                {#<pagination></pagination>#}
            </div>
        </div>
    </div>

{% endblock %}
