{% extends getPartial('page-design') %}

{% block PageBody %}

    {{ component( "Ceres::Basket.Components.AddToBasket" ) }}
    {{ component( "Ceres::ItemList.Components.CategoryItem" ) }}
    {{ component( "Ceres::ItemList.Components.ImageCarousel" ) }}
    {{ component( "Ceres::ItemList.Components.ItemLazyImg" ) }}
    {{ component( "Ceres::ItemList.Components.ItemList" ) }}
    {{ component( "Ceres::ItemList.Components.ItemListSorting" ) }}
    {{ component( "Ceres::ItemList.Components.ItemsPerPage" ) }}
    {{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}
    {{ component( "Ceres::ItemList.Components.LoadingAnimation" ) }}
    {{ component( "Ceres::ItemList.Components.Pagination" ) }}

    <resource name="itemList" :data="{}"></resource>

    <div class="categoriegrid page-content container-max">
        <div class="m-b-3 col-xs-12">

            <div class="col-xs-12 col-lg-5 offset-lg-7">
                <item-list-sorting template="#vue-item-list-sorting" :sort-data="{{ config("Ceres.sort.data") | split(', ') | json_encode() }}"></item-list-sorting>
                <items-per-page template="#vue-items-per-page" :pagination-values="{{ config("Ceres.pagination.values") | split(', ') | json_encode() }}"></items-per-page>
                <pagination template="#vue-pagination"></pagination>
            </div>

        </div>

        <div class="col-xs-12">
            <loading-animation template="#vue-loading-animation"></loading-animation>
            <item-list template="#vue-item-list"></item-list>
        </div>

        <div class="list-controls m-b-3 row">
            <div class="col-xs-12">
            </div>
        </div>
    </div>

{% endblock %}
