{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}
{{ Twig.component("Ceres::Customer.Components.AddressSelect.AddressSelect") }}


<div>
    {% if widget.settings.addressType.mobile == "1" %}
        {{ Twig.set("overrideBillingAddress", Twig.call("LayoutContainer.show", ["Ceres::Checkout.BillingAddress"])) }}
        {{ Twig.if("overrideBillingAddress | trim is empty") }}
            <h3 class="mb-3">{{ Twig.trans("Ceres::Template.checkoutInvoiceAddress") }}</h3>
            
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.BeforeBillingAddress"])) }}
            <div class="invoice-addresses-select">
                <invoice-address-select has-to-validate="true"></invoice-address-select>
            </div>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.AfterBillingAddress"])) }}
        {{ Twig.else() }}
            {{ Twig.print("overrideBillingAddress") }}
        {{ Twig.endif() }}
    {% elseif widget.settings.addressType.mobile == "2" %}
        {{ Twig.set("overrideShippingAddress", Twig.call("LayoutContainer.show", ["Ceres::Checkout.ShippingAddress"])) }}
        {{ Twig.if("overrideShippingAddress | trim is empty") }}
            <h3 class="mb-3">{{ Twig.trans("Ceres::Template.checkoutShippingAddress") }}</h3>

            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.BeforeShippingAddress"])) }}
            <div class="shipping-addresses-select">
                <shipping-address-select></shipping-address-select>
            </div>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.AfterShippingAddress"])) }}
        {{ Twig.else() }}
            {{ Twig.print("overrideShippingAddress") }}
        {{ Twig.endif() }}
    {% endif %}
</div>
