{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}
{{ Twig.component("Ceres::Customer.Components.AddressSelect.AddressSelect") }}

{{ Twig.set("overrideAddressLists", Twig.call("LayoutContainer.show", ["Ceres::Checkout.AddressLists"])) }}

<div>
    {{widget.settings.addressType.mobile}}
    {% set overrideAddressLists = LayoutContainer.show("Ceres::Checkout.AddressLists") %}
    {% if overrideAddressLists|trim is empty %}
        {% set overrideBillingAddress = LayoutContainer.show("Ceres::Checkout.BillingAddress") %}
        {% if overrideBillingAddress|trim is empty %}
            <h3 class="mb-3">{{ Twig.trans("Ceres::Template.checkoutInvoiceAddress") }}</h3>

            {{ LayoutContainer.show("Ceres::Checkout.BeforeBillingAddress") }}
            <div class="invoice-addresses-select">
                <invoice-address-select has-to-validate="true"></invoice-address-select>
            </div>
            {{ LayoutContainer.show("Ceres::Checkout.AfterBillingAddress") }}
        {% else %}
            {{ overrideBillingAddress }}
        {% endif %}

        {% set overrideShippingAddress = LayoutContainer.show("Ceres::Checkout.ShippingAddress") %}
        {% if overrideShippingAddress|trim is empty %}
            <h3 class="mb-3">{{ Twig.trans("Ceres::Template.checkoutShippingAddress") }}</h3>

            {{ LayoutContainer.show("Ceres::Checkout.BeforeShippingAddress") }}
            <div class="shipping-addresses-select">
                <shipping-address-select></shipping-address-select>
            </div>
            {{ LayoutContainer.show("Ceres::Checkout.AfterShippingAddress") }}
        {% else %}
            {{ overrideShippingAddress }}
        {% endif %}
    {% else %}
        {{ overrideAddressLists }}
    {% endif %}
</div>
