{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set appearance = widget.settings.appearance.mobile | default("success") %}
{% set buttonSize = widget.settings.buttonSize.mobile %}

<div class="widget widget-cancel-payment widget-{{ appearance }}">
    <a class="btn btn-block btn-{{ appearance }} btn-{{ buttonSize }}" href="{{ Twig.print( "urls.checkout" ) }}?readonly=0">
        <i class="fa fa-times" aria-hidden="true"></i> {{ Twig.trans("Ceres::Template.checkoutCancelCheckout") }}
    </a>
</div>
