{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{% set appearance = widget.settings.appearance.mobile %}
{% set hideCheckbox = widget.settings.hideCheckbox.mobile %}
{% set isPreselected = widget.settings.isPreselected.mobile %}
{% set isRequired = widget.settings.isRequired.mobile %}
{% set customText = widget.settings.customText.mobile %}

{% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set spacingClasses = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}
{{ Twig.component("Ceres::Checkout.Components.AcceptGtcCheck") }}

<div class="widget widget-gtc-check widget-{{ appearance | default("primary") }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"
    {% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>
    <accept-gtc-check
        {% if hideCheckbox %}class="pl-0"{% endif %}
        :hide-checkbox="{{ hideCheckbox | json_encode }}"
        {% if not hideCheckbox %}
            :is-preselected="{{ isPreselected | json_encode }}"
            :is-required="{{ isRequired | json_encode }}"
        {% endif %}
        {% if customText | length > 0 %}
            custom-text="{{ customText }}"
        {% endif %}>
    </accept-gtc-check>

    {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.OptIns"])) }}
</div>
