{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}

{# for ++ development purpose only ++ #}
{% set orderData = {"order":{"id":166,"referrerId":1,"roundTotalsOnly":true,"numberOfDecimals":4,"statusName":"Warten auf Zahlung","plentyId":184,"typeId":1,"lockStatus":"unlocked","locationId":"1","createdAt":"2019-08-13T15:40:29+02:00","updatedAt":"2019-08-13T15:40:31+02:00","statusId":3,"ownerId":"0","relations":[{"orderId":166,"referenceType":"warehouse","referenceId":1,"relation":"sender"},{"orderId":166,"referenceType":"contact","referenceId":108,"relation":"receiver"}],"properties":[{"orderId":166,"typeId":3,"value":"6000"},{"orderId":166,"typeId":6,"value":"de"},{"orderId":166,"typeId":999,"value":"false"},{"orderId":166,"typeId":1,"value":"1"},{"orderId":166,"typeId":4,"value":"unpaid"},{"orderId":166,"typeId":2,"value":"6"}],"dates":[{"orderId":166,"typeId":2,"date":"2019-08-13T15:40:29+02:00"},{"orderId":166,"typeId":4,"date":"2019-08-13T15:40:31+02:00"}],"amounts":[{"id":66,"orderId":166,"isSystemCurrency":true,"isNet":false,"currency":"EUR","exchangeRate":1,"netTotal":713.16,"grossTotal":848.66,"vatTotal":135.5,"invoiceTotal":848.66,"paidAmount":0,"giftCardAmount":0,"createdAt":"2019-08-13T15:40:29+02:00","updatedAt":"2019-08-13T15:40:29+02:00","shippingCostsGross":0,"shippingCostsNet":0,"prepaidAmount":0,"vats":[{"id":64,"orderAmountId":66,"countryVatId":1,"vatField":0,"vatRate":19,"value":135.5,"createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00","netTotal":713.16,"grossTotal":848.66}]}],"orderReferences":[],"orderItems":[{"id":247,"orderId":166,"typeId":1,"referrerId":1,"itemVariationId":1005,"quantity":1,"orderItemName":"Barhockerl Fury gepolstert","attributeValues":null,"shippingProfileId":6,"countryVatId":1,"vatField":0,"vatRate":19,"position":"0","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00","warehouseId":1,"bundleComponents":null,"bundleType":null,"orderProperties":[],"properties":[{"id":528,"orderItemId":247,"typeId":1,"value":"1","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"},{"id":529,"orderItemId":247,"typeId":2,"value":"6","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"},{"id":530,"orderItemId":247,"typeId":21,"value":"1","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"}],"dates":[],"amounts":[{"id":147,"orderItemId":247,"isSystemCurrency":true,"currency":"EUR","exchangeRate":1,"purchasePrice":0,"priceOriginalGross":79,"priceOriginalNet":66.3866,"priceGross":79,"priceNet":66.3866,"surcharge":0,"discount":0,"isPercentage":true,"createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"}],"references":[]},{"id":248,"orderId":166,"typeId":1,"referrerId":1,"itemVariationId":1006,"quantity":1,"orderItemName":"Barsessel Black Mamba","attributeValues":null,"shippingProfileId":6,"countryVatId":1,"vatField":0,"vatRate":19,"position":"0","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00","warehouseId":1,"bundleComponents":null,"bundleType":null,"orderProperties":[],"properties":[{"id":531,"orderItemId":248,"typeId":1,"value":"1","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"},{"id":532,"orderItemId":248,"typeId":2,"value":"6","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"},{"id":533,"orderItemId":248,"typeId":21,"value":"1","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"}],"dates":[],"amounts":[{"id":148,"orderItemId":248,"isSystemCurrency":true,"currency":"EUR","exchangeRate":1,"purchasePrice":0,"priceOriginalGross":99,"priceOriginalNet":83.1933,"priceGross":99,"priceNet":83.1933,"surcharge":0,"discount":0,"isPercentage":true,"createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"}],"references":[]},{"id":249,"orderId":166,"typeId":1,"referrerId":1,"itemVariationId":1021,"quantity":1,"orderItemName":"Sessel Floating Water","attributeValues":null,"shippingProfileId":6,"countryVatId":1,"vatField":0,"vatRate":19,"position":"0","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00","warehouseId":1,"bundleComponents":[{"quantity":1,"data":{"filter":{"isSalable":true},"images":{"all":[{"path":"documents\/image\/i12\/124-Sessel-King-George.jpg","urlPreview":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/124-Sessel-King-George.jpg","position":0,"urlMiddle":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/124-Sessel-King-George.jpg","url":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/124-Sessel-King-George.jpg","urlSecondPreview":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/124-Sessel-King-George.jpg"}],"variation":[]},"item":{"id":124,"customsTariffNumber":"","producingCountry":{"names":[]},"manufacturer":[],"condition":{"names":[]}},"unit":{"unitOfMeasurement":"C62","names":{"name":"St\u00fcck","lang":"de"},"content":1},"texts":{"name3":"N \/ A","description":"<p>So muss wohl King George pers\u00f6nlich gesessen haben. Dieses elegant anmutende Sitzm\u00f6bel bietet Luxus f\u00fcr Jedermann. Das hervorragende Kunstleder in dunklem Rot bietet Ihnen Sitzen auf h\u00f6chstem Niveau. Die extrem weich gepolsterte Sitzfl\u00e4che l\u00e4sst Sie ins Tr\u00e4umen geraten. Die abgerundeten Linien schmeicheln dem Auge.<\/p>","shortDescription":"","lang":"de","name2":"N \/ A","name1":"Sessel King George","urlPath":"wohnzimmer\/sessel-sofas\/sessel-king-george"},"variation":{"intervalOrderQuantity":null,"number":"118","itemId":124,"maximumOrderQuantity":null,"minimumOrderQuantity":null,"vatId":0,"name":"","id":1022,"bundleType":"bundle_item","mayShowUnitPrice":true,"model":""},"variationPropertyGroups":[],"properties":[],"facets":[],"attributes":[],"prices":{"default":{"price":{"value":"N \/ A","formatted":"N \/ A"},"unitPrice":{"value":"N \/ A","formatted":"N \/ A"},"basePrice":"N \/ A"}}}},{"quantity":1,"data":{"filter":{"isSalable":true},"images":{"all":[{"path":"documents\/image\/i12\/125-Sessel-RedLabel.jpg","urlPreview":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/125-Sessel-RedLabel.jpg","position":0,"urlMiddle":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/125-Sessel-RedLabel.jpg","url":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/125-Sessel-RedLabel.jpg","urlSecondPreview":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/125-Sessel-RedLabel.jpg"}],"variation":[]},"item":{"id":125,"customsTariffNumber":"","producingCountry":{"names":[]},"manufacturer":[],"condition":{"names":[]}},"unit":{"unitOfMeasurement":"C62","names":{"name":"St\u00fcck","lang":"de"},"content":1},"texts":{"name3":"N \/ A","description":"<p>Auf den ersten Blick erinnert dieser Sessel an einen einfachen W\u00fcrfel. Allerdings bietet er viel mehr! Klare Formen und Linien sorgen f\u00fcr zeitlose Sch\u00f6nheit. Ein absolutes Muss f\u00fcr Jedermann.<\/p>\n\n<ul>\n\t<li>Schaumstoffdichte: Sitzfl\u00e4che 28 kg\/m\u00b3, R\u00fcckenlehne 28 kg\/m\u00b3<\/li>\n\t<li>Sitzh\u00e4rte: Medium Breite 65 cm<\/li>\n\t<li>H\u00f6he: 75 cm<\/li>\n\t<li>Tiefe: 58 cm<\/li>\n\t<li>Gewicht: 15 kg<\/li>\n\t<li>Sitzh\u00f6he: 38 cm<\/li>\n<\/ul>","shortDescription":"","lang":"de","name2":"N \/ A","name1":"Sessel RedLabel","urlPath":"wohnzimmer\/sessel-hocker\/sessel-redlabel"},"variation":{"intervalOrderQuantity":null,"number":"119","itemId":125,"maximumOrderQuantity":null,"minimumOrderQuantity":null,"vatId":0,"name":"","id":1023,"bundleType":"bundle_item","mayShowUnitPrice":true,"model":""},"variationPropertyGroups":[],"properties":[],"facets":[],"attributes":[],"prices":{"default":{"price":{"value":"N \/ A","formatted":"N \/ A"},"unitPrice":{"value":"N \/ A","formatted":"N \/ A"},"basePrice":"N \/ A"}}}},{"quantity":1,"data":{"filter":{"isSalable":true},"images":{"all":[{"path":"documents\/image\/i12\/126-Sessel-Relaxed-Stacked-Stones.jpg","urlPreview":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/126-Sessel-Relaxed-Stacked-Stones.jpg","position":0,"urlMiddle":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/126-Sessel-Relaxed-Stacked-Stones.jpg","url":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/126-Sessel-Relaxed-Stacked-Stones.jpg","urlSecondPreview":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/126-Sessel-Relaxed-Stacked-Stones.jpg"}],"variation":[]},"item":{"id":126,"customsTariffNumber":"","producingCountry":{"names":[]},"manufacturer":[],"condition":{"names":[]}},"unit":{"unitOfMeasurement":"C62","names":{"name":"St\u00fcck","lang":"de"},"content":1},"texts":{"name3":"N \/ A","description":"<p>Natur trifft auf Moderne. Das Bild der gestapelten Steine kennt wohl jeder. Aus insgesamt 4 miteinander verbundenen Fl\u00e4chen besteht dieser Relaxsessel. Erg\u00e4nzt wird dieser durch ein zus\u00e4tzliches Fu\u00dfteil um Ihnen den best m\u00f6glichen Komfort zu gew\u00e4hrleisten. Bezogen ist dieser Sessel mit schwarzem Kunstleder, das sich sehr einfach reinigen l\u00e4sst.<\/p>","shortDescription":"","lang":"de","name2":"N \/ A","name1":"Sessel Relaxed Stacked Stones","urlPath":"arbeitszimmer-buero\/buerostuehle\/sessel-relaxed-stacked-stones"},"variation":{"intervalOrderQuantity":null,"number":"120","itemId":126,"maximumOrderQuantity":null,"minimumOrderQuantity":null,"vatId":0,"name":"","id":1024,"bundleType":"bundle_item","mayShowUnitPrice":true,"model":""},"variationPropertyGroups":[],"properties":[],"facets":[],"attributes":[],"prices":{"default":{"price":{"value":"N \/ A","formatted":"N \/ A"},"unitPrice":{"value":"N \/ A","formatted":"N \/ A"},"basePrice":"N \/ A"}}}},{"quantity":1,"data":{"filter":{"isSalable":true},"images":{"all":[{"path":"documents\/image\/i12\/127-Sofa-2-Sitzer-Sunflower.jpg","urlPreview":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/127-Sofa-2-Sitzer-Sunflower.jpg","position":0,"urlMiddle":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/127-Sofa-2-Sitzer-Sunflower.jpg","url":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/127-Sofa-2-Sitzer-Sunflower.jpg","urlSecondPreview":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/127-Sofa-2-Sitzer-Sunflower.jpg"}],"variation":[]},"item":{"id":127,"customsTariffNumber":"","producingCountry":{"names":[]},"manufacturer":[],"condition":{"names":[]}},"unit":{"unitOfMeasurement":"C62","names":{"name":"St\u00fcck","lang":"de"},"content":1},"texts":{"name3":"N \/ A","description":"<p>Aufbauend auf das verchromte Gestell dieses 2-Sitzers sind insgesamt 8 gepolsterte Kissen gelegt. Diese einfache aber doch geniale Zusammensetzung sorgt&nbsp; f\u00fcr ein perfektes Gesamtkonzept. Das knallige Gelb in Verbindung mit dem edel verchromten Gestell sorgt f\u00fcr ein modernes Design. Fest steht, dass dieses Sofa ein echter Hingucker in Ihren R\u00e4umlichkeiten wird. Das strapazierf\u00e4hige Kunstleder ist abwaschbar und sehr geschmeidig.<\/p>","shortDescription":"","lang":"de","name2":"N \/ A","name1":"Sofa 2-Sitzer Sunflower","urlPath":"wohnzimmer\/sessel-sofas\/sofa-2-sitzer-sunflower"},"variation":{"intervalOrderQuantity":null,"number":"121","itemId":127,"maximumOrderQuantity":null,"minimumOrderQuantity":null,"vatId":0,"name":"","id":1025,"bundleType":"bundle_item","mayShowUnitPrice":true,"model":""},"variationPropertyGroups":[],"properties":[],"facets":[],"attributes":[],"prices":{"default":{"price":{"value":"N \/ A","formatted":"N \/ A"},"unitPrice":{"value":"N \/ A","formatted":"N \/ A"},"basePrice":"N \/ A"}}}}],"bundleType":"bundle","orderProperties":[],"properties":[{"id":534,"orderItemId":249,"typeId":1,"value":"1","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"},{"id":535,"orderItemId":249,"typeId":2,"value":"6","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"},{"id":536,"orderItemId":249,"typeId":21,"value":"1","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"}],"dates":[],"amounts":[{"id":149,"orderItemId":249,"isSystemCurrency":true,"currency":"EUR","exchangeRate":1,"purchasePrice":0,"priceOriginalGross":299,"priceOriginalNet":251.2605,"priceGross":299,"priceNet":251.2605,"surcharge":0,"discount":0,"isPercentage":true,"createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"}],"references":[]},{"id":250,"orderId":166,"typeId":1,"referrerId":1,"itemVariationId":1071,"quantity":1,"orderItemName":"Barhocker White SanFrancisco","attributeValues":"schwarz","shippingProfileId":6,"countryVatId":1,"vatField":0,"vatRate":19,"position":"0","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00","warehouseId":1,"bundleComponents":null,"bundleType":null,"orderProperties":[{"propertyId":1,"type":"text","name":"Mit Text","value":"Mit Text","fileUrl":null},{"propertyId":4,"type":"file","name":"Datei extra","value":"828ac3f2\/c3d185ea\/Sterne.jpg","fileUrl":null},{"propertyId":2,"type":"","name":"Option","value":"true","fileUrl":null},{"propertyId":5,"type":"selection","name":"Auswahl Test1","value":"1","fileUrl":null}],"properties":[{"id":537,"orderItemId":250,"typeId":1,"value":"1","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"},{"id":538,"orderItemId":250,"typeId":2,"value":"6","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"},{"id":539,"orderItemId":250,"typeId":21,"value":"1","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"}],"dates":[],"amounts":[{"id":150,"orderItemId":250,"isSystemCurrency":true,"currency":"EUR","exchangeRate":1,"purchasePrice":0,"priceOriginalGross":79,"priceOriginalNet":66.3866,"priceGross":292.66,"priceNet":245.9328,"surcharge":213.66,"discount":0,"isPercentage":true,"createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"}],"references":[]},{"id":251,"orderId":166,"typeId":1,"referrerId":1,"itemVariationId":1007,"quantity":1,"orderItemName":"Barhocker White SanFrancisco","attributeValues":null,"shippingProfileId":6,"countryVatId":1,"vatField":0,"vatRate":19,"position":"0","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00","warehouseId":1,"bundleComponents":null,"bundleType":null,"orderProperties":[],"properties":[{"id":540,"orderItemId":251,"typeId":1,"value":"1","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"},{"id":541,"orderItemId":251,"typeId":2,"value":"6","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"},{"id":542,"orderItemId":251,"typeId":21,"value":"1","createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"}],"dates":[],"amounts":[{"id":151,"orderItemId":251,"isSystemCurrency":true,"currency":"EUR","exchangeRate":1,"purchasePrice":0,"priceOriginalGross":79,"priceOriginalNet":66.3866,"priceGross":79,"priceNet":66.3866,"surcharge":0,"discount":0,"isPercentage":true,"createdAt":"2019-08-13T15:40:30+02:00","updatedAt":"2019-08-13T15:40:30+02:00"}],"references":[]}],"addressRelations":[{"id":132,"orderId":166,"typeId":1,"addressId":53},{"id":133,"orderId":166,"typeId":2,"addressId":53}],"billingAddress":{"id":53,"gender":"male","name1":"","name2":"1234","name3":"2134","name4":"","address1":"1234","address2":"1234","address3":"","address4":"","postalCode":"1234","town":"1234","countryId":1,"stateId":null,"readOnly":false,"checkedAt":null,"createdAt":"2019-04-01T14:21:12+02:00","updatedAt":"2019-04-01T14:21:12+02:00","options":[{"id":129,"addressId":53,"typeId":5,"value":"trieser19@gmx.de","position":0,"createdAt":"2019-04-01T14:21:12+02:00","updatedAt":"2019-04-01T14:21:12+02:00"},{"id":130,"addressId":53,"typeId":9,"value":"1959-02-02","position":0,"createdAt":"2019-04-01T14:21:12+02:00","updatedAt":"2019-04-01T14:21:12+02:00"}]},"deliveryAddress":{"id":53,"gender":"male","name1":"","name2":"1234","name3":"2134","name4":"","address1":"1234","address2":"1234","address3":"","address4":"","postalCode":"1234","town":"1234","countryId":1,"stateId":null,"readOnly":false,"checkedAt":null,"createdAt":"2019-04-01T14:21:12+02:00","updatedAt":"2019-04-01T14:21:12+02:00","options":[{"id":129,"addressId":53,"typeId":5,"value":"trieser19@gmx.de","position":0,"createdAt":"2019-04-01T14:21:12+02:00","updatedAt":"2019-04-01T14:21:12+02:00"},{"id":130,"addressId":53,"typeId":9,"value":"1959-02-02","position":0,"createdAt":"2019-04-01T14:21:12+02:00","updatedAt":"2019-04-01T14:21:12+02:00"}]},"documents":[]},"status":"Warten auf Zahlung","totals":{"itemSumGross":635,"itemSumNet":533.6136,"itemSumRebateGross":0,"itemSumRebateNet":0,"shippingGross":0,"shippingNet":0,"vats":[{"rate":19,"value":135.5}],"couponValue":0,"openAmount":0,"couponType":"","couponCode":"","totalGross":848.66,"totalNet":713.16,"currency":"EUR","isNet":false},"shippingProfileId":6,"shippingProvider":"DHL","shippingProfileName":"versichertes Paket","paymentMethodName":"Vorkasse","paymentMethodIcon":"https:\/\/s3-eu-central-1.amazonaws.com\/plentymarkets-public-dev\/184\/plugin\/1\/prepayment\/images\/icon.png","paymentStatus":"unpaid","allowPaymentMethodSwitchFrom":true,"paymentMethodListForSwitch":[{"id":2,"name":"Rechnung","fee":0,"icon":"https:\/\/s3-eu-central-1.amazonaws.com\/plentymarkets-public-dev\/184\/plugin\/1\/invoice\/images\/icon.png","description":"","sourceUrl":"","key":"plenty","isSwitchableFrom":false,"isSwitchableTo":true},{"id":6003,"name":"PayPal Plus","fee":0,"icon":"https:\/\/s3-eu-central-1.amazonaws.com\/plentymarkets-public-dev\/184\/plugin\/1\/paypal\/images\/logos\/de-pp-logo.png","description":"","sourceUrl":"","key":"plentyPayPal","isSwitchableFrom":true,"isSwitchableTo":true}],"itemURLs":{"1005":"\/wohnzimmer\/sessel-hocker\/barhockerl-fury-gepolstert_107_1005","1006":"\/wohnzimmer\/sessel-hocker\/barsessel-black-mamba_108_1006","1007":"\/wohnzimmer\/sessel-hocker\/barhocker-white-sanfrancisco_109_1007","1021":"\/wohnzimmer\/sessel-hocker\/sessel-floating-water_123_1021","1071":"\/wohnzimmer\/sessel-hocker\/barhocker-white-sanfrancisco_109_1071"},"itemImages":{"1005":"http:\/\/master.plentymarkets.com\/documents\/image\/i10\/107-Barhocker-Fury-gepolstert.jpg","1006":"http:\/\/master.plentymarkets.com\/documents\/image\/i10\/108-Barsessel-Black-Mamba.jpg","1007":"http:\/\/master.plentymarkets.com\/documents\/image\/i10\/109-Barhocker-White-SanFrancisco.jpg","1021":"http:\/\/master.plentymarkets.com\/documents\/image\/i12\/123-Sessel-Floating-Water.jpg","1071":"http:\/\/master.plentymarkets.com\/documents\/image\/i10\/109-Barhocker-White-SanFrancisco.jpg"},"isReturnable":false,"highlightNetPrices":false} %}
{{ Twig.set("orderData", orderData | json_encode) }}
{# -- for development purpose only -- #}

<div class="widget widget-items-bought widget-{{ widget.settings.appearance.mobile | default("primary") }}
    {% if customClass | length > 0 %} {{ customClass }}{% endif %}
    {% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}"
    {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>

    <div>Test8</div>

    <div class="confirmation-order-list">
        {% for item in orderData.order.orderItems %}
            {% if item.itemVariationId > 0 and not ('[-]' in item.orderItemName) %}
                {% set currentVariationId = item.itemVariationId | trimNewlines %}
                <article class="cmp cmp-order-item">
                    <a href="{{ orderData.itemURLs | getObjectValue(currentVariationId) }}" class="item-image">
                        <img src="{{ orderData.itemImages | getObjectValue(currentVariationId) }}" alt="{{ item.orderItemName }}" title="{{ item.orderItemName }}">
                    </a>
                    <div class="item-details small">
                        <a href="{{ orderData.itemURLs | getObjectValue(currentVariationId)  }}" class="clearfix">
                            <div class="item-name">
                                {{ ItemName.get(item.orderItemName, item.bundleType) }}
                            </div>
                        </a>

                        {% if splitItemBundle != "1" and item.bundleType == "bundle" %}
                            <div class="mb-3 item-bundle">
                                {% for bundleComponent in item.bundleComponents %}
                                    <div>
                                        <span class="text-muted">{{ bundleComponent.quantity }} x</span>
                                        <a href="{{ bundleComponent.data | itemURL }}"> {{ bundleComponent.data | itemName }} </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% set itemAmount = item.amounts[0] %}
                        {% for amount in item.amouts if not amout.isSystemCurrency %}
                            {% set itemAmount = amount %}
                        {% endfor %}

                        {% set itemPrice = 0 %}
                        {% if orderData.highlightNetPrices %}
                            {% set itemPrice = itemAmount.priceOriginalNet %}
                            {% set discountAmount = itemAmount.priceOriginalNet - itemAmount.priceNet %}
                            {% set itemPriceTotal = item.quantity * itemAmount.priceNet %}
                        {% else %}
                            {% set itemPrice = itemAmount.priceOriginalGross %}
                            {% set discountAmount = itemAmount.priceOriginalGross - itemAmount.priceGross %}
                            {% set itemPriceTotal = item.quantity * itemAmount.priceGross %}
                        {% endif %}

                        <div class="row">
                            <strong class="col-6 col-sm-3 col-md-5">{{ trans("Ceres::Template.orderConfirmationPricePerPiece") }}</strong>
                            <span class="col-6 col-sm-9 col-md-7 text-right">{{ itemPrice | formatMonetary( itemAmount.currency ) }}</span>
                        </div>
                        {% if discountAmount > 0 %}
                            <div class="row rebate-hint">
                                <strong class="col-6 col-sm-3 col-md-5">{{ trans("Ceres::Template.orderConfirmationItemDiscount") }}</strong>
                                <span class="col-6 col-sm-9 col-md-7 text-right">{{ discountAmount | formatMonetary( itemAmount.currency ) }}</span>
                            </div>
                        {% endif %}
                        <div class="row">
                            <strong class="col-6 col-sm-3 col-md-5">{{ trans("Ceres::Template.orderConfirmationQuantity") }}</strong>
                            <span class="col-6 col-sm-9 col-md-7 text-right">{{ item.quantity }}</span>
                        </div>

                        {% if item.orderProperties %}

                            <div class="text-center">
                                <hr>
                                <span style="margin-top:-10px" data-show-more="{{ trans("Ceres::Template.basketShowMore") }}" data-show-less="{{ trans("Ceres::Template.basketShowLess") }}"></span>
                            </div>

                            <div class="row">
                                <strong class="col-6 col-sm-3 col-md-5">Bestellmerkmale(3)</strong>
                                <strong class="col-6 col-sm-9 col-md-7 text-right">Gesamtwert</strong>
                            </div>

                            {% for property in item.orderProperties %}
                                <div class="row">
                                    <strong class="col-6 col-sm-3 col-md-5 item-word-break">{{ property | propertyName }}</strong>
                                    {% if property.type == 'file' %}
                                        <span class="col-6 col-sm-9 item-word-break">
                                            {% set splitPath = property.value |split('/') %}
                                            {% set filename = '' %}
                                            {% set path = '' %}

                                            {% for temp in splitPath %}
                                                {% if loop.first %}
                                                    {% set path =  temp %}
                                                {% elseif loop.last %}
                                                    {% set filename = temp %}
                                                {% else %}
                                                    {% set path =  path ~ '/' ~ temp %}
                                                {% endif %}
                                            {% endfor %}

                                            <a href="{{ urls.orderPropertyFile(path) }}?filename={{ filename }}{% if services.customer.getContactId() == 0 %}&orderId={{ orderData.order.id }}{% endif %}" target="_blank">
                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                {{ splitPath | last }}
                                            </a>
                                        </span>
                                    {% elseif property.type == "selection" %}
                                        <span class="col-6 col-sm-9 col-md-7 item-word-break">
                                            {{ property | propertySelectionValueName }}
                                        </span>
                                    {% elseif property.type | length > 0 %}
                                        <span class="col-6 col-sm-9 col-md-7 item-word-break">{{ property.value }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class="row">
                            <strong class="col-6 col-sm-3 col-md-5">{{ trans("Ceres::Template.orderConfirmationTotal") }}</strong>
                            <strong class="col-6 col-sm-9 col-md-7 text-right">{{ itemPriceTotal | formatMonetary( itemAmount.currency ) }}</strong>
                        </div>

                    </div>
                </article>
            {% endif %}
        {% endfor %}

    </div>
</div>
