{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}
{{ Twig.component("Ceres::Checkout.Components.PaymentProviderSelect") }}

{{ Twig.set("overridePaymentList", Twig.call("LayoutContainer.show", ["Ceres::Checkout.PaymentList"])) }}
{% set hintText = widget.settings.hintText.mobile %}

<div class="widget widget-provider-select widget-{{ widget.settings.appearance.mobile | default("primary") }}">
    <div {{ WidgetHelper.makeEditable("hintText", TOOLBAR_LAYOUT.INLINE, isPreview) }}>
        {% if hintText is empty %}
            <h3>{{ WidgetHelper.editableTwig(isPreview, Twig.trans("Ceres::Template.checkoutPaymentMethod")) }}</h3>
        {% else %}
            {{ WidgetHelper.editableTwig(isPreview, hintText) }}
        {% endif %}
    </div>

    {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.BeforePaymentList"])) }}

    {{ Twig.if("overridePaymentList | trim is empty") }}
        <div class="payment-method-select">
            <payment-provider-select></payment-provider-select>
        </div>
    {{ Twig.else() }}
        {{ Twig.print("overridePaymentList") }}
    {{ Twig.endif() }}

    {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.AfterPaymentList"])) }}
</div>
