{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set spacingClasses = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}
{{ Twig.component("Ceres::Checkout.Components.ShippingProfileSelect") }}

{{ Twig.set("overrideShippingProfiles", Twig.call("LayoutContainer.show", ["Ceres::Checkout.ShippingProfileList"])) }}
{% set hintText = widget.settings.hintText.mobile %}

<div class="widget widget-provider-select widget-{{ widget.settings.appearance.mobile | default("primary") }} 
    {% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}" 
    {% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>
    <div {{ WidgetHelper.makeEditable("hintText", TOOLBAR_LAYOUT.ALL, isPreview) }}>
        {% if hintText is empty %}
            <h3>{{ WidgetHelper.editableTwig(isPreview, Twig.trans("Ceres::Template.checkoutShippingProfile")) }}</h3>
        {% else %}
            {{ WidgetHelper.editableTwig(isPreview, hintText) }}
        {% endif %}
    </div>

    {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.BeforeShippingProfileList"])) }}

    {{ Twig.if("overrideShippingProfiles | trim is empty") }}
        <div class="shipping-method-select">
            <shipping-profile-select template="#vue-shipping-profile-select"></shipping-profile-select>
        </div>
    {{ Twig.else() }}
        {{ Twig.print("overridePaymentList") }}
    {{ Twig.endif() }}

    {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.AfterShippingProfileList"])) }}
</div>
