{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}
{{ Twig.component("Ceres::Checkout.Components.ShippingProfileSelect") }}

{{ Twig.set("overrideShippingProfiles", Twig.call("LayoutContainer.show", ["Ceres::Checkout.ShippingProfileList"])) }}
{{ Twig.set("overridePaymentList", Twig.call("LayoutContainer.show", ["Ceres::Checkout.PaymentList"])) }}

{% set hintText = widget.settings.hintText.mobile %}

<div class="widget widget-provider-select widget-{{ widget.settings.appearance.mobile | default("primary") }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}"
    {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <div {{ WidgetHelper.makeEditable("hintText", TOOLBAR_LAYOUT.ALL, isPreview) }}>
        {% if hintText is empty %}
            <h3>{{ WidgetHelper.editableTwig(isPreview, Twig.trans("Ceres::Template.checkoutShippingProfile")) }}</h3>
        {% else %}
            {{ WidgetHelper.editableTwig(isPreview, hintText) }}
        {% endif %}
    </div>

    {{ Twig.if("overridePaymentList | trim is empty") }}
        {{ Twig.set("isOverwritten", "false") }}
    {{ Twig.else() }}
        {{ Twig.set("isOverwritten", "true") }}
    {{ Twig.endif() }}

    {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.BeforeShippingProfileList"])) }}
    {{ Twig.if("overrideShippingProfiles | trim is empty") }}
        <div class="shipping-method-select">
            <shipping-profile-select
                    :payment-container-is-overwritten="{{ Twig.print("isOverwritten | json_encode") }}"
                {% if spacingPadding | length > 0 %}padding-classes="{{ spacingPadding }}"{% endif %}
                {% if inlinePadding | length > 0 %}padding-inline-styles="{{ inlinePadding }}"{% endif %}>
            </shipping-profile-select>
        </div>
    {{ Twig.else() }}
        {{ Twig.print("overrideShippingProfiles") }}
    {{ Twig.endif() }}

    {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.AfterShippingProfileList"])) }}
</div>
