{{ component( "PluginCeres::Basket.Components.AddItemToBasket" ) }}

{% set image = item.variationImageList | first %}
{% set configItemName = config("PluginCeres.item.name") %}
{% set itemData = config("PluginCeres.item.data")|split(', ') %}

<article class="cmp cmp-product-thumb cmp-product-thumb--grid">
    <div class="thumb-inner">
        <div class="thumb-background"></div>

        <!-- <add-item-to-basket :item="{{ item | json_encode() }}" :show-quantity="false"></add-item-to-basket> -->
        <add-item-to-basket template="#vue-add-item-to-basket" :item="{{ item | json_encode() }}" :show-quantity="false"></add-item-to-basket>
        
        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner main-image">
                    <div>
                        <div>
                            <a href="{{ item.itemBase.id | buildItemURL(item.variationBase.id, true) }}">
                                <img class="img-fluid lazy" data-original="{{ app.request.baseUrl }}/{{ image.path }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- STORE SPECIALS -->

        {% if item.itemBase.storeSpecial > 0 %}
            <div class="special-tags">
                {% if  item.itemBase.storeSpecial == 1 %}

                    {% set storeSpecialColor = 'danger' %}
                    {% set percent = 100-(item.variationRecommendedRetailPrice.retailPrice/item.variationRetailPrice.unitPrice*100) %}

                    {% if percent <= 0 %}
                        {% set dezimalcount = config('PluginCeres.item.storeSpecial') %}
                        {% set percent = percent | number_format(dezimalcount, ',', '.') %}
                        {% set storeSpecial = percent ~"%" %}
                    {% else %}
                        {% set storeSpecial = "SALE" %}
                    {% endif %}

                {% elseif  item.itemBase.storeSpecial == 2 %}

                    {% set storeSpecial = "NEW" %}
                    {% set storeSpecialColor = 'primary' %}

                {% elseif  item.itemBase.storeSpecial == 3 %}

                    {% set storeSpecial = "Top" %}
                    {% set storeSpecialColor = 'success' %}

                {% endif %}

                <span class="tag bg-{{ storeSpecialColor }}">
                    {{ storeSpecial }}
                </span>

            </div>
        {% endif %}
        <!-- ./STORE SPECIALS -->

        <!-- ITEM DETAILS -->
        <div class="thumb-content">
            <a href="{{ item.itemBase.id | buildItemURL(item.variationBase.id, true) }}" class="thumb-title small">
                {{ item.itemDescription | itemName(configItemName) }}
                {{ item.variationBase.variationName }}
            </a>
            <div class="thumb-meta">
                <div class="prices">
                    {% if ('item.recommendedPrice' in itemData or 'all' in itemData)
                    and item.variationRecommendedRetailPrice.price != '' %}
                        <del class="crossprice">
                            {{ item.variationRecommendedRetailPrice.price | formatMonetary(item.variationRetailPrice.currency) }}
                        </del>
                    {% endif %}

                    <div class="price">
                        {{ item.variationRetailPrice.price | formatMonetary(item.variationRetailPrice.currency) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- ./ITEM DETAILS  -->
    </div>
</article>