{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set image = item.data.images.all | first %}
{% set configItemName = config("Ceres.item.name") %}
{% set itemUrl =  item.data | itemURL %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<article class="cmp cmp-product-thumb cmp-product-thumb--grid">
    <div class="thumb-inner">
        <div class="thumb-background"></div>

        <add-to-basket template="#vue-add-to-basket" :item="{{ item.data | json_encode() }}" :show-quantity="false"
                       item-url="{{ itemUrl }}" :salable="{{ services.item.getVariationIsSalable(item.data.variation.id) | json_encode() }}"></add-to-basket>

        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner main-image">

                    <category-image-carousel template="#vue-category-image-carousel"
                                             :image-urls="{{ item.data.images | json_encode() }} | itemImages 'urlMiddle'"
                                             alt-text="{{ item.data.texts | itemName(configItemName) }}"
                                             item-url="{{ itemUrl }}"
                                             :show-dots="{{ config("Ceres.item.category_show_dots") | json_encode() }}"
                                             :show-nav="{{ config("Ceres.item.category_show_nav") | json_encode() }}"
                                             :enable-carousel="{{ enableCarousel }}">
                    </category-image-carousel>

                    <noscript>
                        <a href="{{ itemUrl }}">
                            <img class="img-fluid" src="{{ image.urlMiddle }}">
                        </a>
                    </noscript>
                </div>
            </div>
        </div>

        <!-- STORE SPECIALS -->

        {% if item.data.item.storeSpecial.id > 0 %}

            {% set storeSpecial = item.data.item.storeSpecial.names.name %}

            <div class="special-tags">
                {% if  item.data.item.storeSpecial.id == 1 %}

                    {% set storeSpecialColor = 'danger' %}
                    {% set percent = 100-(item.data.calculatedPrices.rrp.price/item.data.calculatedPrices.default.price*100) %}

                    {% if percent <= 0 %}
                        {% set dezimalcount = config('Ceres.item.storeSpecial') %}
                        {% set percent = percent | number_format(dezimalcount, ',', '.') %}
                        {% set storeSpecial = percent ~"%" %}
                    {% endif %}

                {% elseif  item.data.item.storeSpecial.id == 2 %}

                    {% set storeSpecialColor = 'primary' %}

                {% elseif  item.data.item.storeSpecial.id == 3 %}

                    {% set storeSpecialColor = 'success' %}

                {% endif %}

                <span class="tag bg-{{ storeSpecialColor }}">
                    {{ storeSpecial }}
                </span>

            </div>
        {% endif %}
        <!-- ./STORE SPECIALS -->

        <!-- ITEM DETAILS -->
        <div class="thumb-content">
            <a href="{{ itemUrl }}" class="thumb-title small">
                {{ item.data.texts | itemName(configItemName) }}
            </a>
            <div class="thumb-meta">
                {{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}

                <div class="prices">
                    {% if item.data.calculatedPrices.rrp.price != '0' %}
                        <a href="{{ itemUrl }}">
                            <del class="crossprice">
                                {{ item.data.calculatedPrices.rrp.price | formatMonetary(item.data.calculatedPrices.rrp.currency) }}
                            </del>
                        </a>
                    {% endif %}

                    <a href="{{ itemUrl }}">
                        <div class="price">
                            {{ item.data.calculatedPrices.default.price | formatMonetary(item.data.calculatedPrices.default.currency) }} *
                        </div>
                    </a>
                    <span class="vat small text-muted">
                        * {{ trans("Ceres::Template.itemInclVAT") }} {{ trans("Ceres::Template.itemExclusive") }}
                        <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.itemShippingCosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
                    </span>
                </div>

                {{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}
            </div>
        </div>
        <!-- ./ITEM DETAILS  -->
    </div>
</article>