{% set baseURL = services.url.getCanonicalURL(null, true) %}
{% set prevPage = currentPage - 1 <= 1 ? null : currentPage - 1 %}
{% set beforePrevPage = currentPage - 2 <= 1 ? null : currentPage - 2 %}

{% if services.template.isCurrentTemplate("tpl.my-account") %}
    {% set baseURL = urls.myAccount %}
{% endif %}

{# set 'showFirstPage', 'showLastPage', 'pageLimit' if not set from outside #}
{% if showFirstPage is not defined %}
    {% set showFirstPage = ceresConfig.pagination.showFirstPage %}
{% endif %}
{% if showLastPage is not defined %}
    {% set showLastPage = ceresConfig.pagination.showLastPage %}
{% endif %}
{% if pageLimit is not defined %}
    {% set pageLimit = 1 %}
{% endif %}

{# set 'start', 'end' values for pagination button loop #}
{% set start = currentPage - pageLimit %}
{% set end = currentPage + pageLimit %}

{# increase pagination start, if touching end of buttons #}
{% if currentPage + pageLimit > pageMax %}
    {% set subtrahend = pageLimit - (pageMax - currentPage) %}
    {% set start = start - subtrahend %}
{% endif %}

{# increase pagination end, if touching beginning of buttons #}
{% if currentPage - 1 < pageLimit %}
    {% set summand = pageLimit - (currentPage - 1) %}
    {% set end = end + summand %}
{% endif %}

{% set isFirstLastPagePossible = pageMax > (pageLimit * 2 + 1) %}

<nav>
    {% if pageMax > 1 %}
        <ul class="pagination widget-alignment">

            <!-- FIRST PAGE LINK -->
            {% if showFirstPage and isFirstLastPagePossible and currentPage > pageLimit + 1 and currentPage != 2 %}
                <li class="page-item">
                    <a class="page-link{% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"
                        {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}
                        {% if not isPreview %} href="{{ baseURL ~ queryString({ 'page': null }) }}"{% endif %}>
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            <!-- ./FIRST PAGE LINK -->

            <!-- PREV LINK -->
            <li class="page-item{% if currentPage <= 1 %} disabled{% endif %}">
                <a class="page-link{% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"
                    {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}
                    {% if currentPage > 1 and not isPreview %} href="{{ baseURL ~ queryString({ 'page': prevPage }) }}"{% endif %}>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            </li>
            <!-- ./PREV LINK -->

            <!-- PAGINATION -->
            {% for i in start..end if i >= 1 and i <= pageMax %}
                {% set target = i <= 1 ? null : i %}

                <li class="page-item{% if i == currentPage %} active{% endif %}">
                    <a class="page-link{% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"
                        {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}
                        {% if i != currentPage and not isPreview %}href="{{ baseURL ~ queryString({ 'page': target }) }}"{% endif %}>
                        {{ i }}
                    </a>
                </li>
            {% endfor %} 
            <!-- ./PAGINATION -->

            <!-- NEXT LINK -->
            <li class="page-item{% if currentPage >= pageMax %} disabled{% endif %}">
                <a class="page-link{% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"
                    {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}
                    {% if currentPage < pageMax and not isPreview %} href="{{ baseURL ~ queryString({ 'page': currentPage + 1 }) }}"{% endif %}>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>
            <!-- ./NEXT LINK -->

            <!-- LAST PAGE LINK -->
            {% if showLastPage and isFirstLastPagePossible and currentPage < pageMax - pageLimit and currentPage != pageMax - 1 %}
                <li class="page-item">
                    <a class="page-link{% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"
                        {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}
                        {% if not isPreview %}href="{{ baseURL ~ queryString({ 'page': pageMax }) }}"{% endif %}>
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            <!-- ./LAST PAGE LINK -->
        </ul>
    {% endif %}
</nav>
