{% set baseURL = services.url.getCanonicalURL(null, true) %}
{% set prevPage = currentPage - 1 <= 1 ? null : currentPage - 1 %}
{% set beforePrevPage = currentPage - 2 <= 1 ? null : currentPage - 2 %}

{% if services.template.isCurrentTemplate("tpl.my-account") %}
    {% set baseURL = urls.myAccount %}
{% endif %}

{% if showFirstPage is not defined %}
    {% set showFirstPage = ceresConfig.pagination.showFirstPage %}
{% endif %}
{% if showLastPage is not defined %}
    {% set showLastPage = ceresConfig.pagination.showLastPage %}
{% endif %}
{% if pageLimit is not defined %}
    {% set pageLimit = 2 %}
{% endif %}

{% set start = currentPage - pageLimit %}
{% set end = currentPage + pageLimit %}

{% if currentPage + pageLimit > pageMax %}
    {% set l = pageMax - currentPage %}
    {% set x = pageLimit - l %}
    {% set start = start - x %}
{% endif %}

{% if currentPage - 1 < pageLimit %}
    {% set l = currentPage - 1 %}
    {% set x = pageLimit - l %}
    {% set end = end + x %}
{% endif %}

<nav class="cmp cmp-paginator row float-right text-center">
    {% if pageMax > 1 %}
        <ul class="pagination col-12 m-y-0">

            <!-- FIRST PAGE LINK -->
            {% if showFirstPage and pageMax > 3 and currentPage > 2 %}
                <li class="page-item">
                    <a class="page-link" href="{{ baseURL ~ queryString({ 'page': null }) }}">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            <!-- ./FIRST PAGE LINK -->

            <!-- PREV LINK -->
            <li class="page-item{% if currentPage <= 1 %} disabled{% endif %}">
                <a class="page-link"{% if currentPage > 1 %} href="{{ baseURL ~ queryString({ 'page': prevPage }) }}"{% endif %}>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            </li>
            <!-- ./PREV LINK -->

            <!-- PAGINATION -->
            {% for i in start..end if i >= 1 and i <= pageMax %}
                {% set target = i <= 1 ? null : i %}

                <li class="page-item{% if i == currentPage %} active{% endif %}">
                    <a class="page-link" {% if i != currentPage %}href="{{ baseURL ~ queryString({ 'page': target }) }}"{% endif %}>
                        {{ i }}
                    </a>
                </li>
            {% endfor %} 
            <!-- ./PAGINATION -->

            <!-- NEXT LINK -->
            <li class="page-item{% if currentPage >= pageMax %} disabled{% endif %}">
                <a class="page-link"{% if currentPage < pageMax %} href="{{ baseURL ~ queryString({ 'page': currentPage + 1 }) }}"{% endif %}>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>
            <!-- ./NEXT LINK -->

            <!-- LAST PAGE LINK -->
            {% if showLastPage and pageMax > 3 and currentPage < pageMax - 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ baseURL ~ queryString({ 'page': pageMax }) }}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            <!-- ./LAST PAGE LINK -->
        </ul>
    {% endif %}
</nav>
