{% set baseURL = services.url.getCanonicalURL(null, true) %}
{% set prevPage = currentPage - 1 <= 1 ? null : currentPage - 1 %}
{% set beforePrevPage = currentPage - 2 <= 1 ? null : currentPage - 2 %}

{% if services.template.isCurrentTemplate("tpl.my-account") %}
    {% set baseURL = urls.myAccount %}
{% endif %}

<nav class="cmp cmp-paginator row float-right text-center">
    {% if pageMax > 1 %}
        <ul class="pagination col-12 m-y-0">

            <!-- FIRST PAGE LINK -->
            {% if ceresConfig.pagination.showFirstPage and pageMax > 3 and currentPage > 2 %}
                <li class="page-item">
                    <a class="page-link" href="{{ baseURL ~ queryString({ 'page': null }) }}">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            <!-- ./FIRST PAGE LINK -->

            <!-- PREV LINK -->
            <li class="page-item{% if currentPage <= 1 %} disabled{% endif %}">
                <a class="page-link"{% if currentPage > 1 %} href="{{ baseURL ~ queryString({ 'page': prevPage }) }}"{% endif %}>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            </li>
            <!-- ./PREV LINK -->

            <!-- PAGINATION -->
            {% if currentPage == pageMax and currentPage > 2 %}
                <li class="page-item">
                    <a class="page-link" href="{{ baseURL ~ queryString({ 'page': beforePrevPage }) }}">{{ currentPage - 2 }}</a>
                </li>
            {% endif %}

            {% if currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ baseURL ~ queryString({ 'page': prevPage }) }}">{{ currentPage - 1 }}</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link">{{ currentPage }}</a>
            </li>

            {% if currentPage + 1 <= pageMax %}
                <li class="page-item">
                    <a class="page-link" href="{{ baseURL ~ queryString({ 'page': currentPage + 1 }) }}">{{ currentPage + 1 }}</a>
                </li>
            {% endif %}

            {% if currentPage == 1 and currentPage + 2 <= pageMax %}
                <li class="page-item">
                    <a class="page-link" href="{{ baseURL ~ queryString({ 'page': currentPage + 2 }) }}">{{ currentPage + 2 }}</a>
                </li>
            {% endif %}
            <!-- ./PAGINATION -->

            <!-- NEXT LINK -->
            <li class="page-item{% if currentPage >= pageMax %} disabled{% endif %}">
                <a class="page-link"{% if currentPage < pageMax %} href="{{ baseURL ~ queryString({ 'page': currentPage + 1 }) }}"{% endif %}>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>
            <!-- ./NEXT LINK -->

            <!-- LAST PAGE LINK -->
            {% if ceresConfig.pagination.showLastPage and pageMax > 3 and currentPage < pageMax - 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ baseURL ~ queryString({ 'page': pageMax }) }}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            <!-- ./LAST PAGE LINK -->
        </ul>
    {% endif %}
</nav>
