{% set mailRegex		= "[a-zA-Z0-9!#$%&'*+\\/=?^_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&'*+\\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?" %}
{% set gCapture 		= config("Ceres.global.google_recaptcha_api_key") %}
{% set contactConfigSet = not config("Ceres.contact.show_data") is empty or config("Ceres.contact.show_data") == "all" %}
{% set googleApiKey 	= config("Ceres.contact.api_key") %}
{% set zip				= config("system.company.zip") %}
{% set street 			= config("system.company.street") %}
{% set mapZoom 			= config("Ceres.contact.map_zoom") %}
{% set showMapInMobile	= config("Ceres.contact.map_show_in_mobile") %}

<script type="x/template" id="vue-contact-form">
	{{ component("Ceres::Customer.Components.Contact.ContactMap") }}

	<div class="row cmp-contact">

		<div class="col-12">
			<h1>{{ trans("Ceres::Template.contact") }}</h1>

			<hr>

			<p class="mb-5">
                {{ trans("Ceres::Template.contactShopMessage") }}
			</p>

			<div class="row">

                {% if contactConfigSet %}
					<div class="col-12 pb-5{% if googleApiKey %} col-md-6 pt-4{% else %} col-sm-12 col-md-4 col-lg-3{% endif %}">
					{% include "Ceres::Customer.Components.Contact.ContactCard" %}
					</div>
                {% endif %}

                {% if googleApiKey and contactConfigSet %}
					<div class="col-12 col-md-6 pb-5 pt-4{% if showMapInMobile == "false" %} hidden-sm-down{% endif %}">
						<contact-map template="#vue-contact-map" zip="{{ zip }}" street="{{ street }}" map-zoom="{{ mapZoom }}" google-api-key="{{ googleApiKey }}"></contact-map>
					</div>
                {% endif %}

				<div class="col-12{% if contactConfigSet and not googleApiKey %} col-sm-12 col-md-8 col-lg-9{% endif %}">
					<form id="contact-form" class="row">

						<div class="col-12 col-md-6 mb-3">
							<div class="input-unit input-name-field">
								<input type="name" name="name" v-model="name" id="txt_name">
								<label for="txt_name">{{ trans("Ceres::Template.contactName") }} ({{ trans("Ceres::Template.contactOptional") }})</label>
							</div>
						</div>
						<div class="col-12 col-md-6 mb-3">
							<div class="input-unit input-mail-field" data-validate="regex" data-model="userMail">
								{% set uid_mail = uid() %}
								<input type="email" name="email" v-model="userMail" id="{{ uid_mail }}" data-validate-ref="{{ mailRegex }}">
								<label for="{{ uid_mail }}">{{ trans("Ceres::Template.contactMail") }}*</label>
							</div>
							<div class="error-feedback">{{ trans("Ceres::Template.contactEnterConfirmEmail") }}</div>
						</div>
						<div class="col-12 col-md-6 mb-3">
							<div class="input-unit" data-validate="text" data-model="subject">
								<input type="subject" name="subject" v-model="subject" id="txt_subject">
								<label for="txt_subject">{{ trans("Ceres::Template.contactSubject") }}*</label>
							</div>
							<div class="error-feedback">{{ trans("Ceres::Template.contactEditSubject") }}</div>
						</div>
						<div class="col-12 col-md-6 mb-3">
							<div class="input-unit">
								<input type="order" name="order" v-model="orderId" id="txt_order">
								<label for="txt_order">{{ trans("Ceres::Template.contactOrderId") }} ({{ trans("Ceres::Template.contactOptional") }})</label>
							</div>
						</div>

						<div class="col-12">
							<div class="input-unit textarea" data-validate="text" data-model="message">
								<textarea name="message" id="txt_message" v-model="message" class="no-resize" rows="15" cols="25"></textarea>
								<label for="txt_message">{{ trans('Ceres::Template.contactMessage') }}*</label>
							</div>
							<div class="error-feedback">{{ trans("Ceres::Template.contactEditMessage") }}</div>
						</div>

						<div class="col-12 text-sm-right">* {{ trans("Ceres::Template.contactRequiredField") }}</div>
					</form>
				</div>

				<div class="col-12 col-md-12 re-captcha-container">
                    {% if gCapture | length > 0 %}
						<div id="recaptcha" class="g-recaptcha"
							 data-sitekey="{{ gCapture }}"
							 data-callback="sendMail"
							 data-size="invisible"
							 data-badge="bottomleft">
						</div>
                    {% endif %}
				</div>

				<div class="col-12 col-md-9">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="cc" v-model="cc" value="cc" name="mailToMe">
						<label class="form-check-label" for="cc">
							{{ trans("Ceres::Template.contactSendMeACopy") }}
						</label>
					</div>
				</div>

				<div class="col-12">
					<hr>
				</div>

				<div class="col-12">
					<accept-privacy-policy-check class="mb-3" v-if="enableConfirmingPrivacyPolicy" v-model="privacyPolicyAccepted" @input="privacyPolicyValueChanged($event)" :show-error="privacyPolicyShowError"></accept-privacy-policy-check>
				</div>

				<div class="col-12 col-md-3 offset-md-9 send-mail">
					<button type="submit" class="btn btn-primary btn-block" :disabled="waiting" @click="validate({{ gCapture | length > 0 }})">
						<i v-waiting-animation="waiting" class="fa fa-paper-plane-o" aria-hidden="true"></i> 
						{{ trans("Ceres::Template.contactSend") }}
					</button>
				</div>

                {% if googleApiKey and not contactConfigSet %}
					<div class="col-12 mt-5{% if showMapInMobile == "false" %} hidden-sm-down{% endif %}">
						<contact-map template="#vue-contact-map" zip="{{ zip }}" street="{{ street }}" map-zoom="{{ mapZoom }}" google-api-key="{{ googleApiKey }}"></contact-map>
					</div>
                {% endif %}

			</div>
		</div>
	</div>

</script>