<script type="x/template" id="vue-contact-form">

	<div class="row cmp-contact">
		<div class="col-xs-12">
			<h1 class="m-b-3">{{ trans("Ceres::Template.generalContact") }}</h1>

			<div class="row m-b-3">
				<div class="col-md-3 flex-style">
					{% include "Ceres::Customer.Components.Contact.ContactCard" %}
				</div>
				<div class="col-md-8">
					<div class="well well-sm">
						<form id="contact-form">
							<div class="row ">
								<div class="col-md-6">
									<div class="col-xs-12">
										<div class="input-unit" data-validate="text">
											<input type="name" name="name" v-model="name" id="txt_name">
											<label for="txt_name">{{ trans("Ceres::Template.contactName") }}*</label>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="input-unit" data-validate="text">
											<input type="email" name="email" v-model="userMail" id="txt_email">
											<label for="txt_email">{{ trans("Ceres::Template.contactMail") }}*</label>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="input-unit" data-validate="text">
											<input type="subject" name="subject" v-model="subject" id="txt_subject">
											<label for="txt_subject">{{ trans("Ceres::Template.contactSubject") }}*</label>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="col-xs-12">
										<div class="form-group" data-validate="text">
											<textarea name="message" id="txt_message" v-model="message" class="form-control no-resize" rows="13" cols="25" placeholder="{{ trans('Ceres::Template.contactMessage') }}*"></textarea>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<hr>
					<div class="col-xs-12">
						{% if config("Ceres.contact.use_capture") == "true" %}
							<div id="recaptcha" class="g-recaptcha"
								data-sitekey="{{ config('Ceres.contact.capture_key') }}"
								data-callback="sendMail"
								data-size="invisible">
							</div>
						{% endif %}
						<button type="submit" class="btn btn-primary pull-right" :disabled="disabledSend" @click="validate({{ config("Ceres.contact.use_capture") }})">
							{{ trans("Ceres::Template.contactSend") }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</script>