{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% set backlink = request.get("backlink") %}

<script type="x/template" id="vue-login-view" >
    <div class="container-max login">
        <div class="row m-b-3">
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3">

                <div v-if="!isGuestMode">
                    <h1 class="login-view-title m-b-3">{{ trans("Ceres::Template.accLogin") }}</h1>
                    <login template="#vue-login" backlink="{{ backlink }}" has-to-forward="true"></login>
                </div>

                <div v-else>
                    <h1 class="m-b-3">{{ trans("Ceres::Template.accOrderAsGuest") }}</h1>
                    <guest-login template="#vue-guest-login" backlink="{{ backlink }}"></guest-login>
                </div>

                <hr>
                <div class="row">
                    <div class="col-sm-{% if 'my-account' not in backlink %}6{% else %}12{% endif %}">
                        <a class="btn btn-primary btn-block m-b-1" href="/register{% if backlink | trim is not empty %}?backlink={{ backlink | url_encode}}{% endif %}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.accRegister") }}
                        </a>
                    </div>

                    {% if "my-account" not in backlink %}
                        <div class="col-sm-6">
                            <button v-if="isGuestMode" class="btn btn-primary btn-block m-b-1" @click="isGuestMode = !isGuestMode">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                {{ trans("Ceres::Template.accLogin") }}
                            </button>
                            
                            <button v-else class="btn btn-primary btn-block m-b-1" @click="isGuestMode = !isGuestMode">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                {{ trans("Ceres::Template.accOrderAsGuest") }}
                            </button>
                        </div>
                    {% endif %}
                </div>

                {{ LayoutContainer.show("Ceres::Login.AdditionalContentAfterButtons") }}

            </div>
        </div>
    </div>
</script>