{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set emailRegex = config("Ceres.register.email_regex") %}

<script type="x/template" id="vue-login">
    <div>
        <form id="login-form-${_uid}" class="m-b-1">
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-unit" data-validate="regex">
                        <input type="email" name="email" id="txt_email" v-model="username" data-validate-ref="{{ emailRegex }}">
                        <label for="txt_email">{{ trans("Ceres::Template.accEmail") }}*</label>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="input-unit" data-validate="text">
                        <input type="password" name="password" id="txt_password" v-model="password">
                        <label for="txt_password">{{ trans("Ceres::Template.accPassword") }}*</label>
                    </div>
                </div>

                {# TODO #}
                {#<div class="col-xs-8">#}
                    {#<label class="form-check-label">#}
                        {#<input class="form-check-input" type="checkbox" value="">#}
                        {#<span>{{ trans("Ceres::Template.accRememberPassword") }}</span>#}
                    {#</label>#}

                    {#<div>#}
                        {#<a href="#" class="small">{{ trans("Ceres::Template.accForgotPassword") }}</a>#}
                    {#</div>#}
                {#</div>#}

                <div class="col-xs-12">
                    {{ LayoutContainer.show("Ceres::LoginOverlay.ExtendOverlayButtons") }}

                    <button @click.prevent="validateLogin" :disabled="isDisabled" class="btn btn-primary pull-xs-right">{{ trans("Ceres::Template.accLogin") }}</button>
                </div>
            </div>
        </form>
    </div>
</script>
