{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% set backlink = request.get("backlink") %}

{{ component( "Ceres::Customer.Components.GuestLogin" ) }}

<script type="x/template" id="vue-login-view" >
    <div class="container-max login">
        <div class="row mb-5">
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3">

                <div>
                    <h1 class="login-view-title mb-5">{{ trans("Ceres::Template.login") }}</h1>
                    <login backlink="{{ backlink | url_encode }}" :has-to-forward="true"></login>
                </div>

                <hr>
                <div class="row">
                    <div class="col-sm-{% if 'my-account' not in backlink %}6{% else %}12{% endif %}">
                        <a class="btn btn-primary btn-block mb-3" href="{{ urls.registration }}{% if backlink | trim is not empty %}?backlink={{ backlink | url_encode}}{% endif %}">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.loginRegister") }}
                        </a>
                    </div>

                    {% if "my-account" not in backlink %}
                        <div class="col-sm-6">
                            <button class="btn btn-primary btn-block mb-3" @click="openGuestModal()">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                {{ trans("Ceres::Template.loginOrderAsGuest") }}
                            </button>
                        </div>
                    {% endif %}
                </div>

                {{ LayoutContainer.show("Ceres::Login.AdditionalContentAfterButtons") }}

            </div>
        </div>

        <div class="modal fade" ref="guestModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title h3">{{ trans("Ceres::Template.loginOrderAsGuest") }}</div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <guest-login backlink="{{ backlink | url_encode }}"></guest-login>
                    </div>       
                </div>
            </div>
        </div>
    </div>
</script>