{% set emailRegex = config("PluginCeres.register.email_regex") %}

<script type="x/template" id="vue-login">
    <div>
        <form id="login-form-${_uid}" class="m-b-1">
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-unit" data-validate="regex">
                        <input type="email" name="email" id="txt_email" v-model="username" data-validate-ref="{{ emailRegex }}">
                        <label for="txt_email">{{ trans("PluginCeres::Template.accEmail") }}*</label>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="input-unit" data-validate="text">
                        <input type="password" name="password" id="txt_password" v-model="password">
                        <label for="txt_password">{{ trans("PluginCeres::Template.accPassword") }}*</label>
                    </div>
                </div>

                <div class="col-xs-8">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span>{{ trans("PluginCeres::Template.accRememberPassword") }}</span>
                    </label>
                    {# TODO #}
                    {#<div>#}
                        {#<a href="#" class="small">{{ trans("PluginCeres::Template.accForgotPassword") }}</a>#}
                    {#</div>#}
                </div>
                <div class="col-xs-4">
                    <button @click.prevent="validateLogin" :disabled="isDisabled" class="btn btn-primary pull-xs-right">{{ trans("PluginCeres::Template.accLogin") }}</button>
                </div>
            </div>
        </form>
    </div>
</script>
