{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Ceres::Customer.Components.AddressInputGroup.AddressInputGroup" ) }}

{% set optionalInvoiceAddressFields = {
    "de": ceresConfig.addresses.billingAddressShow,
    "gb": ceresConfig.addresses.billingAddressShow_en
    }
%}
{% set requiredInvoiceAddressFields = {
    "de": ceresConfig.addresses.billingAddressRequire,
    "gb": ceresConfig.addresses.billingAddressRequire_en
    }
%}

<script type="x/template" id="vue-registration">
    <form class="w-100" autocomplete="on" @submit.prevent="validateRegistration()">
        <div class="modal-body">
            <div class="row" :id="'registration' + _uid">
                <div class="col-sm-12">
                    <div class="input-unit" data-validate="mail">
                        {% set uid_mail = uid() %}
                        <input type="email" name="email" autocomplete="email" id="{{ uid_mail }}" v-model="username" data-autofocus>
                        <label for="{{ uid_mail }}">{{ trans("Ceres::Template.regEmail") }}*</label>
                    </div>
                </div>

                <div class="col-sm-6" v-if="!guestMode">
                    <div class="input-unit" :class="{'no-bottom media-xs-d': modalElement}" data-validate="password" ref="passwordInput">
                        <popper v-cloak trigger="focus" placement="left" ref="passwordHint">
                            <template #handle>
                                <input type="password" name="password" autocomplete="new-password" :id="'new-password-' + _uid" v-model="password">
                            </template>

                            <template #title>
                                <div>
                                    {{ trans("Ceres::Template.regPasswordHintTitle") }}
                                </div>
                            </template>

                            <template #content>
                                <ul class="pl-3">
                                    <li>{{ trans("Ceres::Template.regPasswordHintLength") }}</li>
                                    <li>{{ trans("Ceres::Template.regPasswordHintDigit") }}</li>
                                    <li>{{ trans("Ceres::Template.regPasswordHintChar") }}</li>
                                </ul>
                            </template>
                        </popper>

                        <label :for="'new-password-' + _uid">{{ trans("Ceres::Template.regPassword") }}*</label>
                    </div>
                </div>

                <div class="col-sm-6 input-unit-group" v-if="!guestMode">
                    <div class="input-unit" :class="{'no-bottom': modalElement}" data-validate="ref">
                        <input type="password" name="password-repeat" autocomplete="new-password" :id="'new-password-repeat-' + _uid" v-model="passwordRepeat" :data-validate-ref="'#new-password-' + _uid">
                        <label :for="'new-password-repeat' + _uid">{{ trans("Ceres::Template.regRepeatPassword") }}*</label>
                    </div>
                </div>

                <div class="col-12">
                    <address-input-group
                        template="#vue-address-input-group"
                        v-if="!isSimpleRegistration"
                        address-type="1"
                        :value="billingAddress"
                        @input="setAddressDataField($event)"
                        :optional-address-fields="{{ optionalInvoiceAddressFields | json_encode }}"
                        :required-address-fields="{{ requiredInvoiceAddressFields | json_encode }}"
                        default-salutation="{{ ceresConfig.addresses.defaultSalutation }}">
                    </address-input-group>
                </div>

                <div class="col-12" v-if="enableConfirmingPrivacyPolicy">
                    <accept-privacy-policy-check
                            class="mt-3 mb-0"
                            v-model="privacyPolicyAccepted"
                            @input="privacyPolicyValueChanged($event)"
                            :show-error="privacyPolicyShowError">
                    </accept-privacy-policy-check>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ LayoutContainer.show("Ceres::RegistrationOverlay.ExtendOverlayButtons") }}

            <button :disabled="isDisabled" class="btn btn-primary btn-medium float-right">
                <i class="fa fa-user-plus" v-waiting-animation="isDisabled" aria-hidden="true"></i> 
                {{ trans("Ceres::Template.regRegister") }}
            </button>
        </div>
    </form>
</script>
