{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<script type="x/template" id="vue-reset-password-form">
    <form class="w-100 clearfix" ref="resetPasswordForm">
        <div class="input-feedback-container" data-validate="password">
            <div class="input-unit">
                <popper v-cloak trigger="focus" placement="bottom" ref="passwordHint">
                    <template #handle>
                        <input type="password" name="password" autocomplete="new-password" :id="_uid + 'password_first'" v-model="passwordFirst">
                    </template>
                    <template #title>
                        {{ trans("Ceres::Template.resetPwPasswordHintTitle") }}
                    </template>
                    <template #content>
                        <ul class="pl-3">
                            <li>{{ trans("Ceres::Template.resetPwPasswordHintLength") }}</li>
                            <li>{{ trans("Ceres::Template.resetPwPasswordHintDigit") }}</li>
                            <li>{{ trans("Ceres::Template.resetPwPasswordHintChar") }}</li>
                        </ul>
                    </template>
                </popper>

                <label :for="_uid + 'password_first'">{{ trans("Ceres::Template.resetPwNewPassword") }}*</label>
            </div>
        </div>

        <div class="input-feedback-container" data-validate="ref">
            <div class="input-unit">
                <input type="password" name="password" autocomplete="new-password" :id="_uid + 'password_second'" v-model="passwordSecond" :data-validate-ref="'#' + _uid + 'password_first'">
                <label :for="_uid + 'password_second'">{{ trans("Ceres::Template.resetPwRepeatPassword") }}*</label>
            </div>
        </div>

        <button @click.prevent="validatePassword" class="btn btn-primary btn-appearance btn-large float-right" :disabled="isDisabled">
            <span>{{ trans("Ceres::Template.resetPwSave") }}</span>
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>
    </form>
</script>
