{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<script type="x/template" id="vue-reset-password-form">
    <div class="row m-b-3">
        <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 m-b-2">
            <div class="alert alert-info password-info">
                <span class="info-badge">{{ trans("Ceres::Template.accPasswordReq") }}</span>
            </div>
        </div>
        <form id="reset-password-form-${_uid}" class="m-b-1">
            <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <span class="error-save-pwd-msg">{{ trans("Ceres::Template.accCheckPassword") }}</span>
                <div class="input-unit" data-validate="password">
                    <input type="password" name="password" id="txt_password_first" v-model="passwordFirst">
                    <label for="txt_password_first">{{ trans("Ceres::Template.accNewPassword") }}*</label>
                </div>
                <span class="error-msg">{{ trans("Ceres::Template.accInvalidPassword") }}</span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="input-unit" data-validate="text">
                    <input type="password" name="password" id="txt_password_second" v-model="passwordSecond">
                    <label for="txt_password_second">{{ trans("Ceres::Template.accRepeatPassword") }}*</label>
                </div>
                <span class="error-msg">{{ trans("Ceres::Template.accRepeatNewPassword") }}</span>
            </div>
        </form>

        <div class="col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 m-t-1 text-sm-right">
            <button @click="validatePassword" class="btn btn-primary save-new-pwd-btn" :disabled="isDisabled">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>{{ trans("Ceres::Template.generalSave") }}
            </button>
        </div>
    </div>
</script>
