{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<script type="x/template" id="vue-reset-password-form">
    <div class="row">
        <div class="col-12">
            <slot></slot>
        </div>
        <form class="col-12" ref="resetPasswordForm">
            <div class="input-feedback-container" data-validate="password">
                <div class="input-unit">
                    <popper v-cloak trigger="focus" placement="bottom" ref="passwordHint">
                        <template #handle>
                            <input type="password" name="password" autocomplete="new-password" id="txt_password_first" v-model="passwordFirst">
                        </template>
                        <template #title>
                            {{ trans("Ceres::Template.resetPwPasswordHintTitle") }}
                        </template>
                        <template #content>
                            <ul class="pl-3">
                                <li>{{ trans("Ceres::Template.resetPwPasswordHintLength") }}</li>
                                <li>{{ trans("Ceres::Template.resetPwPasswordHintDigit") }}</li>
                                <li>{{ trans("Ceres::Template.resetPwPasswordHintChar") }}</li>
                            </ul>
                        </template>
                    </popper>

                    <label for="txt_password_first">{{ trans("Ceres::Template.resetPwNewPassword") }}*</label>
                </div>

                <span class="feedback feedback-error">{{ trans("Ceres::Template.resetPwInvalidPassword") }}</span>
            </div>

            <div class="input-feedback-container" data-validate="ref">
                <div class="input-unit">
                    <input type="password" name="password" autocomplete="new-password" id="txt_password_second" v-model="passwordSecond" data-validate-ref="#txt_password_first">
                    <label for="txt_password_second">{{ trans("Ceres::Template.resetPwRepeatPassword") }}*</label>
                </div>
                <span class="feedback feedback-error">{{ trans("Ceres::Template.resetPwRepeatNewPassword") }}</span>
            </div>

            <button @click.prevent="validatePassword" class="btn btn-primary btn-large float-right" :disabled="isDisabled">
                <span>{{ trans("Ceres::Template.resetPwSave") }}</span>
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</script>
