<script type="x/template" id="vue-user-login-handler">
    <div id="login-change">
        <div class="dropdown" v-if="isLoggedIn">
            <a href="#" class="dropdown-toggle" id="accountMenuList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window">
                <i class="fa fa-user mr-1 d-sm-none" aria-hidden="true"></i> 
                <span class="hidden-xs-down">{{ trans("Ceres::Template.loginHello", {"username": "${username}"}) }}</span>
            </a>
            <div class="account-menu dropdown-menu dropdown-menu-right small m-0 p-0">
              <div class="list-group" aria-labelledby="accountMenuList" >
                <a href="{{ urls.myAccount }}" class="list-group-item small"><i class="fa fa-user"></i> {{ trans("Ceres::Template.loginMyAccount") }}</a>
                <a href="#" class="list-group-item small" v-logout><i class="fa fa-sign-out"></i> {{ trans("Ceres::Template.loginLogout") }}</a>
              </div>
            </div>
        </div>
        <div v-if="!isLoggedIn">
            <a data-toggle="modal" href="{% if services.template.isCurrentTemplate("tpl.login") %}javascript:void(0){% else %}#login{% endif %}" @click="unmarkInputFields()">
                <i class="fa fa-user mr-1" aria-hidden="true"></i>
                <span class="hidden-xs-down">{{ trans("Ceres::Template.login") }}</span>
            </a>
            <span class="pipe" v-if="showRegistration"></span>
            <a data-toggle="modal" href="#registration" @click="unmarkInputFields()" v-if="showRegistration">
                <i class="fa fa-user-plus mr-1" aria-hidden="true"></i>
                <span class="hidden-xs-down">{{ trans("Ceres::Template.loginRegister") }}</span>
            </a>
        </div>
    </div>
</script>
