<script type="x/template" id="vue-user-login-handler">
    <div id="login-change">
        <div v-resource-if:user="isLoggedIn">
            <a href="#" class="dropdown-toggle" id="accountMenuList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user hidden-sm-up" aria-hidden="true"></i> <span class="hidden-xs-down">{{ trans("Ceres::Template.generalHello", {"username": "${username}"}) }}</span></a>
            </a>
            <div class="account-menu dropdown-menu dropdown-menu-right small">
              <div class="list-group" aria-labelledby="accountMenuList" >
                <a href="/my-account" class="list-group-item small"><i class="fa fa-user"></i> {{ trans("Ceres::Template.accMyAccount") }}</a>
                <a href="#" class="list-group-item small" v-logout><i class="fa fa-sign-out"></i> {{ trans("Ceres::Template.accLogout") }}</a>
              </div>
            </div>
        </div>
        <div v-resource-if:user="!isLoggedIn">
            <a data-toggle="modal" href="#login" @click="unmarkInputFields()">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="hidden-xs-down">{{ trans("Ceres::Template.accLogin") }}</span>
            </a>
            <span class="pipe"></span>
            <a data-toggle="modal" href="#registration" @click="unmarkInputFields()">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <span class="hidden-xs-down">{{ trans("Ceres::Template.accRegister") }}</span>
            </a>
        </div>
    </div>
</script>
