<script type="x/template" id="vue-basket-preview">
    <div class="wrapper-inner basket-preview">
        <header class="basket-header p-a-1">
            <h3 class="d-inline-block m-a-0">{{ trans("PluginCallisto::Callisto.basketPreview") }}</h3>
            <button type="button" id="closeBasketPreview" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </header>

        <div class="p-a-1 list">
          <div class="cmp cmp-basket-preview-list" v-if="basketItems.length > 0">

            <basket-preview-item v-for="basketItem in basketItems" :basket-item="basketItem"></basket-preview-item>

          </div>
          <h5 v-else>{{ trans("PluginCallisto::Callisto.orderNoItemsInBasket") }}</h5>
        </div>
        <div class="p-a-1 bg-faded totals">

        {% include "PluginCallisto::Templates.BasketTotalSum.BasketPreviewTotalSum" %}

            <div class="row">
                <div class="col-xs-12 col-sm-6 m-b-1">
                    <a href="/basket" class="btn btn-outline-primary btn-block basketBtn" :class="{ 'disabled': basketItems.length <= 0 }" title="Warenkorb">
                        {{ trans("PluginCallisto::Callisto.basketToBasket") }} <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6">
                  {% if frontend.Account.getIsAccountLoggedIn %}
                      <a href="/checkout" class="btn btn-primary btn-block checkOutBtn" title="Kasse">
                          {{ trans("PluginCallisto::Callisto.basketToCheckout") }} <i class="fa fa-arrow-right" aria-hidden="true"></i>
                      </a>
                  {% else %}
                    <a href="/login" class="btn btn-primary btn-block checkOutBtn" title="Kasse">
                        {{ trans("PluginCallisto::Callisto.basketToCheckout") }} <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</script>
