<script type="x/template" id="vue-item-data-table">
    <table class="table table-striped table-hover table-sm">
        <tbody ref="tableContent">
            <template v-for="itemDataAccessor in itemInformation">
                <tr v-if="isCheckedAndNotEmpty('item.id', itemDataAccessor)">
                    <td>{{ trans("Ceres::Template.singleItemId") }}</td>
                    <td>${ currentVariation.item.id }</td>
                </tr>

                <tr v-if="isCheckedAndNotEmpty('item.condition.names.name', itemDataAccessor)">
                    <td>{{ trans("Ceres::Template.singleItemCondition") }}</td>
                    <td>${ currentVariation.item.condition.names.name }</td>
                </tr>

                <tr v-if="isCheckedAndNotEmpty('item.ageRestriction', itemDataAccessor)">
                    <td>{{ trans("Ceres::Template.singleItemAge") }}</td>
                    <td>${ currentVariation.item.ageRestriction | ageRestriction }</td>
                </tr>

                <tr v-if="isCheckedAndNotEmpty('variation.externalId', itemDataAccessor)">
                    <td>{{ trans("Ceres::Template.singleItemExternalVariationId") }}</td>
                    <td>${ currentVariation.variation.external_id }</td>
                </tr>

                <tr v-if="isCheckedAndNotEmpty('variation.model', itemDataAccessor)">
                    <td>{{ trans("Ceres::Template.singleItemModel") }}</td>
                    <td>${ currentVariation.variation.model }</td>
                </tr>

                <tr v-if="isCheckedAndNotEmpty('item.manufacturer.externalName', itemDataAccessor)">
                    <td>{{ trans("Ceres::Template.singleItemManufacturer") }}</td>
                    <td>${ currentVariation.item.manufacturer.externalName }</td>
                </tr>

                <tr v-if="isCheckedAndNotEmpty('item.producingCountry.names.name', itemDataAccessor)">
                    <td>{{ trans("Ceres::Template.singleItemManufacturingCountry") }}</td>
                    <td>${ currentVariation.item.producingCountry.names.name }</td>
                </tr>

                <tr v-if="isCheckedAndNotEmpty('unit.names.name', itemDataAccessor)">
                    <td>{{ trans("Ceres::Template.singleItemContent") }}</td>
                    <td>${ currentVariation.unit.content } ${ currentVariation.unit.names.name }</td>
                </tr>

                <tr v-if="isCheckedAndNotEmpty('variation.weightG', itemDataAccessor)">
                    <td>{{ trans("Ceres::Template.singleItemWeight") }}</td>
                    <td>${ currentVariation.variation.weightG } g</td>
                </tr>

                <tr v-if="isCheckedAndNotEmpty('variation.weightNetG', itemDataAccessor)">
                    <td>{{ trans("Ceres::Template.singleItemNetWeight") }}</td>
                    <td>${ currentVariation.variation.weightNetG } g</td>
                </tr>

                <tr v-if="isCheckedAndNotEmpty('item.variationDimensions', itemDataAccessor, ['variation.lengthMM', 'variation.widthMM', 'variation.heightMM'])">
                    <td>{{ trans("Ceres::Template.singleItemDimensions") }}</td>
                    <td>
                        <span>${ currentVariation.variation.lengthMM }</span>&times;<!--
                    --><span>${ currentVariation.variation.widthMM }</span>&times;<!--
                    --><span>${ currentVariation.variation.heightMM }</span> mm
                    </td>
                </tr>

                <tr v-if="isCheckedAndNotEmpty('item.customsTariffNumber', itemDataAccessor)">
                    <td>{{ trans("Ceres::Template.singleItemCustomsTariffNumber") }}</td>
                    <td>${ currentVariation.item.customsTariffNumber }</td>
                </tr>
            </template>
        </tbody>
    </table>
</script>