{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

<script type="x/template" id="vue-single-item">
    <div>
        <div class="single container-max page-content">
            <div class="row m-t-3">
                <div class="col-md-7 single-leftside">
                    <div class="row">
                        <div class="col-xs-12">
                            <item-image-carousel image-url-accessor="url" template="#vue-item-image-carousel"></item-image-carousel>
                        </div>
                    </div>
                </div>

                <!-- ITEM DETAIL -->
                <div class="col-md-5 single-rightside m-t-1" v-stick-in-parent>
                    <div class="producertag h6 producer text-muted" v-if="currentVariation.filter.hasManufacturer">
                        ${ currentVariation.item.manufacturer.externalName }
                    </div>

                    <h1 class="h2 title">
                        <span>
                            ${ currentVariation | itemName }
                        </span>
                    </h1>

                    {% if ('item.shortDescription' in itemData or 'all' in itemData)%}
                        <p class="single-description" v-if="currentVariation.texts.shortDescription !== ''" v-html="currentVariation.texts.shortDescription"></p>
                    {% endif %}

                    <hr>

                    <div class="m-b-3">
                        <span class="articlenumber small text-muted">
                            <b>{{ trans("Ceres::Template.itemNumber") }}</b>
                            <span>${ currentVariation.variation.number }</span>
                        </span>
                    </div>

                    <!-- Variation -->
                    <div class="row m-b-1" v-if="variations.length > 0">
                        <variation-select template="#vue-variation-select" :attributes="attributeNameMap" :variations="variations" :preselect="currentVariation.variation.id" @is-valid-change="isVariationSelected = $event"></variation-select>
                    </div>
                    <!-- /Variation -->

                    <slot name="BeforePrice"></slot>

                    <!-- <div class="row">
                        <order-properties template="#vue-order-properties" v-if="currentVariation.filter.isSalable"></order-properties>
                    </div> -->

                    <div class="row" v-if="currentVariation.filter.isSalable && variationGroupedProperties.length">
                        <order-property-list></order-property-list>
                    </div>

                    <graduated-prices template="#vue-graduated-prices"></graduated-prices>

                    {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
                        <div class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.price.value > 0">
                            <del class="text-muted small">
                                ${ currentVariation.prices.rrp.price.formatted }
                            </del>
                        </div>
                    {% endif %}

                    <span class="price h1">
                        <span ref="variationTotalPrice" :content="currentVariation.prices.default.price.value">
                            ${ variationTotalPrice | currency(currentVariation.prices.default.currency) }
                        </span>
                        <sup>*</sup>
                        <span :content="currentVariation.prices.default.currency"></span>
                    </span>

                    <div class="base-price text-muted m-y-1" v-if="currentVariation.unit && !(currentVariation.unit.unitOfMeasurement === 'C62' && currentVariation.unit.content === 1)">
                        <div>
                            {{ trans("Ceres::Template.itemContent") }}
                            <span>${ currentVariation.unit.content | numberFormat }</span>
                            <span>${ currentVariation.unit.names.name }</span>
                        </div>
                        <div v-if="currentVariation.variation.mayShowUnitPrice">
                            {{ trans("Ceres::Template.itemUnitPrice") }}
                            <span class="base-price-value">
                                ${ variationGraduatedPrice.basePrice }
                            </span>
                        </div>
                    </div>

                    <slot name="AfterPrice"></slot>

                    <span v-if="currentVariation.variation.availability" :class="'availability tag availability_' + currentVariation.variation.availability.id">
                        <span>
                            ${ currentVariation.variation.availability.names.name }
                        </span>
                    </span>

                    <div class="row m-y-1">
                        <slot name="BeforeAddToBasket"></slot>
                        <add-to-basket
                                template="#vue-add-to-basket"
                                v-if="currentVariation.filter.isSalable"
                                :item="$store.state.item.variation.documents[0].data"
                                :show-quantity="true"
                                :missing-order-properties="variationMissingProperties"
                                :is-variation-selected="isVariationSelected"></add-to-basket>
                        <slot name="AfterAddToBasket"></slot>
                    </div>

                    {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
                        <div class="row">
                            <add-to-wish-list template="#vue-add-to-wish-list" :variation-id="currentVariation.variation.id" :is-active="isInWishList"></add-to-wish-list>
                        </div>
                    {% endif %}
                <!-- ./ITEM DETAIL -->

                    <slot name="AdditionalContentAfterAddToBasket"></slot>

                    <hr>

                    <span class="vat small text-muted">
                        * {% if services.customer.showNetPrices() %}{{ trans("Ceres::Template.itemExclVAT") }}{% else %}{{ trans("Ceres::Template.itemInclVAT") }}{% endif %} {{ trans("Ceres::Template.itemExclusive") }}
                        <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.itemShippingCosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
                    </span>

                    <slot name="AdditionalContentAfterVAT"></slot>

                </div>

                <!-- ITEM DESCRIPTION -->
                <div class="col-md-7 m-y-3">
                    <ul class="nav nav-tabs" role="tablist">
                        {% if 'item.description' in itemData or 'all' in itemData %}
                            <li class="nav-item" v-if="isDescriptionTabActive">
                                <a class="nav-link active" data-toggle="tab" :href="'#details-' +  currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.itemDescription") }}</a>
                            </li>
                        {% endif %}

                        {% if 'item.technical_data' in itemData or 'all' in itemData %}
                            <li class="nav-item" v-if="isTechnicalDataTabActive">
                                <a :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" :href="'#data-' + currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.itemTechnicalData") }}</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a :class="{ 'active': !isDescriptionTabActive && !isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" href="#assessments-details" role="tab">{{ trans("Ceres::Template.itemMoreDetails") }}</a>
                        </li>

                        <slot name="AddDetailTabs"></slot>
                    </ul>

                    <div class="tab-content">
                        {% if 'item.description' in itemData or 'all' in itemData %}
                            <div class="tab-pane active" :id="'details-' + currentVariation.variation.id" role="tabpanel" v-if="isDescriptionTabActive">
                                <div class="m-y-2" v-html="currentVariation.texts.description">
                                </div>
                            </div>
                        {% endif %}

                        {% if 'item.technical_data' in itemData or 'all' in itemData %}
                            <div :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="tab-pane" :id="'data-' + currentVariation.variation.id" role="tabpanel" v-if="isTechnicalDataTabActive">
                                <div class="m-y-2" v-html="currentVariation.texts.technicalData">
                                </div>
                            </div>
                        {% endif %}

                        <div :class="{ 'active': !isDescriptionTabActive && !isTechnicalDataTabActive }" class="tab-pane" id="assessments-details" role="tabpanel">
                            <div class="m-y-2">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody>
                                    {% if 'item.id' in itemData or 'all' in itemData %}
                                        <tr>
                                            <td>{{ trans("Ceres::Template.itemId") }}</td>
                                            <td>${ currentVariation.item.id }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.condition' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.item.condition && currentVariation.item.condition.names.name !== ''">
                                            <td>{{ trans("Ceres::Template.itemCondition") }}</td>
                                            <td>${ currentVariation.item.condition.names.name }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.age_rating' in itemData or 'all' in itemData %}
                                        <tr>
                                            <td>{{ trans("Ceres::Template.itemAge") }}</td>
                                            <td>{{ trans("Ceres::Template.itemFSK", {"age": item.documents[0].data.item.ageRestriction }) }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if ('item.external_id' in itemData or 'all' in itemData) %}
                                        <tr v-if="currentVariation.variation.externalId !== ''">
                                            <td>{{ trans("Ceres::Template.itemExternalVariationId") }}</td>
                                            <td>${ currentVariation.variation.externalId }</td>
                                        </tr>
                                    {% endif %}

                                    {% if ('item.variation_model' in itemData or 'all' in itemData) %}
                                        <tr v-if="currentVariation.variation.model !== ''">
                                            <td>{{ trans("Ceres::Template.itemModel") }}</td>
                                            <td>${ currentVariation.variation.model }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.manufacturer' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.filter.hasManufacturer && currentVariation.item.manufacturer.externalName !== ''">
                                            <td>{{ trans("Ceres::Template.itemManufacturer") }}</td>
                                            <td>${ currentVariation.item.manufacturer.externalName }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.producerCountry' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.item.producingCountry && currentVariation.item.producingCountry.names.name !== ''">
                                            <td>{{ trans("Ceres::Template.itemManufacturingCountry") }}</td>
                                            <td>${ currentVariation.item.producingCountry.names.name }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.variationBase_content' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.unit">
                                            <td>{{ trans("Ceres::Template.itemContent") }}</td>
                                            <td>${ currentVariation.unit.content } ${ currentVariation.unit.names.name }</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.weightG' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.variation.weightG !== ''">
                                            <td>{{ trans("Ceres::Template.itemWeight") }}</td>
                                            <td>${ currentVariation.variation.weightG } g</td>
                                        </tr>
                                    {% endif %}

                                    {% if 'item.weightNetG' in itemData or 'all' in itemData %}
                                        <tr v-if="currentVariation.variation.weightNetG !== ''">
                                            <td>{{ trans("Ceres::Template.itemNetWeight") }}</td>
                                            <td>${ currentVariation.variation.weightNetG } g</td>
                                        </tr>
                                    {% endif %}

                                    {% if ('item.variation_dimensions' in itemData or 'all' in itemData) %}
                                        <tr>
                                            <td>{{ trans("Ceres::Template.itemDimensions") }}</td>
                                            <td>
                                                <span>${ currentVariation.variation.lengthMM }</span>&times;<!--
                                                --><span>${ currentVariation.variation.widthMM }</span>&times;<!--
                                                --><span>${ currentVariation.variation.heightMM }</span> mm
                                            </td>
                                        </tr>
                                    {% endif %}

                                    {% if ('item.customs_tariff_number' in itemData or 'all' in itemData) %}
                                        <tr v-if="currentVariation.item.customsTariffNumber !== ''">
                                            <td>{{ trans("Ceres::Template.itemCustomsTariffNumber") }}</td>
                                            <td>${ currentVariation.item.customsTariffNumber }</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <slot name="AddDetailTabsContent"></slot>
                    </div>
                </div>
            </div>
            <!-- ./ITEM DESCRIPTION -->

            <slot name="ItemListContainer"></slot>
            <slot name="FeedbackContainer"></slot>
        </div>
    </div>
</script>
