{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set appearance   = widget.settings.appearance.mobile | default("primary") %}
{% set buttonSize   = widget.settings.buttonSize.mobile | default("md") %}
{% set forceContent = widget.settings.forceContent.mobile | default(false) %}

{% set customClass     = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "",spacingSettings.customMargin.mobile) %}

{{ Twig.component("Ceres::Item.Components.VariationSelect") }}

<div class="widget widget-attribute widget-{{ appearance }}
    {% if customClass | length > 0 %} {{ customClass }}{% endif %}
    {% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}"
    {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <variation-select :force-content="{{ forceContent | json_encode }}">
        {% if isPreview %}
            <div class="input-unit">
                <select class="custom-select">
                    <option>{{ trans("Ceres::Template.singleItemPleaseSelect") }}</option>
                </select>
                <label>{{ trans("Ceres::Widget.attributeLabel") }}</label>
            </div>
        {% endif %}
    </variation-select>
</div>
