{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set spacingClasses = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}

<div class="widget widget-item-set
    {% if customClass | length > 0 %} {{ customClass }}{% endif %}
    {% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"
    {% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>

    {{ Twig.for("setComponent", "setComponents") }}
        {{ Twig.print(Twig.call("set_item_data_base", [Twig.var("setComponent")])) }}

        <item-set-component :item-id="{{ Twig.print("setComponent.item.id") }}" v-slot="slotProps">
            <div {% if isPreview %}data-builder-child-container="itemSet"{% endif %}>
                {{ children.itemSet | raw }}
            </div>
        </item-set-component>

        {{ Twig.print(Twig.call("pop_item_data_base")) }}
    {{ Twig.endfor() }}

</div>
