{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass     = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "",spacingSettings.customMargin.mobile) %}

{% set buttonSize = widget.settings.buttonSize.mobile | default("") %}
{% set tagAppearance = widget.settings.tagAppearance.mobile %}

{{ Twig.set("enabledRoutes", Twig.call("config", ["IO.routing.enabled_routes"]) ~ " | split(\", \")") }}

<div class="widget widget-tag {% if buttonSize | length > 0 %} {{ buttonSize }}{% endif %} {% if customClass | length > 0 %}
    {{ customClass }}{% endif %}" {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <tag-list
        tag-appearance="{{ tagAppearance }}"
        {% if inlineMargin | length > 0 %} margin-inline-styles="{{ inlineMargin }}" {% endif %}
        {% if spacingMargin | length > 0 %} margin-classes="{{ spacingMargin }}" {% endif %}
        :enabled-routes="{{ Twig.print("enabledRoutes | json_encode") }}">
    </tag-list>
</div>
