{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{{ Twig.component( "Ceres::Customer.Components.GuestLogin" ) }}

{% set customClass = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set spacingClasses = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set appearance = widget.settings.appearance.mobile | default("primary") %}
{% set buttonSize = widget.settings.buttonSize.mobile | default("") %}

{{ Twig.set("backlink", "request.get('backlink')") }}

{{ Twig.if("not services.authentication.isLoggedIn() or #{ isPreview | json_encode }") }}
    <div class="widget widget-guest-login widget-{{ appearance }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"
        {% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>
        <div class="widget-inner">
            <guest-login :button-size="{{ buttonSize | json_encode }}" backlink="{{ Twig.print("backlink | url_encode") }}"></guest-login>
        </div>
    </div>
{{ Twig.endif() }}
