<script type="x/template" id="vue-newsletter-input">
        <form :id="'newsletter-input-form_' + _uid" @submit.prevent="validateData">
            <div class="row">
                <div class="col-xs-6" v-if="showNameInputs">
                    <div class="input-unit">
                        <label :for="'first-name-input_' + _uid">{{ trans("Ceres::Template.newsletterFirstName") }}</label>
                        <input type="text" :id="'first-name-input_' + _uid" v-model="firstName">
                    </div>
                </div>
                <div class="col-xs-6 pl-0" v-if="showNameInputs">
                    <div class="input-unit">
                        <label :for="'last-name-input_' + _uid">{{ trans("Ceres::Template.newsletterLastName") }}</label>
                        <input type="text" :id="'last-name-input_' + _uid" v-model="lastName">
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-unit" data-validate="mail">
                            <label :for="'email-input-id_' + _uid">{{ trans("Ceres::Template.newsletterEmail") }} *</label>
                            <input type="email" autocomplete="email" :id="'email-input-id_' + _uid" v-model="email">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" v-if="showPrivacyPolicyCheckbox">
                    <div class="form-check small" data-validate>
                        <input type="checkbox" class="form-check-input" :id="'privacy-policy-accept-id_' + _uid" name="privacy-policy-accept" v-model="privacyPolicyValue">
                        <label :for="'privacy-policy-accept-id_' + _uid" class="form-check-label">
                            {% autoescape false %}
                                {% set policyContent %}
                                    <a href="{{ urls.privacyPolicy }}" target="_blank">
                                        <span class="text-primary text-appearance">{{ trans("Ceres::Template.checkoutPrivacyPolicy", {"hyphen": "&shy;"}) }}</span>
                                    </a>
                                {% endset %}
                                {{ trans('Ceres::Template.newsletterAcceptPrivacyPolicy', {"policy": policyContent} ) }}
                            {% endautoescape %}
                        </label>
                    </div>
                </div>

                <div class="col-xs-12 mt-3">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-block btn-primary btn-appearance" @click="validateData" :disabled="isDisabled">
                                <i v-waiting-animation="isDisabled" class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                {{ trans('Ceres::Template.newsletterSubscribeButtonLabel') }}
                            </button>
                        </div>
                </div>

            </div>
        </form>
</script>