<script type="x/template" id="vue-accept-gtc-check">
    <div class="form-check" v-bind:class="{ 'error': showError && !hideCheckbox }">
        <input v-if="!hideCheckbox" class="form-check-input" type="checkbox" value="" :id="'gtc-accept' + _uid" v-model="isChecked">

        <label v-if="!customText.length" class="form-check-label" :for="'gtc-accept' + _uid">
            {% autoescape false %}
                {% set gtcContent %}<!--
                --><a class="text-appearance" href="{{ urls.gtc }}" target="_blank">
                    <span>{{ trans("Ceres::Template.checkoutGtc") }}</span>
                </a><!--
            -->{% endset %}
                {% set cancellationContent %}<!--
                --><a class="text-appearance" href="{{ urls.cancellationRights }}" target="_blank">
                    <strong>{{ trans("Ceres::Template.checkoutCancellationRight", {"hyphen": "&shy;"}) }}</strong>
                </a><!--
            -->{% endset %}

                {% set policyContent %}<!--
                --><a class="text-appearance" href="{{ urls.privacyPolicy }}" target="_blank">
                    <span>{{ trans("Ceres::Template.checkoutPrivacyPolicy", {"hyphen": "&shy;"}) }}</span>
                </a><!--
            -->{% endset %}

                {{ trans("Ceres::Template.checkoutChooseOur", {"gtc": gtcContent, "cancellation": cancellationContent, "policy": policyContent}) }}<!--
                --><template v-if="isRequired && !hideCheckbox">
                    <sup>*</sup>
                </template>
            {% endautoescape %}
        </label>
        <label v-else class="form-check-label" :for="'gtc-accept' + _uid" v-html="customText"></label>
    </div>
</script>
