{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}
{% import "Ceres::Checkout.Macros.OrderTotals" as Totals %}

{% set initialMaxItemsPerOrder = 5 %}

<div>
    <div class="row container-middle border-left border-right">
        <div class="col-md-7 products border-bottom border-right">
            <div class="row">
                {% set rebatedAmountTotalGross = 0 %}
                {% set rebatedAmountTotalNet = 0 %}
                {% set rebatedAmountTotal = 0 %}

                {% for item in orderData.order.orderItems %}

                    {% if loop.index == initialMaxItemsPerOrder + 1 %}
                        <div v-if="showAllOrderItems">
                    {% endif %}

                    {% if item.itemVariationId > 0 and not services.order.containsComponentPrefix(item.orderItemName) %}
                        {% set currentVariationId = item.itemVariationId | trimNewlines %}

                        {% set itemAmount = item.amounts[0] %}
                        {% for amount in item.amounts if not amount.isSystemCurrency %}
                            {% set itemAmount = amount %}
                        {% endfor %}

                        {% set itemPrice = 0 %}
                        {% if orderData.highlightNetPrices %}
                            {% set itemPrice = itemAmount.priceOriginalNet %}
                            {% set discountAmount = itemAmount.priceOriginalNet - itemAmount.priceNet %}
                            {% set itemPriceTotal = item.quantity * itemAmount.priceNet %}
                        {% else %}
                            {% set itemPrice = itemAmount.priceOriginalGross %}
                            {% set discountAmount = itemAmount.priceOriginalGross - itemAmount.priceGross %}
                            {% set itemPriceTotal = item.quantity * itemAmount.priceGross %}
                        {% endif %}

                        <div class="col-sm-12 item">
                            <div class="py-3 d-flex{% if not loop.first %} border-top{% endif %}">
                                <a href="{{ orderData.itemURLs | getObjectValue(currentVariationId) }}">
                                    <img class="d-inline-block" src="{{ orderData.itemImages | getObjectValue(currentVariationId) }}" alt="{{ item.orderItemName }}" title="{{ item.orderItemName }}">
                                </a>

                                <div class="flex-fill item-description pl-3">
                                    <div><a class="text-primary text-appearance" href="{{ orderData.itemURLs | getObjectValue(currentVariationId)  }}" {{ set_testing_attr("data-testing", "order-history-link") }}>{{ ItemName.get(item.orderItemName, item.bundleType) }}</a></div>

                                    {% if item.setComponents %}
                                        <div class="set-data small">
                                            <div class="mb-2"><strong>{{ trans("Ceres::Template.itemSetContent") }}</strong></div>
                                            {% for setComponent in item.setComponents %}
                                                {% set imageData = orderData.variations[setComponent.itemVariationId].images | firstItemImage('urlPreview') %}
                                                {% set altText = imageData.alternate ? imageData.alternate : setComponent.orderItemName %}

                                                <div class="d-flex mb-2">
                                                    <span class="text-muted">{{ setComponent.quantity }}x</span>
                                                    <div class="image-container mx-1">
                                                        {% if imageData %}
                                                            <lazy-img
                                                                picture-class="d-block mw-100 mh-100"
                                                                :image-url="{{ imageData.url | json_encode }}"
                                                                :alt="{{ altText | json_encode }}"
                                                                :title="{{ setComponent.orderItemName | json_encode }}">
                                                            </lazy-img>
                                                        {% endif %}
                                                    </div>
                                                    <div>
                                                        <a href="{{ orderData.itemURLs | getObjectValue(setComponent.itemVariationId) }}" class="d-block item-name text-primary text-appearance font-weight-bold text-break mb-0">
                                                            {{ setComponent.orderItemName }}
                                                        </a>
                                                        {% for attribute in orderData.variations[setComponent.itemVariationId].attributes %}
                                                            {% if loop.index0 > 0 %}, {% endif %}
                                                            <strong>{{ attribute.attribute.names.name }}: </strong>
                                                            {{- attribute.value.names.name -}}
                                                        {% endfor %}

                                                        {% if setComponent.orderProperties %}
                                                            <div><strong>{{ trans("Ceres::Template.orderHistoryProperties") }}</strong></div>

                                                            <div id="collapseOrderProperties" class="collapse{% if isPreview %} show{% endif %}">
                                                                {% for property in setComponent.orderProperties %}
                                                                    <div>
                                                                        <strong class="item-word-break">{{ property | propertyName }}</strong>
                                                                        {% if property.type == 'file' %}
                                                                            <span class="item-word-break">
                                                                            {% if property.fileUrl is not empty %}
                                                                                <a class="text-appearance" href="{{ property.fileUrl }}" target="_blank">
                                                                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                                    {{ property.value }}
                                                                                </a>
                                                                            {% else %}
                                                                                {% set splitPath = property.value | split('/') %}
                                                                                {% set filename = '' %}
                                                                                {% set path = '' %}
                                                                                {% for temp in splitPath %}
                                                                                    {% if loop.first %}
                                                                                        {% set path = temp %}
                                                                                    {% elseif loop.last %}
                                                                                        {% set filename = temp %}
                                                                                    {% else %}
                                                                                        {% set path = path ~ '/' ~ temp %}
                                                                                    {% endif %}
                                                                                {% endfor %}

                                                                                <a class="text-appearance" href="{{ urls.orderPropertyFile(path) }}?filename={{ filename }}{% if services.customer.getContactId() == 0 %}&orderId={{ orderData.order.id }}{% endif %}"
                                                                                   target="_blank">
                                                                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                                    {{ splitPath | last }}
                                                                                </a>
                                                                            {% endif %}
                                                                            </span>
                                                                        {% elseif property.type == 'selection' %}
                                                                            <span class="item-word-break">
                                                                                {{ property | propertySelectionValueName }}
                                                                            </span>
                                                                        {% elseif property.type | length > 0 %}
                                                                            <span class="item-word-break">
                                                                                {{ property.value }}
                                                                            </span>
                                                                        {% endif %}
                                                                    </div>
                                                                {% endfor %}
                                                            </div>

                                                            <label
                                                                class="btn-collapse mb-0 collapsed"
                                                                data-toggle="collapse"
                                                                data-target="#collapseOrderProperties"
                                                                aria-expanded="false"
                                                                aria-controls="collapseOrderProperties"
                                                                data-show-more="{{ trans("Ceres::Template.basketShowMore") }}"
                                                                data-show-less="{{ trans("Ceres::Template.basketShowLess") }}">
                                                                <i class="fa fa-caret-down fa-lg"></i>
                                                            </label>
                                                        {% endif %}

                                                        {% for propertyGroup in setComponent.variationProperties %}
                                                            <div>
                                                                {% for property in propertyGroup.properties %}
                                                                    <div>
                                                                        <strong>{{ propertyGroup.name }}</strong>
                                                                        <span>{{ property.names.name }}</span>
                                                                        <span>
                                                                            {% if property.cast == "file" %}
                                                                                <a :href="'{{ property.values.value }}' | propertyFileUrl" v-html="'{{ property.values.value }}'" target="_blank"></a>
                                                                            {% else %}
                                                                                {{ property.values.value | raw }}
                                                                            {% endif %}
                                                                        </span>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    {% if splitItemBundle != "1" and item.bundleType == "bundle" %}
                                        <div class="item-bundle">
                                            {% for bundleComponent in item.bundleComponents %}
                                                <div>
                                                    <span class="text-muted">{{ bundleComponent.quantity }} x</span>
                                                    <a href="{{ bundleComponent.data | itemURL }}" class="text-primary text-appearance"> {{ bundleComponent.data | itemName }} </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    <div class="d-flex" {{ set_testing_attr("data-testing", "order-history-price") }}>
                                        <span class="flex-fill font-weight-bold">{{ trans("Ceres::Template.orderHistoryPricePerPiece") }}</span>
                                        <span class="flex-fill text-right">{{ itemPrice | formatMonetary( itemAmount.currency ) }}</span>
                                    </div>
                                    {% if discountAmount > 0 %}
                                        <div class="d-flex" {{ set_testing_attr("data-testing", "order-history-discount") }}>
                                            <span class="flex-fill font-weight-bold">{{ trans("Ceres::Template.orderHistoryItemDiscount") }}</span>
                                            <span class="flex-fill text-right">{{ discountAmount | formatMonetary( itemAmount.currency ) }}</span>
                                        </div>
                                    {% endif %}
                                    <div class="d-flex" {{ set_testing_attr("data-testing", "order-history-quantity") }}>
                                        <span class="flex-fill font-weight-bold">{{ trans("Ceres::Template.orderHistoryQuantity") }}</span>
                                        <span class="flex-fill text-right">{{ item.quantity }}</span>
                                    </div>
                                    {% for attribute in item.attributes %}
                                        <div class="d-flex" {{ set_testing_attr("data-testing", "order-history-attribute") }}>
                                            <span class="flex-fill font-weight-bold">{{ attribute.name }}:</span>
                                            <span class="flex-fill text-right">{{ attribute.value }}</span>
                                        </div>
                                    {% endfor %}
                                    {% if item.orderProperties %}
                                        <div>
                                            <div class="mb-1">
                                                <strong> {{ trans("Ceres::Template.orderConfirmationProperties") }}</strong>
                                            </div>
                                            {% for property in item.orderProperties %}
                                                <div class="pl-4" {{ set_testing_attr("data-testing", "order-history-property") }}>
                                                    <strong>{{ property | propertyName }}</strong>
                                                    {% if property.type == 'file' %}
                                                        <span>
                                                        {% if property.fileUrl is not empty %}
                                                            <a href="{{ property.fileUrl }}" target="_blank" class="text-primary text-appearance">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                {{ property.value }}
                                                            </a>
                                                        {% else %}
                                                            {% set splitPath = property.value |split('/') %}
                                                            {% set filename = '' %}
                                                            {% set path = '' %}

                                                            {% for temp in splitPath %}
                                                                {% if loop.first %}
                                                                    {% set path =  temp %}
                                                                {% elseif loop.last %}
                                                                    {% set filename = temp %}
                                                                {% else %}
                                                                    {% set path =  path ~ '/' ~ temp %}
                                                                {% endif %}
                                                            {% endfor %}

                                                            <a href="{{ urls.orderPropertyFile(path) }}?filename={{ filename }}" target="_blank" class="text-primary text-appearance">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                {{ splitPath | last }}
                                                            </a>
                                                        {% endif %}
                                                        </span>
                                                    {% elseif property.type == "selection" %}
                                                        <br>
                                                        <span> {{ property | propertySelectionValueName }}</span>
                                                    {% elseif property.type | length > 0 %}
                                                        <br>
                                                        <span> {{ property.value }}</span>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="d-flex font-weight-bold" {{ set_testing_attr("data-testing", "order-history-total") }}>
                                        <span class="flex-fill">{{ trans("Ceres::Template.orderHistoryTotal") }}</span>
                                        <span class="flex-fill text-right">{{ itemPriceTotal | formatMonetary( itemAmount.currency ) }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            {% if orderData.order.orderItems | length > initialMaxItemsPerOrder %}
                </div>
            {% endif %}

            </div>

            {% if orderData.order.orderItems | length > initialMaxItemsPerOrder %}
                <div class="row mb-2">
                    <div class="col-sm-12 text-center ">
                        <a class="btn text-primary text-appearance collapsed" @click="showAllOrderItems = !showAllOrderItems">
                            <template v-if="showAllOrderItems">
                                {{ trans("Ceres::Template.orderHistoryReturnShowLess") }}
                            </template>
                            <template v-else>
                                {{ trans("Ceres::Template.orderHistoryReturnShowMore") }}
                            </template>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-5 sum">
            <div class="cmp cmp-totals pt-3 d-flex" v-stick-in-parent>
                {{ Totals.forOrder(orderData) }}
            </div>
        </div>
    </div>

    <div class="row container-bottom border py-4">
        <div class="col-md-7">
            <div class="row">
                <div class="col-sm-4">
                    {% for property in orderData.order.properties if property.typeId == 8 and property.value | trim is not empty %}
                        <h5 class="mb-0"><b>{{ trans("Ceres::Template.myAccountCustomerSign") }}</b></h5>
                        <div class="mb-3" id="customer_sign_{{ orderData.order.id }}">{{ property.value }}</div>
                    {% endfor %}

                    <h5 class="mb-0"><b>{{ trans("Ceres::Template.orderHistoryPaymentMethod") }}</b></h5>
                    <div class="mb-3" id="payment_name_{{ orderData.order.id }}">{{ orderData.paymentMethodName }}</div>

                    <h5 class="mb-0"><b>{{ trans("Ceres::Template.orderHistoryPaymentStatus") }}</b></h5>
                    <div class="mb-3" id="payment_state_{{ orderData.order.id }}">{{ trans("Ceres::Template.orderHistoryPaymentStatus_" ~ orderData.paymentStatus) }}</div>

                    <h5 class="mb-0"><b>{{ trans("Ceres::Template.orderHistoryShippingProfile") }}</b></h5>
                    <div class="mb-3">{{ orderData.shippingProvider }} - {{ orderData.shippingProfileName }}</div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6 address-list">
                            <h5 class="mb-3"><b>{{ trans("Ceres::Template.orderHistoryInvoiceAddress") }}</b></h5>
                            <address-header class="mb-3" :address="{{ orderData.order.billingAddress | json_encode }}"></address-header>
                        </div>
                        <div class="col-sm-6 address-list">
                            <h5 class="mb-3"><b>{{ trans("Ceres::Template.orderHistoryShippingAddress") }}</b></h5>
                            {% if orderData.order.billingAddress.id == orderData.order.deliveryAddress.id %}
                                <span>
                                    {{ trans("Ceres::Template.orderHistorySameAsInvoice") }}
                                </span>
                            {% else %}
                                <address-header :address="{{ orderData.order.deliveryAddress | json_encode }}"></address-header>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 button-container">
            <template v-if="allowPaymentProviderChange">
                <change-payment-method
                    :current-order="{{ orderData.order | json_encode }}"
                    :change-possible="{{ orderData.allowPaymentMethodSwitchFrom | json_encode }}"
                    :allowed-payment-methods="{{ orderData.paymentMethodListForSwitch | json_encode }}"
                    :payment-status="{{ orderData.paymentStatus | json_encode }}"
                    current-template="tpl.my-account"
                    :current-payment-method-name="{{ orderData.paymentMethodName | json_encode }}">
                </change-payment-method>
            </template>

            {{ LayoutContainer.show("Ceres::MyAccount.OrderHistoryPaymentInformation", orderData.order) }}

            {% if orderData.isReturnable %}
                <a v-if="allowReturn" v-waiting-animation-infinite class="btn btn-block btn-appearance mb-2" href="{{ urls.returns(orderData.order.id) }}" {{ set_testing_attr("data-testing", "order-history-return") }}>
                    <i class="fa fa-repeat fa-flip-horizontal" aria-hidden="true"></i>
                    {{ trans("Ceres::Template.orderHistoryReturnSendBack") }}
                </a>
            {% endif %}

            <order-documents :documents="{{ orderData.order.documents | json_encode }}"></order-documents>
        </div>
    </div>
</div>
