<div class="row middlepart border">
    <div class="col-md-7 products border">
        <div class="row">
            <div class="col-sm-12 item py-3">
                <img class="d-inline-block" src="https://cdn02.plentymarkets.com/jpx0tvae1136/item/images/107/full/107-Barhocker-Fury-gepolstert.jpg">
                <div class="d-inline-block item-description">
                    <div><a class="text-primary" href="https://cdn02.plentymarkets.com/jpx0tvae1136/item/images/107/full/107-Barhocker-Fury-gepolstert.jpg">Barhocker White SanFrancisco</a></div>
                    <div>Einzelpreis: 149,00 EUR</div>
                    <div>Stückzahl: 1</div>
                    <div>Gesamt: 149,00 EUR</div>
                </div>
            </div>
            <div class="col-sm-12 item py-3">
                <img class="d-inline-block" src="https://cdn02.plentymarkets.com/jpx0tvae1136/item/images/107/full/107-Barhocker-Fury-gepolstert.jpg">
                <div class="d-inline-block item-description">
                    <div><a class="text-primary" href="https://cdn02.plentymarkets.com/jpx0tvae1136/item/images/107/full/107-Barhocker-Fury-gepolstert.jpg">Barhocker White SanFrancisco</a>
                    <br>Einzelpreis: 149,00 EUR
                    <br>Stückzahl: 1
                    <br>Gesamt: 149,00 EUR</div>
                </div>
            </div>
            <div class="col-sm-12 item py-3">
                <img class="d-inline-block" src="https://cdn02.plentymarkets.com/jpx0tvae1136/item/images/107/full/107-Barhocker-Fury-gepolstert.jpg">
                <div class="d-inline-block item-description">
                    <div><a class="text-primary" href="https://cdn02.plentymarkets.com/jpx0tvae1136/item/images/107/full/107-Barhocker-Fury-gepolstert.jpg">Barhocker White SanFrancisco</a></div>
                    <div>Einzelpreis: 149,00 EUR</div>
                    <div>Stückzahl: 1</div>
                    <div>Gesamt: 149,00 EUR</div>
                </div>
            </div>
        </div>
        <div class="row mb-2"><div class="col-sm-12 text-center "><a class="text-primary" href="#">Alles anzeigen</a></div></div>
    </div>
    <div class="col-md-5 sum">
        <div class="cmp cmp-totals row pt-3">
            <div class="col-sm-12">
                <h3>Summe</h3><!-- {{ trans("Ceres::Template.checkoutSum") }} -->
                <dl>
                    <dt> <!-- {% if orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        Warenwert (Netto)<!-- {{ trans("Ceres::Template.checkoutValue") }} ({{ trans("Ceres::Template.checkoutNet") }}) -->
                    </dt><!--
                    --><dd> <!-- {% if orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        1.229,66 EUR<!-- {{ (totals.itemSumNet + rebatedAmountTotalNet) | formatMonetary( basketTotalsCurrency ) }} -->
                    </dd><!--
                    --><dt> <!-- {% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        Warenwert (Brutto)<!-- {{ trans("Ceres::Template.checkoutValue") }} ({{ trans("Ceres::Template.checkoutGross") }}) -->
                    </dt><!--
                    --><dd> <!-- {% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        1.463,30 EUR        
                        <!-- {% if orderData.order.amounts[0].isNet %}
                            {{ (totals.itemSumGross + rebatedAmountTotalNet) | formatMonetary( basketTotalsCurrency ) }}
                        {% else %}
                            {{ (totals.itemSumGross + rebatedAmountTotalGross) | formatMonetary( basketTotalsCurrency ) }}
                        {% endif %} -->
                    </dd><!--
                    {% if rebatedAmountTotal > 0 %}
                    --><dt class="rebate-hint">
                        Rabatt auf Warenwert<!-- {{ trans("Ceres::Template.orderConfirmationRebate") }} -->
                    </dt><!--
                    --><dd class="rebate-hint">
                        123456€<!-- {{ rebatedAmountTotal| formatMonetary( basketTotalsCurrency ) }} -->
                    </dd><!--
                    --><dt> <!-- {% if orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        Zwischensumme Netto<!-- {{ trans("Ceres::Template.orderConfirmationSubTotal") }} ({{ trans("Ceres::Template.checkoutNet") }}) -->
                    </dt><!--
                    --><dd> <!-- {% if orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        123456€<!-- {{ totals.itemSumNet | formatMonetary( basketTotalsCurrency ) }} -->
                    </dd><!--
                    --><dt> <!-- {% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        Zwischensumme Brutto<!-- {{ trans("Ceres::Template.orderConfirmationSubTotal") }} ({{ trans("Ceres::Template.checkoutGross") }}) -->
                    </dt><!--
                    --><dd> <!-- {% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        123456€<!-- {{ totals.itemSumGross | formatMonetary( basketTotalsCurrency ) }} -->
                    </dd><!--
                    {% endif %}
                    --><dt> <!-- {% if orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        Versandkosten Netto<!-- {{ trans("Ceres::Template.orderConfirmationShippingCosts") }} ({{ trans("Ceres::Template.checkoutNet") }}) -->
                    </dt><!--
                    --><dd> <!-- {% if orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        123456€<!-- {{ totals.shippingNet | formatMonetary( basketTotalsCurrency ) }} -->
                    </dd><!--
                    --><dt> <!-- {% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        Versandkosten Brutto<!-- {{ trans("Ceres::Template.orderConfirmationShippingCosts") }} ({{ trans("Ceres::Template.checkoutGross") }}) -->
                    </dt><!--
                    --><dd> <!-- {% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        123456€<!-- {{ totals.shippingGross | formatMonetary( basketTotalsCurrency ) }} -->
                    </dd>

                    <hr>

                    <!-- {% set grossNet = LayoutContainer.show("Ceres::OrderConfirmation.GrossNetReplace", orderData.order) %}
                    {% if grossNet|trim is not empty %}
                        {{ grossNet }}
                    {% else %} -->
                    <dt> <!-- {% if orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        Gesamtsumme Netto<!-- {{ trans("Ceres::Template.checkoutTotalSum") }} ({{ trans("Ceres::Template.checkoutNet") }}) -->
                    </dt><!--
                    --><dd> <!-- {% if orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        123456€<!-- {{ totals.totalNet | formatMonetary( basketTotalsCurrency ) }} -->
                    </dd><!--
                        {% if totals.couponType == 'promotional' and (totals.couponValue | trimNewlines) != 0 %}
                    --><dt> <!-- {% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        Gutschein<!-- {{ trans("Ceres::Template.checkoutCoupon") }} -->
                    </dt><!--
                    --><dd> <!-- {% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                        123456€<!-- {{ totals.couponValue | formatMonetary( basketTotalsCurrency ) }} -->
                    </dd>
                    <!-- {% endif %} -->

                    <!-- {% if not orderData.order.amounts[0].isNet %} -->
                    <div class="vatTotals">
                        <!-- {% for vat in totals.vats %} -->
                            <dt>
                                MwSt. 19%<!-- {{ trans("Ceres::Template.orderConfirmationVAT") }} {{ vat.rate }}% -->
                            </dt><!--
                            --><dd>
                                123456€<!-- {{ vat.value | formatMonetary( basketTotalsCurrency ) }} -->
                            </dd>
                        <!-- {% endfor %} -->
                    </div>
                    <!-- {% endif %} -->

                    <div class="totalSum">
                        <hr>
                        <dt> <!-- {% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                            Gesamtsumme Brutto<!-- {{ trans("Ceres::Template.checkoutTotalSum") }} ({{ trans("Ceres::Template.checkoutGross") }}) -->
                        </dt><!--
                        --><dd> <!-- {% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %} -->
                            123456€<!-- {{ totals.totalGross | formatMonetary( basketTotalsCurrency ) }} -->
                        </dd>
                    </div>
                    <!-- {% endif %} --> <!-- GrossNetReplace|else -->
                    <!-- {% if totals.couponType == 'sales' and (totals.couponValue | trimNewlines) != 0 %} -->
                        <dt>
                            Gutschein<!-- {{ trans("Ceres::Template.checkoutCoupon") }} -->
                        </dt><!--
                        --><dd>
                            123456€<!-- {{ totals.couponValue | formatMonetary( basketTotalsCurrency ) }} -->
                        </dd><!--
                        --><dt>
                            <strong>Zu zahlender Betrag<!-- {{ trans("Ceres::Template.checkoutOpenAmount") }} --></strong>
                        </dt><!--
                        --><dd>
                            <strong>123456€<!-- {{ totals.openAmount | formatMonetary( basketTotalsCurrency ) }} --></strong>
                        </dd>
                    <!-- {% endif %} -->
                    <!-- {{ LayoutContainer.show("Ceres::OrderConfirmation.AfterTotals", orderData.order) }} -->
                </dl>
                <!-- <a href="#" class="btn btn-success btn-block">Sendungsverfolgung<i class="fa fa-truck" aria-hidden="true"></i></a>
                <a href="#" class="btn btn-success btn-block">Erneut bestellen<i class="fa fa-shopping-cart" aria-hidden="true"></i></a> -->
            </div>
        </div>
    </div>
</div>

<div class="row bottompart border py-4">
    <div class="col-md-7">
        <div class="row">
            <div class="col-sm-4">                            
                <p><strong>Zahlungart</strong><br>Rechnung</p>
                <p><strong>Zahlungsstatus</strong><br>Bezahlt</p>
                <p><strong>Versandart</strong><br>DHL - Versichertes Paket</p>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="mb-3"><strong>Rechnungsadresse</strong></h5>
                        <p>Tim Müller-Späth<br>Schillerstraße 19<br>34117 Kassel<br>Deutschland</p>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-3"><strong>Lieferadresse</strong></h5>
                        <p>Tim Müller-Späth<br>Schillerstraße 19<br>34117 Kassel<br>Deutschland</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <a href="#" class="btn btn-primary btn-block">Zahlungsänderung<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a href="#" class="btn btn-primary btn-block">Lieferschein öffnen<i class="fa fa-file-text" aria-hidden="true"></i></a>
        <a href="#" class="btn btn-primary btn-block">Rechnung öffnen<i class="fa fa-file-text" aria-hidden="true"></i></a>
        <a href="#" class="btn btn-primary btn-block">Retour<i class="fa fa-repeat" aria-hidden="true"></i></a>
        <order-documents type="order" :documents="{{ orderData.order.documents | json_encode }}"></order-documents>
    </div>
</div>