{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}

{{ Twig.component("Ceres::MyAccount.Components.AccountSettings") }}

{{ Twig.set("userObject", Twig.call("services.customer.getContact")) }}
{% set appearance = widget.settings.appearance.mobile %}
{% set hintText = widget.settings.text.mobile %}

<div class="widget widget-account-settings">
    <h4>
        {{ Twig.trans("Ceres::Template.myAccountSettings") }}
    </h4>
    {% if hintText is not empty %}
        {{ hintText | raw }}
    {% else %}
        <p class="text-muted small font-italic">{{ Twig.trans("Ceres::Template.myAccountChangeLoginData") }}</p>
    {% endif %}
    <div class="card">
        <account-settings appearance="{{ appearance | default("primary") }}" :user-data="{{ Twig.print("userObject | json_encode") }}"></account-settings>
    </div>
</div>