{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}

{{ Twig.component("Ceres::MyAccount.Components.BankDataSelect") }}

{{ Twig.set("userBankData", Twig.call("services.contactBank.getBanksOfContact", ["$frontend.Account.AccountContactId"])) }}
{% set appearance = widget.settings.appearance.mobile %}
{% set hintText = widget.settings.text.mobile %}

<div class="widget widget-bank-details">
    <div {{ WidgetHelper.makeEditable("text", TOOLBAR_LAYOUT.ALL, isPreview) }}>
        {% if hintText is empty %}
            <h3>{{ WidgetHelper.editableTwig(isPreview, Twig.trans("Ceres::Template.myAccountSettings")) }}</h3>
            <p><em>{{ Twig.trans("Ceres::Template.myAccountChangeLoginData") }}</em></p>
        {% else %}
            {{ hintText | raw }}
        {% endif %}
    </div>

    <bank-data-select appearance="{{ appearance | default("primary") }}" :user-bank-data="{{ Twig.print("userBankData | json_encode") }}" contact-id="{{ Twig.print("frontend.Account.AccountContactId | json_encode") }}"></bank-data-select>
</div>