{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingClasses = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{{ Twig.if("frontend.Account.getIsAccountLoggedIn or #{ isPreview | json_encode }") }}

    {{ Twig.set("userObject", Twig.call("services.customer.getContact" )) }}

    {{ Twig.set( "previewText", {
        firstname_surname: trans('Ceres::Widget.greetingWidgetForenameSurname'),
        firstname: trans('Ceres::Widget.greetingWidgetForename'),
        title_surname: trans('Ceres::Widget.greetingWidgetTitleSurname'),
        email: trans('Ceres::Widget.greetingWidgetEmail')
    } | json_encode ) }}

    {% set setting = widget.settings.salutation.mobile %}
    {{ Twig.set( "pattern" , setting | json_encode ) }}

    <div class="widget widget-greeting{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"
        {% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>
        {% if setting == "firstname_surname" %}
            {{ Twig.if ("userObject.firstName | length > 0 and userObject.lastName | length > 0") }}
                {{ Twig.set("name", "userObject.firstName ~ ' ' ~ userObject.lastName" ) }}
            {{ Twig.endif() }}
            
        {% elseif setting == "firstname" %}
            {{ Twig.if ("userObject.firstName | length > 0") }}
                {{ Twig.set("name", "userObject.firstName" ) }}
            {{ Twig.endif() }}

        {% elseif setting == "title_surname" %}
            {{ Twig.if ("userObject.gender | length > 0 and userObject.lastName | length > 0") }}
                {{ Twig.if("userObject.gender == 'male'")  }}
                    {{ Twig.set("name", "trans('Ceres::Widget.greetingWidgetMale') ~ ' ' ~ userObject.lastName" ) }}
                {{ Twig.endif() }}
                {{ Twig.if("userObject.gender == 'female'")  }}
                    {{ Twig.set("name", "trans('Ceres::Widget.greetingWidgetFemale') ~ ' ' ~ userObject.lastName" ) }}
                {{ Twig.endif() }}
                {{ Twig.if("userObject.gender == 'diverse'")  }}
                    {{ Twig.set("name", "trans('Ceres::Widget.greetingWidgetDiverse') ~ ' ' ~ userObject.lastName" ) }}
                {{ Twig.endif() }}
            {{ Twig.endif() }}

        {% elseif setting == "email" %}
            {{ Twig.if ("userObject.email | length > 0") }}
                {{ Twig.set("name", "userObject.email" ) }}
            {{ Twig.endif() }}
            
        {% endif %}

        {% if isPreview %}
            <div>{{ Twig.set( "name", "previewText[pattern]" ) }}</div>
        {% endif %}

        <span class="text-muted">{{ Twig.trans("Ceres::Template.myAccountHello", {"username": Twig.var("name")}) }}</span>

    </div>
{{ Twig.endif() }}