{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{{ Twig.component( "Ceres::MyAccount.Components.OrderReturnHistoryList" ) }}

{% set hintText = widget.settings.hintText.mobile %}
{% set appearance = widget.settings.appearance.mobile %}
{% set returnsPerPage = widget.settings.returnsPerPage.mobile %}

<div class="widget widget-order-return-history widget-{{ appearance | default('primary') }}">
    <div {{ WidgetHelper.makeEditable("hintText", TOOLBAR_LAYOUT.ALL, isPreview) }}>
        {% if hintText is empty %}
            <h3>{{ WidgetHelper.editableTwig(isPreview, Twig.trans("Ceres::Template.returnHistory")) }}</h3>
        {% else %}
            {{ WidgetHelper.editableTwig(isPreview, hintText) }}
        {% endif %}
    </div>

    <order-return-history-list
        :returns-per-page="{{ returnsPerPage | default(5) | json_encode }}"
        {% if isPreview %}:initial-data="{{ previewData | json_encode }}"{% endif %}>
    </order-return-history-list>
</div>
