{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.component("Ceres::MyAccount.Components.OrderReturnHistory") }}

{% set appearance   = widget.settings.appearance.mobile | default("primary") %}
{% set hintText     = widget.settings.hintText.mobile %}
{% set itemsPerPage = widget.settings.itemsPerPage.mobile | default(5) %}

<div class="widget widget-order-return-history widget-{{ appearance }}">
    {% if hintText is not empty %}
        <p>{{ hintText | raw }}</p>
    {% endif %}

    <order-return-history :items-per-page="{{ itemsPerPage }}">
        {% if isPreview %}
            <div class="widget-placeholder">
                <div>
                    <p class="title">{{ Twig.trans("Ceres::Widget.orderReturnHistoryLabel") }}</p>
                    <p class="description">{{ Twig.trans("Ceres::Widget.orderReturnHistoryPlaceholderDescription") }}</p>
                </div>
            </div>
        {% endif %}
    </order-return-history>
</div>
