{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ Twig.component( "Ceres::MyAccount.Components.OrderHistoryList" ) }}

{% set hintText = widget.settings.hintText.mobile %}
{% set appearance = widget.settings.appearance.mobile | default('primary') %}
{% set allowPaymentProviderChange = widget.settings.allowPaymentProviderChange.mobile %}
{% set allowReturn = widget.settings.allowReturn.mobile %}
{% set ordersPerPage = widget.settings.ordersPerPage.mobile %}

<div class="widget widget-order-history widget-{{ appearance }}">
    <order-history-list
        appearance="{{ appearance }}"
        hint-text="{{ hintText | raw }}"
        :orders-per-page="{{ ordersPerPage }}"
        :allow-payment-provider-change="{{ allowPaymentProviderChange | json_encode }}"
        :allow-return="{{ allowReturn | json_encode }}">
    </order-history-list>
</div>
