{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ Twig.component( "Ceres::MyAccount.Components.OrderHistoryItem" ) }}

{{ Twig.set("loadingAnimationType", "config('Ceres.item.loading_animation_type')") }}

{% set hintText = widget.settings.hintText.mobile %}
{% set appearance = widget.settings.appearance.mobile %}
{% set allowPaymentProviderChange = widget.settings.allowPaymentProviderChange.mobile %}

{% set ordersPerPage = widget.settings.ordersPerPage.mobile %}
{{ Twig.set("page", "request.get('page') | default(1)" ) }}

{{ Twig.set("orderDetailModalId", "uid()") }}

{{ Twig.set("orderList", Twig.call("services.customer.getOrders", [Twig.var("page"), ordersPerPage]) ~ ".toArray()"  ) }}

<div class="widget widget-address widget-{{ widget.settings.appearance.mobile | default('primary') }}">
    
    <h3 class="mb-3">{{ Twig.trans("Ceres::Template.orderHistory") }}</h3>

    {% if hintText is not empty %}
        <p>{{ hintText | raw }}</p>
    {% endif %}

    {{ Twig.if("orderList.totalsCount > 0") }}
        <div class="form-group">
            <div class="row mb-3">
                <div class="col-12 col-md-12 col-lg-12">
                    <!-- ORDER PAGINATION -->
                    {{ Twig.if("orderList.lastPageNumber > 1") }}
                        <div class="clearfix history-pagination">
                            <div class="float-left counter">
                                {{ Twig.trans("Ceres::Template.orderHistoryShow", {"countStart": Twig.var("orderList.firstOnPage"), "countEnd": Twig.var("orderList.lastOnPage"), "orderMaxCount": Twig.var("orderList.totalsCount") }) }}
                            </div>
                            {{ Twig.do("include 'Ceres::Category.Item.Partials.Pagination' with { 'currentPage': page }") }}
                        </div>
                    {{ Twig.endif() }}
                    <!-- ./ORDER PAGINATION -->
                    <hr>
                    <!-- ORDER HISTORY TWIG -->
                    <div class="order-list">
                        {{ Twig.for("order", "orderList.entries") }}
                            <order-history-item
                                :order="{{ Twig.print("order | json_encode") }}"
                                :order-detail-modal-id="{{ Twig.print('orderDetailModalId | json_encode') }}">
                                <template slot="OrderHistoryPaymentInformation">
                                    {{ Twig.print( Twig.call("LayoutContainer.show", ["Ceres::MyAccount.OrderHistoryPaymentInformation", Twig.var("order.order")]) ) }}
                                </template>
                            </order-history-item>
                        {{ Twig.endfor() }}
                    </div>
                    <!-- ./ORDER HISTORY TWIG -->
                </div>

                <!-- ORDER DETAILS MODAL -->
                <div id="orderDetails{{ Twig.print('orderDetailModalId') }}" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">{{ trans("Ceres::Template.orderHistoryOrderDetails") }}</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body" style="min-height:350px">
                                {{ Twig.do("include 'Ceres::ItemList.Partials.LoadingAnimation'") }}
                                <div id="dynamic-twig-content{{ Twig.print('orderDetailModalId') }}">
                                    {# DYNAMIC ADD CONTENT #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./ORDER DETAILS MODAL -->
            </div>
        </div>
    {{ Twig.else() }}
        <p class="text-muted h4 wish-list-no-items-label">{{ trans("Ceres::Template.orderHistoryNoOrders") }}</p>
    {{ Twig.endif() }}
</div>