{% extends getPartial('page-design') %}

{% set itemSort             = request.get("sorting") %}
{% set orderBy              = itemSort[0] %}
{% set variationShowType    = config("Ceres.item.variation_show_type") %}
{% set categoryParams = {
'variationShowType' : config("Ceres.item.variation_show_type"),
'itemsPerPage'      : request.get("items") | default( config('Ceres.pagination.defaultItemsPerPage') ),
'orderBy'           : itemSort,
'facetParams'       : request.get("facets")
} %}

{% set page = request.get("page") | default(1) %}

{% set itemsPerPage = config("Ceres.pagination.defaultItemsPerPage") %}
{% if request.get("items") %}
    {% set itemsPerPage = request.get("items") %}
{% endif %}

{% set paginatedResult      = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId':category.id, 'page':page, 'items':itemsPerPage, 'facets': facetParams, 'sorting': itemSort}) %}

{% set itemList             = paginatedResult.documents %}
{% set paginationType       = config("Ceres.pagination.position") %}

{% block PageBody %}

    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterTagList") }}
    {{ component( "Ceres::ItemList.Components.ItemList") }}
    {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
    {{ component( "Ceres::ItemList.Components.ItemListSorting") }}
    {{ component( "Ceres::ItemList.Components.ItemsPerPage") }}
    {{ component( "Ceres::ItemList.Components.Pagination") }}

    <resource name="facetParams" :data="[]"></resource>
    <resource name="facets" :data="{{ paginatedResult.facets | json_encode }} || []"></resource>
    <resource name="itemList" :data="{ total: {{  paginatedResult.total | json_encode() }} }"></resource>

    <div class="categoriegrid page-content container-max">
        <div class="row m-t-1">
            <div class="col-xs-12">
                <h1 class="h4">{{ category.details.first.name }}</h1>
            </div>
        </div>

        <div class="list-controls m-b-3">
            <div class="list-controls-inner">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="list-wrapper">
                            <item-list-sorting template="#vue-item-list-sorting" :sort-data="{{ config("Ceres.sort.data") | split(', ') | json_encode() }}"></item-list-sorting>
                            <items-per-page template="#vue-items-per-page" :pagination-values="{{ config("Ceres.pagination.values") | split(', ') | json_encode() }}"></items-per-page>
                            <item-filter-list :facets="{{ paginatedResult.facets | json_encode }}"></item-filter-list>
                        </div>
                    </div>
                </div>
            </div>

            {# TAGS #}
            <item-filter-tag-list></item-filter-tag-list>
        </div>

        {#<div class="m-b-3">#}
            {#{% include "Ceres::Category.Item.Partials.Pagination" with { 'paginatedResult': paginatedResult } %}#}
        {#</div>#}
        <div class="row">
            <div class="col-xs-12">

                <ul id="twig-rendered-item-list" class="product-list row grid" v-is-loading-watcher>
                    {% for item in itemList %}
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                        </li>
                    {% endfor %}
                </ul>

                <div id="vue-rendered-item-list" style="display:none">
                    <item-list template="#vue-item-list" :category-id="{{ category.id }}"></item-list>
                </div>

            </div>
        </div>
        <div class="list-controls m-b-3 row">
            <div class="col-xs-12">
                <pagination template="#vue-pagination"></pagination>
                {#{% include "Ceres::Category.Item.Partials.Pagination" with { 'paginatedResult': paginatedResult } %}#}
            </div>
        </div>
    </div>

{% endblock %}
