{% extends "PluginCallisto::PageDesign.PageDesign" %}

{% set defaultItemPerPage = config("PluginCallisto.sort.defaultItemPerPage") %}
{% set variationShowType = config("PluginCallisto.global.category.variation_show_type") %}
{% set paginatedResult = services.category.getItems(category, defaultItemPerPage, variationShowType) %}
{% set sortedData = config("PluginCallisto.sort.data")|split(', ')|json_encode() %}
{% set itemList = paginatedResult.getResult() %}
{% set currentPage = paginatedResult.getPage() %}
{% set isLastPage = paginatedResult.isLastPage() %}{# not in use #}
{% set maxCount = paginatedResult.getTotalCount() %}
{% set paginationType = config("PluginCallisto.sort.paginationPosition") %}
{% set isInfiniteScrolling = paginationType == "infiniteScroll" %}
{% set pageIndicator = "1 - " ~ maxCount %}

{% set configItemName = config("PluginCallisto.item.name") %}
{% set itemData = config("PluginCallisto.item.data")|split(', ') %}

{% if defaultItemPerPage < maxCount and not isInfiniteScrolling %}
    {% set pageIndicator = ((currentPage * defaultItemPerPage) - defaultItemPerPage + 1) ~ " - " ~ ((currentPage * defaultItemPerPage) > maxCount ? maxCount : (currentPage * defaultItemPerPage)) %}
{% elseif isInfiniteScrolling and not (defaultItemPerPage > maxCount) %}
    {% set pageIndicator = "1 - " ~ (currentPage * defaultItemPerPage) %}
{% endif %}

{% block PageBody %}

    {{ component( "PluginCallisto::Category.Item.Components.ItemListSort" ) }}
    {{ component( "PluginCallisto::Category.Item.Components.Pagination" ) }}

    <div class="categoriegrid container">
        <div class="row m-t-3 m-b-2">
            <div class="col-xs-12">
                <h1>{{ category.details.first.name }}</h1>
                <hr class="hidden-sm-down">
            </div>
        </div>
        <div class="row m-b-3">
            <div class="col-lg-3">
                {% include "PluginCallisto::Category.Item.Partials.CategoryViewFilter" %}
            </div>

            <div class="col-lg-9">
                <div class="list-controls row">

                    <item-list-sort sorted-data-list="{{ sortedData }}"
                                    default-sorting="{{ config("PluginCallisto.sort.defaultSorting") }}"
                                    pagination-position="{{ paginationType }}"
                                    default-item-per-page="{{ defaultItemPerPage }}">
                    </item-list-sort>

                    <div class="col-xs-12 col-sm-6 page-infos m-b-1">
                        <div class="toggle-list-view pull-xs-left m-r-1">
                            <i class="fa fa-th" aria-hidden="true"></i>
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                        </div>
                        <div class="product-count pull-xs-right">
                            <span class="text-muted">{{ trans("PluginCallisto::Callisto.itemCategoryShow") }}:</span> <span>{{ pageIndicator }}</span> <span class="text-muted">{{ trans("PluginCallisto::Callisto.itemCategoryShowOf") }} {{ maxCount }} {{ trans("PluginCallisto::Callisto.itemItems") }}
                                </span>
                        </div>
                    </div>

                    {% if not isInfiniteScrolling
                        and paginationType == "top"
                        or paginationType == "top_bottom" %}
                        <div class="col-xs-12 col-sm-6 m-b-1">
                            <item-list-pagination pagination-position="{{ paginationType }}"
                                                  position="top" max-count="{{ maxCount }}">
                            </item-list-pagination>
                        </div>
                    {% endif %}
                </div>

                <hr class="m-b-1 hidden-sm-down">

                {# TODO: remove inifinite scroll #}
                {% if isInfiniteScrolling %}
                <infinite-scroll-item-list inline-template :infinite-config="{'limit': {{ defaultItemPerPage }}, 'offset': {{ defaultItemPerPage }}}">
                    {% endif %}
                    <ul class="product-list row grid"
                            {% if isInfiniteScrolling %}
                        v-infinite-scroll="loadMoreItems('{{ category.id }}')"
                        infinite-scroll-disabled="isBusy"
                        infinite-scroll-distance="100"
                            {% endif %}>
                        {% for item in itemList %}
                            <li>
                              {% include "PluginCallisto::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if isInfiniteScrolling %}</infinite-scroll-item-list>{% endif %}

                <hr class="m-y-2">

                {% if not isInfiniteScrolling
                    and paginationType == "bottom"
                    or paginationType == "top_bottom" %}
                    <div class="list-controls m-b-3 row">
                        <div class="col-xs-12">
                            <item-list-pagination
                                    pagination-position="{{ paginationType }}"
                                    position="top" max-count="{{ maxCount }}">
                            </item-list-pagination>
                        </div>

                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
