{{ component( "Ceres::Containers.Components.LastSeenItemList" ) }}
{{ component( "Ceres::ItemList.Components.CategoryItem") }}
{{ component( "Ceres::PageDesign.Components.Carousel" ) }}

{% set listType = config("Ceres.item.lists." ~ itemListNo ~ ".list_type") %}
{% set tagIds = config("Ceres.item.lists." ~ itemListNo ~ ".tag_ids") | split(",") %}
{% set tagSorting = config("Ceres.item.lists.tag_sorting") %}
{% set isHome = services.template.isHome() %}

{% if listType == "cross_selling" %}
    {% set itemList = item.CrossSellingItems.documents %}
{% elseif listType == "tag_list" %}
    {% set itemList = services.itemList.getItemList( listType, tagIds ).documents %}
{% endif %}

<div class="row">
    {% if listType == "last_seen" %}
        <div class="col-12">
            <last-seen-item-list>
                <div slot="heading">
                    {% if not isHome %}
                        <hr>
                    {% endif %}

                    {% include 'Ceres::Containers.Partials.ItemLists.ItemListHeader' with { itemListNo: itemListNo, listType: listType, isHome: isHome } %}
                </div>
            </last-seen-item-list>
        </div>
    {% elseif itemList is not empty %}
        <div class="col-12">
            {% if not isHome %}
                <hr>
            {% endif %}

            {% include 'Ceres::Containers.Partials.ItemLists.ItemListHeader' with { itemListNo: itemListNo, listType: listType, isHome: isHome } %}
        </div>
        <div class="col-12">
            
            <carousel>
                {% for item in itemList.documents %}
                    <template slot="items">
                        <category-item
                            :item-data="{{ item.data | json_encode }}"
                            :decimal-count="{{ ceresConfig.item.storeSpecial }}"
                            :disable-carousel-on-mobile="true">
                            <template slot="BeforePrices">{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                            <template slot="AfterPrices">{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                        </category-item>
                    </template>
                {% endfor %}
            </carousel>
        </div>
    {% endif %}
</div>
