<script type="x/template" id="vue-list-controls" xmlns:v-on="http://www.w3.org/1999/xhtml">
    {% set sortData = config("PluginCallisto.sort.data")|split(', ') %}
    {% set paginationValues = config("PluginCallisto.pagination.values")|split(', ') %}

    <form name="sorting-form" action="${ currentURL() }" method="GET">
        <div class="col-xs-6">
            <div class="input-unit">
                <select name="itemSorting" id="itemSorting" onchange="this.form.submit()" class="custom-select">
                    {% for element in sortData %}
                        <option value="{{ element }}" selected="${ sortBy == '{{ element }}' }">
                            {% set translationKey = "PluginCallisto::Callisto." ~ element %}
                            {{ trans(translationKey) }}
                        </option>
                    {% endfor %}
                </select>
                <label for="itemSorting">{{ trans("PluginCallisto::Callisto.itemCategorySort") }}</label>
            </div>
        </div>

        <input type="hidden" name="page" value="1">

        <div class="col-xs-6">
            <div class="input-unit">
                <label for="listItemsPerPage">{{ trans("PluginCallisto::Callisto.itemCategoryItemsPerPage") }}</label>
                <select class="custom-select" v-on:change="updateSelectedItemsPerPage" name="items_per_page" onchange="this.form.submit()" id="listItemsPerPage">
                    {% for element in paginationValues %}
                        <option value="{{ element }}" selected="${ itemsPerPage == '{{ element }}' }">
                            {{ element }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>

    <div class="col-xs-12 col-sm-6 page-infos m-b-1">
        <div class="toggle-list-view pull-xs-left m-r-1">
            <i class="fa fa-th" aria-hidden="true"></i>
            <i class="fa fa-th-list" aria-hidden="true"></i>
        </div>
        <div class="product-count pull-xs-right">
            <span class="text-muted">{{ trans("PluginCallisto::Callisto.itemCategoryShow") }}:</span> <span>${ itemRange }</span>
            <span class="text-muted">{{ trans("PluginCallisto::Callisto.itemCategoryShowOf") }} ${ totalCount } {{ trans("PluginCallisto::Callisto.itemItems") }}</span>
        </div>
    </div>
</script>
