{% set addressFields = config("Ceres.address.show") | split(', ') %}
{% set addressFieldsRequired = config("Ceres.address.require") | split(', ') %}

{% if "address.company" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.company" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="company" id="txtCompany${_uid}" v-model="addressData.name1">
            <label for="txtCompany${_uid}">{{ trans("Ceres::Template.addressCompany") }}{% if "address.company" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.vatNumber" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.vatNumber" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="vatNumber" id="txtVatNumber${_uid}" v-model="addressData.vatNumber">
            <label for="txtVatNumber${_uid}">{{ trans("Ceres::Template.addressVatNumber") }}{% if "address.vatNumber" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.salutation" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.salutation" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="salutation" id="txtSalutation${_uid}" v-model="addressData.salutation">
            <label for="txtSalutation${_uid}">{{ trans("Ceres::Template.addressSalutation") }}{% if "address.salutation" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.title" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.title" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="title" id="txtTitle${_uid}" v-model="addressData.title">
            <label for="txtTitle${_uid}">{{ trans("Ceres::Template.addressTitle") }}{% if "address.title" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.birthdate" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.bithdate" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="date" name="birthdate" id="txtBirthdate${_uid}" v-model="addressData.birthdate">
            <label for="txtBirthdate${_uid}">{{ trans("Ceres::Template.addressBirthdate") }}{% if "address.birthdate" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.firstName" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.firstName" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="firstName" id="txtFirstName${_uid}" v-model="addressData.name2">
            <label for="txtFirstName${_uid}">{{ trans("Ceres::Template.addressFirstName") }}{% if "address.firstName" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.lastName" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.lastName" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="lastName" id="txtLastName${_uid}" v-model="addressData.name3">
            <label for="txtLastName${_uid}">{{ trans("Ceres::Template.addressLastName") }}{% if "address.lastName" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.nameAffix" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.nameAffix" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="decorateName" id="txtAdditionalName${_uid}" v-model="addressData.name4">
            <label for="txtAdditionalName${_uid}">{{ trans("Ceres::Template.addressAdditionalName") }}{% if "address.nameAffix" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.street" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.street" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="street" id="txtStreet${_uid}" v-model="addressData.address1">
            <label for="txtStreet${_uid}">{{ trans("Ceres::Template.addressStreet") }}{% if "address.street" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.streetNumber" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.streetNumber" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="housenumber" id="txtNumber${_uid}" v-model="addressData.address2">
            <label for="txtNumber${_uid}">{{ trans("Ceres::Template.addressNumber") }}{% if "address.streetNumber" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.additionalAddress1" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.additionalAddress1" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="decorateAddress" id="decorateAddress0${_uid}" v-model="addressData.address3">
            <label for="decorateAddress0${_uid}">{{ trans("Ceres::Template.addressAdditionalAddress1") }}{% if "address.additionalAddress1" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.additionalAddress2" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.additionalAddress2" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="decorateAddress" id="decorateAddress1${_uid}" v-model="addressData.address4">
            <label for="decorateAddress1${_uid}">{{ trans("Ceres::Template.addressAdditionalAddress2") }}{% if "address.additionalAddress2" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.zip" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.zip" in addressFieldsRequired %}data-validate="number"{% endif %}>
            <input type="text" name="zip" id="txtZip${_uid}" v-model="addressData.postalCode">
            <label for="txtZip${_uid}">{{ trans("Ceres::Template.addressZip") }}{% if "address.zip" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}

{% if "address.town" in addressFields %}
    <div class="col-xs-12">
        <div class="input-unit" {% if "address.town" in addressFieldsRequired %}data-validate="text"{% endif %}>
            <input type="text" name="town" id="txtPlace${_uid}" v-model="addressData.town">
            <label for="txtPlace${_uid}">{{ trans("Ceres::Template.addressPlace") }}{% if "address.town" in addressFieldsRequired %}*{% endif %}</label>
        </div>
    </div>
{% endif %}