{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}
{{ Twig.component("Ceres::Customer.Components.AddressSelect.AddressSelect") }}

<div class="widget widget-address widget-{{ widget.settings.appearance.mobile | default('primary') }}">
    {% if widget.settings.addressType.mobile == "1" %}
        {{ Twig.set("overrideBillingAddress", Twig.call("LayoutContainer.show", ["Ceres::Checkout.BillingAddress"])) }}
        {{ Twig.if("overrideBillingAddress | trim is empty") }}
            <h3 class="mb-3">{{ Twig.trans("Ceres::Template.checkoutInvoiceAddress") }}</h3>

            {% if widget.settings.hintText.mobile is not empty %}
                <p>{{ widget.settings.hintText.mobile | raw }}</p>
            {% endif %}

            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.BeforeBillingAddress"])) }}
            <div class="invoice-addresses-select">
                {% set optionalInvoiceAddressFields = {
                    "de": widget.settings.addressFieldsInvoiceDE.mobile,
                    "gb": widget.settings.addressFieldsInvoiceGB.mobile
                } %}
                {% set requiredInvoiceAddressFields = {
                    "de": widget.settings.addressRequiredFieldsInvoiceDE.mobile,
                    "gb": widget.settings.addressRequiredFieldsInvoiceGB.mobile
                } %}
                <invoice-address-select
                    has-to-validate="true"
                    :optional-address-fields="{{ optionalInvoiceAddressFields | json_encode }}"
                    :required-address-fields="{{ requiredInvoiceAddressFields | json_encode }}">
                </invoice-address-select>
            </div>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.AfterBillingAddress"])) }}
        {{ Twig.else() }}
            {{ Twig.print("overrideBillingAddress") }}
        {{ Twig.endif() }}
    {% elseif widget.settings.addressType.mobile == "2" %}
        {{ Twig.set("overrideShippingAddress", Twig.call("LayoutContainer.show", ["Ceres::Checkout.ShippingAddress"])) }}
        {{ Twig.if("overrideShippingAddress | trim is empty") }}
            <h3 class="mb-3">{{ Twig.trans("Ceres::Template.checkoutShippingAddress") }}</h3>

            {% if hintText is not empty %}
                <p>{{ hintText | raw }}</p>
            {% endif %}

            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.BeforeShippingAddress"])) }}
            <div class="shipping-addresses-select">
                {% set optionalShippingAddressFields = {
                    "de": widget.settings.addressFieldsShippingDE.mobile,
                    "gb": widget.settings.addressFieldsShippingGB.mobile
                } %}
                {% set requiredShippingAddressFields = {
                    "de": widget.settings.addressRequiredFieldsShippingDE.mobile,
                    "gb": widget.settings.addressRequiredFieldsShippingGB.mobile
                } %}

                <shipping-address-select
                    :optional-address-fields="{{ optionalShippingAddressFields | json_encode }}"
                    :required-address-fields="{{ requiredShippingAddressFields | json_encode }}">
                </shipping-address-select>
            </div>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.AfterShippingAddress"])) }}
        {{ Twig.else() }}
            {{ Twig.print("overrideShippingAddress") }}
        {{ Twig.endif() }}
    {% endif %}
</div>
