<!-- ITEM DESCRIPTION -->
<div class="my-5">
    <ul class="nav nav-tabs" role="tablist">
        {% if 'item.description' in itemData or 'all' in itemData %}
            <li class="nav-item" v-if="isDescriptionTabActive">
                <a class="nav-link active" data-toggle="tab" :href="'#details-' +  currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.singleItemDescription") }}</a>
            </li>
        {% endif %}

        {% if 'item.technical_data' in itemData or 'all' in itemData %}
            <li class="nav-item" v-if="isTechnicalDataTabActive">
                <a :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" :href="'#data-' + currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.singleItemTechnicalData") }}</a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a :class="{ 'active': !isDescriptionTabActive && !isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" href="#assessments-details" role="tab">{{ trans("Ceres::Template.singleItemMoreDetails") }}</a>
        </li>

        <slot name="add-detail-tabs"></slot>
    </ul>

    <div class="tab-content overflow-hidden">
        {% if 'item.description' in itemData or 'all' in itemData %}
            <div class="tab-pane active overflow-auto" :id="'details-' + currentVariation.variation.id" role="tabpanel" v-if="isDescriptionTabActive">
                <div class="my-4" v-html="currentVariation.texts.description">
                </div>
            </div>
        {% endif %}

        {% if 'item.technical_data' in itemData or 'all' in itemData %}
            <div :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="tab-pane overflow-auto" :id="'data-' + currentVariation.variation.id" role="tabpanel" v-if="isTechnicalDataTabActive">
                <div class="my-4" v-html="currentVariation.texts.technicalData">
                </div>
            </div>
        {% endif %}

        <div :class="{ 'active': !isDescriptionTabActive && !isTechnicalDataTabActive }" class="tab-pane overflow-auto" id="assessments-details" role="tabpanel">
            <div class="my-4">
                <table class="table table-striped table-hover table-sm">
                    <tbody>
                    {% if 'item.id' in itemData or 'all' in itemData %}
                        <tr>
                            <td>{{ trans("Ceres::Template.singleItemId") }}</td>
                            <td>${ currentVariation.item.id }</td>
                        </tr>
                    {% endif %}

                    {% if 'item.condition' in itemData or 'all' in itemData %}
                        <tr v-if="currentVariation.item.condition && currentVariation.item.condition.names.name !== ''">
                            <td>{{ trans("Ceres::Template.singleItemCondition") }}</td>
                            <td>${ currentVariation.item.condition.names.name }</td>
                        </tr>
                    {% endif %}

                    {% if 'item.age_rating' in itemData or 'all' in itemData %}
                        <tr>
                            <td>{{ trans("Ceres::Template.singleItemAge") }}</td>
                            <td>{{ AgeRestriction.getText(item.documents[0].data.item.ageRestriction) }}</td>
                        </tr>
                    {% endif %}

                    {% if ('item.external_id' in itemData or 'all' in itemData) %}
                        <tr v-if="currentVariation.variation.externalId !== ''">
                            <td>{{ trans("Ceres::Template.singleItemExternalVariationId") }}</td>
                            <td>${ currentVariation.variation.externalId }</td>
                        </tr>
                    {% endif %}

                    {% if ('item.variation_model' in itemData or 'all' in itemData) %}
                        <tr v-if="currentVariation.variation.model !== ''">
                            <td>{{ trans("Ceres::Template.singleItemModel") }}</td>
                            <td>${ currentVariation.variation.model }</td>
                        </tr>
                    {% endif %}

                    {% if 'item.manufacturer' in itemData or 'all' in itemData %}
                        <tr v-if="currentVariation.filter.hasManufacturer && currentVariation.item.manufacturer.externalName !== ''">
                            <td>{{ trans("Ceres::Template.singleItemManufacturer") }}</td>
                            <td>${ currentVariation.item.manufacturer.externalName }</td>
                        </tr>
                    {% endif %}

                    {% if 'item.producerCountry' in itemData or 'all' in itemData %}
                        <tr v-if="currentVariation.item.producingCountry && currentVariation.item.producingCountry.names.name !== ''">
                            <td>{{ trans("Ceres::Template.singleItemManufacturingCountry") }}</td>
                            <td>${ currentVariation.item.producingCountry.names.name }</td>
                        </tr>
                    {% endif %}

                    {% if 'item.variationBase_content' in itemData or 'all' in itemData %}
                        <tr v-if="currentVariation.unit">
                            <td>{{ trans("Ceres::Template.singleItemContent") }}</td>
                            <td>${ currentVariation.unit.content } ${ currentVariation.unit.names.name }</td>
                        </tr>
                    {% endif %}

                    {% if 'item.weightG' in itemData or 'all' in itemData %}
                        <tr v-if="currentVariation.variation.weightG !== ''">
                            <td>{{ trans("Ceres::Template.singleItemWeight") }}</td>
                            <td>${ currentVariation.variation.weightG } g</td>
                        </tr>
                    {% endif %}

                    {% if 'item.weightNetG' in itemData or 'all' in itemData %}
                        <tr v-if="currentVariation.variation.weightNetG !== ''">
                            <td>{{ trans("Ceres::Template.singleItemNetWeight") }}</td>
                            <td>${ currentVariation.variation.weightNetG } g</td>
                        </tr>
                    {% endif %}

                    {% if ('item.variation_dimensions' in itemData or 'all' in itemData) %}
                        <tr>
                            <td>{{ trans("Ceres::Template.singleItemDimensions") }}</td>
                            <td>
                                <span>${ currentVariation.variation.lengthMM }</span>&times;<!--
                                                --><span>${ currentVariation.variation.widthMM }</span>&times;<!--
                                                --><span>${ currentVariation.variation.heightMM }</span> mm
                            </td>
                        </tr>
                    {% endif %}

                    {% if ('item.customs_tariff_number' in itemData or 'all' in itemData) %}
                        <tr v-if="currentVariation.item.customsTariffNumber !== ''">
                            <td>{{ trans("Ceres::Template.singleItemCustomsTariffNumber") }}</td>
                            <td>${ currentVariation.item.customsTariffNumber }</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <slot name="add-detail-tabs-content"></slot>
    </div>
</div>
<!-- ./ITEM DESCRIPTION -->