
{# set companyLogoAlign = config("PluginCallisto.header.company_logo_align") #}

<header class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-sm-down">
                <div  class="shariff socialbar"
                        data-services='["facebook","googleplus","pinterest","twitter"]'
                        data-url=""
                        data-media-url=""
                        data-theme="minimal">
                </div>
            </div>
            <div class="col-md-8">
                <ul class="list-inline pull-xs-right ">

                    <li class="list-inline-item">
                        <user-login-handler></user-login-handler>
                    </li>

                    <li class="list-inline-item dropdown">
                      <a href="#" class="dropdown-toggle" id="shippingCountryList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                          <span><i class="flag-icon flag-icon-de"></i></span>
                      </a>
                      <div class="country-settings dropdown-menu dropdown-menu-right small">
                          <div class="list-group" aria-labelledby="shippingCountryList" >
                              <div class="list-group-item small disabled">
                                  <strong>{{ trans("PluginCallisto::Callisto.generalLanguageSelect") }}</strong>
                              </div>
                              <a href="#" class="list-group-item small">
                                  <i class="flag-icon flag-icon-de"></i>
                                  {{ trans("PluginCallisto::Callisto.generalGerman") }}
                              </a>
                              <a href="#" class="list-group-item small">
                                  <i class="flag-icon flag-icon-gb"></i>
                                  {{ trans("PluginCallisto::Callisto.generalEnglish") }}
                              </a>
                              <div class="list-group-item small disabled">
                                  <strong>{{ trans("PluginCallisto::Callisto.generalCountrySelect") }}</strong>
                              </div>
                              <a href="#" class="list-group-item small">
                                  <i class="flag-icon flag-icon-de"></i>
                                  {{ trans("PluginCallisto::Callisto.generalGermany") }}
                              </a>
                              <a href="#" class="list-group-item small">
                                  <i class="flag-icon flag-icon-at"></i>
                                  {{ trans("PluginCallisto::Callisto.generalAustria") }}
                              </a>
                              <a href="#" class="list-group-item small">
                                  <i class="flag-icon flag-icon-ch"></i>
                                  {{ trans("PluginCallisto::Callisto.generalSwitzerland") }}
                              </a>
                              <a href="#" class="list-group-item small">
                                  <i class="flag-icon flag-icon-fr"></i>
                                  {{ trans("PluginCallisto::Callisto.generalFrance") }}
                              </a>
                              <a href="#" class="list-group-item small">
                                  <i class="flag-icon flag-icon-gb"></i>
                                  {{ trans("PluginCallisto::Callisto.generalEngland") }}
                              </a>
                              <a href="#" class="list-group-item small">
                                  <i class="flag-icon flag-icon-it"></i>
                                  {{ trans("PluginCallisto::Callisto.generalItaly") }}
                              </a>
                          </div>
                      </div>
                    </li>
                    <li class="list-inline-item dropdown searchBox">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-search"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <span class="input-group">
                                    <input type="text" class="form-control" placeholder="Suchen.." aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2">Suchen</span>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li class="list-inline-item">
                        <basket-button basket-data="{{ services.basket.getBasket() | json_encode() }}"></basket-button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container">
    {% include "PluginCallisto::PageDesign.Navigation" %}

    <!-- breadcrumb -->
    {% if not services.category.isHome() %}
        {% include "PluginCallisto::PageDesign.Breadcrumb" with {'categoryTree': services.category.getCategoryTreeAsList()} %}
    {% endif %}
</div>
