{% import "Ceres::PageDesign.Macros.IncludeComponents" as Loader %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{{ component( "Ceres::PageDesign.Components.Notifications" ) }}
{{ component( "Ceres::Basket.Components.BasketPreview" ) }}
{{ component( "Ceres::Customer.Components.Login" ) }}
{{ component( "Ceres::Customer.Components.Registration" ) }}
{{ component( "Ceres::Basket.Components.AddItemToBasketOverlay" ) }}

<!DOCTYPE html>

{% set lang = services.sessionStorage.getLang() %}
{% set fixNavBarPos = config("Ceres.header.fixed_navbar") %}

{% set basketAddInformation = config("Ceres.basket.add_item_to_basket_confirm") %}

{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if services.template.isCategory() or services.template.isItem() %}
    {% set categoryBreadcrumbs = services.category.getHierarchy() %}
    {{ services.crossSelling.setType(config("Ceres.item.lists.cross_selling_type")) }}
{% endif %}

{% set categories = services.category.getNavigationTree("item", lang, 6) %}

<html lang="{{ lang }}" data-framework="vue" prefix="og: http://ogp.me/ns#">

    <head>
        {% include getPartial('head') %}

        {% block PartialHead %}
        {% endblock %}
    </head>

    <body>
    <div id="vue-app">
        {{ component( "Ceres::MyAccount.Components.TestComp" ) }}
        <my-component template="#vue-test-comp"></my-component>
        <my-component template="#vue-test-comp"></my-component>
        <my-component template="#vue-test-comp"></my-component>
        <my-component template="#vue-test-comp"></my-component>

        {% block PageBody %}
            <!-- inject content of inherited templates here -->
        {% endblock %}
    </div>

            {{ Loader.include_components() }}

            {{ LayoutContainer.show("Ceres::Script.Loader") }}

            {% set lang = services.sessionStorage.getLang() %}

            {% if config("Ceres.log.performance.level") == 'development' %}
                <script src="{{ plugin_path('Ceres') }}/js/lang/{{ lang }}.js"></script>
                <script>var Translations = Languages['{{ lang }}'];</script>
                <script src="{{ plugin_path('Ceres') }}/js/dist/ceres-vendor.js"></script>
                <script src="{{ plugin_path('Ceres') }}/js/src/app.config.js"></script>
                <script src="{{ plugin_path('Ceres') }}/js/dist/ceres-app.js"></script>
            {% else %}
                {# TODO remove douplicate import #}
                <script src="{{ plugin_path('Ceres') }}/js/lang/{{ lang }}.js"></script>
                <script>var Translations = Languages['{{ lang }}'];</script>

                <script src="{{ plugin_path('Ceres') }}/js/dist/ceres.min.js"></script>
            {% endif %}

        {{ LayoutContainer.show("Ceres::Script.AfterScriptsLoaded") }}

        <script>
            Vue.options.delimiters = ['${', '}'];
            
            Vue.component('my-component', {
                
                props: [
                    "template"
                ],

                data() {
                    return {
                        testData: "testData11234123"
                    }
                },
                
                created()
                {
                    this.$options.template = this.template;
                }
            });

            vueApp = new Vue({
                el: "#vue-app",
                store: window.ceresStore
            });
        </script>
    </body>
</html>
