{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set spacingClasses = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}

{% set visibleFields = widget.settings.visibleFields.mobile | default([]) %}
{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}

{{ Twig.set("currentTemplate", Twig.call("services.template.getCurrentTemplate")) }}

{% if visibleFields | length > 0 %}
<div class="widget widget-basket-totals{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"
    {% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>

    {{ Twig.if("currentTemplate == 'tpl.checkout' or currentTemplate == 'tpl.checkout.category'") }}
        {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.BeforeBasketTotals"])) }}
    {{ Twig.else() }}
        {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Basket.BeforeBasketTotals"])) }}
    {{ Twig.endif() }}

    <basket-totals :visible-fields="{{ visibleFields | json_encode }}">
        <template #before-item-sum>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.BeforeItemSum"])) }}
        </template>
        <template #after-item-sum>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.AfterItemSum"])) }}
        </template>
        <template #before-shipping-costs>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.BeforeShippingCosts"])) }}
        </template>
        <template #after-shipping-costs>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.AfterShippingCosts"])) }}
        </template>
        <template #before-total-sum>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.BeforeTotalSum"])) }}
        </template>
        <template #before-vat>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.BeforeVat"])) }}
        </template>
        <template #after-vat>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.AfterVat"])) }}
        </template>
        <template #after-total-sum>
            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.AfterTotalSum"])) }}
        </template>
    </basket-totals>

    {{ Twig.if("currentTemplate == 'tpl.checkout' or currentTemplate == 'tpl.checkout.category'") }}
        {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Checkout.AfterBasketTotals"])) }}
        <mail-changed-info user-mail="{{ Twig.print("services.customer.getEmail()") }}"></mail-changed-info>
    {{ Twig.else() }}
        {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Basket.AfterBasketTotals"])) }}
    {{ Twig.endif() }}

</div>
{% endif %}
