{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set opacity = (widget.settings.opacity.mobile | default(1)) / 100 %}
{% set fullWidth = widget.settings.fullWidth.mobile | default(true) %}
{% set backgroundSize = widget.settings.backgroundSize.mobile | default("cover") %}
{% set backgroundPosition = widget.settings.backgroundPosition.mobile | default(false) %}
{% set backgroundRepeat = widget.settings.backgroundRepeat.mobile | default(false) %}
{% set heightClass  = WidgetHelper.getHeightClass(widget.settings) %}
{% set inlineHeight = WidgetHelper.getInlineHeight(widget.settings) %}

{% set customClass     = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "",spacingSettings.customMargin.mobile) %}

<div class="widget widget-background parallax-img-container{% if customClass | length > 0 %} {{ customClass }}{% endif %}
    {% if fullWidth %} widget-fw{% endif %}
    {% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}" style="height: 450px"
    {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <div class="parallax-img-container-inner
        {% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"
        style="background-image: url(http://master.plentymarkets.com/documents/category/16/2000x1000.jpg);{% if inlinePadding | length > 0 %}{{ inlinePadding }}{% endif %}">
        <div class="parallax-text-container container-max">
            <div>Opacity: {{ opacity }}</div>
            <div>HeightClass: {{ heightClass }}</div>
            <div>Inline: {{ inlineHeight }}</div>
            <div>fullWidth: {{ fullWidth }}</div>
            <div>backgroundSize: {{ backgroundSize }}</div>
            <div>backgroundPosition: {{ backgroundPosition }}</div>
            <div>backgroundRepeat: {{ backgroundRepeat }}</div>
        </div>
    </div>
</div>
