{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set text             = widget.settings.text.mobile %}
{% set appearance       = widget.settings.appearance.mobile %}
{% set spacingSettings  = widget.settings.spacing %}
{% set hasSpacing       = spacingSettings.customMargin.mobile or spacingSettings.customPadding.mobile %}
{% set inlineSpacings   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set spacingClasses   = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}

<div class="widget widget-code widget-{{ appearance | default('none') }}{% if hasSpacing %} m-0{% endif %}">
    <div class="widget-inner bg-appearance{% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"{% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}{{ WidgetHelper.makeCodeEditable('text', 'Ceres::Widget.textLabel', isPreview) }}>
        {{ text | raw }}
    </div>
</div>