{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set appearance    = widget.settings.appearance.mobile %}
{% set collapseBoxes = widget.settings.collapseBox.mobile %}
{% set collapseBoxId = uid() %}
{% set renderContent = false %}


{% for collapseBox in collapseBoxes if collapseBox.headline is not empty %}
    {% set renderContent = true %}
{% endfor %}

    <div class="widget accordion widget-{{ widget.settings.appearance.mobile | default('primary') }} widget-proportional" id="collapseBox">

    {% for collapseBox in collapseBoxes %}
      <div class="card">
        <div class="card-header" id="heading_{{ collapseBoxId }}">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{ collapseBoxId }}" aria-expanded="true" aria-controls="collapse_{{ collapseBoxId }}">
              {{ collapseBox.headline | raw }}
            </button>
          </h5>
        </div>
        <div id="collapse_{{ collapseBoxId }}" class="collapse show" aria-labelledby="heading_{{ collapseBoxId }}" data-parent="#collapseBox">
          <div class="card-body">
              {{ collapseBox.text | raw }}
          </div>
        </div>
      </div>
    {{ Twig.endfor() }}
