{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set collapseBoxes = widget.settings.collapseBox.mobile %}
{% set collapseId = uid() %}
{% set renderContent = false %}


{% for collapseBox in collapseBoxes if collapseBox.headline is not empty %}
    {% set renderContent = true %}
{% endfor %}

    <div class="widget accordion" id="accordion_{{ collapseId }}">
      <div class="widget-inner">
        {% for collapseBox in collapseBoxes %}
        <div class="card">
          <div class="card-header" id="heading_{{ collapseId }}">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{ collapseId }}" aria-expanded="true" aria-controls="collapse_{{ collapseId }}">
                {{ collapseBox.headline | raw }}
              </button>
            </h5>
          </div>

          <div id="collapse_{{ collapseId }}" class="collapse show" aria-labelledby="heading_{{ collapseId }}" data-parent="#accordion_{{ collapseId }}">
            <div class="card-body">
              {{ collapseBox.text | raw }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
