<div class="widget widget-google-maps">
    {% if geocoding_data is not empty %}
        <google-maps-widget google-api-key="{{ geocoding_data.apiKey }}"
                            address="{{ geocoding_data.address }}"
                            :lat="{{ geocoding_data.lat }}"
                            :lng="{{ geocoding_data.lng }}"
                            :zoom="{{ widget.settings.zoom.mobile | default(16) }}"
                            aspect-ratio="{{ widget.settings.aspectRatio.mobile }}">
        </google-maps-widget>
    {% endif %}
</div>

