{% set lang = services.sessionStorage.getLang() %}

{% set data = {} %}
{% if widget.settings.categoryId | trim is not empty %}
    {% set category = services.category.get(widget.settings.categoryId, lang) %}
    {% if category %}
        {% set data = {
            name: category.details[0].name,
            url: services.category.getURL(category, lang),
            imagePath: "documents/" ~ category.details[0].imagePath
        } %}
    {% endif %}
{% elseif widget.settings.variationId | trim is not empty %}
    {% set item = services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [widget.settings.variationId]}).documents[0].data %}
    {% set data = {
        name: item | itemName,
        url: item | itemURL,
        imagePath: (item.images | itemImages | orderByKey('position') | first).url
    } %}
{% endif %}

{% if widget.settings.customImagePath | trim is not empty %}
    {% set data = data | merge({ imagePath: widget.settings.customImagePath }) %}
{% endif %}

{% if data is empty %}
    {% set data = {
        name: trans("Ceres::Widget.imageBoxPlaceholderName"),
        imagePath: trans("Ceres::Widget.imageBoxPlaceholderImage")
    } %}
{% endif %}

{% if widget.settings.style == "largeText" or widget.settings.style == "smallText" %}
    <div class="featured-categories m-y-2{% if widget.settings.style == "largeText" %} sale-new{% endif %}">
        <div class="prop-xs-6-4 prop-md-3-1 prop-lg-3-1 prop-xl-3-1">
            <div class="prop-inner">
                <a class="featured-{% if widget.settings.style == "largeText" %}sale-new{%else%}category{% endif %}"{% if data.url | trim is not empty %} href="{{ data.url }}"{% endif %}>
                    {% if data.imagePath | trim is not empty %}
                        <div class="featured-image{% if widget.settings.imageSize == "contain" %} contain{% endif %}" style="background-image: url({{ data.imagePath }})"></div>
                    {% endif %}
                    {% if data.name | trim is not empty %}
                        <div class="featured-category-inner">
                            <h2 class="featured-category-headline">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ data.name }}
                            </h2>
                        </div>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
{% else %}
    <div class="cmp cmp-hero">
        <div class="hero-xtras">
            <a class="hero-category"{% if data.url | trim is not empty %} href="{{ data.url }}"{% endif %}>
                {% if data.imagePath | trim is not empty %}
                    <div class="hero-image{% if widget.settings.imageSize == "contain" %} contain{% endif %}" style="background-image: url({{ data.imagePath }})"></div>
                {% endif %}
                {% if data.name | trim is not empty %}
                    <div class="hero-category-inner">
                        <h2 class="hero-category-headline">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ data.name }}
                        </h2>
                    </div>
                {% endif %}
            </a>
        </div>
    </div>
{% endif %}
