{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set placeholder = "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163165fc73f%20text%20%7B%20fill%3A%23555%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163165fc73f%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22285.921875%22%20y%3D%22218.45%22%3E%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" %}

{{ Twig.import("ItemName", "Ceres::PageDesign.Macros.ItemName") }}

{% set carouselId = uid() %}

{{ Twig.set("slides", "[]") }}

{% set slideData = widget.settings.slides.mobile %}
{% if sliderParams is not empty %}
    {% set slideData = sliderParams.mobile %}
{% endif %}

{% for slideSettings in slideData %}

    {{ Twig.set("slide", "{ headlineStyle: '#{ slideSettings.headlineStyle }' }") }}

    {% set pushCurrentSlide = false %}

    {% if slideSettings.categoryId | trim is not empty %}

        {{ Twig.set("category", Twig.call("services.category.get", [slideSettings.categoryId])) }}
        {{ Twig.set("categoryUrl", Twig.call("services.category.getURL", ["$category"]) ) }}

        {{ Twig.set("slide", "slide | merge({ name: category.details[0].name })") }}
        {{ Twig.set("slide", "slide | merge({ url: categoryUrl })") }}
        {{ Twig.set("slide", "slide | merge({ imageUrl: \"documents/\" ~ category.details[0].imagePath })") }}

        {% set pushCurrentSlide = true %}

    {% elseif slideSettings.variationId | trim is not empty %}

        {{ Twig.set("itemData", Twig.call("services.item.getVariation", [slideSettings.variationId])) }}
        {{ Twig.set("itemData", "itemData.documents[0].data") }}
        {{ Twig.set("itemImage", "itemData.images | itemImages | orderByKey('position') | first") }}

        {{ Twig.set("name", Twig.call("ItemName.get", ["$itemData | itemName", "$itemData.variation.bundleType"])) }}
        {{ Twig.set("url", "itemData | itemURL") }}
        {{ Twig.set("imageUrl", "itemImage.url") }}

        {{ Twig.set("slide", "slide | merge({ name: " ~ Twig.call("ItemName.get", ["$itemData | itemName", "$itemData.variation.bundleType"]) ~ " })") }}
        {{ Twig.set("slide", "slide | merge({ url: itemData | itemURL })") }}
        {{ Twig.set("slide", "slide | merge({ imageUrl: itemImage.url })") }}

        {% set pushCurrentSlide = true %}

    {% endif %}

    {% if slideSettings.customImagePath | trim is not empty %}

        {{ Twig.set("slide", "slide | merge({ imageUrl: #{ slideSettings.customImagePath | json_encode } })") }}

        {% set pushCurrentSlide = true %}

    {% endif %}

    {% if slideSettings.headline | trim is not empty and slideSettings.headlineStyle == "custom-caption" %}

        {{ Twig.set("slide", "slide | merge({ name: '#{ (slideSettings.headline) }' })") }}

    {% endif %}

    {% if pushCurrentSlide %}
        {{ Twig.set("slides", "slides | merge([slide])") }}
    {% endif %}

{% endfor %}

{{ Twig.if("slides | length <= 0") }}

    {{ Twig.set("slides", "[{ imageUrl: #{ placeholder | json_encode } }, { imageUrl: #{ placeholder | json_encode } }, { imageUrl: #{ placeholder | json_encode } }]") }}

{{ Twig.endif() }}

<div class="widget widget-image-carousel widget-{{ widget.settings.appearance.mobile | default('primary') }} widget-proportional">
    <div id="image-carousel_{{ carouselId }}" class="widget-inner carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {{ Twig.for("slide", "slides") }}
            <div class="carousel-item{{ Twig.if("loop.first") }} active{{ Twig.endif() }}">
                <a {{ Twig.if("slide.url is not empty") }}href="{{ Twig.print("slide.url") }}"{{ Twig.endif() }}>

                    {{ Twig.if("slide.imageUrl is not empty") }}
                        <img src="{{ Twig.print("slide.imageUrl") }}" alt="{{ Twig.print("slide.name") }}" title="{{ Twig.print("slide.name") }}" class="img-cover">
                    {{ Twig.endif() }}

                    {{ Twig.if("slide.name is not empty and slide.headlineStyle != 'no-caption'") }}
                    <div class="widget-caption">
                        <h2>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ Twig.print("slide.name") }}
                        </h2>
                    </div>
                    {{ Twig.endif() }}

                </a>
            </div>
            {{ Twig.endfor() }}
        </div>

        {{ Twig.if("slides | length > 1") }}
            <ol class="carousel-indicators">
                {{ Twig.for("i", "1..slides | length") }}
                    <li data-target="#image-carousel_{{ carouselId }}" data-slide-to="{{ Twig.print("i - 1") }}" {{ Twig.if("loop.first") }}class="active"{{ Twig.endif }}></li>
                {{ Twig.endfor() }}
            </ol>

            <a class="left carousel-control" href="#image-carousel_{{ carouselId }}" role="button" data-slide="prev">
                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">{{ trans("Ceres::Template.homepageBack") }}</span>
            </a>

            <a class="right carousel-control" href="#image-carousel_{{ carouselId }}" role="button" data-slide="next">
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">{{ trans("Ceres::Template.homepageNext") }}</span>
            </a>
        {{ Twig.endif() }}
    </div>
</div>
