{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set appearance  = widget.settings.appearance.mobile %}
{% set aspectRatio = widget.settings.aspectRatio.mobile %}
{% set carouselId  = uid() %}
{% set placeholder = "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163165fc73f%20text%20%7B%20fill%3A%23555%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163165fc73f%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22285.921875%22%20y%3D%22218.45%22%3E%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineMargin = WidgetHelper.getInlineSpacings(spacingSettings,"", spacingSettings.customMargin.mobile) %}
{% set margin = WidgetHelper.getSpacingClasses(spacingSettings,"", spacingSettings.customMargin.mobile) %}

{{ Twig.import("ItemName", "Ceres::PageDesign.Macros.ItemName") }}

{{ Twig.set("slides", "[]") }}

{% for slideSettings in sliderParams.mobile %}

    {{ Twig.set("slide", "{ headlineStyle: '#{ slideSettings.headlineStyle }' }") }}

    {% set pushCurrentSlide = false %}
    {% set slideUrlType         = slideSettings.url.type %}
    {% set slideUrlValue        = slideSettings.url.value %}
    {% set slideOpenInNewTab    = slideSettings.url.openInNewTab %}

    {% if slideUrlType == 'category' and slideUrlValue | trim is not empty %}

        {{ Twig.set("category", Twig.call("services.category.get", [slideUrlValue])) }}
        {{ Twig.set("categoryUrl", Twig.call("services.category.getURL", ["$category"]) ) }}

        {{ Twig.set("slide", "slide | merge({ name: category.details[0].name })") }}
        {{ Twig.set("slide", "slide | merge({ url: categoryUrl })") }}
        {{ Twig.set("slide", "slide | merge({ imageUrl: \"documents/\" ~ category.details[0].imagePath })") }}
        {{ Twig.set("slide", "slide | merge({ imageAltText: category.details[0].name })") }}

        {% set pushCurrentSlide = true %}

    {% elseif slideUrlType == 'item' and slideUrlValue | trim is not empty %}

        {{ Twig.set("itemData", Twig.call("services.item.getVariation", [slideUrlValue])) }}
        {{ Twig.set("itemData", "itemData.documents[0].data") }}
        {{ Twig.set("itemImage", "itemData.images | itemImages | orderByKey('position') | first") }}

        {{ Twig.set("name", Twig.call("ItemName.get", ["$itemData | itemName", "$itemData.variation.bundleType"])) }}
        {{ Twig.set("url", "itemData | itemURL") }}
        {{ Twig.set("imageUrl", "itemImage.url") }}

        {{ Twig.set("slide", "slide | merge({ name: " ~ Twig.call("ItemName.get", ["$itemData | itemName", "$itemData.variation.bundleType"]) ~ " })") }}
        {{ Twig.set("slide", "slide | merge({ url: itemData | itemURL })") }}
        {{ Twig.set("slide", "slide | merge({ imageUrl: itemImage.url })") }}
        {{ Twig.set("slide", "slide | merge({ imageAltText: itemImage.alternate })") }}

        {% set pushCurrentSlide = true %}

    {% elseif slideUrlType == 'file' and slideUrlValue | trim is not empty %}

        {{ Twig.set("slide", "slide | merge({ url: #{ slideUrlValue | json_encode } })") }}
        {{ Twig.set("slide", "slide | merge({ imageUrl: #{ slideUrlValue | json_encode } })") }}
        {{ Twig.set("slide", "slide | merge({ imageAltText: cdn_metadata(#{ slideUrlValue | json_encode }, 'alttext') })") }}
        {% set pushCurrentSlide = true %}

    {% elseif slideUrlType == 'external' and slideUrlValue | trim is not empty %}

        {{ Twig.set("slide", "slide | merge({ url: #{ slideUrlValue | json_encode } })") }}
        {% set pushCurrentSlide = true %}

    {% endif %}

    {% if slideSettings.customImagePath | trim is not empty %}

        {{ Twig.set("slide", "slide | merge({ imageUrl: #{ slideSettings.customImagePath | json_encode } })") }}
        {{ Twig.set("slide", "slide | merge({ imageAltText: cdn_metadata(#{ slideSettings.customImagePath | json_encode }, 'alttext') })") }}

        {% set pushCurrentSlide = true %}

    {% endif %}

    {% if slideSettings.headline | trim is not empty and slideSettings.headlineStyle == "custom-caption" %}

        {{ Twig.setEscaped("customCaption", slideSettings.headline) }}
        {{ Twig.set("slide", "slide | merge({ name: customCaption })") }}

    {% endif %}

    {% if slideOpenInNewTab is not empty %}
        {{ Twig.setEscaped("openInNewTab", slideOpenInNewTab) }}
        {{ Twig.set("slide", "slide | merge({ openInNewTab: openInNewTab})") }}
    {% endif %}

    {% if pushCurrentSlide %}
        {{ Twig.set("slides", "slides | merge([slide])") }}
    {% endif %}

{% endfor %}

{{ Twig.if("slides | length <= 0") }}

    {{ Twig.set("slides", "[{ imageUrl: #{ placeholder | json_encode } }, { imageUrl: #{ placeholder | json_encode } }, { imageUrl: #{ placeholder | json_encode } }]") }}

{{ Twig.endif() }}

<div class="widget widget-image-carousel widget-{{ appearance | default('primary') }} widget-proportional{% if aspectRatio != 'auto' %} prop-xs-{{ aspectRatio }}{% endif %}
    {% if margin | length > 0 %} {{ margin }}{% endif %}"
    {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <div id="image-carousel_{{ carouselId }}" class="widget-inner carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {{ Twig.for("slide", "slides") }}
            
            <div class="carousel-item{{ Twig.if("loop.first") }} active{{ Twig.endif() }}">
                <a {{ Twig.if("slide.url is not empty") }}href="{{ Twig.print("slide.url") }}"{{ Twig.endif() }}
                    {{ Twig.if("slide.openInNewTab is not empty") }} target="_blank" {{ Twig.endif() }}>
                    {{ Twig.if("slide.imageUrl is not empty") }}
                        {{ Twig.set("altText", "slide.imageAltText") }}
                        {{ Twig.if("altText | trim is empty") }}
                            {{ Twig.set("altText", "slide.name") }}
                        {{ Twig.endif }}
                        <img src="{{ Twig.print("slide.imageUrl") }}" alt="{{ Twig.print("altText") }}" title="{{ Twig.print("slide.name") }}" class="img-cover">
                    {{ Twig.endif() }}

                    {{ Twig.if("slide.name is not empty and slide.headlineStyle != 'no-caption'") }}
                    <div class="widget-caption">
                        <h2>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ Twig.print("slide.name") }}
                        </h2>
                    </div>
                    {{ Twig.endif() }}
                </a>
            </div>
            {{ Twig.endfor() }}
        </div>
        
        {{ Twig.if("slides | length > 1") }}
            <ol class="carousel-indicators">
                {{ Twig.for("i", "1..slides | length") }}
                    <li data-target="#image-carousel_{{ carouselId }}" data-slide-to="{{ Twig.print("i - 1") }}" {{ Twig.if("loop.first") }}class="active"{{ Twig.endif }}></li>
                {{ Twig.endfor() }}
            </ol>

            <a class="left carousel-control carousel-control-prev" href="#image-carousel_{{ carouselId }}" role="button" data-slide="prev">
                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">{{ trans("Ceres::Template.homepageBack") }}</span>
            </a>

            <a class="right carousel-control carousel-control-next" href="#image-carousel_{{ carouselId }}" role="button" data-slide="next">
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">{{ trans("Ceres::Template.homepageNext") }}</span>
            </a>
        {{ Twig.endif() }}
    </div>
</div>
