{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set style            = widget.settings.style.mobile %}
{% set imageSize        = widget.settings.imageSize.mobile %}
{% set categoryId       = widget.settings.categoryId.mobile %}
{% set variationId      = widget.settings.variationId.mobile %}
{% set customImagePath  = widget.settings.customImagePath.mobile %}

{{ Twig.set("name", "" | json_encode) }}
{{ Twig.set("url", "" | json_encode) }}
{{ Twig.set("imageUrl", "" | json_encode) }}

{% if categoryId | trim is not empty %}

    {{ Twig.set("category", Twig.call("services.category.get", [categoryId])) }}

    {{ Twig.set("name", "category.details[0].name") }}
    {{ Twig.set("url", Twig.call("services.category.getURL", ["$category"])) }}
    {{ Twig.set("imageUrl", "\"documents/\" ~ category.details[0].imagePath") }}

{% elseif variationId | trim is not empty %}
    
    {{ Twig.set("itemData", Twig.call("services.itemLoader.loadForTemplate", ["Ceres::Homepage.Homepage", itemLoaderPresets.items, { variationIds: [variationId] }])) }}
    {{ Twig.set("itemData", "itemData.documents[0].data") }}
    {{ Twig.set("itemImage", "itemData.images | itemImages | orderByKey('position') | first") }}

    {{ Twig.set("name", "itemData | itemName") }}
    {{ Twig.set("url", "itemData | itemURL") }}
    {{ Twig.set("imageUrl", "itemImage.url") }}

{% endif %}

{% if customImagePath | trim is not empty %}
    {{ Twig.set("imageUrl", customImagePath | json_encode) }}
{% endif %}

{{ Twig.if("name | trim is empty and imageUrl | trim is empty") }}
    {{ Twig.set("name", trans("Ceres::Widget.imageBoxPlaceholderName") | json_encode) }}
    {{ Twig.set("imageUrl", trans("Ceres::Widget.imageBoxPlaceholderImage") | json_encode) }}
{{ Twig.endif() }}

<div class="widget widget-image-box widget-image-box-{{ style }} widget-primary">
    {{ Twig.if("imageUrl | trim is not empty") }}
        <img class="img-{{ imageSize }}" src="{{ Twig.print("imageUrl") }}" />
    {{ Twig.endif() }}
    <div class="widget-inner">
        {{ Twig.if("url | trim is not empty") }}
            <a href="{{ Twig.print("url") }}" class="widget-caption">
                {{ Twig.if("name | trim is not empty") }}
                <h2>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    {{ Twig.print("name") }}
                </h2>
                {{ Twig.endif() }}
            </a>
        {{ Twig.else() }}
            <div class="widget-caption">
                {{ Twig.if("name | trim is not empty") }}
                <h2>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    {{ Twig.print("name") }}
                </h2>
                {{ Twig.endif() }}
            </div>
        {{ Twig.endif() }}
    </div>
</div>