{#
    {% if slides is empty %}
        {% set slides = [
            { imagePath: "http://placehold.it/800x400?text=First%20slide" },
            { imagePath: "http://placehold.it/800x400?text=Second%20slide" },
            { imagePath: "http://placehold.it/800x400?text=Third%20slide" }
        ] %}
    {% endif %}
#}

{# TODO: add placeholder images for slides #}

{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set carouselId = uid() %}

{{ Twig.set("slides", "[]") }}

{% for param in sliderParams %}

    {{ Twig.set("slide", "{ }") }}

    {% if param.categoryId | trim is not empty %}

        {{ Twig.set("category", Twig.call("services.category.get", [param.categoryId])) }}
        {{ Twig.set("categoryUrl", Twig.call("services.category.getURL", ["$category"]) ) }}

        {{ Twig.set("slide", "slide | merge({ name: category.details[0].name })") }}
        {{ Twig.set("slide", "slide | merge({ url: categoryUrl })") }}
        {{ Twig.set("slide", "slide | merge({ imageUrl: \"documents/\" ~ category.details[0].imagePath })") }}

    {% elseif param.variationId | trim is not empty %}

        {{ Twig.set("itemData", Twig.call("services.itemLoader.loadForTemplate", ["Ceres::Homepage.Homepage", itemLoaderPresets.items, { variationIds: [param.variationId] }])) }}
        {{ Twig.set("itemData", "itemData.documents[0].data") }}
        {{ Twig.set("itemImage", "itemData.images | itemImages | orderByKey('position') | first") }}

        {{ Twig.set("name", "itemData | itemName") }}
        {{ Twig.set("url", "itemData | itemURL") }}
        {{ Twig.set("imageUrl", "itemImage.url") }}

        {{ Twig.set("slide", "slide | merge({ name: itemData | itemName })") }}
        {{ Twig.set("slide", "slide | merge({ url: itemData | itemURL })") }}
        {{ Twig.set("slide", "slide | merge({ imageUrl: itemImage.url })") }}

    {% endif %}

    {% if param.customImagePath | trim is not empty %}

        {{ Twig.set("slide", "slide | merge({ imageUrl: #{ param.customImagePath | json_encode } })") }}

    {% endif %}

    {{ Twig.set("slides", "slides | merge([slide])") }}

{% endfor %}

<div class="row">
    <div class="col-xs-12">
        <div class="cmp cmp-hero">
            <div class="hero-main">
                <div id="carousel-example-generic_{{ carouselId }}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        {{ Twig.for("slide", "slides") }}
                            <div class="carousel-item{{ Twig.if("loop.first") }} active{{ Twig.endif() }}">
                                <a class="hero-category" {{ Twig.if("slide.url is defined") }}href="{{ Twig.print("slide.url") }}"{{ Twig.endif() }}>
                                    {{ Twig.if("slide.imageUrl is defined") }}
                                        <img src="{{ Twig.print("slide.imageUrl") }}" alt="{{ Twig.print("slide.name") }}" class="img-fluid">
                                    {{ Twig.endif() }}
                                    {{ Twig.if("slide.name is defined") }}
                                        <div class="carousel-caption">
                                            <h2>
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ Twig.print("slide.name") }}
                                            </h2>
                                        </div>
                                    {{ Twig.endif() }}
                                </a>
                            </div>
                        {{ Twig.endfor() }}
                    </div>
                    
                    {{ Twig.if("slides | length > 1") }}
                        <ol class="carousel-indicators">
                            {{ Twig.for("i", "1..slides | length") }}
                                <li data-target="#carousel-example-generic_{{ carouselId }}" data-slide-to="{{ Twig.print("i - 1") }}" {{ Twig.if("loop.first") }}class="active"{{ Twig.endif }}></li>
                            {{ Twig.endfor() }}
                        </ol>

                        <a class="left carousel-control" href="#carousel-example-generic_{{ carouselId }}" role="button"
                            data-slide="prev">
                            <span class="icon-prev" aria-hidden="true"></span>
                            <span class="sr-only">{{ trans("Ceres::Template.homepageBack") }}</span>
                        </a>

                        <a class="right carousel-control" href="#carousel-example-generic_{{ carouselId }}" role="button"
                            data-slide="next">
                            <span class="icon-next" aria-hidden="true"></span>
                            <span class="sr-only">{{ trans("Ceres::Template.homepageNext") }}</span>
                        </a>
                    {{ Twig.endif() }}
                </div>
            </div>
        </div>
    </div>
</div>
