{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set listType = widget.settings.listType.mobile %}
{% set itemSort = widget.settings.itemSort.mobile %}
{% set maxItems = widget.settings.maxItems.mobile %}
{% set categoryId = widget.settings.categoryId.mobile %}
{% set itemListId = widget.settings.tagId.mobile %}

{% if listType == "category" %}
    {% set itemListId = categoryId %}
    {{ Twig.set("category", Twig.call("services.category.get", [categoryId])) }}
    {{ Twig.set("categoryUrl", Twig.call("services.category.getURL", ["$category"])) }}
{% endif %}

{{ Twig.set("itemList", Twig.call("services.itemList.getItemList", [listType, itemListId, itemSort, maxItems]) ) }}
<div class="row">
    <div class="col-xs-12">
        <div class="section-header m-b-1">
            {% if listType == "category" %}
                {{ Twig.if("category") }}
                    <h2>{{ Twig.print("category.details[0].name") }}</h2>
                    <a href="{{ Twig.print(Twig.call("services.category.getURL", [Twig.var("category")])) }}" class="section-link-all">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ Twig.trans("Ceres::Template.homepageShowAll") }}
                    </a>
                {{ Twig.else() }}
                    <h2>{{ Twig.trans("Ceres::Widget.itemListPlaceholderListHeader") }}</h2>
                {{ Twig.endif() }}
            {% elseif listType == "last_seen" %}
                <h2>{{ Twig.trans("Ceres::Template.itemListLastSeen") }}</h2>
            {% elseif listType == "tag_list" %}
                <h2>{{ Twig.print(Twig.call("services.tag.getTagName", [itemListId])) }}</h2>
            {% endif %}
        </div>
    </div>
    {{ Twig.if("itemList is not empty") }}
        <container-item-list :items="{{ Twig.print("itemList[0].documents | json_encode") }}"></container-item-list>
    {{ Twig.endif() }}
</div>
