{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{% set headlineStyle   = widget.settings.headlineStyle.mobile  %}
{% set headline        = widget.settings.headline.mobile  %}
{% set listType        = widget.settings.listType.mobile %}
{% set itemSort        = widget.settings.itemSort.mobile %}
{% set maxItems        = widget.settings.maxItems.mobile %}
{% set categoryId      = widget.settings.categoryId.mobile %}
{% set itemListId      = widget.settings.tagId.mobile %}
{% set itemsPerPage    = widget.settings.itemsPerPage.mobile %}
{% set manufacturerId  = widget.settings.manufacturerId.mobile %}
{% set crossSellingRelationType  = widget.settings.crossSellingRelationType.mobile %}
{% set preloadImage    = widget.settings.preloadImage.mobile %}

{% set noVat = widget.settings.noVat.mobile is same as (true) %}
{% set grayBackground = widget.settings.grayBackground.mobile is same as (true) %}

{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{% if itemsPerPage is empty or itemsPerPage > 4 %}
    {% set itemsPerPage = 4 %}
{% elseif itemsPerPage < 1 %}
    {% set itemsPerPage = 1 %}
{% endif %}

{% if listType == "category" %}
    {% set itemListId = categoryId %}
    {{ Twig.set("category", Twig.call("services.category.get", [categoryId])) }}
    {{ Twig.set("categoryUrl", Twig.call("services.category.getURL", ["$category"])) }}
{% elseif listType == 'manufacturer' %}
    {% set itemListId = manufacturerId %}
{% elseif listType == 'cross_selling' %}
    {% set relation = crossSellingRelationType %}
{% endif %}

{% set requestedListType = listType %}
{% if listType in ["last_seen", "cross_selling"] and isPreview %}
    {# request random items when rendering preview of last seen items. #}
    {% set requestedListType = "random" %}
{% endif %}

{% if listType != "last_seen" or isPreview %}
    {# do not get item list for last seen items. Items will be loaded asynchronusly by vue component. #}

{% endif %}

{{ Twig.set("title", trans("Ceres::Widget.itemListPlaceholderListHeader") | json_encode ) }}
{% if headlineStyle == "default-caption" or headlineStyle is empty %}
    {% if listType == "category" %}
        {{ Twig.if("category") }}
            {{ Twig.set("title", "category.details[0].name") }}
        {{ Twig.endif() }}
    {% elseif listType == "last_seen" %}
        {{ Twig.set("title", "trans('Ceres::Template.itemListLastSeen')" ) }}
    {% elseif listType == "tag_list" and itemListId is not empty %}
        {{ Twig.set("title", Twig.call("services.tag.getTagName", [itemListId])) }}
    {% else %}
        {{ Twig.set("title", trans("Ceres::Widget.itemListPlaceholderListHeader") | json_encode ) }}
    {% endif %}
{% endif %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}

<div class="widget widget-item-list widget-{{ widget.settings.appearance.mobile | default('primary') }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}{% if noVat %} item-vat-hidden{% endif %}{% if grayBackground %} item-bg-gray{% endif %}" {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <div class="widget-inner">
        {% if listType == "last_seen" and not isPreview %}
            {# render vue component for last seen items #}
            <intersect>
                <last-seen-item-list
                    :items-per-page="{{ itemsPerPage }}"
                    :max-items="{{ maxItems }}"
                    {% if spacingPadding | length > 0 %}padding-classes="{{ spacingPadding }}"{% endif %}
                    {% if inlinePadding | length > 0 %}padding-inline-styles="{{ inlinePadding }}"{% endif %}
                    v-cloak>

                    {% if headlineStyle != "no-caption" %}
                        <template #heading>
                            <div class="widget-caption bg-appearance widget-item-list-caption mb-3">
                                {% if headlineStyle == "custom-caption" %}
                                    <div class="widget-item-list-inline-caption" {{ WidgetHelper.makeEditable("headline", TOOLBAR_LAYOUT.INLINE, isPreview, "widget-item-list-inline-caption") }}>
                                        {{ headline | raw }}
                                    </div>
                                {% else %}
                                    <div>
                                        <h2>{{ Twig.print("title") }}</h2>
                                    </div>
                                {% endif %}
                            </div>
                        </template>
                    {% endif %}
                </last-seen-item-list>

                <template #loading>
                    <div class="category-item-placeholder w-100 invisible">
                        <a href="#" class="small">
                            <i class="fa fa-image"></i>
                            <span></span>
                        </a>
                    </div>
                </template>
            </intersect>
        {% else %}
            {{ Twig.do("cacheblock") }}
                {{ Twig.set("itemList", Twig.call("services.itemList.getItemList", [requestedListType, itemListId, itemSort, maxItems, crossSellingRelationType]) ) }}
                {{ Twig.if("itemList.documents is not empty or #{ isPreview | json_encode }") }}

                    {# render static item lists #}
                    {% if headlineStyle != "no-caption" %}
                        <div class="widget-caption widget-item-list-caption mb-3 bg-appearance">
                            {% if headlineStyle == "custom-caption" %}
                                <div class="widget-item-list-inline-caption" {{ WidgetHelper.makeEditable("headline", TOOLBAR_LAYOUT.INLINE, isPreview, "widget-item-list-inline-caption") }}>
                                    {{ headline | striptags('<p><strong><em><br><span><h1><h2><h3><h4><h5><h6>') | raw }}
                                </div>
                            {% else %}
                                <div>
                                    <h2>{{ Twig.print("title") }}</h2>
                                </div>
                            {% endif %}

                            {{ Twig.if("categoryUrl") }}
                                <a href="{{ Twig.print("categoryUrl") }}">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ Twig.trans("Ceres::Template.homepageShowAll") }}
                                </a>
                            {{ Twig.endif() }}
                        </div>
                    {% endif %}
                    {{ Twig.if("#{ listType | json_encode } != 'cross_selling' or services.template.isItem() == '1'") }}
                        {% if preloadImage %}
                            {{ Twig.set("counter", 0) }}
                            {{ Twig.set("maxPreload", widget.settings.maxPreload.mobile | default(3)) }}

                            {{ Twig.for("item", "itemList.documents") }}
                                {{ Twig.if("counter < maxPreload") }}
                                    {{ Twig.set("itemImage", "item.data.images | itemImages('urlMiddle') | orderByKey('position') | first") }}
                                    {{ Twig.print("add_asset(itemImage.url,'image')") }}
                                    {{ Twig.do("set counter = counter + 1") }}
                                {{ Twig.endif() }}
                            {{ Twig.endfor() }}
                        {% endif %}
                        <intersect>
                            <carousel :items-per-page="{{ itemsPerPage }}">
                                {{ Twig.for("item", "itemList.documents") }}
                                    <template slot="items">
                                        <category-item
                                            :item-data="{{ Twig.print("item.data | json_encode") }}"
                                            :decimal-count="{{ Twig.print("ceresConfig.item.storeSpecial | default(0) | json_encode") }}"
                                            :disable-carousel-on-mobile="{{ Twig.print("itemList.documents | length") }} > {{ itemsPerPage }}"
                                            {% if spacingPadding | length > 0 %}padding-classes="{{ spacingPadding }}"{% endif %}
                                            {% if inlinePadding | length > 0 %}padding-inline-styles="{{ inlinePadding }}"{% endif %}>
                                            <template #before-prices>
                                                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::CategoryItem.BeforePrices", Twig.var("item.data")])) }}
                                            </template>
                                            <template #after-prices>
                                                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::CategoryItem.AfterPrices", Twig.var("item.data")])) }}
                                            </template>

                                            <a href="{{ Twig.print("item.data | itemURL") }}" class="small">
                                                <i class="fa fa-image"></i>
                                                <span>{{ Twig.print("item.data | itemName") }}</span>
                                            </a>
                                        </category-item>
                                    </template>
                                {{ Twig.endfor() }}
                            </carousel>

                            <template #loading>
                                <div class="row flex-nowrap overflow-x-hidden">
                                    {{ Twig.for("item", "itemList.documents") }}
                                    <div class="category-item-placeholder invisible col-12 col-sm-6 col-md-3">
                                        <a href="{{ Twig.print("item.data | itemURL(buildUrlWithVariationId | json_encode)") }}" class="small">
                                            <i class="fa fa-image"></i>
                                            <span>{{ Twig.print("item.data | itemName") }}</span>
                                        </a>
                                    </div>
                                    {{ Twig.endfor() }}
                                </div>
                            </template>
                        </intersect>
                    {{ Twig.elseif("#{ isPreview | json_encode }") }}
                        <div class="widget-placeholder prop-3-1 proportional-placeholder">
                            <div>
                                <p class="title mb-0">{{ Twig.trans("Ceres::Widget.itemListPlaceholderTitle") }}</p>
                                <p class="description mt-3">{{ Twig.trans("Ceres::Widget.itemListPlaceholderDescription") }}</p>
                            </div>
                        </div>
                    {{ Twig.endif() }}
                {{ Twig.endif() }}
            {{ Twig.do("endcacheblock") }}
        {% endif %}
    </div>
</div>
