{% set lang = services.sessionStorage.getLang() %}
{% set listType = widgetSettings.listType %}
{% set categoryId = widgetSettings.categoryId %}
{% set maxItems = widgetSettings.maxItems %}

{% if listType == "category" %}
    {% set category = services.category.get(widgetSettings.categoryId, lang) %}

    {% if category %}
        {% set itemList = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId': category.id, 'items':maxItems, 'sorting': widgetSettings.itemSort}).documents %}
    {% endif %}
{% elseif listType == "last_seen" %}
    {% set itemList = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.lastSeenItemsList, {'items': itemsPerPage, 'items':maxItems, 'sorting': widgetSettings.itemSort}).documents %}
{% elseif listType == "tag_list" %}
	{% set itemList = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.tagList, {'tagIds': [widgetSettings.tagId], 'items':maxItems, 'sorting': widgetSettings.itemSort}).documents %}
{% endif %}

<div>
    <div class="m-b-2 clearfix">
        <div class="section-header m-b-1">
            {% if listType == "category" and category %}
                <h2>{{ category.details[0].name }}</h2>
                <a href="{{ services.category.getURL(category, lang) }}" class="section-link-all">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ trans("Ceres::Template.homepageShowAll") }}
                </a>
            {% elseif listType == "last_seen" %}
                <h2>{{ trans("Ceres::Template.itemListLastSeen") }}</h2>
            {% elseif listType == "tag_list" %}
                <h2>Tag List Name (placeholder)</h2>
            {% else %}
                <h2>{{ trans("Ceres::Widget.itemList_placeholder_listHeader") }}</h2>
            {% endif %}
        </div>

        <ul class="product-list row grid">
            {% if itemList is not empty %}
                {% for item in itemList[0:4] %}
                    <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        {% include "Ceres::Widgets.Common.Partials.CategoryListItemPreview" with { 'item': item } %}
                    </li>
                {% endfor %}
            {% else %}
                {% for i in 0..3 %}
                    <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        {% include "Ceres::Widgets.Common.Partials.CategoryListItemPreview" %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
