{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.TwigWidgetMacros" as WidgetHelpers %}

{% set title            = widget.settings.title.mobile %}
{% set icon             = widget.settings.icon.mobile %}
{% set centered         = widget.settings.centered.mobile %}
{% set hasEntries       = false %}

{% for entry in listEntries if entry.text is not empty %}
    {% set hasEntries = true %}
{% endfor %}

{% if hasEntries or title is not empty %}
    <div class="widget {% if isLinkList %}widget-link-list{% else %}widget-list{% endif %}">
        <div class="widget-inner">
            {% if title is not empty %}<p class="h4">{{ title }}</p>{% endif %}
            {% if listEntries | length > 0 %}
                <ul class="list-unstyled{% if centered %} list-centered{% endif %}">
                    {% for entry in listEntries %}
                        {{ WidgetHelpers.getUrlPicker(entry.url.value, entry.url.type) }}
                        <li>
                            {% if icon != "none" %}
                                <i class="fa {{ icon }}" aria-hidden="true"></i>
                            {% endif %}

                            {% if entry.url.value is not empty %}
                                <a  {{ Twig.if("url | trim is not empty") }} href="{{ Twig.print("url") }}"
                                    {{ Twig.else("imageUrl | trim is not empty") }} href="{{ Twig.print("imageUrl") }}"{{ Twig.endif() }}>
                                        {{ entry.text }}
                                    {% else %}
                                        {{ entry.text }}
                                    {% endif %}
                                </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endif %}
