{% set title            = widget.settings.title.mobile %}
{% set icon             = widget.settings.icon.mobile %}
{% set centered         = widget.settings.centered.mobile %}
{% set hasEntries    = false %}

{% for entry in listEntries if entry.text is not empty %}
    {% set hasEntries = true %}
{% endfor %}

{% if hasEntries or title is not empty %}
    <div class="widget widget-list">
        <div class="widget-inner">
            {% if title is not empty %}<p class="h4">{{ title }}</p>{% endif %}
            {% if listEntries | length > 0 %}
                <ul class="list-unstyled{% if centered %} list-centered{% endif %}">
                    {% for entry in listEntries %}
                        <li>
                            {% if icon != "none" %}
                                <i class="fa {{ icon }}" aria-hidden="true"></i>
                            {% endif %}

                            {% if entry.url is not empty %}
                                <a href="{{ entry.url }}">{{ entry.text }}</a>
                            {% else %}
                                {{ entry.text }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endif %}
