{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set title            = widget.settings.title.mobile %}
{% set icon             = widget.settings.icon.mobile %}
{% set centered         = widget.settings.centered.mobile %}
{% set hasEntries    = false %}

{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "",spacingSettings.customMargin.mobile) %}

{% for entry in listEntries if entry.text is not empty %}
    {% set hasEntries = true %}
{% endfor %}

{% if hasEntries or title is not empty %}
    <div class="widget {% if isLinkList %}widget-link-list{% else %}widget-list{% endif %}
     {% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}" {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
        <div class="widget-inner">
            {% if title is not empty %}<p class="h4">{{ title }}</p>{% endif %}
            {% if listEntries | length > 0 %}
                <ul class="list-unstyled{% if centered %} list-centered{% endif %}">
                    {% for entry in listEntries %}
                        {{ WidgetHelper.setUrlVariable('url', entry.url.value, entry.url.type) }}
                        <li>
                            {% if icon != "none" %}
                                <i class="fa {{ icon }} mr-1" aria-hidden="true"></i>
                            {% endif %}

                            {% if entry.text is not empty %}
                                <a class="d-inline-block{% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"{% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}{% if entry.url.openInNewTab == true %} target="_blank"{% endif %}{% if entry.url.type == 'external' %} rel="noopener"{% endif %}{{ Twig.if("url | trim is not empty") }} href="{{ Twig.print("url") }}"{{ Twig.endif() }}>
                                    {{ entry.text }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endif %}
