{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set decimalCount = config("Ceres.item.storeSpecial") %}

{% set title = widget.settings.title.mobile %}
{% set subTitle = widget.settings.subTitle.mobile %}
{% set liveShoppingSelection = widget.settings.liveShoppingSelection.mobile %}

<div class="widget widget-item-list">
    <div class="widget-inner">

        <div class="row">
            {% if title is not empty %}
                <div class="col-xs-12">
                    <span class="h1">{{ title }}</span>
                </div>
            {% endif %}
            {% if subTitle is not empty %}
                <div class="col-xs-12 m-t-1">
                    <p>{{ subTitle }}</p>
                </div>
            {% endif %}
        </div>

        <div class="row clearfix">

            {% if(item is not empty) %}
                <category-item :item-data="{{ item.data | json_encode }}" decimal-count="{{ decimalCount }}" :live-shopping-data="{{ liveShoppingData | json_encode }}" image-url-accessor="urlMiddle"></category-item>
            {% endif %}
        </div>

    </div>
</div>