{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set title = widget.settings.title.mobile %}
{% set description = widget.settings.description.mobile %}

{{ Twig.set("liveShoppingData", Twig.call("services.liveShopping.getLiveShoppingData", [liveShoppingConfig.liveShoppingSelection, liveShoppingConfig.sorting])) }}

<div class="widget-live-shopping widget">
    <div class="row">
        {% if title is not empty %}
            <div class="col-xs-12">
                <span class="h1">{{ title }}</span>
            </div>
        {% endif %}
        {% if description is not empty %}
            <div class="col-xs-12 m-t-1">
                <p>{{ description }}</p>
            </div>
        {% endif %}

    </div>

    <div class="row clearfix">
        <div class="col-xs-12">
            {{ Twig.if("liveShoppingData.item is not empty") }}
                <category-item :item-data="{{ Twig.print("liveShoppingData.item | json_encode") }}" decimal-count="{{ Twig.print("ceresConfig.item.storeSpecial") }}" :live-shopping-data="{{ Twig.print("liveShoppingData.liveShopping | json_encode") }}" :live-shopping-config="{{ liveShoppingConfig | json_encode }}" image-url-accessor="urlMiddle">
                    {% if liveShoppingConfig.customImagePath is not empty %}
                        <a slot="custom-image" :href="{{ Twig.print("liveShoppingData.item | json_encode") }} | itemURL">
                            <item-lazy-img template="#vue-item-lazy-img" image-url="{{ liveShoppingConfig.customImagePath }}" :title="{{ Twig.print("liveShoppingData.item | json_encode") }} | itemName" :alt="{{ Twig.print("liveShoppingData.item | json_encode") }} | itemName"></item-lazy-img>
                        </a>
                    {% endif %}
                </category-item>
            {{ Twig.endif() }}
        </div>
    </div>
</div>