{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{% set appearance = widget.settings.appearance.mobile %}
{% set hintText = widget.settings.text.mobile %}

{% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingClasses = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{{ Twig.component( "Ceres::Newsletter.Components.NewsletterUnsubscribeInput" ) }}

<div class="widget widget-newsletter-unsubscribe widget-{{ appearance | default("primary") }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"
    {% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>
    <div class="widget-inner">
        <div class="row">
            <div class="col-12" {{ WidgetHelper.makeEditable("text", TOOLBAR_LAYOUT.ALL, isPreview) }}>
            {% if hintText is empty %}
                <h3>{{ WidgetHelper.editableTwig(isPreview, Twig.trans("Ceres::Template.newsletterOptOutTitle")) }}</h3>
                <div><em>{{ WidgetHelper.editableTwig(isPreview, Twig.trans("Ceres::Template.newsletterOptOutInfoText")) }}</em></div>
            {% else %}
                {{ hintText | raw }}
            {% endif %}
            </div>
        </div>

        <newsletter-unsubscribe-input></newsletter-unsubscribe-input>
    </div>
</div>