{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set appearance = widget.settings.appearance.mobile %}
{% set showNameInputs = widget.settings.showNameInputs.mobile | json_encode %}
{% set showPrivacyPolicyCheckbox = widget.settings.showPrivacyPolicyCheckbox.mobile | json_encode %}
{% set emailFolder = widget.settings.emailFolder.mobile | json_encode %}

{{ Twig.component( "Ceres::Newsletter.Components.NewsletterInput" ) }}

<div class="widget widget-newsletter">
    <div class="widget-inner">
        <div class="row">
            <div class="col-xs-12" {{ WidgetHelper.makeEditable("content", TOOLBAR_LAYOUT.ALL, isPreview) }}>
                {{ hintText | raw }}
            </div>
        </div>

        <newsletter-input
                appearance="{{ appearance | default("primary") }}"
                :show-name-inputs="{{ showNameInputs }}"
                :show-privacy-policy-checkbox="{{ showPrivacyPolicyCheckbox }}"
                :email-folder="{{ emailFolder }}">
        </newsletter-input>
    </div>
</div>