{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{% set appearance = widget.settings.appearance.mobile %}
{% set showNameInputs = widget.settings.showNameInputs.mobile | json_encode %}
{% set showPrivacyPolicyCheckbox = widget.settings.showPrivacyPolicyCheckbox.mobile | json_encode %}
{% set emailFolder = widget.settings.emailFolder.mobile %}
{% set buttonSize = widget.settings.buttonSize.mobile | default("") %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingClasses = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{{ Twig.component( "Ceres::Newsletter.Components.NewsletterInput" ) }}

<div class="widget widget-newsletter widget-{{ appearance | default("primary") }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"
    {% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>
    <div class="widget-inner">
        <div class="row">
            {# The 'hintText' variable gets filled at src/Widgets/Common/NewsletterWidget.php to migrate widget settings #}
            <div class="col-xs-12" {{ WidgetHelper.makeEditable("hintText", TOOLBAR_LAYOUT.ALL, isPreview) }}>
                {{ hintText | raw }}
            </div>
        </div>

        <newsletter-input
            :show-name-inputs="{{ showNameInputs }}"
            :show-privacy-policy-checkbox="{{ showPrivacyPolicyCheckbox }}"
            :email-folder="{% if emailFolder | length > 0 %} {{ emailFolder | json_encode }} {% else %} 0 {% endif %}"
            :button-size="{{ buttonSize | json_encode }}">
        </newsletter-input>
    </div>
</div>