{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{% set appearance = widget.settings.appearance.mobile | default("primary") %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set paddingClasses  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set marginClasses   = WidgetHelper.getSpacingClasses(spacingSettings, "",spacingSettings.customMargin.mobile) %}

<div class="widget widget-privacy-settings widget-{{ appearance }}
        {% if customClass | length > 0 %} {{ customClass }}{% endif %}
        {% if marginClasses | length > 0 %} {{ marginClasses }}{% endif %}"
        {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <div class="widget-inner">
        <privacy-settings
                :consent-groups="{{ Twig.print('get_consent_groups() | json_encode') }}"
                {% if paddingClasses | length > 0 %} card-class="{{ paddingClasses }}"{% endif %}
                {% if inlinePadding | length > 0 %} card-style="{{ inlinePadding }}"{% endif %}>
        </privacy-settings>

        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-primary btn-appearance" @click="$store.commit('acceptAll')">{{ Twig.trans("Ceres::Template.cookieBarAcceptAll") }}</button>
            <button class="btn btn-default ml-3" @click="$store.commit('storeConsents')">{{ Twig.trans("Ceres::Template.cookieBarSave") }}</button>
        </div>
    </div>
</div>
