

{% set marginBottom = widget.settings.marginBottom.mobile %}
{% set marginBottomInlineStyle = widget.settings.customMarginValueBottom.mobile ~ widget.settings.customMarginUnitBottom.mobile %}

{% set marginTop = widget.settings.marginTop.mobile %}
{% set marginTopInlineStyle = widget.settings.customMarginValueTop.mobile ~ widget.settings.customMarginUnitTop.mobile %}

{% if isPreview %}<div class="widget-editable-min-height">{% endif %}
    {# When both selects contain custom values #}
    {% if marginBottom == 'custom-margin' and marginTop == 'custom-margin' %}
        <hr style="margin-top:{{ marginTopInlineStyle }}; margin-bottom:{{ marginBottomInlineStyle }}">
    {# When one of both selects contains a custom value #}
    {% elseif marginBottom == 'custom-margin' and marginTop != 'custom-margin'%}
        <hr class="mt-{{ marginTop }}" style="margin-bottom:{{ marginBottomInlineStyle }}">
    {# When one of both selects contains a custom value #}
    {% elseif marginBottom != 'custom-margin' and marginTop == 'custom-margin'%}
        <hr class="mb-{{ marginBottom }}" style="margin-top:{{ marginTopInlineStyle }}">
    {# When both selects contain standard Bootstrap Spacer Values #}
    {% else %}
        <hr class="mt-{{ marginTop }} mb-{{ marginBottom }}">
    {% endif %}
{% if isPreview %}</div>{% endif %}








