{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set text           = widget.settings.text.mobile %}
{% set content        = widget.settings.content.mobile %}
{% set useCustomMarkup= widget.settings.useCustomMarkup.mobile or content | trim is empty %}
{% set appearance     = widget.settings.appearance.mobile %}
{% set hasSpacing     = widget.settings.customMargin.mobile or widget.settings.customPadding.mobile %}
{% set inlineSpacings = WidgetHelper.getInlineSpacings(widget.settings, widget.settings.customPadding.mobile, widget.settings.customMargin.mobile) %}
{% set spacingClasses = WidgetHelper.getSpacingClasses(widget.settings, widget.settings.customPadding.mobile, widget.settings.customMargin.mobile) %}

<div class="widget widget-text widget-{{ appearance | default('primary') }}{% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"{% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>
    <div class="widget-inner{% if hasSpacing %} m-0 p-0{% endif %}"{% if not useCustomMarkup %}{{ WidgetHelper.makeEditable("content", TOOLBAR_LAYOUT.ALL, isPreview) }}{% endif %}>
        {% if useCustomMarkup %}
            {{ text | raw }}
        {% else %}
            {{ content | raw }}
        {% endif %}
    </div>
</div>