{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}
{% set text = widget.settings.text.mobile %}

{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "",spacingSettings.customMargin.mobile) %}

<div class="widget widget-title-bar widget-{{ widget.settings.appearance.mobile | default('primary') }} {% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}" 
    {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <div class="widget-inner bg-appearance {% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}" 
        {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}>
        {% if text | trim is not empty %}
            <h1>{{ text }}</h1>
        {% else %}
            <h1>{{ Twig.print('trans("Ceres::Template.headerCompanyName")') }}</h1>
        {% endif %}
    </div>
</div>
