{% set text = widget.settings.text.mobileValue %}

<div class="row">
    <div class="col-xs-12">
        <div class="homepage-title m-b-1">
            {{ Twig.if("text | trim is not empty") }}
                <h1>{{ Twig.print("text") }}</h1>
            {{ Twig.else() }}
                <h1>{{ config("Ceres.header.company_name") }}</h1>
            {{ Twig.endif() }}
        </div>
    </div>
</div>
