{% extends getPartial('page-design') %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName  = config("Ceres.header.company_name") %}


{% block PartialHead %}
    <meta property="og:title" content="{{ companyName }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}" />
    <meta property="og:image" content="{% if ('http' in companyLogo) or ('layout/' in companyLogo) %}{{ companyLogo }}{% else %}{{ plugin_path('Ceres') }}/{{ companyLogo }}{% endif %}" />

    <link rel="canonical" href="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}{{ item.documents[0].data | itemURL }}">

    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}</script>
{% endblock %}

{% block PageBody %}

    {% if showDefaultHomepage == "true" %}

        {% include 'MarketingHomepage.twig' %}

    {% else %}

        {% set lang         = services.sessionStorage.getLang() %}

        {% set heroExtra1Image  = config("Ceres.homepage.heroExtra1Image") %}
        {% set heroExtra1Link  = config("Ceres.homepage.heroExtra1Link") %}
        {% set heroExtra1Name  = config("Ceres.homepage.heroExtra1Name") %}

        {% set heroExtra2Image  = config("Ceres.homepage.heroExtra2Image") %}
        {% set heroExtra2Link  = config("Ceres.homepage.heroExtra2Link") %}
        {% set heroExtra2Name  = config("Ceres.homepage.heroExtra2Name") %}

        {% set featuredCategory1Image  = config("Ceres.homepage.featuredCategory1Image") %}
        {% set featuredCategory1Link  = config("Ceres.homepage.featuredCategory1Link") %}
        {% set featuredCategory1Name  = config("Ceres.homepage.featuredCategory1Name") %}

        {% set featuredCategory2Image  = config("Ceres.homepage.featuredCategory2Image") %}
        {% set featuredCategory2Link  = config("Ceres.homepage.featuredCategory2Link") %}
        {% set featuredCategory2Name  = config("Ceres.homepage.featuredCategory2Name") %}



        {% set homepageImageFirstSlide  = config("Ceres.homepage.homepageImageFirstSlide") %}
        {% set homepageProductLinkFirstSlide  = config("Ceres.homepage.homepageProductLinkFirstSlide") %}
        {% set homepageProductNameFirstSlide  = config("Ceres.homepage.homepageProductNameFirstSlide") %}

        {% set homepageImageSecondSlide  = config("Ceres.homepage.homepageImageSecondSlide") %}
        {% set homepageProductLinkSecondSlide  = config("Ceres.homepage.homepageProductLinkSecondSlide") %}
        {% set homepageProductNameSecondSlide  = config("Ceres.homepage.homepageProductNameSecondSlide") %}

        {% set homepageImageThirdSlide  = config("Ceres.homepage.homepageImageThirdSlide") %}
        {% set homepageProductLinkThirdSlide  = config("Ceres.homepage.homepageProductLinkThirdSlide") %}
        {% set homepageProductNameThirdSlide  = config("Ceres.homepage.homepageProductNameThirdSlide") %}

        {% set homepageCategoryTop  = config("Ceres.homepage.homepageCategoryTop") %}

        {% set homepageCategoryNew  = config("Ceres.homepage.homepageCategoryNew") %}
        {% set homepageCategoryNewImage  = config("Ceres.homepage.homepageCategoryNewImage") %}
        {% set homepageCategoryNewName  = config("Ceres.homepage.homepageCategoryNewName") %}

        {% set homepageCategorySale  = config("Ceres.homepage.homepageCategorySale") %}
        {% set homepageCategorySaleImage  = config("Ceres.homepage.homepageCategorySaleImage") %}
        {% set homepageCategorySaleName  = config("Ceres.homepage.homepageCategorySaleName") %}

        {% set topsellerId = services.category.get(homepageCategoryTop, lang) %}
        {% set newId = services.category.get(homepageCategoryNew, lang) %}
        {% set saleId = services.category.get(homepageCategorySale, lang) %}


        {% set paginatedResultTop      = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId':homepageCategoryTop, 'page':1, 'items':4, 'facets': facetParams, 'sorting': itemSort}) %}

        {% set paginatedResultNew      = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId':homepageCategoryNew, 'page':1, 'items':4, 'facets': facetParams, 'sorting': itemSort}) %}

        {% set itemListTop          = paginatedResultTop.documents %}
        {% set itemListNew          = paginatedResultNew.documents %}

        {% block ThemeHomepage %}
            {{ component( "Ceres::ItemList.Components.ItemList") }}
            {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
            {{ component( "Ceres::Basket.Components.AddToBasket" ) }}

            <div class="home container-max">
                <div class="row">
                    <div class="cmp cmp-hero">
                        <div class="hero-main">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <a class="hero-category" href="{{ homepageProductLinkFirstSlide }}">
                                            <img src="{{ homepageImageFirstSlide }}" alt="{{ homepageProductNameFirstSlide }}" class="img-fluid">
                                            <div class="carousel-caption">
                                                <h1><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ homepageProductNameFirstSlide }}</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="hero-category" href="{{ homepageProductLinkSecondSlide }}">
                                            <img src="{{ homepageImageSecondSlide }}" alt="{{ homepageProductNameSecondSlide }}" class="img-fluid">
                                            <div class="carousel-caption">
                                                <h1><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ homepageProductNameSecondSlide }}</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="hero-category" href="{{ homepageProductLinkThirdSlide }}">
                                            <img src="{{ homepageImageThirdSlide }}" alt="{{ homepageProductNameThirdSlide }}" class="img-fluid">
                                            <div class="carousel-caption">
                                                <h1><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ homepageProductNameThirdSlide }}</h1>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                                </ol>

                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="icon-prev" aria-hidden="true"></span>
                                    <span class="sr-only">Zurück</span>
                                </a>

                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="icon-next" aria-hidden="true"></span>
                                    <span class="sr-only">Nächste</span>
                                </a>

                            </div>
                        </div>

                        <div class="hero-xtras">
                            <a class="hero-category" href="{{ heroExtra1Link }}">
                                <img src="{{ heroExtra1Image }}" alt="{{ heroExtra1Name }}">
                                <div class="hero-category-inner">
                                    <h2 class="hero-category-headline">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ heroExtra1Name }}
                                    </h2>

                                </div>
                            </a>
                            <a class="hero-category" href="{{ heroExtra2Link }}">
                                <img src="{{ heroExtra2Image }}" alt="{{ heroExtra2Name }}">
                                <div class="hero-category-inner">
                                    <h2 class="hero-category-headline">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ heroExtra2Name }}
                                    </h2>

                                </div>
                            </a>
                        </div>

                    </div>

                    <!-- SALE -->

                    <div class="row prop-row m-y-2 sale-new">
                        <div class="col-xs-6">
                            <div class="prop-xs-6-4 prop-md-3-1">
                                <div class="prop-inner">
                                    <a class="featured-sale-new" href="{{ services.category.getURL(newId, lang) }}">

                                        <img src="{{ homepageCategoryNewImage }}" alt="New">
                                        <div class="featured-category-inner">
                                            <h4 class="featured-category-headline">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ homepageCategoryNewName }}
                                            </h4>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="prop-xs-6-4 prop-md-3-1">
                                <div class="prop-inner">
                                    <a class="featured-sale-new" href="{{ services.category.getURL(saleId, lang) }}">

                                        <img src="{{ homepageCategorySaleImage }}" alt="{{ homepageCategorySaleName }}">
                                        <div class="featured-category-inner">
                                            <h4 class="featured-category-headline">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ homepageCategorySaleName }}
                                            </h4>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>


                    <!-- END SALE -->

                    <div class="m-b-2 clearfix">
                        <div class="section-header m-b-1">
                            <h4>Topseller</h4>
                            <a href="{{ services.category.getURL(topsellerId, lang) }}" class="section-link-all"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Alle ansehen</a>
                        </div>
                        <!-- crosssell start -->
                        <ul class="product-list row grid">
                            {% for item in itemListTop %}
                                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- CATEGORIES -->

                    <div class="row prop-row m-y-2 featured-categories">
                        <div class="col-xs-12 col-lg-8">
                            <div class="prop-xs-6-4 prop-md-3-1 prop-lg-2-1">
                                <div class="prop-inner">
                                    <a class="featured-category" href="{{ featuredCategory1Link }}">

                                        <img src="{{ featuredCategory1Image }}" alt="{{ featuredCategory1Name }}">
                                        <div class="featured-category-inner">
                                            <h4 class="featured-category-headline">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ featuredCategory1Name }}
                                            </h4>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <div class="prop-xs-6-4 prop-md-3-1 prop-lg-1-1">
                                <div class="prop-inner">
                                    <a class="featured-category" href="{{ featuredCategory2Link }}">

                                        <img src="{{ featuredCategory2Image }}" alt="{{ featuredCategory2Name }}">
                                        <div class="featured-category-inner">
                                            <h4 class="featured-category-headline">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ featuredCategory2Name }}
                                            </h4>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END CATEGORIES -->

                    <div class="m-b-2 clearfix">
                        <div class="section-header m-b-1">
                            <h4>Neuheiten</h4>
                            <a href="{{ services.category.getURL(newId, lang) }}" class="section-link-all"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Alle ansehen</a>
                        </div>
                        <!-- crosssell start -->
                         <ul class="product-list row grid">
                            {% for item in itemListNew %}
                                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>


        {% endblock %}

    {% endif %}

{% endblock %}

