{% extends getPartial('page-design') %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName  = config("Ceres.header.company_name") %}


{% block PartialHead %}
    <meta property="og:title" content="{{ companyName }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}"/>
    <meta property="og:image"
          content="{% if ('http' in companyLogo) or ('layout/' in companyLogo) %}{{ companyLogo }}{% else %}{{ plugin_path('Ceres') }}/{{ companyLogo }}{% endif %}"/>

    <link rel="canonical"
          href="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}{{ item.documents[0].data | itemURL }}">

    <script type="application/ld+json">
        {"@context": "http://schema.org","@type": "WebSite","url": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}
        ","potentialAction":{"@type": "SearchAction","target": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}
        /search?query={search_term}","query-input": "required name=search_term"}}

    </script>
{% endblock %}

{% block PageBody %}

    {% if showDefaultHomepage == "true" %}

        {% include 'MarketingHomepage.twig' %}

    {% else %}
        {% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

        {% block ThemeHomepage %}
            {% set overrideHomepageContainer = LayoutContainer.show("Ceres::Homepage") %}
            {% if overrideHomepageContainer | trim is empty %}

                {% set lang = services.sessionStorage.getLang() %}
                {% set configItemName = config("Ceres.item.name") %}

                {% set slider1 = {
                item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("Ceres.homepage.sliderItemId1")]}).documents[0].data,
                url: config("Ceres.homepage.sliderImageUrl1") } %}
                {% set slider2 = {
                item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("Ceres.homepage.sliderItemId2")]}).documents[0].data,
                url: config("Ceres.homepage.sliderImageUrl2") } %}
                {% set slider3 = {
                item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("Ceres.homepage.sliderItemId3")]}).documents[0].data,
                url: config("Ceres.homepage.sliderImageUrl3") } %}

                {% if slider1.url | trim is empty %}
                    {% set slider1 = slider1 | merge({url: slider1.item.images | itemImages | first}) %}
                {% endif %}
                {% if slider2.url | trim is empty %}
                    {% set slider2 = slider2 | merge({url: slider2.item.images | itemImages | first}) %}
                {% endif %}
                {% if slider3.url | trim is empty %}
                    {% set slider3 = slider3 | merge({url: slider3.item.images | itemImages | first}) %}
                {% endif %}

                {% set heroExtra1 = {
                item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("Ceres.homepage.heroExtraItemId1")]}).documents[0].data,
                url: config("Ceres.homepage.heroExtraImageUrl1") } %}
                {% set heroExtra2 = {
                item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("Ceres.homepage.heroExtraItemId2")]}).documents[0].data,
                url: config("Ceres.homepage.heroExtraImageUrl2") } %}

                {% if heroExtra1.url | trim is empty %}
                    {% set heroExtra1 = heroExtra1 | merge({url: heroExtra1.item.images | itemImages | first}) %}
                {% endif %}
                {% if heroExtra2.url | trim is empty %}
                    {% set heroExtra2 = heroExtra2 | merge({url: heroExtra2.item.images | itemImages | first}) %}
                {% endif %}

                {% set category1 = services.category.get(config("Ceres.homepage.homepageCategory1"), lang) %}
                {% set category2 = services.category.get(config("Ceres.homepage.homepageCategory2"), lang) %}
                {% set category3 = services.category.get(config("Ceres.homepage.homepageCategory3"), lang) %}
                {% set category4 = services.category.get(config("Ceres.homepage.homepageCategory4"), lang) %}
                {% set category5 = services.category.get(config("Ceres.homepage.homepageCategory5"), lang) %}
                {% set category6 = services.category.get(config("Ceres.homepage.homepageCategory6"), lang) %}

                {% set paginatedCategoryList1 =
                services.itemLoader.loadForTemplate(
                'Ceres::ItemList.ItemListView',
                itemLoaderPresets.categoryList,
                {'categoryId': category3.id, 'page':1, 'items':4, 'sorting': itemSort}) %}

                {% set paginatedCategoryList2 =
                services.itemLoader.loadForTemplate(
                'Ceres::ItemList.ItemListView',
                itemLoaderPresets.categoryList,
                {'categoryId': category6.id, 'page':1, 'items':4, 'sorting': itemSort}) %}

                {% set categoryList1 = paginatedCategoryList1.documents %}
                {% set categoryList2 = paginatedCategoryList2.documents %}

                {{ component( "Ceres::ItemList.Components.ItemList") }}
                {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
                {{ component( "Ceres::Basket.Components.AddToBasket" ) }}

                <div class="home container-max">
                    <div class="row">
                        <div class="cmp cmp-hero">
                            {% set homepageContainer1 = LayoutContainer.show("Ceres::Homepage.Container1") %}
                            {% if homepageContainer1 | trim is empty %}
                                <div class="hero-main">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item active">
                                                <a class="hero-category" href="{{ slider1.item | itemURL }}">
                                                    <img src="{{ slider1.url }}"
                                                         alt="{{ slider1.item.texts | itemName(configItemName) }}"
                                                         class="img-fluid">
                                                    <div class="carousel-caption">
                                                        <h1><i class="fa fa-angle-double-right"
                                                               aria-hidden="true"></i> {{ slider1.item.texts | itemName(configItemName) }}
                                                        </h1>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="carousel-item">
                                                <a class="hero-category" href="{{ slider2.item | itemURL }}">
                                                    <img src="{{ slider2.url }}"
                                                         alt="{{ slider2.item.texts | itemName(configItemName) }}"
                                                         class="img-fluid">
                                                    <div class="carousel-caption">
                                                        <h1><i class="fa fa-angle-double-right"
                                                               aria-hidden="true"></i> {{ slider2.item.texts | itemName(configItemName) }}
                                                        </h1>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="carousel-item">
                                                <a class="hero-category" href="{{ slider3.item | itemURL }}">
                                                    <img src="{{ slider3.url }}"
                                                         alt="{{ slider3.item.texts | itemName(configItemName) }}"
                                                         class="img-fluid">
                                                    <div class="carousel-caption">
                                                        <h1><i class="fa fa-angle-double-right"
                                                               aria-hidden="true"></i> {{ slider3.item.texts | itemName(configItemName) }}
                                                        </h1>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0"
                                                class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                                        </ol>

                                        <a class="left carousel-control" href="#carousel-example-generic" role="button"
                                           data-slide="prev">
                                            <span class="icon-prev" aria-hidden="true"></span>
                                            <span class="sr-only">Zurück</span>
                                        </a>

                                        <a class="right carousel-control" href="#carousel-example-generic" role="button"
                                           data-slide="next">
                                            <span class="icon-next" aria-hidden="true"></span>
                                            <span class="sr-only">Nächste</span>
                                        </a>

                                    </div>
                                </div>
                            {% else %}
                                {{ homepageContainer1 }}
                            {% endif %}

                            <div class="hero-xtras">
                                {% set homepageContainer2 = LayoutContainer.show("Ceres::Homepage.Container2") %}
                                {% if homepageContainer2 | trim is empty %}
                                    <a class="hero-category" href="{{ heroExtra1.item | itemURL }}">
                                        <img src="{{ heroExtra1.url }}"
                                             alt="{{ heroExtra1.item.texts | itemName(configItemName) }}">
                                        <div class="hero-category-inner">
                                            <h2 class="hero-category-headline">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> {{ heroExtra1.item.texts | itemName(configItemName) }}
                                            </h2>
                                        </div>
                                    </a>
                                {% else %}
                                    {{ homepageContainer2 }}
                                {% endif %}

                                {% set homepageContainer3 = LayoutContainer.show("Ceres::Homepage.Container3") %}
                                {% if homepageContainer3 | trim is empty %}
                                    <a class="hero-category" href="{{ heroExtra2.item | itemURL }}">
                                        <img src="{{ heroExtra2.url }}"
                                             alt="{{ heroExtra2.item.texts | itemName(configItemName) }}">
                                        <div class="hero-category-inner">
                                            <h2 class="hero-category-headline">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> {{ heroExtra2.item.texts | itemName(configItemName) }}
                                            </h2>
                                        </div>
                                    </a>
                                {% else %}
                                    {{ homepageContainer3 }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row prop-row m-y-2 sale-new">
                            <div class="col-xs-6">
                                <div class="prop-xs-6-4 prop-md-3-1">
                                    {% set homepageContainer4 = LayoutContainer.show("Ceres::Homepage.Container4") %}
                                    {% if homepageContainer4 | trim is empty %}
                                        <div class="prop-inner">
                                            <a class="featured-sale-new"
                                               href="{{ services.category.getURL(category1, lang) }}">
                                                <img src="documents/{{ category1.details[0].imagePath }}"
                                                     alt="{{ category1.details[0].name }}">
                                                <div class="featured-category-inner">
                                                    <h4 class="featured-category-headline">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> {{ category1.details[0].name }}
                                                    </h4>
                                                </div>
                                            </a>
                                        </div>
                                    {% else %}
                                        {{ homepageContainer4 }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="prop-xs-6-4 prop-md-3-1">
                                    {% set homepageContainer5 = LayoutContainer.show("Ceres::Homepage.Container5") %}
                                    {% if homepageContainer5 | trim is empty %}
                                        <div class="prop-inner">
                                            <a class="featured-sale-new"
                                               href="{{ services.category.getURL(category2, lang) }}">
                                                <img src="documents/{{ category2.details[0].imagePath }}"
                                                     alt="{{ category2.details[0].name }}">
                                                <div class="featured-category-inner">
                                                    <h4 class="featured-category-headline">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> {{ category2.details[0].name }}
                                                    </h4>
                                                </div>
                                            </a>
                                        </div>
                                    {% else %}
                                        {{ homepageContainer5 }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="m-b-2 clearfix">
                            {% set homepageContainer6 = LayoutContainer.show("Ceres::Homepage.Container6") %}
                            {% if homepageContainer6 | trim is empty %}
                                <div class="section-header m-b-1">
                                    <h4>{{ category3.details[0].name }}</h4>
                                    <a href="documents/{{ services.category.getURL(category3.id, lang) }}"
                                       class="section-link-all"><i
                                                class="fa fa-angle-double-right" aria-hidden="true"></i> Alle
                                        ansehen</a>
                                </div>
                                <ul class="product-list row grid">
                                    {% for item in categoryList1 %}
                                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                            {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ homepageContainer6 }}
                            {% endif %}
                        </div>

                        {#<!-- CATEGORIES -->#}

                        <div class="row prop-row m-y-2 featured-categories">
                            <div class="col-xs-12 col-lg-8">
                                <div class="prop-xs-6-4 prop-md-3-1 prop-lg-2-1">
                                    {% set homepageContainer7 = LayoutContainer.show("Ceres::Homepage.Container7") %}
                                    {% if homepageContainer7 | trim is empty %}
                                        <div class="prop-inner">
                                            <a class="featured-category"
                                               href="{{ services.category.getURL(category4, lang) }}">

                                                <img src="documents/{{ category4.details[0].imagePath }}"
                                                     alt="{{ category4.details[0].name }}">
                                                <div class="featured-category-inner">
                                                    <h4 class="featured-category-headline">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> {{ category4.details[0].name }}
                                                    </h4>

                                                </div>
                                            </a>
                                        </div>
                                    {% else %}
                                        {{ homepageContainer7 }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-4">
                                <div class="prop-xs-6-4 prop-md-3-1 prop-lg-1-1">
                                    {% set homepageContainer8 = LayoutContainer.show("Ceres::Homepage.Container8") %}
                                    {% if homepageContainer8 | trim is empty %}
                                        <div class="prop-inner">
                                            <a class="featured-category"
                                               href="{{ services.category.getURL(category5, lang) }}">

                                                <img src="documents/{{ category5.details[0].imagePath }}"
                                                     alt="{{ category5.details[0].name }}">
                                                <div class="featured-category-inner">
                                                    <h4 class="featured-category-headline">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> {{ category5.details[0].name }}
                                                    </h4>

                                                </div>
                                            </a>
                                        </div>
                                    {% else %}
                                        {{ homepageContainer8 }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- END CATEGORIES -->

                        <div class="m-b-2 clearfix">
                            {% set homepageContainer9 = LayoutContainer.show("Ceres::Homepage.Container9") %}
                            {% if homepageContainer9 | trim is empty %}
                                <div class="section-header m-b-1">
                                    <h4>{{ category6.details[0].name }}</h4>
                                    <a href="{{ services.category.getURL(category6, lang) }}"
                                       class="section-link-all"><i
                                                class="fa fa-angle-double-right" aria-hidden="true"></i> Alle
                                        ansehen</a>
                                </div>
                                <!-- crosssell start -->
                                <ul class="product-list row grid">
                                    {% for item in categoryList2 %}
                                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                            {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ homepageContainer9 }}
                            {% endif %}
                        </div>

                        {{ LayoutContainer.show("Ceres::Homepage.Container10") }}

                    </div>
                </div>
            {% else %}
                {{ overrideHomepageContainer }}
            {% endif %}
        {% endblock %}

    {% endif %}

{% endblock %}