{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{{ Twig.import("ItemName", "Ceres::PageDesign.Macros.ItemName") }}

{% set customClass      = widget.settings.customClass.mobile %}
{% set spacingSettings  = widget.settings.spacing %}
{% set inlinePadding    = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin     = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingPadding   = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingMargin    = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set appearance       = widget.settings.appearance.mobile | default("primary") %}

{{ Twig.if("data.order is defined and data.order is not null") }}
<div class="widget widget-purchased-items widget-{{ appearance }} border
    {% if customClass | length > 0 %} {{ customClass }}{% endif %}
    {% if spacingPadding | length > 0 %} {{ spacingPadding }}{% else %} px-4 py-3{% endif %}
    {% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}"
    {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}
    {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>

    <div class="widget-inner confirmation-order-list">
        {{ Twig.for("item", "data.order.orderItems") }}
            {{ Twig.if("item.itemVariationId > 0 and not services.order.containsComponentPrefix(item.orderItemName)") }}
                {{ Twig.set("currentVariationId", "item.itemVariationId | trimNewlines") }}

                <article class="cmp cmp-order-item mb-0 border-bottom-0">
                    <a href="{{ Twig.print('data.itemURLs | getObjectValue(currentVariationId)') }}" class="item-image">
                        <img src="{{ Twig.print('data.itemImages | getObjectValue(currentVariationId)') }}" alt="{{ Twig.print('item.orderItemName') }}" title="{{ Twig.print('item.orderItemName') }}">
                    </a>

                    <div class="item-details mt-0">
                        <a href="{{ Twig.print('data.itemURLs | getObjectValue(currentVariationId)') }}" class="clearfix">
                            <div class="item-name text-appearance">
                                {{ Twig.print(Twig.call("ItemName.get", ["$item.orderItemName", "$item.bundleType"])) }}
                            </div>
                        </a>
                        {{ Twig.set("setSurcharge", 0) }}
                        {{ Twig.if("item.setComponents") }}
                            <div class="set-data">
                                <div class="mb-2"><strong>{{ Twig.trans("Ceres::Template.itemSetContent") }}</strong></div>
                                {{ Twig.for("setComponent", "item.setComponents") }}
                                    {{ Twig.set("imageData", "data.variations[setComponent.itemVariationId].images | firstItemImage('urlPreview')") }}
                                    {{ Twig.set("altText", "imageData.alternate ? imageData.alternate : setComponent.orderItemName") }}
                                    {{ Twig.set("setSurcharge", "setSurcharge + setComponent.amounts[0].surcharge") }}

                                    <div class="d-flex mb-2">
                                        <span class="text-muted">{{ Twig.print("setComponent.quantity") }}x</span>
                                        <div class="image-container flex-shrink-0 mx-1">
                                            {{ Twig.if("imageData") }}
                                                <lazy-img
                                                    picture-class="d-block mw-100 mh-100"
                                                    :image-url="{{ Twig.print("imageData.url | json_encode") }}"
                                                    :alt="{{ Twig.print("altText | json_encode") }}"
                                                    :title="{{ Twig.print("setComponent.orderItemName | json_encode") }}">
                                                </lazy-img>
                                            {{ Twig.endif() }}
                                        </div>
                                        <div>
                                            <a href="{{ Twig.print("data.itemURLs | getObjectValue(setComponent.itemVariationId)") }}" class="item-name text-primary text-appearance font-weight-bold text-break mb-0">
                                                {{ Twig.print("setComponent.orderItemName") }}
                                            </a>
                                            {{ Twig.for("attribute", "data.variations[setComponent.itemVariationId].attributes") }}
                                                {{ Twig.if("loop.index0 > 0") }}, {{ Twig.endif() }}
                                                <strong>{{ Twig.print("attribute.attribute.names.name") }}: </strong>
                                                {{- Twig.print("attribute.value.names.name") -}}
                                            {{ Twig.endfor() }}

                                            {{ Twig.if("setComponent.orderProperties") }}
                                                <div><strong>{{ Twig.trans("Ceres::Template.orderConfirmationProperties") }}</strong></div>

                                                <div id="collapseOrderProperties" class="collapse{% if isPreview %} show{% endif %}">
                                                    {{ Twig.for("property", "setComponent.orderProperties") }}
                                                        <div>
                                                            <strong class="item-word-break">{{ Twig.print('property | propertyName') }}</strong>
                                                            {{ Twig.if("property.type == 'file'") }}
                                                                {{ Twig.if("property.fileUrl is not empty") }}
                                                                    <a class="text-appearance" href="{{ Twig.print("property.fileUrl") }}" target="_blank">
                                                                        <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                        {{ Twig.print('property.value') }}
                                                                    </a>
                                                                {{ Twig.else() }}
                                                                    <span class="item-word-break">
                                                                        {{ Twig.set("splitPath", "property.value | split('/')") }}
                                                                        {{ Twig.set("filename", "''") }}
                                                                        {{ Twig.set("path", "''") }}

                                                                        {{ Twig.for("temp", "splitPath") }}
                                                                            {{ Twig.if("loop.first") }}
                                                                                {{ Twig.set("path", "temp") }}
                                                                            {{ Twig.elseif("loop.last") }}
                                                                                {{ Twig.set("filename", "temp") }}
                                                                            {{ Twig.else() }}
                                                                                {{ Twig.set("path", "path ~ '/' ~ temp") }}
                                                                            {{ Twig.endif() }}
                                                                        {{ Twig.endfor() }}

                                                                            <a class="text-appearance" href="{{ Twig.print('urls.orderPropertyFile(path)') }}?filename={{ Twig.print('filename') }}{{ Twig.if("services.customer.getContactId() == 0") }}&orderId={{ Twig.print('data.order.id') }}{{ Twig.endif() }}"
                                                                               target="_blank">
                                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                                {{ Twig.print('splitPath | last') }}
                                                                            </a>
                                                                        </span>
                                                                {{ Twig.endif() }}
                                                            {{ Twig.elseif("property.type == 'selection'") }}
                                                                <span class="item-word-break">
                                                                    {{ Twig.print('property | propertySelectionValueName') }}
                                                                </span>
                                                            {{ Twig.elseif("property.type | length > 0") }}
                                                                <span class="item-word-break">
                                                                    {{ Twig.print('property.value') }}
                                                                </span>
                                                            {{ Twig.endif() }}
                                                        </div>
                                                    {{ Twig.endfor() }}
                                                </div>

                                                <label
                                                    class="btn-collapse mb-0 collapsed"
                                                    data-toggle="collapse"
                                                    data-target="#collapseOrderProperties"
                                                    aria-expanded="false"
                                                    aria-controls="collapseOrderProperties"
                                                    data-show-more="{{ Twig.trans("Ceres::Template.basketShowMore") }}"
                                                    data-show-less="{{ Twig.trans("Ceres::Template.basketShowLess") }}">
                                                    <i class="fa fa-caret-down fa-lg"></i>
                                                </label>

                                            {{ Twig.endif() }}

                                            {{ Twig.for("propertyGroup", "setComponent.variationProperties") }}
                                                <div>
                                                    {{ Twig.for("property", "propertyGroup.properties") }}
                                                        <div>
                                                            <strong>{{ Twig.print("propertyGroup.name") }}</strong>
                                                            <span>{{ Twig.print("property.names.name") }}</span>
                                                            <span>
                                                                {{ Twig.if('property.cast == "file"') }}
                                                                    <a :href="'{{ Twig.print("property.values.value") }}' | propertyFileUrl" v-html="'{{ Twig.print("property.values.value") }}'" target="_blank"></a>
                                                                {{ Twig.else() }}
                                                                    {{ Twig.print("property.values.value | raw") }}
                                                                {{ Twig.endif() }}
                                                            </span>
                                                        </div>
                                                    {{ Twig.endfor() }}
                                                </div>
                                            {{ Twig.endfor() }}
                                        </div>
                                    </div>
                                {{ Twig.endfor() }}
                            </div>
                        {{ Twig.endif() }}

                        {{ Twig.if("splitItemBundle != '1' and item.bundleType == 'bundle'") }}
                            <div class="mb-3 small">
                                {{ Twig.for("bundleComponent", "item.bundleComponents") }}
                                    <div>
                                        <span class="text-muted">{{ Twig.print('bundleComponent.quantity') }} x</span>
                                        <a class="text-appearance" href="{{ Twig.print('bundleComponent.data | itemURL') }}"> {{ Twig.print('bundleComponent.data | itemName') }} </a>
                                    </div>
                                {{ Twig.endfor() }}
                            </div>
                        {{ Twig.endif() }}

                        {{ Twig.set("itemAmount", "item.amounts[0]") }}

                        {{ Twig.for("amount", "item.amounts if not amount.isSystemCurrency") }}
                            {{ Twig.set("itemAmount", "amount") }}
                        {{ Twig.endfor() }}

                        {{ Twig.set("itemPrice", "0") }}
                        {{ Twig.if("data.highlightNetPrices") }}
                            {{ Twig.set("itemPrice", "itemAmount.priceOriginalNet + setSurcharge") }}
                            {{ Twig.set("discountAmount", "item.quantity * (itemAmount.priceOriginalNet - itemAmount.priceNet)") }}
                            {{ Twig.set("itemPriceTotal", "item.quantity * (itemAmount.priceNet + setSurcharge)") }}
                        {{ Twig.else() }}
                            {{ Twig.set("itemPrice", "itemAmount.priceOriginalGross + setSurcharge") }}
                            {{ Twig.set("discountAmount", "item.quantity * (itemAmount.priceOriginalGross - itemAmount.priceGross)") }}
                            {{ Twig.set("itemPriceTotal", "item.quantity * (itemAmount.priceGross + setSurcharge)") }}
                        {{ Twig.endif() }}

                        <div class="row" {{ Twig.print('set_testing_attr("data-testing", "order-confirmation-price-per-piece")') }}>
                            <strong class="col-6 col-sm-3 col-md-5">{{ Twig.trans("Ceres::Template.orderConfirmationPricePerPiece") }}</strong>
                            <span class="col-6 col-sm-9 col-md-7 text-right">{{ Twig.print('itemPrice | formatMonetary( itemAmount.currency )') }}</span>
                        </div>

                        <div class="row" {{ Twig.print('set_testing_attr("data-testing", "order-confirmation-quantity")') }}>
                            <strong class="col-6 col-sm-3 col-md-5">{{ Twig.trans("Ceres::Template.orderConfirmationQuantity") }}</strong>
                            <span class="col-6 col-sm-9 col-md-7 text-right">{{ Twig.print('item.quantity') }}</span>
                        </div>

                        {{ Twig.for("attribute", "item.attributes") }}
                        <div class="row">
                            <strong class="col-6 col-sm-3 col-md-5">{{ Twig.print("attribute.name") }}: </strong>
                            <span class="col-6 col-sm-7 col-md-7 text-right">{{ Twig.print("attribute.value") }}</span>
                        </div>
                        {{ Twig.endfor() }}
                        {{ Twig.if("itemAmount.discount > 0") }}
                            <div class="row rebate-hint">
                                <strong class="col-6 col-sm-3 col-md-5">{{ Twig.trans("Ceres::Template.orderConfirmationItemDiscount") }}</strong>
                                <span class="col-6 col-sm-9 col-md-7 text-right">{{ Twig.print('discountAmount | formatMonetary( itemAmount.currency )') }}</span>
                            </div>
                        {{ Twig.endif() }}
                        {{ Twig.if("item.orderProperties") }}
                            <div class="row mb-1">
                                <strong class="col-6 col-sm-3 col-md-5">{{ Twig.trans("Ceres::Template.orderConfirmationProperties") }}</strong>
                            </div>

                            {{ Twig.set("uid", "uid()") }}
                            <div id="collapse-{{ Twig.print('uid') }}" class="collapse row pl-4{% if isPreview %} show{% endif %}">
                                {{ Twig.for("property", "item.orderProperties") }}
                                    <strong class="col-12 mt-1 item-word-break" data-testing="purchased-order-property">
                                        {{ Twig.print('property | propertyName') }}
                                        {{ Twig.if("webstoreConfig.useVariationOrderProperties and property.surcharge > 0") }}
                                            {{ Twig.if("not property.hasTax or property.isAdditionalCosts") }}
                                                ({{ Twig.trans("Ceres::Template.basketPlusAbbr") }}
                                            {{ Twig.else() }}
                                                ({{ Twig.trans("Ceres::Template.basketIncludeAbbr") }}
                                            {{ Twig.endif() }}
                                            {{ Twig.print("property.surcharge | formatMonetary(itemAmount.currency)") }})
                                        {{ Twig.endif() }}
                                    </strong>
                                    {{ Twig.if("property.type == 'file'") }}
                                        {{ Twig.if("property.fileUrl is not empty") }}
                                            <a class="text-appearance" href="{{ Twig.print("property.fileUrl") }}" target="_blank">
                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                {{ Twig.print('property.value') }}
                                            </a>
                                        {{ Twig.else() }}
                                            <span class="col-12 item-word-break">
                                                {{ Twig.set("splitPath", "property.value | split('/')") }}
                                                {{ Twig.set("filename", "''") }}
                                                {{ Twig.set("path", "''") }}

                                                {{ Twig.for("temp", "splitPath") }}
                                                    {{ Twig.if("loop.first") }}
                                                        {{ Twig.set("path", "temp") }}
                                                    {{ Twig.elseif("loop.last") }}
                                                        {{ Twig.set("filename", "temp") }}
                                                    {{ Twig.else() }}
                                                        {{ Twig.set("path", "path ~ '/' ~ temp") }}
                                                    {{ Twig.endif() }}
                                                {{ Twig.endfor() }}

                                                <a class="text-appearance" href="{{ Twig.print('urls.orderPropertyFile(path)') }}?filename={{ Twig.print('filename') }}{{ Twig.if("services.customer.getContactId() == 0") }}&orderId={{ Twig.print('data.order.id') }}{{ Twig.endif() }}"
                                                target="_blank">
                                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                                    {{ Twig.print('splitPath | last') }}
                                                </a>
                                            </span>
                                        {{ Twig.endif() }}
                                    {{ Twig.elseif("property.type == 'selection'") }}
                                    <span class="col-12 item-word-break">
                                        {{ Twig.print('property | propertySelectionValueName') }}
                                    </span>
                                    {{ Twig.elseif("property.type | length > 0") }}
                                    <span class="col-12 item-word-break">
                                        {{ Twig.print('property.value') }}
                                    </span>
                                    {{ Twig.endif() }}
                                {{ Twig.endfor() }}
                            </div>

                            <label
                                class="btn-collapse mb-0 collapsed"
                                data-toggle="collapse"
                                data-target="#collapse-{{ Twig.print('uid') }}"
                                aria-expanded="false"
                                aria-controls="collapse-{{ Twig.print('uid') }}"
                                data-show-more="{{ Twig.trans("Ceres::Template.basketShowMore") }}"
                                data-show-less="{{ Twig.trans("Ceres::Template.basketShowLess") }}">
                                <i class="fa fa-caret-down fa-lg"></i>
                            </label>

                        {{ Twig.endif() }}

                        <div class="row" {{ Twig.print('set_testing_attr("data-testing", "order-confirmation-total")') }}>
                            <strong class="col-6 col-sm-3 col-md-5">{{ Twig.trans("Ceres::Template.orderConfirmationTotal") }}</strong>
                            <strong class="col-6 col-sm-9 col-md-7 text-right">{{ Twig.print('itemPriceTotal | formatMonetary( itemAmount.currency )') }}</strong>
                        </div>

                        {{ Twig.for("propertyGroup", "item.variationProperties") }}
                            <div>
                                {{ Twig.for("property", "propertyGroup.properties") }}
                                    <div>
                                        <strong>{{ Twig.print("propertyGroup.name") }}</strong>
                                        <span>{{ Twig.print("property.names.name") }}</span>
                                        {{ Twig.if('property.cast == "file"') }}
                                            <a :href="'{{ Twig.print("property.values.value") }}' | propertyFileUrl" v-html="'{{ Twig.print("property.values.value") }}'" target="_blank"></a>
                                        {{ Twig.elseif('property.cast == "multiSelection" and property.values[0] is defined') }}
                                            <ul class="pl-3">
                                                {{ Twig.for("multiSelectProperty", "property.values") }}
                                                    <li>{{ Twig.print("multiSelectProperty.value | raw") }}</li>
                                                {{ Twig.endfor() }}
                                            </ul>
                                        {{ Twig.else() }}
                                            {{ Twig.print("property.values.value | raw") }}
                                        {{ Twig.endif() }}
                                    </div>
                                {{ Twig.endfor() }}
                            </div>
                        {{ Twig.endfor() }}
                    </div>
                </article>
            {{ Twig.endif() }}

            {{ Twig.if("item.giftCard.isGiftCard") }}
                <edit-coupon-overlay
                    :order-item="{{ Twig.print("item | json_encode") }}"
                    order-access-key="{{ Twig.print("request.get('accessKey')") }}"
                    payment-status="{{ Twig.print("data.paymentStatus") }}">
                </edit-coupon-overlay>
            {{ Twig.endif() }}

        {{ Twig.endfor() }}
    </div>
</div>
{{ Twig.endif() }}
