{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}
{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set customClass = widget.settings.customClass.mobile %}
{% set appearance   = widget.settings.appearance.mobile %}
{% set hasSpacing = widget.settings.customMargin.mobile or widget.settings.customPadding.mobile %}
{% set spacingSettings  = widget.settings.spacing %}
{% set inlineSpacings   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set spacingClasses   = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% if orderInputType == 'postcode' %}
    {% set description = trans("Ceres::Template.softLoginDescriptionPostcode") %}
    {% set label = trans("Ceres::Template.softLoginInputLabelPostcode") %}
{% else %}
    {% set description = trans('Ceres::Template.softLoginDescriptionName') %}
    {% set label = trans('Ceres::Template.softLoginInputLabelName') %}
{% endif %}
{% set title =  trans("Ceres::Template.softLoginTitle") %}
{% set buttonSubmitLabel = trans('Ceres::Template.softLoginSubmitLabel') %}

{# {{ Twig.set("contextData", "[]") }}
{{ Twig.set("contextData", "contextData | merge({ backlinkUrl: 'backlinkUrl' })") }}
{{ Twig.set("contextData", "contextData | merge({ orderAccessKey: orderAccessKey })") }}
{{ Twig.set("contextData", "contextData | merge({ orderConfirmationToken: orderConfirmationToken })") }}
{{ Twig.set("contextData", "contextData | merge({ orderId: orderId })") }}
{{ Twig.set("contextData", "contextData | merge({ orderInputType: orderInputType })") }}

{{ Twig.set("texts", "[]") }}
{{ Twig.set("texts", "texts | merge({ title: title })") }}
{{ Twig.set("texts", "texts | merge({ description: description })") }}
{{ Twig.set("texts", "texts | merge({ label: label })") }}
{{ Twig.set("texts", "texts | merge({ buttonSubmitLabel: buttonSubmitLabel })") }}

{{ Twig.print("texts") | json_encode }}
{{ Twig.print("contextData") | json_encode }} #}
{# 

<div class="widget widget-softlogin widget-{{ appearance | default('primary') }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"{% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>
    <div class="widget-inner{% if hasSpacing %} m-0 p-0{% endif %}">
       {{ Twig.print("confirmation_softlogin(contextData, texts) | raw") }}
    </div>
</div> #}

{{ Twig.set("contextData","{
        'backlinkUrl': {{ Twig.print('backlinkUrl') }},
        'orderAccessKey': orderAccessKey,
        'orderConfirmationToken': orderConfirmationToken,
        'orderId': orderId,
        'orderInputType': orderInputType
    }")
}}

{{ Twig.set("texts", "{
        'title': title,
        'description': description,
        'label': label,
        'buttonSubmitLabel': buttonSubmitLabel
    }")
}}

<div class="widget widget-softlogin widget-{{ appearance | default('primary') }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}"{% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>
    <div class="widget-inner{% if hasSpacing %} m-0 p-0{% endif %}">
       {{ Twig.print("confirmation_softlogin(contextData, texts) | raw") }}
    </div>
</div>

