<script type="x/template" id="vue-order-return">

	{{ component( "Ceres::OrderReturn.Components.OrderReturnItem" ) }}

	<div>
		<order-return-item v-for="(orderItem, index) in orderData.order.orderItems" :key="index"  :order-item="orderItem" template="#vue-order-return-item"></order-return-item>

		<button class="btn btn-primary btn-medium-large mt-4" @click="selectAllItems()">
			<i class="fa fa-check-square-o" aria-hidden="true"></i>
			{{ trans("Ceres::Template.returnSelectAll") }}
		</button>
		<button class="btn btn-primary float-right btn-medium-large mt-4" :disabled="isDisabled || isLoading" @click="showConfirmationModal()">
			<i class="fa fa-arrow-right" aria-hidden="true"></i>
			{{ trans("Ceres::Template.returnTrigger") }}
		</button>

		{# confirmation modal #}
		<div class="modal fade" ref="orderReturnConfirmation" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">{{ trans("Ceres::Template.returnSendBack") }}</h3>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<ul>
							<li v-for="orderReturnItem in orderReturnItems">
								${orderReturnItem.quantity}x ${orderReturnItem.orderItem | itemBundleName}
							</li>
						</ul>

						<div class="input-unit textarea cmp-contact mt-4">
							<textarea id="contact_wish" class="no-resize" rows="5" @change="updateOrderReturnNote($event.target.value)"></textarea>
							<label for="contact_wish">{{ trans("Ceres::Template.returnReason") }}</label>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-secondary btn-medium">
							<i class="fa fa-times" aria-hidden="true"></i>
							{{ trans("Ceres::Template.returnCancel") }}
						</button>
						<button :disabled="isLoading" @click="sendReturnItems({{ urls.returnConfirmation | json_encode }})" type="button" class="btn btn-primary btn-medium">
							<i v-waiting-animation="isLoading" class="fa fa-check" aria-hidden="true"></i>
							{{ trans("Ceres::Template.returnConfirm") }}
						</button>
					</div>
				</div>
			</div>
		</div>
		{# confirmation modal #}
    </div>
</script>
  