{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set formFieldId     = widget.settings.key.mobile | default(uid()) %}

{% set isRequired      = widget.settings.isRequired.mobile %}
{% set label           = widget.settings.label.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings  = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set spacingClasses  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set customClass     = widget.settings.customClass.mobile %}

{% set allowMultiple = widget.settings.allowMultiple.mobile %}
{% set allowedFileExtensions = widget.settings.allowedFileExtensions.mobile | join | trim(',', 'left') %}

<div class="widget widget-mail-attachment
    {% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}
    {% if customClass | length > 0 %} {{ customClass }}{% endif %}"
    {% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>

    <form-attachment
        :allow-multiple="{{ allowMultiple | json_encode }}"
        allowed-file-extensions="{{ allowedFileExtensions }}"
        :is-required="{{ isRequired | json_encode }}"
        form-field-id="{{ formFieldId }}"
        label="{{ label }}">
    </form-attachment>
</div>
