{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{{ Twig.set("apiKey", Twig.call("config", ["Ceres.global.google_recaptcha_api_key"])) }}
{{ Twig.set("version", Twig.call("config", ["Ceres.global.google_recaptcha_version"])) }}

{{ Twig.component( "Ceres::Customer.Components.Contact.ReCaptcha" ) }}

<div class="widget widget-recaptcha
    {% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %} 
    {% if customClass | length > 0 %} {{ customClass }}{% endif %}" 
    {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}> 

    {{ Twig.if("apiKey is not empty") }}
        <div class="widget-inner">
            <recaptcha></recaptcha>

            {{ Twig.if("#{ isPreview | json_encode } and version != 2") }}
                <div class="widget-placeholder prop-xs-4-1">
                    <div>
                        <p class="title">{{ Twig.trans("Ceres::Widget.reCaptchaPlaceholderTitle") }}</p>
                        <p class="description">{{ Twig.trans("Ceres::Widget.reCaptchaPlaceholderInvisibleDescription") }}</p>
                    </div>
                </div>
            {{ Twig.endif() }}
        </div>
    {{ Twig.elseif("#{ isPreview | json_encode }") }}
        <div class="widget-placeholder prop-xs-4-1">
            <div>
                <p class="title">{{ Twig.trans("Ceres::Widget.reCaptchaPlaceholderTitle") }}</p>
                <p class="description">{{ Twig.trans("Ceres::Widget.reCaptchaPlaceholderDescription") }}</p>
            </div>
        </div>
    {{ Twig.endif() }}
</div>
