{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set formFieldId     = widget.settings.key.mobile | default(uid()) %}
{% set isRequired      = widget.settings.isRequired.mobile %}
{% set label           = widget.settings.label.mobile %}
{% set isMailSubject   = widget.settings.isMailSubject.mobile %}
{% set isReplyToName   = widget.settings.isReplyToName.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings  = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set spacingClasses  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}

<div class="widget widget-text-input
    {% if spacingClasses | length > 0 %} {{ spacingClasses }}{% endif %}
    {% if customClass | length > 0 %} {{ customClass }}{% endif %}"
    {% if inlineSpacings | length > 0 %} style="{{ inlineSpacings }}"{% endif %}>
    
    <div class="input-unit{% if isRequired %} required{% endif %}"{% if isRequired %} data-validate="text"{% endif %}>
        <input
            name="{{ formFieldId }}"
            type="text"
            id="{{ formFieldId }}">

        <label for="{{ formFieldId }}">
            {{ label }}{% if isRequired %}*{% endif %}
        </label>
        {% if isMailSubject %}
            <input type="hidden" data-mail="subject" value="{{ formFieldId }}">
        {% endif %}
        {% if isReplyToName %}
            <input type="hidden" data-mail="reply-to-name" value="{{ formFieldId }}">
        {% endif %}
    </div>
</div>