{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title "404" %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    <div class="container-max page-content page-not-found">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron default-not-found">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="display-3">{{ trans("Ceres::Template.pageNotFoundOops") }}</h1>
                            <p class="lead">{{ trans("Ceres::Template.pageNotFoundPage") }}</p>
                            <hr class="my-4">
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="{{ homepageURL }}" role="button"><i class="fa fa-home" aria-hidden="true"></i>{{ trans("Ceres::Template.pageNotFoundHomepage") }}</a>
                            </p>
                        </div>
                        <div class="col-md-6 text-md-right not-found-text">
                            404
                        </div>
                    </div>
                </div>

                {{ LayoutContainer.show("Ceres::StaticPages.PageNotFound") }}

            </div>
        </div>
    </div>

{% endblock %}
