{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <meta name="description" content="{{ config("Ceres.meta."~metaLang~".description_privacy_policy") }}">
    <meta name="robots" content="{{ config("Ceres.meta.robots_privacy_policy") }}">
    <title>{{ trans("Ceres::Template.generalPrivacyPolicyNoShy") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}

    {% set privacyPolicy = services.legalInformation.getPrivacyPolicy() %}

    <div class="container-max page-content">
        <div class="row">
            <div class="col-xs-12">
                {% autoescape false %}
                    <h1>{{ trans("Ceres::Template.generalPrivacyPolicy") }}</h1>
                {% endautoescape %}

                <hr class="m-y-3">

                {% if privacyPolicy.htmlText %}
                    {{ privacyPolicy.htmlText | raw }}
                {% else %}
                    <p class="static-page-plain-text">{{ privacyPolicy.plainText }}</p>
                {% endif %}

                {{ LayoutContainer.show("Ceres::StaticPages.PrivacyPolicy") }}
            </div>
        </div>
    </div>

{% endblock %}
