{{ component( "Ceres::Customer.Components.AddressSelect.CreateUpdateAddress") }}
<script type="x/template" id="vue-address-select">
    <div>
        <div class="cmp cmp-address-list m-b-2">
            <div class="dropdown items">

                <div class="component-loading" :id="'addressMultiSelect' + _uid"
                        v-bind:class="{'dropdown-toggle card': !isAddressListEmpty && !(addressType === '2' && addressList.length === 1), 'items items-empty': isAddressListEmpty && (addressType === '2' && addressList.length === 1), 'disabled': isBasketLoading, 'isLoading': isBasketLoading}"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">

                    <div class="item-inner" v-bind:class="{'error': showError}">
                        <span v-if="selectedAddress && selectedAddress.id == -99">
                            <p class="text-muted small font-italic p-t-1">- {{ trans("Ceres::Template.addressSameAsInvoice") }} -</p>
                        </span>
                        <span v-else class="item-content">
                            <div v-if="!isAddressListEmpty && selectedAddress">
                                <strong v-if="selectedAddress && selectedAddress.name1 && selectedAddress.name1.length > 0">${selectedAddress.name1}</strong>
                                <strong v-if="selectedAddress && !selectedAddress.name1 || selectedAddress.name1.length == 0">${selectedAddress | optionType(11)} ${selectedAddress.name2} ${selectedAddress.name3}</strong>
                                <span v-else>${selectedAddress | optionType(11)} ${selectedAddress.name2} ${selectedAddress.name3}</span>
                                <span>${selectedAddress.address1} ${selectedAddress.address2}</span>
                                <span>${selectedAddress.postalCode} ${selectedAddress.town}</span>
                                <span>${getCountryName(selectedAddress.countryId)}</span>
                            </div>

                            <p v-if="!isAddressListEmpty && !selectedAddress"
                            class="text-muted small font-italic p-t-1">- {{ trans("Ceres::Template.pleaseSelect") }}
                                -</p>
                            <p v-if="isAddressListEmpty"
                            class="text-muted small font-italic p-t-1">- {{ trans("Ceres::Template.addressNoAddress") }}
                                -</p>
                        </span>
                    </div>
                </div>

                <div class="add-item">
                    <button href="#" class="btn btn-primary btn-medium" v-if="isAddAddressEnabled" @click.prevent="showAddModal" :disabled="isBasketLoading">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        {{ trans("Ceres::Template.addressAddAddress") }}
                    </button>
                </div>

                <div class="dropdown-menu" aria-labelledby="addressMultiSelect" v-if="!isAddressListEmpty && !(addressType === '2' && addressList.length === 1)">
                    <ul>
                        <li class="item" v-for="(address, index) in addressList">
                            <input
                                    type="radio"
                                    :name="'shippingAddress' + _uid"
                                    :id="'addressSelectItem' + _uid + address.id"
                                    :value="address.id"
                                    :checked="selectedAddress && selectedAddress.id === address.id"
                                    @change="onAddressChanged(address)"
                            >
                            <label :for="'addressSelectItem' + _uid + address.id" class="item-inner">
                            <span v-if="address.id == -99">
                                <p class="text-muted small font-italic p-t-1">- {{ trans("Ceres::Template.addressSameAsInvoice") }}
                                    -</p>
                            </span>
                                <span v-else class="item-content small">
                                <strong v-if="address.name1 && address.name1.length > 0">${address.name1}</strong>
                                <strong v-if="!address.name1 || address.name1.length == 0">${address | optionType(11)} ${address.name2} ${address.name3}</strong>
                                <span v-else>${selectedAddress | optionType(11)} ${address.name2} ${address.name3}</span>
                                <span>${address.name4}</span>
                                <span>${address.address1} ${address.address2}</span>
                                <span>${address.postalCode} ${address.town}</span>
                                <span>${getCountryName(address.countryId)}</span>
                            </span>
                                <!---->
                                <div class="item-controls" v-if="address.id != -99">
                                    <span class="item-edit">
                                        <button v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans("Ceres::Template.generalEdit") }}" class="btn btn-primary btn-medium" @click.prevent="showEditModal(address)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                    <span class="item-remove">
                                        <button v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans("Ceres::Template.generalDelete") }}" class="btn btn-medium btn-remove-address" @click.prevent="showDeleteModal(address)">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div ref="addressModal">
            <div class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" @click="closeAddressModal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">${headline}</h4>
                        </div>

                        <div class="modal-body">
                            <fieldset>
                                <create-update-address
                                        template="#vue-create-update-address"
                                        :address-data="addressToEdit"
                                        :address-modal="addressModal"
                                        :modal-type="modalType"
                                        :address-type="addressType"
                                        @input="setAddressToEditField($event)">
                                </create-update-address>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ref="deleteModal">
            <div class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" @click="closeDeleteModal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">${headline}</h4>
                        </div>

                        <div class="modal-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="modal-address">
                                            <strong v-if="addressToDelete.name1 && addressToDelete.name1.length > 0">${addressToDelete.name1}</strong>
                                            <strong v-if="!addressToDelete.name1 || addressToDelete.name1.length == 0">${addressToDelete | optionType(11)} ${addressToDelete.name2} ${addressToDelete.name3}</strong>
                                            <span v-else>${selectedAddress | optionType(11)} ${addressToDelete.name2} ${addressToDelete.name3}</span>
                                            <span>${addressToDelete.name4}</span>
                                            <span>${addressToDelete.address1} ${addressToDelete.address2}</span>
                                            <span>${addressToDelete.postalCode} ${addressToDelete.town}</span>
                                            <span>${getCountryName(addressToDelete.countryId)}</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-sm-8 offset-sm-2 item-confirm-special-case-close">
                                    <button type="button" class="btn btn-primary btn-medium btn-m-r btn-outline-primary" @click="closeDeleteModal">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        {{ trans("Ceres::Template.generalCancel") }}
                                    </button>
                                    <button type="button" class="btn btn-primary btn-medium" :disabled="deleteModalWaiting" @click="deleteAddress">
                                        <i v-waiting-animation="deleteModalWaiting" class="fa fa-trash" aria-hidden="true"></i>
                                        {{ trans("Ceres::Template.generalDelete") }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
