{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<script type="x/template" id="vue-create-update-address">
    <form ref="addressForm" method="post" @submit.prevent>
        <div class="row">
            <div class="col-12">
                <div class="input-unit" data-model="name1" data-validate="text">
                    <input type="text" name="email" :id="'email' + _uid" :value="addressData.email" @input="emitInputEvent({ field: 'email', value: $event.target.value })" data-testing="address-email-input">
                    <label :for="'email' + _uid">{{ trans("Ceres::Template.addressMail") }}</label>
                </div>
                <div class="color-success" style="margin-top: -.75rem;">{{ trans("Ceres::Template.addressMailInfo") }}</div>
                <hr>
            </div>
        </div>
        <address-input-group
            template="#vue-address-input-group"
            :address-type="addressType"
            :modal-type="modalType"
            :value="addressData"
            @input="emitInputEvent($event)"
            :optional-address-fields="optionalAddressFields"
            :required-address-fields="requiredAddressFields"
            :default-salutation="defaultSalutation">
            <template #custom-address-fields>
                {{ LayoutContainer.show("Ceres::Checkout.CustomAddressField") }}
            </template>
        </address-input-group>
        <button
            {{ set_testing_attr("data-testing", "modal-submit") }} 
            type="submit"
            class="btn btn-primary btn-appearance btn-block"
            @click="validate"
            :disabled="waiting">
            {{ trans("Ceres::Template.addressSave") }}
        </button>
    </form>
</script>
