<script type="x/template" id="vue-item-filter-list">
    <div class="filter-wrapper" v-show="facets && facets.length > 0">
        {{ component( "Ceres::ItemList.Components.Filter.ItemFilter") }}
        {{ component( "Ceres::ItemList.Components.Filter.ItemFilterPrice") }}

        <a class="btn btn-link filter-toggle" data-toggle="collapse" href="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse" @click="toggleOpeningState()">
            <i class="fa fa-sliders default-float" aria-hidden="true"></i> {{ trans("Ceres::Template.itemFilter") }}
        </a>

        <div class="collapse" :class="{show: isActive}" id="filterCollapse">
            <div class="container-max page-content component-loading" :class="{ 'isLoading': isLoading }">
                <div class="card-columns">
                    <item-filter v-for="facet in facets" :facet="facet" :key="facet.id"></item-filter>
                </div>

                <div class="row">
                    <div class="col-12 text-right">
                        <button type="button" class="btn btn-primary btn-medium-large" data-toggle="collapse" href="#filterCollapse" aria-controls="filterCollapse" @click="toggleOpeningState()">
                            <i :class="{ 'fa-times': isInitialFacetSelectionActive, 'fa-check': !isInitialFacetSelectionActive }" class="fa" aria-hidden="true"></i>
                            <span v-if="isInitialFacetSelectionActive">{{ trans("Ceres::Template.itemClose") }}&nbsp;</span>
                            <span v-else>{{ trans("Ceres::Template.itemFilterApply") }}&nbsp;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
