{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}

{% set image = item.data.images | itemImages('urlMiddle') | orderByKey('position') | first %}

<article class="cmp cmp-product-thumb cmp-product-thumb--grid">
    <div class="thumb-inner">
        <div class="thumb-background"></div>

        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner main-image">
                    {% if item is defined %}
                        <a>
                            <img class="img-fluid" src="{{ image.url }}">
                        </a>
                    {% else %}
                        <i class="fa fa-image fa-5x text-primary m-x-auto"></i>
                    {% endif %}
                </div>
            </div>
        </div>

        {# STORE SPECIALS #}

        {% if item.data.item.storeSpecial.id > 0 %}

            {% set storeSpecial = item.data.item.storeSpecial.names.name %}

            <div class="special-tags">
                {% if item.data.item.storeSpecial.id == 1 %}

                    {% set storeSpecialColor = 'danger' %}
                    {% set percent = 0 %}
                    {% if item.data.prices.rrp is defined %}
                        {% set percent = (1 - item.data.prices.default.unitPrice.value / item.data.prices.rrp.price.value ) * -100 %}
                    {% endif %}

                    {% if percent <= 0 %}
                        {% set dezimalcount = config('Ceres.item.storeSpecial') %}
                        {% set percent = percent | number_format(dezimalcount, ',', '.') %}
                        {% set storeSpecial = percent ~"%" %}
                    {% endif %}

                {% elseif  item.data.item.storeSpecial.id == 2 %}

                    {% set storeSpecialColor = 'primary' %}

                {% elseif  item.data.item.storeSpecial.id == 3 %}

                    {% set storeSpecialColor = 'success' %}

                {% endif %}

                <span class="tag bg-{{ storeSpecialColor }}">
                    {{ storeSpecial }}
                </span>

            </div>
        {% endif %}
        {# ./STORE SPECIALS #}

        {# ITEM DETAILS #}
        <div class="thumb-content">
            <a class="thumb-title small">
                {% if item is defined %}
                    {{ ItemName.get(item.data | itemName, item.data.variation.bundleType) }}
                {% else %}
                    {{ trans("Ceres::Widget.itemListPlaceholderItemName") }}
                {% endif %}
            </a>
            <div class="thumb-meta">
                {{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}

                <div class="prices">
                    {% if item.data.prices.rrp is defined and item.data.prices.rrp.price.value != 0 %}
                        <div class="price-view-port">
                            <del class="crossprice">
                                {{ item.data.prices.rrp.price.formatted }}
                            </del>
                        </div>
                    {% endif %}

                    <div class="price">
                        {% if item is defined %}
                            {{ item.data.prices.default.unitPrice.formatted }} *
                        {% else %}
                            {{ trans("Ceres::Widget.itemListPlaceholderItemPrice") }} *
                        {% endif %}
                    </div>
                </div>

                {{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}

                {% if not (item.data.unit.unitOfMeasurement == 'C62' and item.data.unit.content == 1) %}
                    <div class="category-unit-price">   
                        <span>{{ item.data.unit.content }}</span>
                        <span>{{ item.data.unit.names.name }}</span>

                        {% if item.data.variation.mayShowUnitPrice %}
                            | {{ item.data.prices.default.basePrice }}
                        {% endif %}
                    </div>
                {% endif %}

            </div>

            <span class="vat-porto-info small text-muted">
                * {{ trans("Ceres::Template.itemInclVAT") }} {{ trans("Ceres::Template.itemExclusive") }}
                <a title="{{ trans("Ceres::Template.itemShippingCosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
            </span>
        </div>
        {# ./ITEM DETAILS #}
    </div>
</article>