<script type="x/template" id="vue-language-select">
    <a href="#" class="dropdown-toggle" id="shippingCountryList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span><i id="currentFlagIcon" class="flag-icon"></i></span>
    </a>
    <div class="country-settings dropdown-menu dropdown-menu-right small">
        <div class="list-group" aria-labelledby="shippingCountryList" >
            <div class="list-group-item small disabled">
                <strong>{{ trans("PluginCallisto::Callisto.generalSelectLanguage") }}</strong>
            </div>
            <a href="#" class="list-group-item small" v-on:click="languageChanged('de')">
                <i class="flag-icon flag-icon-de"></i>
                {{ trans("PluginCallisto::Callisto.generalGerman") }}
            </a>
            <a href="#" class="list-group-item small" v-on:click="languageChanged('en')">
                <i class="flag-icon flag-icon-gb"></i>
                {{ trans("PluginCallisto::Callisto.generalEnglish") }}
            </a>
            <div class="list-group-item small disabled">
                <strong>{{ trans("PluginCallisto::Callisto.generalSelectShippingCountry") }}</strong>
            </div>
            <a href="#" class="list-group-item small">
                <i class="flag-icon flag-icon-de"></i>
                {{ trans("PluginCallisto::Callisto.generalGermany") }}
            </a>
            <a href="#" class="list-group-item small">
                <i class="flag-icon flag-icon-at"></i>
                {{ trans("PluginCallisto::Callisto.generalAustria") }}
            </a>
            <a href="#" class="list-group-item small">
                <i class="flag-icon flag-icon-ch"></i>
                {{ trans("PluginCallisto::Callisto.generalSwitzerland") }}
            </a>
            <a href="#" class="list-group-item small">
                <i class="flag-icon flag-icon-fr"></i>
                {{ trans("PluginCallisto::Callisto.generalFrance") }}
            </a>
            <a href="#" class="list-group-item small">
                <i class="flag-icon flag-icon-gb"></i>
                {{ trans("PluginCallisto::Callisto.generalEngland") }}
            </a>
            <a href="#" class="list-group-item small">
                <i class="flag-icon flag-icon-it"></i>
                {{ trans("PluginCallisto::Callisto.generalItaly") }}
            </a>
        </div>
    </div>
</script>
