<script type="x/template" id="vue-account-settings">
    <div class="card-block">
        <div class="row  m-b-1">
            <div class="col-sm-4">
                <strong>{{ trans("Ceres::Template.accEmail") }}</strong>
            </div>
            <div class="col-sm-8">
                <span>${ getEmail() }</span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <strong>{{ trans("Ceres::Template.accPassword") }}</strong>
            </div>
            <div class="col-sm-8">
                <span>***********</span>
            </div>
        </div>
        <span class="item-edit" @click="showChangeAccountSettings" data-toggle="tooltip" data-placement="right" title="{{ trans("Ceres::Template.accChangeSettings") }}">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </span>
    </div>

    <!-- EDIT_MODAL -->
    <div v-el:account-settings-modal>
        <div class="modal fade" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="clearFields">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{{ trans("Ceres::Template.accChangePassword") }}</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="input-unit">
                                    <input type="password" name="new_password" v-model="newPassword">
                                    <label for="new_password">{{ trans("Ceres::Template.accNewPassword") }}</label>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="input-unit">
                                    <input type="password" name="confirm_password" v-model="confirmPassword">
                                    <label for="confirm_password">{{ trans("Ceres::Template.accRepeatPassword") }}</label>
                                </div>
                            </div>
                            <div v-show="!matchPassword" style="color: red;">{{ trans("Ceres::Template.accCorrectPassword") }}</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="clearFields">
                            <i class="fa fa-times" aria-hidden="true"></i> {{ trans("Ceres::Template.generalCancel") }}
                        </button>
                        <button type="button" class="btn btn-primary" @click="saveAccountSettings">
                            <i class="fa fa-check" aria-hidden="true"></i> {{ trans("Ceres::Template.generalSave") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./EDIT_MODAL -->
</script>
