<script type="x/template" id="vue-bank-data-select">
    <div>
        <div class="cmp cmp-address-list mb-5">

            <div class="items items-empty" v-show="userBankData.length == 0">
                <div class="card">
                    <span class="item-inner">
                        <span class="item-content">
                            <p class="text-muted small font-italic pt-3">- {{ trans("Ceres::Template.myAccountBankNoBankData") }} -</p>
                        </span>
                    </span>
                </div>
            </div>

            <div class="dropdown items" v-show="userBankData.length > 0">
                <div id="bankData" class="dropdown-toggle card" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-flip="false">
                    <span class="item-inner">
                        <span class="item-content" v-if="selectedBankData">
                            <strong>Kontoinh.: ${ selectedBankData.accountOwner }</strong>
                            <span>Bank:        ${ selectedBankData.bankName }</span>
                            <span>IBAN:        ${ selectedBankData.iban }</span>
                            <span>BIC:         ${ selectedBankData.bic }</span>
                        </span>

                        <span class="item-content" v-show="!selectedBankData">
                            <p class="text-muted small font-italic pt-3">- {{ trans("Ceres::Template.myAccountPleaseSelect") }} -</p>
                        </span>
                    </span>
                </div>
                <div class="dropdown-menu" aria-labelledby="bankData">
                    <ul>
                        <li class="item" v-for="(bankData, index) in userBankData">
                            <input type="radio" :id="bankData.id" name="bankData" :value="bankData" @change="changeSelecting(bankData)">
                            <label :for="bankData.id" class="item-inner">
                                <span class="item-content small">
                                    <strong>Kontoinh.: ${ bankData.accountOwner }</strong>
                                    <span>Bank:        ${ bankData.bankName }</span>
                                    <span>IBAN:        ${ bankData.iban }</span>
                                    <span>BIC:         ${ bankData.bic }</span>
                                </span><!--
                                -->
                                <div class="item-controls">
                                    <span class="item-edit" @click.prevent="openUpdateBank(index, bankData)">
                                        <button v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans("Ceres::Template.myAccountEdit") }}" class="btn btn-primary" @click.prevent="openUpdateBank(index, bankData)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                    <span class="item-remove" @click.prevent="openDeleteBank(index, bankData)">
                                        <button v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans("Ceres::Template.myAccountDelete") }}" class="btn btn-danger" @click.prevent="openDeleteBank(index, bankData)">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="add-item">
                <button v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans("Ceres::Template.myAccountBankAddDataTitle") }}" class="btn btn-primary btn-appearance btn-large btn-only-icon-xs-down" @click.prevent="openAddBank()">
                    <span>{{ trans("Ceres::Template.myAccountBankAddDataTitle") }}</span>
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div ref="bankInfoModal">
            <div class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">${headline}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <fieldset>
                            <form id="my-bankForm" method="post" @submit.prevent>
                                 <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="input-unit accountOwner" data-validate="text">
                                                <input type="text" name="kontoinhaber" v-model="updateBankData.accountOwner" data-autofocus>
                                                <label :for="'txt_firma' + _uid">{{ trans("Ceres::Template.myAccountHolder") }}*</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="input-unit">
                                                <input type="text" name="kreditInstitut" v-model="updateBankData.bankName">
                                                <label :for="'txt_firma' + _uid">{{ trans("Ceres::Template.myAccountBank") }}</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="input-unit iban" data-validate="regex">
                                                <input type="text" name="iban" data-validate-ref="/[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{4}[0-9]{7}([a-zA-Z0-9]?){0,16}/" maxlength="32" v-model="updateBankData.iban">
                                                <label :for="'txt_firma' + _uid">IBAN*</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="input-unit no-bottom" data-validate="regex">
                                                <input type="text" name="bic" data-validate-ref="/([a-zA-Z]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}([a-zA-Z0-9]{3})?)/" v-model="updateBankData.bic">
                                                <label :for="'txt_firma' + _uid">BIC* - {{ trans("Ceres::Template.myAccountBankBicNotification") }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary btn-block" @click="validateInput()" :disabled="waiting">
                                                <span>{{ trans("Ceres::Template.myAccountSave") }}</span>
                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div ref="bankDeleteModal">
            <div class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ trans("Ceres::Template.myAccountBankDeleteTitle") }}</h4>
                            <button type="button" class="close" @click="closeDeleteModal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>{{ trans("Ceres::Template.myAccountBankDeleteWarning") }}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 offset-sm-6">
                                        <button type="button" class="btn btn-primary btn-block" @click="closeDeleteModal">{{ trans("Ceres::Template.myAccountCancel") }}</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-primary btn-block" @click="removeBankInfo">{{ trans("Ceres::Template.myAccountDelete") }}</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
