<script type="x/template" id="vue-change-payment-method">

    <button v-if="isChangePossible" class="btn btn-primary btn-block" @click="openPaymentChangeModal">
        {{ trans("Ceres::Template.myAccountChangePayment") }}
    </button>

    <button v-else class="btn btn-primary btn-block disabled" v-tooltip data-toggle="tooltip" data-placement="left" title="{{ trans("Ceres::Template.myAccountChangePaymentNotAllowed") }}">
        {{ trans("Ceres::Template.myAccountChangePayment") }}
    </button>

    <!-- CHANGE_PAYMENT_MODAL -->
    <div v-el:change-payment-modal>
        <div class="modal fade" data-backdrop="static">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{{ trans("Ceres::Template.myAccountChooseNewPayment") }}</h4>
                    </div>
                    <div class="modal-body form-horizontal">

                        <div class="cmp cmp-method-list m-b-3">
                            <ul class="method-list">
                                <li v-for="paymentProvider in encodedPaymentMethods" class="method-list-item" data-id="${paymentProvider.id}">
                                    <input
                                            type="radio"
                                            id="paymentMethod${ _uid }${ paymentProvider.id }"
                                            name="MethodOfPaymentID_${ currentOrder.order.id }"
                                            v-model="paymentMethod"
                                            :value="paymentProvider.id"
                                    >
                                    <label for="paymentMethod${ _uid }${ paymentProvider.id }">
                                        <div class="icon">
                                            <div class="square-container">
                                                <div class="square-inner center-xy">
                                                    <img alt="${ paymentProvider.name }" :src="paymentProvider.icon">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            ${ paymentProvider.name }
                                            <div>
                                                <small>
                                                    ${ paymentProvider.fee | currency }
                                                </small>
                                            </div>
                                            <div>
                                                <small>
                                                    ${ paymentProvider.description }
                                                </small>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fa fa-times" aria-hidden="true"></i> {{ trans("Ceres::Template.generalCancel") }}
                        </button>
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-check" aria-hidden="true"></i> {{ trans("Ceres::Template.myAccountChangePaymentNow") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./CHANGE_PAYMENT_MODAL -->

</script>
