{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set loadingAnimationType = config("Ceres.item.loading_animation_type") %}

{% set ordersPerPage = config("Ceres.my_account.orders_per_page") %}
{% if not (ordersPerPage matches '/^\\d+$/') %}
    {# config value is not a valid number #}
    {% set ordersPerPage = 5 %}
{% endif %}

{% set orderList = services.customer.getOrders(1, ordersPerPage).getResult() %}

{% set paymentMethodId = 0 %}
{% set paymentStatus = "" %}

{{ component( "Ceres::MyAccount.Components.ChangePaymentMethod" ) }}

<script type="x/template" id="vue-order-history">
    <div class="form-group">
        <div class="row m-b-1">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <!-- ORDER PAGINATION -->
                <div class="clearfix history-pagination" v-if="orderList.totalsCount > itemsPerPage">
                    <div class="pull-xs-left counter">
                        {{ trans("Ceres::Template.orderShow", {"countStart": "${ countStart }", "countEnd": "${ countEnd }", "orderMaxCount": "${ orderList.totalsCount }" }) }}
                    </div>

                    <nav class="cmp cmp-paginator row pull-xs-right text-xs-center">
                        <ul class="pagination col-xs-12 m-y-0">

                            <!-- PREV LINK -->
                            <li class="page-item" :class="{disabled: page == 1}">
                                <button class="page-link" @click="showPage(page-1)">&laquo;</button>
                            </li>
                            <!-- ./PREV LINK -->

                            <!-- FIRST PAGE LINK -->
                            <li class="page-item" v-if="page > 2 && showFirstPage == true">
                                <button class="page-link" @click="showPage(1)">1</button>
                            </li>
                            <li class="page-item page-link" v-if="page > 2 && showFirstPage == true">...</li>
                            <!-- ./FIRST PAGE LINK -->

                            <!-- PAGINATION -->
                            <li class="page-item" v-if="orderList.isLastPage && page > 2">
                                <button class="page-link" @click="showPage(page-2)">${ page - 2 }</button>
                            </li>

                            <li class="page-item" v-if="page > 1">
                                <button class="page-link" @click="showPage(page-1)">${ page - 1 }</button>
                            </li>

                            <li class="page-item active">
                                <span class="page-link">${ page }</span>
                            </li>

                            <li class="page-item" v-if="!orderList.isLastPage">
                                <button class="page-link" @click="showPage(page+1)">${ page + 1 }</button>
                            </li>

                            <li class="page-item" v-if="page == 1 && page+2 <= pageMax">
                                <button class="page-link" @click="showPage(page+2)">${ page + 2 }</button>
                            </li>
                            <!-- ./PAGINATION -->

                            <!-- LAST PAGE LINK -->
                            <li class="page-item page-link" v-if="pageMax > 3 && page < pageMax-1 && showLastPage">...</li>
                            <li class="page-item" v-if="pageMax > 3 && page < pageMax-1 && showLastPage">
                                <button class="page-link" @click="showPage(pageMax)">${ pageMax }</button>
                            </li>
                            <!-- ./LAST PAGE LINK -->

                            <!-- NEXT LINK -->
                            <li class="page-item" :class="{disabled: orderList.isLastPage}">
                                <button class="page-link" @click="showPage(page+1)">&raquo;</button>
                            </li>
                            <!-- ./NEXT LINK -->
                        </ul>
                    </nav>
                </div>
                <!-- ./ORDER PAGINATION -->

                <hr>

                <!-- ORDER HISTORY TWIG -->
                <div class="order-list">
                    {% for entry in orderList %}
                        <article class="cmp cmp-order-item">

                            <div class="item-details small">

                                <div class="item-name">
                                    <h5>{{ trans("Ceres::Template.orderId") }} {{ entry.order.id }}</h5>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-8">
                                        <div class="row">
                                            <strong class="col-xs-6 col-sm-5">{{ trans("Ceres::Template.orderDate") }}</strong>
                                            <span class="col-xs-6 col-sm-7">{{ entry.order.createdAt | formatDateTime | date( trans("Ceres::Template.dateTimeFormat") ) }} {{ trans("Ceres::Template.time") }}</span>
                                        </div>
                                        <div class="row my-account-no-line">
                                            <strong class="col-xs-6 col-sm-5">{{ trans("Ceres::Template.orderStatus") }}</strong>
                                            <span class="col-xs-6 col-sm-7">{{ entry.order.statusName }}</span>
                                        </div>
                                        {% if entry.paymentMethodName | trim is not empty %}
                                            <div class="row">
                                                <strong class="col-xs-6 col-sm-5">{{ trans("Ceres::Template.orderPaymentMethod") }}</strong>
                                                <span class="col-xs-6 col-sm-7" id="payment_name_{{ entry.order.id }}">{{ entry.paymentMethodName }}</span>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <strong class="col-xs-6 col-sm-5">{{ trans("Ceres::Template.orderPaymentStatus") }}</strong>
                                            <span class="col-xs-6 col-sm-7" id="payment_state_{{ entry.order.id }}">
                                                {% for propertyKey in entry.order.properties %}
                                                    {% if entry.order.properties[loop.index0].typeId == 4 %}
                                                        {% set paymentStatus = entry.order.properties[loop.index0].value %}
                                                        {{ trans("Ceres::Template.paymentStatus_" ~ entry.order.properties[loop.index0].value) }}
                                                    {% endif %}
                                                    {% if entry.order.properties[loop.index0].typeId == 3 %}
                                                        {% set paymentMethodId = entry.order.properties[loop.index0].value %}
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                        </div>
                                    </div>

                                    {% set currentTemplate = services.template.getCurrentTemplate() %}

                                    <div class="col-xs-12 col-md-4">
                                        <div class="payment-change-box">
                                            <button class="btn btn-primary btn-block" @click="setCurrentOrder({{ entry }})">{{ trans("Ceres::Template.orderDetails") }}</button>

                                            {% if entry.isReturnable %}
                                                <a class="btn btn-primary btn-block" href="/returns/{{ entry.order.id }}">{{ trans("Ceres::Template.myAccountReturnSendBack") }}</a>
                                            {% endif %}

                                            <change-payment-method  template="#vue-change-payment-method"
                                                                    :current-order="{{ entry.order | json_encode() }}"
                                                                    :change-possible="{{ services.order.allowPaymentMethodSwitchFrom(paymentMethodId, entry.order.id) | json_encode() }}"
                                                                    :allowed-payment-methods="{{ services.order.getPaymentMethodListForSwitch(paymentMethodId, entry.order.id) | json_encode() }}"
                                                                    :payment-status="{{ paymentStatus | json_encode() }}"
                                                                    :current-template="{{ currentTemplate | json_encode() }}"
                                                                    :current-payment-method-name="{{ entry.paymentMethodName | json_encode() }}">
                                            </change-payment-method>
                                            {{ LayoutContainer.show("Ceres::MyAccount.OrderHistoryPaymentInformation", entry.order) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
                <!-- ./ORDER HISTORY TWIG -->
            </div>

            <!-- ORDER DETAILS MODAL -->
            <div class="modal fade" v-el:order-details v-if="currentOrder" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">{{ trans("Ceres::Template.orderDetails") }}</h3>
                        </div>
                        <div class="modal-body" :class="{'loading': isLoading}" style="min-height:350px">
                            {% include "Ceres::ItemList.Partials.LoadingAnimation" %}
                            <div id="dynamic-twig-content">
                                {# DYNAMIC ADD CONTENT #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ORDER DETAILS MODAL -->

            {#<!-- ORDER FILTER -->#}
            {#<div class="col-xs-12 col-md-3 col-lg-4">#}
                {#<div class="input-unit">#}
                    {#<input id="auftragId" type="text">#}
                    {#<label for="auftragId">{{ trans("Ceres::Template.orderEnterOrderId") }}</label>#}
                {#</div>#}

                {#<div class="input-unit">#}
                    {#<select class="custom-select" id="TimePeriod">#}
                        {#<option>---</option>#}
                        {#<option>{{ trans("Ceres::Template.orderLast30Days") }}</option>#}
                        {#<option>{{ trans("Ceres::Template.orderLast3Month") }}</option>#}
                        {#<option>{{ trans("Ceres::Template.orderLast6Month") }}</option>#}
                    {#</select>#}
                    {#<label for="TimePeriod">{{ trans("Ceres::Template.orderSelectTimePeriod") }}</label>#}
                {#</div>#}

                {#<div class="row">#}
                    {#<div class="col-xs-12 col-lg-6">#}
                        {#<div class="input-unit">#}
                            {#<input id="von" type="text">#}
                            {#<label for="von">{{ trans("Ceres::Template.orderFrom") }}</label>#}
                        {#</div>#}
                    {#</div>#}

                    {#<div class="col-xs-12 col-lg-6">#}
                        {#<div class="input-unit">#}
                            {#<input id="auftragId" type="text">#}
                            {#<label for="auftragId">{{ trans("Ceres::Template.orderTo") }}</label>#}
                        {#</div>#}
                    {#</div>#}

                {#</div>#}

                {#<div class="m-b-3">#}
                    {#<input type="submit" class="btn btn-primary btn-block" value="{{ trans("Ceres::Template.orderApply") }}">#}
                {#</div>#}

            {#</div>#}
            {#<!-- ./ORDER FILTER -->#}
        </div>
    </div>
</script>