{{ component("Ceres::MyAccount.Components.OrderDocuments") }}

<script type="x/template" id="vue-order-history-list-item">
    <div class="order">
        <div @click="loadOrderDetailTemplate()" class="row container_clickable border py-3">
            <div class="col-sm-9">
                <div class="row">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    <div class="col-sm-3"><span>{{ trans("Ceres::Template.orderHistoryOrderId") }}</span>
                    <span>${ order.id }</span></div>
                    
                    <div class="col-sm-3"><span>{{ trans("Ceres::Template.orderHistoryDate") }}</span>
                    <span>${ order.creationDate | moment("{{ trans("Ceres::Template.devDateTimeFormatMoment") }}") } {{ trans("Ceres::Template.orderHistoryTime") }}</span></div>
                    
                    <div class="col-sm-3"><span>{{ trans("Ceres::Template.orderHistoryTotal") }}</span>
                    <span>${ order.total | currency }</span></div>
                    
                    <div class="col-sm-3"><span>{{ trans("Ceres::Template.orderHistoryStatus") }}</span>
                    <span>${ order.status }</span></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="icons d-none d-sm-block">
                    <a href="#"><i class="fa fa-truck" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
                <div class="buttons d-block d-sm-none mt-2">
                    <a href="#" class="btn btn-primary btn-block"><span>Sendungsverfolgung</span><i class="fa fa-truck" aria-hidden="true"></i></a>
                    {# <a href="#" class="btn btn-primary btn-block"><span>Erneut bestellen</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></a> #}
                </div>
            </div>
        </div>
        <div ref="orderDetailsContainer" v-html="orderDetails" class="container_main">
            {# lazy load: Ceres::MyAccount.Partials.OrderHistoryListItemDetails #}
        </div>
    </div>
</script>