
{{ component( "Ceres::MyAccount.Components.OrderHistoryListItem" ) }}

<script type="x/template" id="vue-order-history-list">
    <div>
        <h4>{{ Twig.trans("Ceres::Template.orderHistory") }}</h4>
        <p v-if="hintText" v-html="hintText" class="text-muted small font-italic">${ hintText | raw }}</p>

        {{ Twig.if("orderList.totalsCount > 0") }}
            <div class="row headerpart d-none d-sm-flex pb-2">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-3">Auftrags ID</div>
                        <div class="col-sm-3">Auftragsdatum</div>
                        <div class="col-sm-3">Summe</div>
                        <div class="col-sm-3">Auftragsstatus</div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            
            <div class="order-item">
                <order-history-list-item v-for="order in orderList.orders" :order-data="order"></order-history-list-item>
            </div>
        {{ Twig.else() }}
            <p class="text-muted h4 wish-list-no-items-label">{{ trans("Ceres::Template.orderHistoryNoOrders") }}</p>
        {{ Twig.endif() }}







        <div class="clearfix history-pagination" v-if="orderList.totalsCount > ordersPerPage">
            <div class="float-left counter">
                {{ trans("Ceres::Template.orderHistoryShow", {"countStart": orderList.firstOnPage, "countEnd": orderList.lastOnPage, "orderMaxCount": orderList.totalsCount }) }}
            </div>

            {% include "Ceres::PageDesign.Partials.PaginationTemplate" with { 'page': 'orderList.page', 'pageMax': 'orderList.lastPageNumber', 'setPage': 'setPage' } %}
        </div>


    </div>
</script>