{{ component("Ceres::MyAccount.Components.OrderReturnHistoryListItem") }}

<script type="x/template" id="vue-order-return-history-list">
    <div class="order-return-history-list">
		<!-- RETURN PAGINATION -->
		<div class="row history-pagination" v-if="returnsList.totalsCount > returnsPerPage">
			<div class="col-sm-12">
				<div class="float-left">
					{{ trans("Ceres::Template.returnHistoryShow", {"countStart": "${ returnsList.firstOnPage }", "countEnd": "${ returnsList.lastOnPage }", "orderMaxCount": "${ returnsList.totalsCount }" }) }}
				</div>
				{% include "Ceres::PageDesign.Partials.PaginationTemplate" with { 'page': 'returnsList.page', 'pageMax': 'returnsList.lastPageNumber', 'setPage': 'setPage' } %}
			</div>
		</div>
		<!-- ./RETURN PAGINATION -->

		<div class="container_header d-none d-sm-flex pb-2">
        	<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-3">{{ trans("Ceres::Template.returnHistoryReturnId") }}</div>
					<div class="col-sm-3">{{ trans("Ceres::Template.returnHistoryOrderId") }}</div>
					<div class="col-sm-3">{{ trans("Ceres::Template.returnHistoryDate") }}</div>
					<div class="col-sm-3">{{ trans("Ceres::Template.returnHistoryPaymentMethod") }}</div>
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="row" :class="{ 'loading': waiting }">
			{% include "Ceres::ItemList.Partials.LoadingAnimation" %}
		</div>

		<div v-if="!waiting" class="order-list">
			<order-return-history-list-item v-for="returnOrder in returnsList.entries" :items-per-list="itemsPerList" :return-order="returnOrder" :key="returnOrder.order.id"></order-return-history-list-item>
		</div>
    </div>
</script>
