<script type="x/template" id="vue-order-history">

<div class="page-content history container-max">
        <div class="row m-b-3">
            <h1 class="h4 col-xs-12">{{ trans("PluginCallisto::Callisto.orderHistory") }}</h1>
        </div>

        <div class="form-group">

            <div class="row m-b-1">
                <div class="col-xs-12 col-md-9 col-lg-8">
                    <!-- ORDER PAGINATION -->
                    <div class="clearfix">
                        <div class="pull-xs-left">
                            {{ trans("PluginCallisto::Callisto.orderShow") }} ${ countStart } - ${ countEnd } {{ trans("PluginCallisto::Callisto.orderOf") }} ${ orderList.totalsCount } {{ trans("PluginCallisto::Callisto.orderOrders") }}
                        </div>

                        <nav class="cmp cmp-paginator row pull-xs-right text-xs-center">
                            <ul class="pagination col-xs-12 m-y-0">

                                <!-- PREV LINK -->
                                <li class="page-item" :class="{disabled: page == 1}">
                                    <button class="page-link" @click="showPage(page-1)">&laquo;</button>
                                </li>
                                <!-- ./PREV LINK -->

                                <!-- FIRST PAGE LINK -->
                                <li class="page-item" v-if="page > 2 && showFirstPage == true">
                                    <button class="page-link" @click="showPage(1)">1</button>
                                </li>
                                <li class="page-item page-link" v-if="page > 2 && showFirstPage == true">...</li>
                                <!-- ./FIRST PAGE LINK -->

                                <!-- PAGINATION -->
                                <li class="page-item" v-if="orderList.isLastPage && page > 2">
                                    <button class="page-link" @click="showPage(page-2)">${ page - 2 }</button>
                                </li>

                                <li class="page-item" v-if="page > 1">
                                    <button class="page-link" @click="showPage(page-1)">${ page - 1 }</button>
                                </li>

                                <li class="page-item active">
                                    <span class="page-link">${ page }</span>
                                </li>

                                <li class="page-item" v-if="!orderList.isLastPage">
                                    <button class="page-link" @click="showPage(page+1)">${ page + 1 }</button>
                                </li>

                                <li class="page-item" v-if="page == 1 && page+2 <= pageMax">
                                    <button class="page-link" @click="showPage(page+2)">${ page + 2 }</button>
                                </li>
                                <!-- ./PAGINATION -->

                                <!-- LAST PAGE LINK -->
                                <li class="page-item page-link" v-if="pageMax > 3 && page < pageMax-1 && showLastPage">...</li>
                                <li class="page-item" v-if="pageMax > 3 && page < pageMax-1 && showLastPage">
                                    <button class="page-link" @click="showPage(pageMax)">${ pageMax }</button>
                                </li>
                                <!-- ./LAST PAGE LINK -->

                                <!-- NEXT LINK -->
                                <li class="page-item" :class="{disabled: orderList.isLastPage}">
                                    <button class="page-link" @click="showPage(page+1)">&raquo;</button>
                                </li>
                                <!-- ./NEXT LINK -->
                            </ul>
                        </nav>
                    </div>
                    <!-- ./ORDER PAGINATION -->

                    <hr>

                    <!-- ORDER HISTORY -->
                    <div class="order-list">
                        <article class="cmp cmp-order-item" v-for="entry in orderList.entries">

                            <div class="item-details small">

                                <div class="item-name">
                                    <h5>${ entry.order.id }</h5>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="row">
                                            <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderDate") }}</strong>
                                            <span class="col-xs-6 col-sm-7">${ entry.order.createdAt }</span>
                                        </div>
                                        <div class="row">
                                            <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderRecipient") }}</strong>
                                            <span class="col-xs-6 col-sm-7">${ entry.order.addresses[1].searchName }</span>
                                        </div>
                                        <div class="row">
                                            <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderStatus") }}</strong>
                                            <span class="col-xs-6 col-sm-7">${ entry.status.frontendName }</span>
                                        </div>
                                        {#<div class="row">#}
                                            {#<strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderShipped") }}</strong>#}
                                            {#<span class="col-xs-6 col-sm-7">TODO</span>#}
                                        {#</div>#}
                                    </div>

                                    <div class="col-xs-12 col-md-6">

                                        <input type="checkbox" class="item-toggle toggle-description" id="itemid-${ entry.order.id }" value="">
                                        <strong>{{ trans("PluginCallisto::Callisto.orderItemsBought") }}</strong>
                                        <div class="item-description">

                                            <ul class="m-y-1">
                                                <li v-for="orderItem in entry.order.orderItems">
                                                    ${ orderItem.orderItemName }
                                                </li>
                                            </ul>
                                        </div>
                                        <label class="expand-btn" for="itemid-${ entry.order.id }" data-show-more="{{ trans("PluginCallisto::Callisto.itemShowMore") }}" data-show-less="{{ trans("PluginCallisto::Callisto.itemShowLess") }}"></label>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                    <!-- ./ORDER HISTORY -->
                </div>
                <!-- ORDER FILTER -->
                <div class="col-xs-12 col-md-3 col-lg-4">
                    <div class="input-unit">
                        <input id="auftragId" type="text">
                        <label for="auftragId">{{ trans("PluginCallisto::Callisto.orderEnterOrderId") }}</label>
                    </div>

                    <div class="input-unit">
                        <select class="custom-select" id="TimePeriod">
                            <option>---</option>
                            <option>{{ trans("PluginCallisto::Callisto.orderLast30Days") }}</option>
                            <option>{{ trans("PluginCallisto::Callisto.orderLast3Month") }}</option>
                            <option>{{ trans("PluginCallisto::Callisto.orderLast6Month") }}</option>
                        </select>
                        <label for="TimePeriod">{{ trans("PluginCallisto::Callisto.orderSelectTimePeriod") }}</label>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <div class="input-unit">
                                <input id="von" type="text">
                                <label for="von">{{ trans("PluginCallisto::Callisto.orderFrom") }}</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-6">
                            <div class="input-unit">
                                <input id="auftragId" type="text">
                                <label for="auftragId">{{ trans("PluginCallisto::Callisto.orderTo") }}</label>
                            </div>
                        </div>

                    </div>

                    <div class="m-b-3">
                        <input type="submit" class="btn btn-primary btn-block" value="{{ trans("PluginCallisto::Callisto.orderApply") }}">
                    </div>

                </div>
                <!-- ./ORDER FILTER -->
            </div>

        </div>

    </div>
    <!-- customerdata end -->
</script>