{{ component("Ceres::MyAccount.Components.OrderReturnHistoryListItem") }}

<script type="x/template" id="vue-order-return-history-list">
    <div class="order-return-history-list">

		<div class="row mt-3 mb-2" v-if="returnsList.totalsCount > returnsPerPage">
			<div class="col-sm-12">
				<div class="float-left">
					{{ trans("Ceres::Template.returnHistoryShow", {"countStart": "${ returnsList.firstOnPage }", "countEnd": "${ returnsList.lastOnPage }", "orderMaxCount": "${ returnsList.totalsCount }" }) }}
				</div>
				{% include "Ceres::PageDesign.Partials.PaginationTemplate" with { 'page': 'returnsList.page', 'pageMax': 'returnsList.lastPageNumber', 'setPage': 'setPage' } %}
			</div>
		</div>

		<loading-animation v-if="waiting" class="row"></loading-animation>

		<template v-else-if="returnsList.totalsCount > 0">
			<div class="container-header d-none d-md-flex pb-2">
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-2">{{ trans("Ceres::Template.returnHistoryReturnId") }}</div>
						<div class="col-md-2">{{ trans("Ceres::Template.returnHistoryOrderId") }}</div>
						<div class="col-md-4">{{ trans("Ceres::Template.returnHistoryDate") }}</div>
						<div class="col-md-4">{{ trans("Ceres::Template.returnHistoryPaymentMethod") }}</div>
					</div>
				</div>
				<div class="col-md-2">{{ trans("Ceres::Template.returnHistoryDocuments") }}</div>
			</div>
			<div v-if="!waiting" class="order-list border-top">
                <order-return-history-list-item v-for="returnOrder in returnsList.entries"
                    :return-order="returnOrder" 
                    :key="returnOrder.order.id">
                </order-return-history-list-item>
			</div>
		</template>
		<template v-else>
			<p class="text-muted h4 my-4 text-center">{{ trans("Ceres::Template.returnHistoryNoReturns") }}</p>
		</template>
    </div>
</script>
