<script type="x/template" id="vue-order-return-history">
	<div class="form-group">
		<div class="row m-b-1">
            <div class="col-xs-12 col-md-12 col-lg-12">
				<!-- RETURN PAGINATION -->
                <div class="clearfix history-pagination" v-if="returnsList.totalsCount > itemsPerPage">
                    <div class="pull-xs-left counter">
                        {{ trans("Ceres::Template.orderShow", {"countStart": "${ returnsList.firstOnPage }", "countEnd": "${ returnsList.lastOnPage }", "orderMaxCount": "${ returnsList.totalsCount }" }) }}
                    </div>

					{% include "Ceres::PageDesign.Partials.PaginationTemplate" with { 'page': 'returnsList.page', 'pageMax': 'returnsList.lastPageNumber', 'setPage': 'setPage' } %}

                </div>
                <!-- ./RETURN PAGINATION -->

				<hr>

				<div :class="{ 'loading': waiting }">
					{% include "Ceres::ItemList.Partials.LoadingAnimation" %}
				<div>

				<div v-if="!waiting" class="order-list">
					<article class="cmp cmp-order-item" v-for="(index, entry) in returnsList.entries">

						<div class="item-details small">

							<div class="item-name">
								<h5 class="h4">{{ trans("Ceres::Template.orderStatus") }}: ${ entry.order.statusName }</h5>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-12">
									<div class="row">
										<div class="col-md-2">
											<strong>{{ trans("Ceres::Template.myAccountReturnId") }}: </strong>
											<span>${ entry.order.id }</span>
										</div>
										<div class="col-md-2">
											<strong>{{ trans("Ceres::Template.orderId") }}: </strong>
											<span>${ getOriginOrderId(entry.order) }</span>
										</div>
										<div class="col-md-3">
											<strong>{{ trans("Ceres::Template.returnDate") }}: </strong>
											<span>${ entry.order.createdAt | moment "{{ trans("Ceres::Template.dateTimeFormatMoment") }}" } {{ trans("Ceres::Template.time") }}</span>
										</div>
										<div class="col-md-3">
											<strong>{{ trans("Ceres::Template.orderPaymentMethod") }}: </strong>
											<span>${ entry.paymentMethodName }</span>
										</div>
									</div>
									<hr class="gradient-hr">
								</div>
							</div>

							<!-- show initial -->
							<div class="row">
								<div class="col-md-6 m-t-1" v-for="n in 4" style="display:flex">
									<div class="col-md-3" style="display:flex" v-if="entry.order.orderItems[n]">
										<div class="order-return-history-image-container" style="height: 80px">
											<a :href="entry.itemURLs[entry.order.orderItems[n].itemVariationId]">
												<img class="order-return-history-image" :src="entry.itemImages[entry.order.orderItems[n].itemVariationId]">
											</a>
										</div>
									</div>

									<div class="col-md-8" style="display:flex;" v-if="entry.order.orderItems[n]">
										<div class="order-return-history-text-container" style="align-self: center">
											<a :href="entry.itemURLs[entry.order.orderItems[n].itemVariationId]">
												<h2 class="h5 order-return-history-name">${ entry.order.orderItems[n].orderItemName }</h2>
											</a>
											<h2 class="h5 order-return-history-count">{{ trans("Ceres::Template.myAccountReturnCount") }}: ${entry.order.orderItems[n].quantity}</h2>
										</div>
									</div>
								</div>
							</div>
							<!-- ./show initial -->
							<!-- load on click -->
							<div class="row collapse" id="more-return-items-${ index }" v-if="entry.order.orderItems.length > 4">
								<div class="col-md-6 m-t-1" v-for="n in entry.order.orderItems.length - 4" style="display:flex">
									<div class="col-md-3" style="display:flex">
										<div class="order-return-history-image-container" style="height: 80px">
											<a :href="entry.itemURLs[entry.order.orderItems[n+4].itemVariationId]">
												<img class="order-return-history-image" :src="entry.itemImages[entry.order.orderItems[n+4].itemVariationId]">
											</a>
										</div>
									</div>

									<div class="col-md-8" style="display:flex;">
										<div class="order-return-history-text-container" style="align-self: center">
											<a :href="entry.itemURLs[entry.order.orderItems[n+4].itemVariationId]">
												<h2 class="h5 order-return-history-name">${ entry.order.orderItems[n+4].orderItemName }</h2>
											</a>
											<h2 class="h5 order-return-history-count">{{ trans("Ceres::Template.myAccountReturnCount") }}: ${entry.order.orderItems[n+4].quantity}</h2>
										</div>
									</div>
								</div>
							</div>
							<!-- ./load on click -->
							<hr class="gradient-hr" v-if="entry.order.orderItems.length > 4">
							<a v-if="entry.order.orderItems.length > 4" @click="toggleNaming('more-return-text-' + index)" id="more-return-text-${ index }" class="show-more-returns" data-toggle="collapse" href="#more-return-items-${ index }" aria-expanded="false" aria-controls="collapseExample">
								{{ trans("Ceres::Template.myAccountReturnShowMore") }}
							</a>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</script>