{% set companyName         = widget.settings.companyName.mobile %}
{% set address      = widget.settings.address.mobile %}
{% set email        = widget.settings.email.mobile %}
{% set fon          = widget.settings.fon.mobile %}
{% set fax          = widget.settings.fax.mobile %}
{% set openingTimes = widget.settings.openingTimes.mobile %}

{% if companyName | trim is not empty or address | trim is not empty or fon | trim is not empty or fax | trim is not empty or email | trim is not empty or openingTimes | trim is not empty %}
    <div class="widget widget-contact-data">
        <div class="contact-card">
            {% if companyName | trim is not empty or address | trim is not empty %}
                <p class="contact-address">
                    <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
                    {% if companyName | trim is not empty %}
                        <span class="d-inline-block">{{ companyName }}</span><br>
                    {% endif %}

                    {% if address | trim is not empty %}
                        <span class="d-inline-block">{{ address | nl2br }}</span>
                    {% endif %}
                </p>
            {% endif %}
            {% if fon | trim is not empty %}
                <p class="my-0">
                    <a href="tel:{{ fon | replace('/[^0-9+]/',' ') | trimNewlines }}">
                        <i class="fa fa-fw fa-phone" aria-hidden="true"></i>
                        <span class="d-inline-block">{{ fon }}</span>
                    </a>
                </p>
            {% endif %}

            {% if fax | trim is not empty %}
                <p class="my-0">
                    <i class="fa fa-fw fa-fax" aria-hidden="true"></i>
                    <span class="d-inline-block">{{ fax }}</span>
                </p>
            {% endif %}

            {% if email | trim is not empty %}
                <p class="my-0">
                    <a href="mailto:{{ email }}">
                        <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                        <span class="d-inline-block">{{ email }}</span>
                    </a>
                </p>
            {% endif %}

            {% if openingTimes | trim is not empty %}
                <p class="my-0">
                    <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                    <span class="d-inline-block">{{ openingTimes| nl2br }}</span>
                </p>
            {% endif %}
        </div>
    </div>
{% endif %}
