{% set basketData = config("PluginCallisto.basket.data")|split(', ') %}

<script type="x/template" id="vue-basket-total-sum">
    <div class="cmp cmp-totals">
        <h3>{{ trans("PluginCallisto::Callisto.basketSum") }}</h3>
        <div>
            <dl>
                {% if 'basket.value_of_items_gross' in basketData or 'all' in basketData %}
                    <dt><strong>{{ trans("PluginCallisto::Callisto.basketValue") }}</strong>
                        ({{ trans("PluginCallisto::Callisto.basketGross") }})
                    </dt><!--
                    --><dd>
                        19,99 &euro;
                    </dd>
                {% endif %}
                {% if 'basket.value_of_items_net' in basketData or 'all' in basketData %}
                    <dt><strong>{{ trans("PluginCallisto::Callisto.basketValue") }}</strong>
                        ({{ trans("PluginCallisto::Callisto.basketNet") }})
                    </dt><!--
                 --><dd>
                        29,99 &euro;
                    </dd>
                {% endif %}
                {% if 'basket.shipping_costs_gross' in basketData or 'all' in basketData %}
                  <dt><strong>{{ trans("PluginCallisto::Callisto.itemShippingPrice") }}</strong>
                      ({{ trans("PluginCallisto::Callisto.basketGross") }})
                  </dt><!--
                  --><dd>
                      4,99 &euro;
                  </dd>
                {% endif %}
                {% if 'basket.shipping_costs_net' in basketData or 'all' in basketData %}
                    <dt><strong>{{ trans("PluginCallisto::Callisto.itemShippingPrice") }}</strong>
                        ({{ trans("PluginCallisto::Callisto.basketNet") }})
                    </dt><!--
		            --><dd>
                        4,99 &euro;
                    </dd>
                {% endif %}
                {% if 'basket.vat' in basketData or 'all' in basketData %}
                    <dt><strong>{{ trans("PluginCallisto::Callisto.basketVAT") }}</strong>
                    </dt><!--
		            --><dd>
                        3,78 &euro;
                    </dd>
                {% endif %}

                <hr>
                {% if 'basket.order_total_gross' in basketData or 'all' in basketData %}
                    <dt>
                        <strong>{{ trans("PluginCallisto::Callisto.basketTotalSum") }}</strong>
                        ({{ trans("PluginCallisto::Callisto.basketGross") }})
                    </dt><!--
		            --><dd>
                        <strong>
                            79,99 &euro;
                        </strong>
                    </dd>
                {% endif %}
                {% if 'basket.order_total_net' in basketData or 'all' in basketData %}
                    <dt>
                        <strong>{{ trans("PluginCallisto::Callisto.basketTotalSum") }}</strong>
                        ({{ trans("PluginCallisto::Callisto.basketNet") }})
                    </dt><!--
		            --><dd>
                        <strong>
                            56,99 &euro;
                        </strong>
                    </dd>
                {% endif %}
            </dl>
        </div>
    </div>
</script>
