<div class="cmp cmp-totals">
	<h3>{{ trans("PluginCallisto::Callisto.basketSum") }}</h3>
	<div>
		<dl>
			<dt> <strong>{{ trans("PluginCallisto::Callisto.basketValue") }}</strong>
				({{ trans("PluginCallisto::Callisto.basketGross") }})
			</dt><!--
		 --><dd>
				  19,99 &euro;
			</dd>
			<dt>
				<strong>{{ trans("PluginCallisto::Callisto.itemShippingPrice") }}</strong>
				({{ trans("PluginCallisto::Callisto.basketGross") }})
			</dt><!--
		 --><dd>
				4,99 &euro;
			</dd>
			<hr>
			<dt>
				<strong>{{ trans("PluginCallisto::Callisto.basketTotalSum") }}</strong>
				({{ trans("PluginCallisto::Callisto.basketGross") }})
			</dt><!--
		 --><dd>
				<strong>78,99 &euro;</strong>
			</dd>
		</dl>
	</div>
</div>
