{% set basketData = config("PluginCallisto.basket.data")|split(', ') %}

<script type="x/template" id="vue-basket-total-sum">
    <div class="cmp cmp-totals">
        <h3>{{ trans("PluginCallisto::Callisto.basketSum") }}</h3>
        <div>
            <dl>
                {% if 'basket.value_of_items_gross' in basketData or 'all' in basketData %}
                    <dt><strong>{{ trans("PluginCallisto::Callisto.basketValue") }}</strong>
                        ({{ trans("PluginCallisto::Callisto.basketGross") }})
                    </dt><!--
                    --><dd>
                        <strong>${ formatPrice(basket.itemSum, "EUR") }</strong>
                    </dd>
                {% endif %}
                {% if 'basket.value_of_items_net' in basketData or 'all' in basketData %}
                    <dt>{{ trans("PluginCallisto::Callisto.basketValue") }}
                        ({{ trans("PluginCallisto::Callisto.basketNet") }})
                    </dt><!--
                 --><dd>
                        ${ formatPrice(basket.itemSumNet, "EUR") }
                    </dd>
                {% endif %}
                {% if 'basket.shipping_costs_gross' in basketData or 'all' in basketData %}
                  <dt><strong>{{ trans("PluginCallisto::Callisto.itemShippingPrice") }}</strong>
                      ({{ trans("PluginCallisto::Callisto.basketGross") }})
                  </dt><!--
                  --><dd>
                      <strong>${ formatPrice(basket.shippingAmount, "EUR") }</strong>
                  </dd>
                {% endif %}
                {% if 'basket.shipping_costs_net' in basketData or 'all' in basketData %}
                    <dt>{{ trans("PluginCallisto::Callisto.itemShippingPrice") }}
                        ({{ trans("PluginCallisto::Callisto.basketNet") }})
                    </dt><!--
		            --><dd>
                        ${ formatPrice(basket.shippingAmountNet, "EUR") }
                    </dd>
                {% endif %}
                {% if 'basket.vat' in basketData or 'all' in basketData %}
                    <dt>{{ trans("PluginCallisto::Callisto.basketVAT") }}
                    </dt><!--
		            --><dd>
                        ${ formatPrice(basket.itemSum - basket.itemSumNet, "EUR") }
                    </dd>
                {% endif %}

                <hr>
                {% if 'basket.order_total_gross' in basketData or 'all' in basketData %}
                    <dt>
                        <strong>{{ trans("PluginCallisto::Callisto.basketTotalSum") }}</strong>
                        ({{ trans("PluginCallisto::Callisto.basketGross") }})
                    </dt><!--
		            --><dd>
                        <strong>
                            ${ formatPrice(basket.basketAmount, "EUR") }
                        </strong>
                    </dd>
                {% endif %}
                {% if 'basket.order_total_net' in basketData or 'all' in basketData %}
                    <dt>
                        {{ trans("PluginCallisto::Callisto.basketTotalSum") }}
                        ({{ trans("PluginCallisto::Callisto.basketNet") }})
                    </dt><!--
		            --><dd>
                            ${ formatPrice(basket.basketAmountNet, "EUR") }
                    </dd>
                {% endif %}
            </dl>
        </div>
    </div>
</script>
