{% extends getPartial('page-design') %}

{% set contactConfigSet = not config("Ceres.contact.show_data") is empty or config("Ceres.contact.show_data") == "all" %}
{% set googleApiKey     = config("Ceres.contact.api_key") %}
{% set zip              = config("system.company.zip") %}
{% set street           = config("system.company.street") %}
{% set mapZoom          = config("Ceres.contact.map_zoom") %}
{% set showMapInMobile  = config("Ceres.contact.map_show_in_mobile") %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title          trans('Ceres::Template.contact') %}
        {% block description    trans('Ceres::Template.contactMetaDescription') %}
        {% block robots         ceresConfig.meta.robotsContact %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    {{ component("Ceres::Customer.Components.Contact.ContactMap") }}

    <div class="page-content container-max contact">

        <div class="row cmp-contact">
            <div class="col-12">
                <h1>{{ trans("Ceres::Template.contact") }}</h1>

                <hr>

                <p class="mb-5">
                    {{ trans("Ceres::Template.contactShopMessage") }}
                </p>
            </div>

            {% if contactConfigSet %}
                <div class="col-12 pb-5{% if googleApiKey %} col-md-6 pt-4{% else %} col-md-4 col-lg-3{% endif %}">
                    {% include "Ceres::Customer.Components.Contact.ContactCard" %}
                </div>
            {% endif %}

            {% if googleApiKey and contactConfigSet %}
                <div class="col-12 col-md-6 pb-5 pt-4{% if showMapInMobile == "false" %} hidden-sm-down{% endif %}">
                    <contact-map template="#vue-contact-map" zip="{{ zip }}" street="{{ street }}" map-zoom="{{ mapZoom }}" google-api-key="{{ googleApiKey }}"></contact-map>
                </div>
            {% endif %}

            {% set formId = uid() %}
            <form id="contact-form" class="col-12{% if contactConfigSet and not googleApiKey %} col-md-8 col-lg-9{% endif %}" @submit.prevent="$store.dispatch('sendContactForm', $event)">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <div class="input-unit">
                            <input type="text" name="{{ formId }}_name" id="{{ formId }}_name">
                            <label for="{{ formId }}_name">{{ trans("Ceres::Template.contactName") }} ({{ trans("Ceres::Template.contactOptional") }})</label>
                            <input type="hidden" data-mail="reply-to-name" value="{{ formId }}_name">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <div class="input-unit " data-validate="mail">
                            <input type="email" name="{{ formId }}_mail" id="{{ formId }}_mail">
                            <label for="{{ formId }}_mail">{{ trans("Ceres::Template.contactMail") }}*</label>
                            <input type="hidden" data-mail="reply-to-address" value="{{ formId }}_mail">
                        </div>
                        <div class="error-feedback">{{ trans("Ceres::Template.contactEnterConfirmEmail") }}</div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <div class="input-unit" data-validate="text">
                            <input type="text" name="{{ formId }}_subject" id="{{ formId }}_subject">
                            <label for="{{ formId }}_subject">{{ trans("Ceres::Template.contactSubject") }}*</label>
                            <input type="hidden" data-mail="subject" value="{{ formId }}_subject">
                        </div>
                        <div class="error-feedback">{{ trans("Ceres::Template.contactEditSubject") }}</div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <div class="input-unit">
                            <input type="text" name="{{ formId }}_order" id="{{ formId }}_order">
                            <label for="{{ formId }}_order">{{ trans("Ceres::Template.contactOrderId") }} ({{ trans("Ceres::Template.contactOptional") }})</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-unit textarea" data-validate="text">
                            <textarea name="{{ formId }}_message" id="{{ formId }}_message" class="no-resize" rows="15"></textarea>
                            <label for="{{ formId }}_message">{{ trans('Ceres::Template.contactMessage') }}*</label>
                        </div>
                        <div class="error-feedback">{{ trans("Ceres::Template.contactEditMessage") }}</div>
                    </div>

                    <div class="col-12 text-sm-right">* {{ trans("Ceres::Template.contactRequiredField") }}</div>

                    <div class="col-12 re-captcha-container">
                        {% if ceresConfig.global.googleRecaptchaApiKey | trim is not empty %}
                            <recaptcha></recaptcha>
                        {% endif %}
                    </div>

                    <div class="col-12 col-md-9">
                        <div class="form-check">
                            <input class="form-check-input"
                                   data-mail="cc"
                                   value="{{ formId }}_mail"
                                   type="checkbox"
                                   id="{{ formId }}_copy_to_me">
                            <label class="form-check-label" for="{{ formId }}_copy_to_me">
                                {{ trans("Ceres::Template.contactSendMeACopy") }}
                            </label>
                        </div>
                    </div>

                    <hr>
                    {% if ceresConfig.contact.enableConfirmingPrivacyPolicy %}
                        <div class="col-12">
                            <div class="form-check" data-validate="">
                                <input class="form-check-input" type="checkbox" id="{{ formId }}_privacy_check" name="{{ formId }}_privacy_check">
                                <label class="form-check-label" for="{{ formId }}_privacy_check">
                                    {% autoescape false %}
                                        {% spaceless %}
                                            {% set policyContent %}
                                                <a href="{{ urls.privacyPolicy }}" target="_blank">
                                                    <span>{{ trans("Ceres::Template.contactPrivacyPolicy", {"hyphen": "&shy;"}) }}</span>
                                                </a>
                                            {% endset %}
                                        {% endspaceless %}

                                        {{ trans("Ceres::Template.contactAcceptPrivacyPolicy", {"policy": policyContent}) }}<sup>*</sup>
                                    {% endautoescape %}
                                </label>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-12 col-md-3 offset-md-9 send-mail">
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.contactSend") }}
                        </button>
                    </div>
                </div>
            </form>

            {% if googleApiKey and not contactConfigSet %}
                <div class="col-12 mt-5{% if showMapInMobile == "false" %} hidden-sm-down{% endif %}">
                    <contact-map template="#vue-contact-map" zip="{{ zip }}" street="{{ street }}" map-zoom="{{ mapZoom }}" google-api-key="{{ googleApiKey }}"></contact-map>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
