{% extends getPartial('page-design') %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title trans("Ceres::Template.regRegister") %}
    {% endembed %}
{% endblock %}

{% block PageBody %}   

    {{ component( "Ceres::Customer.Components.Registration") }}
    <div class="registration container-max mt-3">
        <div class="row mb-5">
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3">
                <h1>
                    {{ trans("Ceres::Template.regRegisterAccount") }}

                     <popper v-cloak class="float-right">
                        <template #handle>
                            <button class="btn btn-icon btn-secondary btn-sm">
                                <i class="fa fa-info"></i>
                            </button>
                        </template>
                        <template #title>
                            {{ trans("Ceres::Template.regContactInformations") }}
                        </template>
                        <template #content>
                            <ul class='pl-3'>
                                <li class='mb-3'>{{ trans('Ceres::Template.regContactInfoText1') }}</li>
                                <li class='mb-3'>{{ trans('Ceres::Template.regContactInfoText2') }}</li>
                                <li class='mb-3'>{{ trans('Ceres::Template.regContactInfoText3') }}</li>
                                <li>{{ trans('Ceres::Template.regContactInfoText4') }}</li>
                            </ul>
                        </template>
                    </popper>
                </h1>

                <div class="row">
                    <registration template="#vue-registration" backlink="{{ request.get("backlink") | url_encode }}"></registration>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
