{% extends getPartial('page-design') %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.accRegister") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}
    {{ component( "Ceres::Customer.Components.Registration") }}
    <div class="registration container-max">
        <div class="row m-b-3">
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3">
                <div class="row m-b-3">
                    <h1 class="col-xs-12">{{ trans("Ceres::Template.accRegisterAccount") }}</h1>
                </div>

                <registration template="#vue-registration" backlink="{{ request.get("backlink") }}"></registration>

            </div>
        </div>
    </div>
{% endblock %}
