{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ trans("Ceres::Template.accLogin") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}
    {{ component( "Ceres::Customer.Components.ResetPasswordForm") }}

    <div class="container-max m-b-3">
        <div class="m-b-3">
            <h1 class="h2">Passwort zurücksetzen</h1>
        </div>

        <reset-password-form template="#vue-reset-password-form" :contact-id="{{ contactId }}" hash="{{ hash }}"></reset-password-form>
    </div>
{% endblock %}