{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ trans("Ceres::Template.accLogin") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}
    {{ component( "Ceres::Customer.Components.ResetPasswordForm") }}

    <div class="container-max reset-pwd m-b-3">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 m-b-2">
                <h1 class="h2">{{ trans("Ceres::Template.accResetPassword") }}</h1>
            </div>
        </div>

        <reset-password-form template="#vue-reset-password-form" :contact-id="{{ contactId }}" hash="{{ hash }}"></reset-password-form>
    </div>
{% endblock %}