{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{% if category.details[0].metaTitle %}{{ category.details[0].metaTitle }}{% else %}{{ category.details[0].name }}{% endif %} | {{ trans("Ceres::Template.headerCompanyName") }}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">
{% endblock %}

{% block PageBody %}
    {{ component( "Ceres::Checkout.Components.Checkout" ) }}

    {% set shopBuilderTemplate = shop_builder_category_template(category.id, "checkout") %}
    {% if shopBuilderTemplate | trim is not empty %}
        <div class="page-content checkout container-max">
            <div class="row">
                <div class="col">
                    <checkout
                        v-cloak
                        :initial-checkout="{{ checkout | json_encode() }}"
                        :delivery-address-list="{{ services.customer.getAddresses(2) | json_encode }}"
                        :selected-delivery-address="{{ services.checkout.getDeliveryAddressId() | json_encode }}"
                        :billing-address-list="{{ services.customer.getAddresses(1) | json_encode }}"
                        :selected-billing-address="{{ services.checkout.getBillingAddressId() | json_encode }}">
                            {{ shopBuilderTemplate | raw }}
                    </checkout>
                </div>
            </div>
        </div>
    {% else %}
        <checkout
            v-cloak
            :initial-checkout="{{ checkout | json_encode() }}"
            :delivery-address-list="{{ services.customer.getAddresses(2) | json_encode }}"
            :selected-delivery-address="{{ services.checkout.getDeliveryAddressId() | json_encode }}"
            :billing-address-list="{{ services.customer.getAddresses(1) | json_encode }}"
            :selected-billing-address="{{ services.checkout.getBillingAddressId() | json_encode }}">
            {% include category_template( category.id, lang, webstoreConfig.webstoreId ) ignore missing %}
        </checkout>
    {% endif %}

{% endblock %}
