{% extends "PluginCallisto::PageDesign" %}

{% set order = services.customer.getLatestCallisto() %}
{# FIXME: Unauthorized method #}
{#% set shippingAddress = services.customer.getAddress( order.addresses[0].addressId, 1 ) %#}
{#% set paymentAddress = services.customer.getAddress( order.addresses[1].addressId, 2 ) %#}

{% block PageBody %}

    {{ component( "PluginCallisto::Basket.Components.BasketTotals" ) }}

    <div class="myaccount container m-y-3">

        <div class="row m-b-3">
            <div class="col-xs-12">
                <h1>{{ trans("PluginCallisto::Callisto.generalThanks") }}</h1>
                <p>{{ trans("PluginCallisto::Callisto.orderWillBeProcessed") }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 m-b-2">
                <div class="card small">
                    <div class="card-header">
                        <h5>{{ trans("PluginCallisto::Callisto.orderId") }} {{ order.id }}</h5>
                    </div>
                    <div class="card-block">
                        <div class="details">
                            <div class="row">
                                <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderDate") }}</strong>
                                <span class="col-xs-6 col-sm-7">{{ order.createdAt|date("d.m.Y")}}</span>
                            </div>
                            <div class="row">
                                <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderPaymentEntry") }}</strong>
                                <span class="col-xs-6 col-sm-7"> TODO </span>
                            </div>
                            <div class="row">
                                <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderStatus") }}</strong>
                                <span class="col-xs-6 col-sm-7">[{{ order.statusId }}] TODO</span>
                            </div>
                            <div class="row">
                                <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderShipped") }}</strong>
                                <span class="col-xs-6 col-sm-7">TODO</span>
                            </div>
                        </div>

                        <hr>

                        <div class="invoiceaddress">
                            <h6>{{ trans("PluginCallisto::Callisto.orderInvoiceAddress") }}</h6>
                            <div>{{shippingAddress.name1}}</div>
                            <div>{{shippingAddress.name2}} {{shippingAddress.name3}}</div>
                            <div>{{shippingAddress.name4}}</div>
                            <div>{{shippingAddress.address1}} {{shippingAddress.address2}}</div>
                            <div>{{shippingAddress.postalCode}} {{shippingAddress.town}}</div>
                        </div>

                        <hr>

                        <div class="shippingaddress">
                            <h6>{{ trans("PluginCallisto::Callisto.orderShippingAddress") }}</h6>
                            <div>{{paymentAddress.name1}}</div>
                            <div>{{paymentAddress.name2}} {{paymentAddress.name3}}</div>
                            <div>{{paymentAddress.name4}}</div>
                            <div>{{paymentAddress.address1}} {{paymentAddress.address2}}</div>
                            <div>{{paymentAddress.postalCode}} {{paymentAddress.town}}</div>
                        </div>
                        <hr>

                        <div class="paymentmethod">
                            <h6>{{ trans("PluginCallisto::Callisto.orderPayment") }}</h6>
                            <div>{{ trans("PluginCallisto::Callisto.orderPaypalPlus") }}</div>
                        </div>

                        <hr>

                        <div class="shippingmethod">
                            <h6>{{ trans("PluginCallisto::Callisto.orderShippingProfile") }}</h6>
                            <div>{{ trans("PluginCallisto::Callisto.orderDhlPackage") }}</div>
                        </div>

                        <hr>

                        <div class="status">
                            <h6>{{ trans("PluginCallisto::Callisto.orderStatusHistory") }}</h6>
                            <ul>
                                <li><span class="text-muted">03.08.2016 13:55</span> [8] TODO</li>
                                <li><span class="text-muted">03.08.2016 10:15</span> [3] TODO</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-7">
                <div class="confirmation-order-list">

                    <!-- component-order-item -->
                    <article class="cmp cmp-order-item">
                        <div class="row">
                            <div class="col-md-7 item-main">
                                <div class="item-image">
                                    <img src="http://placehold.it/120x120">
                                </div>

                                <div class="item-details">
                                    <h5>{{ trans("PluginCallisto::Callisto.orderId") }} TODO</h5>
                                    <h6 class="item-name small">
                                       TODO ARTIKELTEXT
                                    </h6>
                                    <p class="id small"><strong>{{ trans("PluginCallisto::Callisto.orderItemId") }}</strong> TODO</p>
                                </div>
                            </div>
                            <div class="col-md-5 small">
                                <div class="row">
                                    <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderDate") }}</strong>
                                    <span class="col-xs-6 col-sm-7">TODO</span>
                                </div>
                                <div class="row">
                                    <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderRecipient") }}</strong>
                                    <span class="col-xs-6 col-sm-7">TODO</span>
                                </div>
                                <div class="row">
                                    <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderStatus") }}</strong>
                                    <span class="col-xs-6 col-sm-7">[8] TODO</span>
                                </div>
                                <div class="row">
                                    <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderShipped") }}</strong>
                                    <span class="col-xs-6 col-sm-7">TODO</span>
                                </div>
                            </div>
                        </div>

                    </article>

                </div>
                <div class="gesamtsumme">
                    <basket-totals></basket-totals>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6 col-md-4 offset-md-2">
                <a href="/" type="" class="btn btn-primary btn-block bg-primary">{{ trans("PluginCallisto::Callisto.generalHomepage") }}</a>
            </div>

            <div class="col-xs-6 col-md-4">
                <a href="/my-account" type="" class="btn btn-primary btn-block bg-primary">{{ trans("PluginCallisto::Callisto.accMyAccount") }}</a>
            </div>
        </div>

    </div>

{% endblock %}
