{% extends getPartial('page-design') %}
{% import "Ceres::Checkout.Macros.Address" as address %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set data = services.customer.getLatestOrder() %}

{% block PageBody %}

    {% set overrideConfirmation = LayoutContainer.show("Ceres::OrderConfirmation.Override") %}

    {% if overrideConfirmation|trim is empty %}
        <div class="page-content myaccount container-max m-b-3 m-t-1 p-b-3">
            <div class="row m-b-3">
                <div class="col-xs-12">
                    <h1 class="h4">{{ trans("Ceres::Template.generalThanks") }}</h1>
                    <p>{{ trans("Ceres::Template.orderWillBeProcessed") }}</p>
                </div>
            </div>

            {% include "Ceres::Checkout.OrderDetails" with { orderData: data } %}

            <hr>
            <div class="row">
                {% set loggedIn = frontend.Account.getIsAccountLoggedIn %}
                <div class="col-xs-6 col-md-4 {% if loggedIn %}offset-md-2{% else %}offset-xs-3 offset-md-4{% endif %}">
                    <a href="/" type="" class="btn btn-primary btn-block bg-primary">{{ trans("Ceres::Template.generalHomepage") }}</a>
                </div>


                {% if loggedIn %}
                    <div class="col-xs-6 col-md-4">
                        <a href="/my-account" type="" class="btn btn-primary btn-block bg-primary">{{ trans("Ceres::Template.accMyAccount") }}</a>
                    </div>
                {% endif %}
            </div>

        </div>
    {% else %}
        {{ overrideConfirmation }}
    {% endif %}

{% endblock %}
