{% extends "PluginCallisto::PageDesign.PageDesign" %}
{% import "PluginCallisto::Checkout.Macros.Address" as address %}
{% import "PluginCallisto::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set data = services.customer.getLatestOrder() %}

{% block PageBody %}
    {{ component( "PluginCallisto::Basket.Components.BasketTotals" ) }}

    <div class="page-content myaccount container-max m-b-3 m-t-1 p-b-3">

        <div class="row m-b-3">
            <div class="col-xs-12">
                <h1 class="h4">{{ trans("PluginCallisto::Callisto.generalThanks") }}</h1>
                <p>{{ trans("PluginCallisto::Callisto.orderWillBeProcessed") }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 m-b-2">
                <div class="card small">
                    <!-- ORDER -->
                    <div class="card-header">
                        <h5>{{ trans("PluginCallisto::Callisto.orderId") }} {{ data.order.id }}</h5>
                    </div>
                    <div class="card-block">
                        <div class="details">
                            <div class="row">
                                <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderDate") }}</strong>
                                <span class="col-xs-6 col-sm-7">{{ data.order.createdAt|date("d.m.Y")}}</span>
                            </div>
                            {#<div class="row">#}
                                {#<strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderPaymentEntry") }}</strong>#}
                                {#<span class="col-xs-6 col-sm-7"> {{ data.order }} </span>#}
                            {#</div>#}
                            <div class="row">
                                <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderStatus") }}</strong>
                                <span class="col-xs-6 col-sm-7">{{ data.status.frontendName }}</span>
                            </div>
                            {#<div class="row">#}
                                {#<strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderShipped") }}</strong>#}
                                {#<span class="col-xs-6 col-sm-7">TODO</span>#}
                            {#</div>#}
                        </div>

                        <hr>

                        <div class="invoiceaddress">
                            <h6>{{ trans("PluginCallisto::Callisto.orderInvoiceAddress") }}</h6>
                            {{ address.print( data.order.billingAddress ) }}
                        </div>

                        <hr>

                        <div class="shippingaddress">
                            <h6>{{ trans("PluginCallisto::Callisto.orderShippingAddress") }}</h6>
                            {% if data.order.billingAddress.id == data.order.deliveryAddress.id %}
                                <p>{{ trans("PluginCallisto::Callisto.addressSameAsInvoice") }}</p>
                            {% else %}
                                {{ address.print( data.order.billingAddress ) }}
                            {% endif %}
                        </div>
                        <hr>

                        <div class="paymentmethod">
                            <h6>{{ trans("PluginCallisto::Callisto.orderPayment") }}</h6>
                            <div>{{ trans("PluginCallisto::Callisto.orderPaypalPlus") }}</div>
                            {{ LayoutContainer.show("PluginCallisto::OrderConfirmation.AdditionalPaymentInformation") }}
                        </div>

                        <hr>

                        <div class="shippingmethod">
                            <h6>{{ trans("PluginCallisto::Callisto.orderShippingProfile") }}</h6>
                            <div>{{ trans("PluginCallisto::Callisto.orderDhlPackage") }}</div>
                        </div>

                        <hr>

                        {#<div class="status">#}
                            {#<h6>{{ trans("PluginCallisto::Callisto.orderStatusHistory") }}</h6>#}
                            {#<ul>#}
                                {#<li><span class="text-muted">03.08.2016 13:55</span> [8] TODO</li>#}
                                {#<li><span class="text-muted">03.08.2016 10:15</span> [3] TODO</li>#}
                            {#</ul>#}
                        {#</div>#}

                    </div>
                    <!-- ORDER -->
                </div>

            </div>

            <div class="col-md-7">
                <div class="confirmation-order-list">

                    <!-- component-order-item -->
                    <article class="cmp cmp-order-item">
                        <div class="row">
                            <div class="col-md-7 item-main">
                                <div class="item-image">
                                    <img src="http://placehold.it/120x120">
                                </div>

                                <div class="item-details">
                                    <h5>{{ trans("PluginCallisto::Callisto.orderId") }} TODO</h5>
                                    <h6 class="item-name small">
                                       TODO ARTIKELTEXT
                                    </h6>
                                    <p class="id small"><strong>{{ trans("PluginCallisto::Callisto.orderItemId") }}</strong> TODO</p>
                                </div>
                            </div>
                            <div class="col-md-5 small">
                                <div class="row">
                                    <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderDate") }}</strong>
                                    <span class="col-xs-6 col-sm-7">TODO</span>
                                </div>
                                <div class="row">
                                    <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderRecipient") }}</strong>
                                    <span class="col-xs-6 col-sm-7">TODO</span>
                                </div>
                                <div class="row">
                                    <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderStatus") }}</strong>
                                    <span class="col-xs-6 col-sm-7">[8] TODO</span>
                                </div>
                                <div class="row">
                                    <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderShipped") }}</strong>
                                    <span class="col-xs-6 col-sm-7">TODO</span>
                                </div>
                            </div>
                        </div>

                    </article>

                </div>
                <div class="gesamtsumme">
                    <basket-totals></basket-totals>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6 col-md-4 offset-md-2">
                <a href="/" type="" class="btn btn-primary btn-block bg-primary">{{ trans("PluginCallisto::Callisto.generalHomepage") }}</a>
            </div>

            <div class="col-xs-6 col-md-4">
                <a href="/my-account" type="" class="btn btn-primary btn-block bg-primary">{{ trans("PluginCallisto::Callisto.accMyAccount") }}</a>
            </div>
        </div>

    </div>

{% endblock %}
