{{ component( "Ceres::Item.Components.QuantityInput" ) }}

<script type="x/template" id="vue-add-to-basket">
    <div>
        <div :class="{'no-pointer-events': waiting}" class="add-to-basket-lg-container hidden-md-down" v-if="!showQuantity && useLargeScale && canBeAddedToBasket"
             v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans("Ceres::Template.addToBasket") }}" @click="addToBasket()">
            <i v-waiting-animation="waiting" class="fa fa-cart-plus fa-lg mobile-icon-right"></i>
        </div>

        <div class="add-to-basket-lg-container hidden-md-down" v-if="!showQuantity && useLargeScale && !canBeAddedToBasket"
             v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans("Ceres::Template.showItem") }}" @click="directToItem()">
            <i class="fa fa-arrow-right fa-lg mobile-icon-right"></i>
        </div>

        <div class="category-list-view-port" v-if="showQuantity && !useLargeScale">
            <span>
                <div class="col-xs-12 col-sm-7 col-md-12 col-lg-8 m-y-1">
                    <div class="add-to-basket-container">
                        <div class="quantity-input-container">
                            <quantity-input :value="1"
                                        @quantity-change="updateQuantity"
                                        @out-of-stock="handleButtonState"
                                        :timeout="0" 
                                        :min="item.variation.minimumOrderQuantity"
                                        :max="item.variation.maximumOrderQuantity"
                                        :interval="item.variation.intervalOrderQuantity"
                                        :variation-id="item.variation.id"
                                        template="#vue-quantity-input"></quantity-input>
                        </div>

                        <button v-if="!isVariationSelected" class="btn btn-block btn-primary disabled" v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans("Ceres::Template.itemPleaseSelectValidVariation") }}">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.addToBasket") }}
                        </button>
                        <button v-else-if="!buttonLockState" :disabled="waiting" class="btn btn-block btn-primary" @click="addToBasket()">
                            <i v-waiting-animation="waiting" class="fa fa-shopping-cart" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.addToBasket") }}
                        </button>
                        <button v-else
                                class="btn btn-block btn-primary disabled"
                                v-tooltip
                                data-toggle="tooltip"
                                data-placement="top"
                                :title="'Ceres::Template.orderQuantityMax' | translate({max: item.variation.maximumOrderQuantity})">
                            <i v-waiting-animation="waiting" class="fa fa-shopping-cart" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.addToBasket") }}
                        </button>
                    </div>
                </div>

            </span>
        </div>

        <div class="category-list-view-port" v-if="!showQuantity && !useLargeScale">
            <div class="btn-group" role="group" aria-label="Thumb Control">
                <button type="button" :class="{'no-pointer-events': waiting}" v-if="canBeAddedToBasket" class="btn btn-outline-primary mobile-width-button" @click="addToBasket()">
                    <i class="fa fa-cart-plus fa-lg mobile-icon-right" aria-hidden="true"></i>
                    <span class="mobile-text-only">{{ trans("Ceres::Template.addToBasket") }}</span>
                </button>
                <button type="button" v-if="!canBeAddedToBasket" class="btn btn-outline-primary mobile-width-button" @click="directToItem()">
                    <i class="fa fa-arrow-right fa-lg mobile-icon-right" aria-hidden="true"></i>
                    <span class="mobile-text-only">{{ trans("Ceres::Template.showItem") }}</span>
                </button>
            </div>
        </div>
    </div>

</script>
