{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<script type="x/template" id="vue-basket-totals">
    <!-- BASKET TOTALS -->
    <div class="cmp cmp-totals">
        <div class="h3">{{ trans("Ceres::Template.basketSum") }}</div>
        <div class="component-loading with-icon refreshing" :class="{ 'isLoading': isBasketLoading }">
            <dl>
                {{ LayoutContainer.show("Ceres::BasketTotals.BeforeItemSum") }}
                <dt :class="{ 'font-weight-bold': showNetPrices }">
                    {{ trans("Ceres::Template.basketValue") }} ({{ trans("Ceres::Template.basketNet") }})
                </dt><!--
                --><dd :class="{ 'font-weight-bold': showNetPrices }">
                    ${ basket.itemSumNet | currency }
                </dd>

                <dt :class="{ 'font-weight-bold': !showNetPrices }">
                    {{ trans("Ceres::Template.basketValue") }} ({{ trans("Ceres::Template.basketGross") }})
                </dt><!--
                --><dd :class="{ 'font-weight-bold': !showNetPrices }">
                    ${ basket.itemSum | currency  }
                </dd>

                <dt class="rebate-hint" v-if="basket.basketRebate">
                    ${ basket.basketRebate }% {{ trans("Ceres::Template.basketRebate") }}
                </dt><!--
                --><dd v-if="basket.basketRebate"></dd>
                {{ LayoutContainer.show("Ceres::BasketTotals.AfterItemSum") }}

                {{ LayoutContainer.show("Ceres::BasketTotals.BeforeShippingCosts") }}
                <dt :class="{ 'font-weight-bold': showNetPrices }">
                    {{ trans("Ceres::Template.basketShippingCosts") }} ({{ trans("Ceres::Template.basketNet") }})
                </dt><!--
                --><dd :class="{ 'font-weight-bold': showNetPrices }">
                    ${ basket.shippingAmountNet | currency }
                </dd>

                <dt :class="{ 'font-weight-bold': !showNetPrices }">
                    {{ trans("Ceres::Template.basketShippingCosts") }} ({{ trans("Ceres::Template.basketGross") }})
                </dt><!--
                --><dd :class="{ 'font-weight-bold': !showNetPrices }">
                    ${ basket.shippingAmount | currency }
                </dd>
                {{ LayoutContainer.show("Ceres::BasketTotals.AfterShippingCosts") }}

                <hr>

                {{ LayoutContainer.show("Ceres::BasketTotals.BeforeTotalSum") }}
                <dt :class="{ 'font-weight-bold': showNetPrices }">
                    {{ trans("Ceres::Template.basketTotalSum") }} ({{ trans("Ceres::Template.basketNet") }})
                </dt><!--
                --><dd :class="{ 'font-weight-bold': showNetPrices }">
                    ${ basket.basketAmountNet | currency }
                </dd>
                <template v-if="basket.couponCode && basket.couponCampaignType === 'promotion'">
                    <dt>
                        {{ trans("Ceres::Template.basketCoupon") }}
                    </dt><!--
                --><dd>
                        ${ basket.couponDiscount | currency }
                    </dd>
                </template>


                {{ LayoutContainer.show("Ceres::BasketTotals.BeforeVat") }}
                <div class="vatTotals" v-for="totalVat in basket.totalVats">
                    <dt>
                        {{ trans("Ceres::Template.basketVAT") }} ${ totalVat.vatValue }%
                    </dt><!--
                    --><dd>
                        ${ totalVat.vatAmount | currency }
                    </dd>
                </div>
                {{ LayoutContainer.show("Ceres::BasketTotals.AfterVat") }}

                <div class="totalSum">
                    <hr>
                    <dt :class="{ 'font-weight-bold': !showNetPrices }">
                        {{ trans("Ceres::Template.basketTotalSum") }} ({{ trans("Ceres::Template.basketGross") }})
                    </dt><!--
                    --><dd :class="{ 'font-weight-bold': !showNetPrices }">
                        ${ basket.basketAmount | currency }
                    </dd>
                    <template v-if="basket.couponCode && basket.couponCampaignType === 'sales'">
                        <dt>
                            {{ trans("Ceres::Template.basketCoupon") }}</strong>
                        </dt><!--
                     --><dd>
                            ${ basket.couponDiscount | currency }
                        </dd>
                    </template>
                    <template v-if="basket.couponCampaignType === 'sales'">
                        <dt class="font-weight-bold">
                            {{ trans("Ceres::Template.basketOpenAmount") }}
                        </dt><!--
                    --><dd class="font-weight-bold">
                            ${ basket.openAmount | currency }
                        </dd>
                    </template>

                    <dt class="rebate-hint" v-if="basket.basketRebate">
                        ${ basket.basketRebate }% {{ trans("Ceres::Template.basketRebate") }}
                    </dt><!--
                    --><dd v-if="basket.basketRebate">
                    </dd>
                </div>
                {{ LayoutContainer.show("Ceres::BasketTotals.AfterTotalSum") }}
            </dl>
        </div>
    </div>
    <!-- ./BASKET TOTALS -->
</script>
