{{ component( "Ceres::Item.Components.QuantityInput" ) }}

{% set configItemName = config("Ceres.item.name") %}

<div class="basket-item-slim component-loading with-icon sending" :class="{ 'isLoading': waiting }">

    <div class="quantity-input-container">
        <quantity-input template="#vue-quantity-input" @quantity-change="updateQuantity" :value="basketItem.quantity" :vertical="true" :waiting="isInputLocked" :variation-id="basketItem.variation.data.variation.id"
                            :min="basketItem.variation.data.variation.minimumOrderQuantity" :max="basketItem.variation.data.variation.maximumOrderQuantity"></quantity-input>
    </div>

    <div class="image-container">
        <img class="img-basket-small" :src="image.url" :alt="altText">
        <!-- <div class="square-container">
            <div class="square-inner center-xy main-image">
                <img class="img-basket-small" :src="image.url" :alt="altText">
            </div>
        </div> -->
    </div>

    <div class="meta-container">
        
        <div>
            <transition name="slide-fade">
                <div v-if="deleteConfirmed && !waitForDelete" class="button-slider">
                    <div @click="deleteItem" class="basket-button left">
                        <div class="button-text">{{ trans("Ceres::Template.generalRemove") }}</div>
                    </div>
                    <div @click.stop="resetDelete" class="basket-button right">
                        <div class="button-text">{{ trans("Ceres::Template.generalCancel") }}</div>
                    </div>
                </div>
            </transition>

            <div class="item-meta">
                <a :href="basketItem.variation.data | itemURL">
                    <div class="item-name">
                        ${ basketItem.variation.data.texts | itemName({{ configItemName }}) }
                    </div>
                </a>

                <div class="item-total-price">${ basketItem.quantity * basketItem.variation.data.calculatedPrices.default.basePrice | currency(basketItem.variation.data.calculatedPrices.default.currency) }</div>

                <div class="item-remove-button">
                    <button @click="deleteItem" :disabled="waiting">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="item-base-price">
                ${ basketItem.variation.data.calculatedPrices.default.basePrice | currency }
            </div>

            <div class="item-small-prices">
                <div class="text-muted" v-if="!(basketItem.variation.data.unit.unitOfMeasurement === 'C62' && basketItem.variation.data.unit.content === 1) && basketItem.variation.data.variation.mayShowUnitPrice">
                    <div>${ basketItem.variation.data.calculatedPrices.formatted.basePrice }</div>
                    <div>
                        <strong>{{ trans("Ceres::Template.itemContent") }}: </strong>
                        ${ basketItem.variation.data.unit.content } ${ basketItem.variation.data.unit.names.name }
                    </div>
                </div>

                <div v-if="basketItem.basketItemOrderParams.length" style="font-size: 1.1em">
                    Ihre Angaben (Preis pro Artikel):
                </div>

                <div v-for="property in basketItem.basketItemOrderParams">
                    <div v-if="isPropertyVisible(property.propertyId)">
                    <!-- <div> -->
                        <strong>+ ${property.name} (${basketItem.variation.data.properties | propertySurcharge(property.propertyId) | currency })</strong>
                        <span v-if="property.type === 'file'">
                            <a :href="property.value | fileUploadPath" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> ${ property.value | fileName }</a>
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
