{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{{ component( "Ceres::Basket.Components.BasketList" ) }}
{{ component( "Ceres::Basket.Components.BasketTotals" ) }}
{{ component( "Ceres::Basket.Components.BasketShippingCountrySelect" ) }}

<script type="x/template" id="vue-basket-preview">
    <div class="wrapper-inner basket-preview">
        <header class="basket-header p-3">
            <div class="d-inline-block basket-header-caption">{{ trans("Ceres::Template.basketPreview") }}</div>
            <button v-toggle-basket-preview type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </header>

        <div v-if="basketNotifications.length > 0">
            <div class="alert fade in alert-danger" v-for="notification in basketNotifications">
                <div>${ notification.message }</div>
            </div>
        </div>

        <div class="basket-preview-content">
            <!-- BASKET LIST -->
            <div class="list col-sm-7 col-md-12 pt-3">
                <div class="cmp cmp-basket-preview-list">
                    <basket-list size="small" :is-preview="true"></basket-list>
                </div>
            </div>
            <!-- ./BASKET LIST -->

            <!-- BASKET PREVIEW BOTTOM -->
            <div class="bg-light totals col-sm-5 col-md-12 pt-3">

                <shipping-country-select template="#vue-basket-shipping-country-select" :open-basket-preview="true"></shipping-country-select>

                {{ LayoutContainer.show("Ceres::BasketPreview.BeforeBasketTotals") }}
                <basket-totals></basket-totals>
                {{ LayoutContainer.show("Ceres::BasketPreview.AfterBasketTotals") }}

                <div class="basket-preview-footer row">
                    <div class="col-6 col-sm-6 mb-3">
                        <a v-waiting-animation-infinite
                        href="{{ urls.basket }}"
                        rel="nofollow"
                        class="btn btn-outline-primary btn-block basketBtn"
                        :class="{ 'disabled': basketItems.length <= 0 }"
                        title="{{ trans("Ceres::Template.basket") }}">
                            <i class="fa fa-shopping-cart hidden-sm"></i>
                            {{ trans("Ceres::Template.basket") }} 
                        </a>
                    </div>

                    <div class="col-6 col-sm-6">
                        {{ LayoutContainer.show("Ceres::BasketPreview.BeforeCheckoutButton") }}

                        <div>
                            <a v-waiting-animation-infinite
                            href="{{ urls.checkout }}"
                            :class="{ 'disabled': basketItems.length <= 0 }"
                            class="btn btn-primary btn-block checkOutBtn"
                            rel="nofollow"
                            title="{{ trans("Ceres::Template.basketCheckout") }}">
                                <i class="fa fa-arrow-right hidden-sm" aria-hidden="true"></i>
                                {{ trans("Ceres::Template.basketCheckout") }}
                            </a>
                        </div>

                        {{ LayoutContainer.show("Ceres::BasketPreview.AfterCheckoutButton") }}
                    </div>
                </div>
            </div>
            <!-- ./BASKET PREVIEW BOTTOM -->
        </div>
    </div>
</script>
