{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<script type="x/template" id="vue-basket-totals">
    <!-- BASKET TOTALS -->
    <div class="cmp cmp-totals">
        <h3>{{ trans("Ceres::Template.basketSum") }}</h3>
        <div>
            <dl>
                {{ LayoutContainer.show("Ceres::BasketTotals.BeforeItemSum") }}
                <dt v-if="showProperty( 'basket.value_of_items_net' )">
                    {{ trans("Ceres::Template.basketValue") }} ({{ trans("Ceres::Template.basketNet") }})
                </dt><!--
                --><dd v-if="showProperty( 'basket.value_of_items_net' )">
                    ${ basket.itemSumNet | currency }
                </dd>

                <dt v-if="showProperty( 'basket.value_of_items_gross' )">
                    <strong>{{ trans("Ceres::Template.basketValue") }} ({{ trans("Ceres::Template.basketGross") }})</strong>
                </dt><!--
                --><dd v-if="showProperty( 'basket.value_of_items_gross' )">
                    <strong>${ basket.itemSum | currency  }</strong>
                </dd>
                {{ LayoutContainer.show("Ceres::BasketTotals.AfterItemSum") }}

                {{ LayoutContainer.show("Ceres::BasketTotals.BeforeShippingCosts") }}
                <dt v-if="showProperty( 'basket.shipping_costs_net' )">
                    {{ trans("Ceres::Template.itemShippingCosts") }} ({{ trans("Ceres::Template.basketNet") }})
                </dt><!--
                --><dd v-if="showProperty( 'basket.shipping_costs_net' )">
                    ${ basket.shippingAmountNet | currency }
                </dd>

                <dt v-if="showProperty( 'basket.shipping_costs_gross' )">
                    <strong>{{ trans("Ceres::Template.itemShippingCosts") }} ({{ trans("Ceres::Template.basketGross") }})</strong>
                </dt><!--
                --><dd v-if="showProperty( 'basket.shipping_costs_gross' )">
                    <strong>${ basket.shippingAmount | currency }</strong>
                </dd>
                {{ LayoutContainer.show("Ceres::BasketTotals.AfterShippingCosts") }}

                <hr>

                {{ LayoutContainer.show("Ceres::BasketTotals.BeforeTotalSum") }}
                <dt v-if="showProperty( 'basket.order_total_net' )">
                    {{ trans("Ceres::Template.basketTotalSum") }} ({{ trans("Ceres::Template.basketNet") }})
                </dt><!--
                --><dd v-if="showProperty( 'basket.order_total_net' )">
                    ${ basket.basketAmountNet | currency }
                </dd>

                <dt v-show="basket.couponCode">
                    <strong>{{ trans("Ceres::Template.basketCoupon") }}</strong>
                </dt><!--
                --><dd v-show="basket.couponCode">
                    <strong>${ basket.couponDiscount | currency }</strong>
                </dd>

                {{ LayoutContainer.show("Ceres::BasketTotals.BeforeVat") }}
                <div class="vatTotals" v-for="totalVat in basket.totalVats">
                    <dt v-if="showProperty( 'basket.vat' )">
                        {{ trans("Ceres::Template.basketVAT") }} ${ totalVat.vatValue }%
                    </dt><!--
                    --><dd v-if="showProperty( 'basket.vat' )">
                        ${ totalVat.vatAmount | currency }
                    </dd>
                </div>
                {{ LayoutContainer.show("Ceres::BasketTotals.AfterVat") }}

                <div class="totalSum">
                    <hr v-if="showProperty( 'basket.vat' )">
                    <dt v-if="showProperty( 'basket.order_total_gross' )">
                        <strong>{{ trans("Ceres::Template.basketTotalSum") }} ({{ trans("Ceres::Template.basketGross") }})</strong>
                    </dt><!--
                    --><dd v-if="showProperty( 'basket.order_total_gross' )">
                        <strong>${ basket.basketAmount | currency }</strong>
                    </dd>
                </div>
                {{ LayoutContainer.show("Ceres::BasketTotals.AfterTotalSum") }}
            </dl>
        </div>
    </div>
    <!-- ./BASKET TOTALS -->
</script>
