{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{{ component( "Ceres::Basket.Components.BasketList" ) }}
{{ component( "Ceres::Basket.Components.BasketTotals" ) }}
{{ component( "Ceres::Basket.Components.BasketShippingCountrySelect" ) }}

<script type="x/template" id="vue-basket-preview-hover">
    <div class="basket-preview-hover-wrapper" :class="{ 'empty': !basketItems.length }">
        <div class="basket-preview-hover-wrapper-inner">
            <div class="basket-preview-hover" :class="{ 'empty': !basketItems.length }">

                <header class="basket-header mb-4 d-lg-none">
                    <div class="d-inline-block m-a-0 h3">{{ trans("Ceres::Template.basketPreview") }}</div>
                    <button v-toggle-basket-preview type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </header>

                <basket-list class="item-list" v-if="basketItems.length" size="small" :is-preview="true"></basket-list>
                <div class="no-items" v-else>{{ trans("Ceres::Template.basketNoItems") }}</div>

                <div class="basket-totals" v-if="basketItems.length">

                    <hr class="mb-4">

                    <div v-if="basketNotifications.length > 0">
                        <div class="alert fade in alert-danger" v-for="notification in basketNotifications">
                            <div>${ notification.message }</div>
                        </div>
                    </div>

                    <shipping-country-select template="#vue-basket-shipping-country-select" :open-basket-preview="true"></shipping-country-select>

                    {{ LayoutContainer.show("Ceres::BasketPreview.BeforeBasketTotals") }}
                    <basket-totals></basket-totals>
                    {{ LayoutContainer.show("Ceres::BasketPreview.AfterBasketTotals") }}

                    <div class="row">
                        <div class="col-6">
                            <a v-waiting-animation-infinite href="{{ urls.basket }}" rel="nofollow" class="btn btn-outline-primary btn-block basketBtn" title="{{ trans("Ceres::Template.basket") }}">
                                <i class="fa fa-shopping-cart"></i>
                                {{ trans("Ceres::Template.basket") }} 
                            </a>
                        </div>

                        <div class="col-6">
                            {{ LayoutContainer.show("Ceres::BasketPreview.BeforeCheckoutButton") }}

                            <div>
                                <a v-waiting-animation-infinite href="{{ urls.checkout }}" rel="nofollow" class="btn btn-primary btn-block checkOutBtn" title="{{ trans("Ceres::Template.basketCheckout") }}">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    {{ trans("Ceres::Template.basketCheckout") }}
                                </a>
                            </div>
            
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
