{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{{ component( "Ceres::Basket.Components.BasketList" ) }}
{{ component( "Ceres::Basket.Components.BasketTotals" ) }}

<script type="x/template" id="vue-basket-preview-hover">
    <div class="basket-preview-hover-wrapper" :class="{ 'empty': !basketItems.length }">
        <div class="basket-preview-hover-wrapper-inner">
            <div class="basket-preview-hover" :class="{ 'empty': !basketItems.length }">

                <header class="basket-header m-b-2 hidden-lg-up">
                    <div class="d-inline-block m-a-0 h3">{{ trans("Ceres::Template.basketPreview") }}</div>
                    <button v-toggle-basket-preview type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </header>

                <basket-list class="item-list" v-if="basketItems.length" template="#vue-basket-list" size="small"></basket-list>
                <div class="no-items" v-else>{{ trans("Ceres::Template.orderNoItemsInBasket") }}</div>

                <div class="basket-totals" v-if="basketItems.length">

                    <hr class="m-b-2">

                    <div v-if="basketNotifications.length > 0">
                        <div class="alert fade in alert-danger" v-for="notification in basketNotifications">
                            <div>${ notification.message }</div>
                        </div>
                    </div>

                    <basket-totals template="#vue-basket-totals" :config="{{ config("Ceres.basket.preview_data")|split(', ')|json_encode() }}"></basket-totals>

                    <div class="row">
                            <div class="col-xs-6">
                            <a v-waiting-animation-infinite href="/basket" class="btn btn-outline-primary btn-block basketBtn" title="{{ trans("Ceres::Template.basket") }}">
                                <i class="fa fa-shopping-cart"></i>
                                {{ trans("Ceres::Template.basket") }} 
                            </a>
                        </div>

                        <div class="col-xs-6">
                            {{ LayoutContainer.show("Ceres::BasketPreview.BeforeCheckoutButton") }}

                            <div>
                                <a v-waiting-animation-infinite href="/checkout" class="btn btn-primary btn-block checkOutBtn" title="{{ trans("Ceres::Template.orderCheckout") }}">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    {{ trans("Ceres::Template.orderCheckout") }}
                                </a>
                            </div>
            
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
