{{ component( "Ceres::Item.Components.QuantityInput" ) }}
{% set configItemName = config("Ceres.item.name") %}

<article class="cmp cmp-basket-preview-item">
    <!-- ITEM QUANTITY -->
    <div class="basket-item-quantity">
        <quantity-input template="#vue-quantity-input" @quantity-change="updateQuantity" :value="basketItem.quantity" :vertical="true" :waiting="waiting"
                        :min="basketItem.variation.data.variation.minimumOrderQuantity" :max="basketItem.variation.data.variation.maximumOrderQuantity"></quantity-input>
    </div>
    <!-- ./ITEM QUANTITY -->

    <!-- ITEM IMAGE -->
    <div class="basket-item-image">
        <div class="square-container">
            <div class="square-inner center-xy main-image">
                <img class="img-basket-small" :src="imageUrl" alt="${ basketItem.variation.data.texts | itemName {{configItemName}}  }">
            </div>
        </div>
    </div>
    <!-- ./ITEM IMAGE -->

    <!-- ITEM DETAILS -->
    <div class="basket-item-infos small">
        <a class="clearfix" :href="basketItem.variation.data | itemURL">
            <div class="item-name">
                ${ basketItem.variation.data.texts | itemName {{ configItemName }} } {# ${ basketItem.variation.variationBase.variationName } #}
            </div>
        </a>

        <div class="item-unit-price">
            ${ basketItem.variation.data.calculatedPrices.formatted.basePrice }
        </div>

        <div class="item-total-price">
            ${ basketItem.quantity * basketItem.price | currency basketItem.variation.data.calculatedPrices.default.currency }
        </div>

        <div v-for="attribute in basketItem.variation.data.attributes">
            <strong>${ attribute.attribute.names.name }</strong>:
            <span>${ attribute.value.names.name }</span>
        </div>

        <div v-if="!(basketItem.variation.data.unit.unitOfMeasurement === 'C62' && basketItem.variation.data.unit.content === 1)">
            <strong>{{ trans("Ceres::Template.itemContent") }}:</strong>
            <br>
            <span>${ basketItem.variation.data.unit.content } ${ basketItem.variation.data.unit.names.name }</span>
        </div>

        <div v-for="property in basketItem.basketItemOrderParams">
            <strong>${property.name} ${basketItem.variation.data.properties | propertySurcharge parseInt(property.propertyId) | currency }</strong>
            <br>
            <span>{{ trans('Ceres::Template.basketPerItem') }}</span>
        </div>

        <button type="button" class="item-remove btn btn-labeled btn-link btn-sm" @click="deleteItem" :disabled="waiting" :class="{ 'btn-link' : !deleteConfirmed, 'btn-danger' : deleteConfirmed }">
            <span class="message" v-if="!deleteConfirmed">
                {{ trans("Ceres::Template.generalDelete") }}
            </span>
            <span class="message" v-else>
                {{ trans("Ceres::Template.generalDeleteNow") }}
              </span>
            <span class="btn-label" @click.stop="resetDelete">
                <i class="fa fa-times"></i>
            </span>
        </button>
    </div>
    <!-- ./ITEM DETAILS -->
</article>