{{ component( "Ceres::Item.Components.QuantityInput" ) }}

{% set itemsData = config("Ceres.basket.item_data")|split(', ') %}
{% set showItemVariation = config("Ceres.basket.variations") %}
{% set basketDetailsData = config("Ceres.basket.item_data")|split(', ') %}

<script type="x/template" id="vue-basket-list-item">
    <div class="basket-item-container" :class="{ 'basket-small': size === 'small', 'basket-large': size === 'large' }">
        
        <div class="basket-item component-loading with-icon sending" :class="{ 'isLoading': waiting }">

            <div class="image-container">
                <img class="img-basket-small" v-if="image" :src="image" :alt="altText">
            </div>

            <div class="meta-container-wrapper">
                <div class="meta-container-wrapper-inner">
                    <div class="meta-container">
                        <div>
                            <a :href="basketItem.variation.data | itemURL" class="item-name">
                                ${ basketItem.variation.data | itemName }
                            </a>
    
                            <div class="item-base-price">
                                ${ basketItem.variation.data.prices.default.unitPrice.value | currency }
                            </div>
    
                            <div class="item-small-prices text-muted" v-if="!(basketItem.variation.data.unit.unitOfMeasurement === 'C62' && basketItem.variation.data.unit.content === 1) && basketItem.variation.data.variation.mayShowUnitPrice">
                                <div>${ basketItem.variation.data.prices.default.basePrice }</div>
                                <div>
                                    <strong>{{ trans("Ceres::Template.itemContent") }}: </strong>
                                    ${ basketItem.variation.data.unit.content } ${ basketItem.variation.data.unit.names.name }
                                </div>
                            </div>

                            <div class="item-small-prices">
                                <div v-for="attribute in basketItem.variation.data.attributes">
                                    <strong>${ attribute.attribute.names.name }:</strong>
                                    <span>${ attribute.value.names.name }</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="basket-item-container-right">
                        <div class="qty-box-container">
                            <quantity-input
                                    template="#vue-quantity-input"
                                    @quantity-change="updateQuantity"
                                    :value="basketItem.quantity"
                                    :waiting="isInputLocked"
                                    :min="basketItem.variation.data.variation.minimumOrderQuantity"
                                    :max="basketItem.variation.data.variation.maximumOrderQuantity"
                                    :interval="basketItem.variation.data.variation.intervalOrderQuantity"></quantity-input>
                        </div>
    
                        <div class="price-box">
                            <div class="item-total-price">${ basketItem.quantity * basketItem.variation.data.prices.default.unitPrice.value | currency(basketItem.variation.data.calculatedPrices.default.currency) }</div>
                
                            <div class="item-remove-container">
                                <div class="btn btn-sm item-remove-button" :class="{ 'disabled': waiting || isBasketLoading || waitingForDelete }" @click="deleteItem">
                                    <span>
                                        {{ trans("Ceres::Template.generalDelete") }}
                                        <i v-waiting-animation="waitingForDelete" class="fa fa-trash-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-properties" v-if="basketItem.basketItemOrderParams.length">
                    <div class="item-properties-header">{{ trans("Ceres::Template.basketAdditionalOptions") }}:</div>
                    <ul>
                        <li v-for="property in basketItem.basketItemOrderParams" :key="property.propertyId" v-show="isPropertyVisible(property.propertyId)">

                            <span :class="{ 'item-property-value': size === 'small' }">
                                <strong>${ property.name } (${ basketItem.variation.data.properties | propertySurcharge(property.propertyId) | currency })</strong>
                                <span v-if="size === 'small'">
                                    <span v-if="property.type === 'file'">
                                        <a :href="property.value | fileUploadPath" target="_blank">
                                            <i class="fa fa-external-link" aria-hidden="true"></i>
                                            ${ property.value | fileName }
                                        </a>
                                    </span>
                                    <span v-else>${ property.value }</span>
                                </span>
                            </span>

                            <div v-if="size === 'large'">
                                <span v-if="property.type === 'file'">
                                    <a :href="property.value | fileUploadPath" target="_blank">
                                        <i class="fa fa-external-link" aria-hidden="true"></i>
                                        ${ property.value | fileName }
                                    </a>
                                </span>
                                <span v-else>${ property.value }</span>
                            </div>
                        </li>
                    </ul>
                </div>
    
                <div class="item-additional-information-container">
                    <div class="item-additional-information" v-if="size === 'large' && showMoreInformation">
                        {% if "basket.item.item_id" in basketDetailsData %}
                            <div class="m-t-1">
                                <strong>{{ trans("Ceres::Template.itemId") }}:</strong>
                                <span>${ basketItem.itemId }</span>
                            </div>
                        {% endif %}

                        {% if "basket.item.customNumber" in basketDetailsData %}
                            <div v-if="basketItem.variation.data.variation.number">
                                <strong>{{ trans("Ceres::Template.itemNumber") }}:</strong>
                                <span>${ basketItem.variation.data.variation.number }</span>
                            </div>
                        {% endif %}

                        {% if "basket.item.availability" in basketDetailsData %}
                            <div v-if="basketItem.variation.data.variation.availability.names.name">
                                <strong>{{ trans("Ceres::Template.itemAvailability") }}:</strong>
                                <span>${ basketItem.variation.data.variation.availability.names.name }</span>
                            </div>
                        {% endif %}

                        {% if "basket.item.description_long" in basketDetailsData %}
                            <p class="m-y-1" v-if="basketItem.variation.data.texts.description" v-html="basketItem.variation.data.texts.description"></p>
                        {% endif %}

                        {% if "basket.item.description_short" in basketDetailsData %}
                            <p class="m-y-1" v-if="basketItem.variation.data.texts.description" v-html="basketItem.variation.data.texts.shortDescription"></p>
                        {% endif %}
                    </div>

                    {% if "basket.item.item_id" in basketDetailsData or "basket.item.availability" in basketDetailsData or "basket.item.customNumber" in basketDetailsData or "basket.item.description_long" in basketDetailsData or "basket.item.description_short" in basketDetailsData %}
                        <label v-if="size === 'large'" @click="showMoreInformation = !showMoreInformation" class="basket-expand" :class="{ 'opened': showMoreInformation }" data-show-more="{{ trans("Ceres::Template.itemShowMore") }}" data-show-less="{{ trans("Ceres::Template.itemShowLess") }}"></label>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</script>
