{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ trans("Ceres::Template.itemWishList") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}
    {{ component( "Ceres::WishList.Components.WishList" ) }}

    <div class="page-content basket container-max m-b-3">
        <div class="row m-t-1">
            <div class="col-xs-12">
                <h1 class="h2">{{ trans("Ceres::Template.itemWishList") }}</h1>
            </div>
        </div>

        <hr>

         <wish-list template="#vue-wish-list" :init-ids="{{ wishList | json_encode() }}"></wish-list>
    </div>
{% endblock %}
