{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customClass     = widget.settings.customClass.mobile %}
{% set appearance      = widget.settings.appearance.mobile | default("none") %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{% set openableChildren = widget.settings.openableChildren.mobile %}

<div class="widget widget-category-navigation widget-{{ appearance }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}" {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <div class="widget-inner">

        <div class="category-title">{{ Twig.trans("Ceres::Template.itemCategories") }}</div>
            {{ Twig.include("Ceres::PageDesign.Partials.Header.SideNavigation", { 
                spacingPadding: spacingPadding | json_encode,
                inlinePadding : inlinePadding | json_encode,
                openableChildren: openableChildren | json_encode })
            }}
        </div>

        {{ LayoutContainer.show("Ceres::CategoryItem.SideNavBarBottom") }}
    </div>
</div>
