{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}

{% set customClass = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{% set numberOfColumnsDesktop   = widget.settings.numberOfColumnsDesktop.mobile | default(4) %}
{% set numberOfColumnsTablet    = widget.settings.numberOfColumnsTablet.mobile | default(3) %}
{% set numberOfColumnsMobile    = widget.settings.numberOfColumnsMobile.mobile | default(1) %}

{% set appearance      = widget.settings.appearance.mobile | default("primary") %}

{% set noVat = widget.settings.noVat.mobile is same as (true) %}
{% set grayBackground = widget.settings.grayBackground.mobile is same as (true) %}

{{ Twig.set("buildUrlWithVariationId", "not ceresConfig.item.showPleaseSelect or webstoreConfig.attributeSelectDefaultOption == 0") }}

<div class="widget widget-item-grid widget-{{ appearance }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}{% if noVat %} item-vat-hidden{% endif %}{% if grayBackground %} item-bg-gray{% endif %}" {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    {{ Twig.if( "itemList is not empty" ) }}
        <ul class="widget-inner row product-list grid">
            {{ Twig.for("item", "itemList") }}
                {{ Twig.do("cacheblock") }}
                    <li class="col-{{ 12 / numberOfColumnsMobile }} col-md-{{ 12 / numberOfColumnsTablet }} col-lg-{{ 12 / numberOfColumnsDesktop }}{% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"
                    {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}>
                        <intersect>
                            <category-item v-cloak
                                           {% if isPreview %}:item-data="{{ Twig.print("item.data | json_encode") }}"{% else %}
                                           item-data-ref="{{ Twig.print("item.data | json_data") }}"{% endif %}
                                           :decimal-count="{{ Twig.print("ceresConfig.item.storeSpecial | default(0) | json_encode") }}">

                                <template #before-prices>  {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::CategoryItem.BeforePrices", Twig.var("item.data")])) }}</template>
                                <template #after-prices> {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::CategoryItem.AfterPrices", Twig.var("item.data")])) }}</template>
                                <template #item-data>{{ Twig.print("item.data | json_encode | e") }}</template>

                                <a href="{{ Twig.print("item.data | itemURL(buildUrlWithVariationId | json_encode)") }}" class="small">
                                    <i class="fa fa-image"></i>
                                    <span>{{ Twig.print("item.data | itemName") }}</span>
                                </a>
                            </category-item>

                            <template #loading>
                                <div class="category-item-placeholder w-100 invisible">
                                    <a href="{{ Twig.print("item.data | itemURL(buildUrlWithVariationId | json_encode)") }}" class="small">
                                        <i class="fa fa-image"></i>
                                        <span>{{ Twig.print("item.data | itemName") }}</span>
                                    </a>
                                </div>
                            </template>
                        </intersect>
                    </li>
                {{ Twig.do("endcacheblock") }}
            {{ Twig.endfor() }}
        </ul>
    {{ Twig.endif() }}
</div>
