{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set customClass = widget.settings.customClass.mobile %}
{% set isFixed                 = widget.settings.isFixed.mobile %}
{% set showOnHomepage          = widget.settings.showOnHomepage.mobile %}
{% set showOnMyAccount         = widget.settings.showOnMyAccount.mobile %}
{% set showOnCheckout          = widget.settings.showOnCheckout.mobile %}
{% set showOnContentCategory   = widget.settings.showOnContentCategory.mobile %}

{% if not showOnHomepage %}
    {{ Twig.if("not services.template.isCurrentTemplate('tpl.home') and not services.template.isCurrentTemplate('tpl.home.category')") }}
{% endif %}

{% if not showOnMyAccount %}
    {{ Twig.if("not services.template.isCurrentTemplate('tpl.my-account')") }}
{% endif %}

{% if not showOnCheckout %}
    {{ Twig.if("not services.template.isCurrentTemplate('tpl.checkout')") }}
{% endif %}

{% if not showOnContentCategory %}
    {{ Twig.if("not services.template.isCurrentTemplate('tpl.category.content')") }}
{% endif %}

<div class="breadcrumbs header-fw{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if not isFixed %} unfixed{% endif %}">
    <nav class="small hidden-sm-down px-0" data-component="breadcrumbs" data-renderer="twig">
        {{ Twig.set('crumbs', '[]') }}
        <ul class="breadcrumb container-max">
            <li class="breadcrumb-item">
                <a href="{{ Twig.print('urls.home') }}">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    {{ Twig.set('crumb', '
                        [
                            {
                                "@type": "ListItem",
                                "position": 1,
                                "item":
                                {
                                    "@id": urls.home,
                                    "name": "Home"
                                }
                            }
                        ]')
                    }}
                    {{ Twig.set('crumbs', 'crumbs | merge(crumb)') }}
                </a>
            </li>
            {{ Twig.if("categoryBreadcrumbs is not empty") }}
                {{ Twig.set("break", "false") }}
                {{ Twig.set("catLevel", 2) }}
                {{ Twig.for("category", "categoryBreadcrumbs[:categoryBreadcrumbs | length - 1]", "not break") }}
                    {{ Twig.if("category.details[0]") }}
                        <li class="breadcrumb-item">
                            <a href="{{ Twig.print(Twig.call("services.category.getURLById", [Twig.var("category.id")])) }}">
                                {{ Twig.print("category.details[0].name") }}
                            </a>
                            {{ Twig.set('crumb', '
                                [
                                    {
                                        "@type": "ListItem",
                                        "position": catLevel,
                                        "item":
                                        {
                                            "@id": services.category.getURLById(category.id),
                                            "name": category.details[0].name
                                        }
                                    }
                                ]')
                            }}
                            {{ Twig.set('crumbs', 'crumbs | merge(crumb)') }}
                            {{ Twig.do("set catLevel = catLevel + 1") }}
                        </li>
                    {{ Twig.else() }}
                        {{ Twig.set("break", "true") }}
                    {{ Twig.endif() }}
                {{ Twig.endfor() }}

                {{ Twig.set("lastCategory", "categoryBreadcrumbs | last") }}
                {{ Twig.if("lastCategory.details is defined") }}
                    <li class="breadcrumb-item active"><span>{{ Twig.print("lastCategory.details[0].name") }}</span></li>
                {{ Twig.elseif("item.documents[0].data is defined") }}
                    <li class="breadcrumb-item active">
                        <span>{{ Twig.print("item.documents[0].data | itemName") }}</span>
                    </li>
                {{ Twig.endif() }}
            {{ Twig.endif() }}
        </ul>
        <script type="application/ld+json">
        {
            "@context":"http://schema.org/",
            "@type":"BreadcrumbList",
            "itemListElement": {{ Twig.print('crumbs | json_encode | raw') }}
        }
        </script>
    </nav>
</div>

{% if not showOnHomepage %}
    {{ Twig.endif() }}
{% endif %}

{% if not showOnMyAccount %}
    {{ Twig.endif() }}
{% endif %}

{% if not showOnCheckout %}
    {{ Twig.endif() }}
{% endif %}

{% if not showOnContentCategory %}
    {{ Twig.endif() }}
{% endif %}
