{% set customClass              = widget.settings.customClass.mobile            %}
{% set appearance               = widget.settings.appearance.mobile             %}
{% set redirect                 = widget.settings.redirect.mobile               %}
{% set languageDetectionGroup   = widget.settings.languageDetectionGroup.mobile %}

<div class="language-detection header-fw widget-{{ appearance }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}">
    <div class="container-max px-0 pr-lg-3">
        {% if isPreview %}
            <div class="widget align-center">
                Language Detection
            </div>
        {% else %}
        <language-detection
            redirect="{{ redirect }}"
            appearance="{{ appearance }}"
            langtext="{{ languageDetectionGroup | json_encode }}"
        >
        </language-detection>
        {% endif %}
    </div>
</div>
