<div class="col-xs-{{ config.breakpointXS }} col-sm-{{ config.breakpointSM }} col-md-{{ config.breakpointMD }} col-lg-{{ config.breakpointLG }} col-xl-{{ config.breakpointXL }}">
    {# {% render(children) %} #}
</div>