{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}

{% set customClass     = widget.settings.customClass.mobile %}
{% set appearance      = widget.settings.appearance.mobile | default("none") %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{% set headline = widget.settings.headline.mobile %}
{% set expandableChildren = widget.settings.expandableChildren.mobile %}
{% set showItemCount = widget.settings.showItemCount.mobile %}

{% set displayClasses = isPreview ? "" : "d-none d-lg-block" %}
{% set widgetClasses = WidgetHelper.concatClasses([customClass, spacingMargin, displayClasses]) %}

<div class="widget widget-navigation-tree widget-{{ appearance }}{% if widgetClasses | length > 0 %} {{ widgetClasses }}{% endif %}" {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <div class="widget-inner d-none d-lg-block">
        <div class="category-title" {{ WidgetHelper.makeEditable("headline", TOOLBAR_LAYOUT.INLINE, isPreview) }}>
            {% if headline | trim is empty %}
                {{ WidgetHelper.editableTwig(isPreview, Twig.trans("Ceres::Template.itemCategories")) }}
            {% else %}
                {{ WidgetHelper.editableTwig(isPreview, headline) }}
            {% endif %}
        </div>

        {{ Twig.include("Ceres::PageDesign.Partials.Header.SideNavigation", {
            spacingPadding: spacingPadding | json_encode,
            inlinePadding : inlinePadding | json_encode,
            expandableChildren: expandableChildren | json_encode,
            showItemCount : showItemCount | json_encode,
            customEntries : customEntries | json_encode(constant('JSON_UNESCAPED_UNICODE'))})
        }}

        {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::CategoryItem.SideNavBarBottom"])) }}
    </div>
    {% if isPreview %}
        <div class="widget-placeholder d-block d-lg-none prop-1-1 py-3">
            <div>
                <p class="title">{{ Twig.trans("Ceres::Widget.navigationTreePlaceholderTitle") }}</p>
                <p class="description">{{ Twig.trans("Ceres::Widget.navigationTreePlaceholderDescription") }}</p>
            </div>
        </div>
    {% endif %}
</div>