{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}
{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set customClass     = widget.settings.customClass.mobile %}
{% set appearance      = widget.settings.appearance.mobile | default("none") %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{% set source = widget.settings.source.mobile %}
{% set maxLevel = widget.settings.maxLevel.mobile %}
{% set numberOfColumns = widget.settings.numberOfColumns.mobile %}
{% set numberOfRows = widget.settings.numberOfRows.mobile %}

<div class="widget widget-step-by-step-navigation widget-{{ appearance }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}" {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <div class="widget-inner">

        {% if isPreview %}

            <div class="row">
                {% for i in 1..numberOfColumns * numberOfRows %}
                <div class="col-{{ 12 / numberOfColumns }} mb-3">
                    <div class="nav-item border d-flex{% if source != "none" %} preview{% endif %}">
                        {% if source != "none" %}
                            <div class="prop-1-1">
                                <svg class="d-none mx-auto w-75" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm-6 336H54a6 6 0 0 1-6-6V118a6 6 0 0 1 6-6h404a6 6 0 0 1 6 6v276a6 6 0 0 1-6 6zM128 152c-22.091 0-40 17.909-40 40s17.909 40 40 40 40-17.909 40-40-17.909-40-40-40zM96 352h320v-80l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L192 304l-39.515-39.515c-4.686-4.686-12.284-4.686-16.971 0L96 304v48z"/></svg>
                            </div>
                        {% endif %}
                        <div class="nav-text d-flex align-center p-2"><span class="text-appearance mx-auto">{{ trans("IO::Faker.categoryName", {"count": loop.index}) }}</span></div>
                    </div>
                </div>
                {% endfor %}
            </div>

        {% else %}

            {{ Twig.if("category is not defined or category is null") }}
                {{ Twig.set("category", "services.category.getCurrentCategory()") }}
            {{ Twig.endif() }}

            {{ Twig.if("category is defined and category is not null and category.level <= #{ maxLevel }") }}
                {{ Twig.set("children", Twig.call("services.category.getCurrentCategoryChildren", [Twig.var("category.id")])) }}

                {{  Twig.if("children | length > 0") }}

                    {{ Twig.set("chunkSize", numberOfColumns * numberOfRows)}}
                    {{ Twig.set("hasImg", false | json_encode) }}
                    {{ Twig.for("child", "children", "child.details[0].#{source} | trim is not empty") }}
                        {{ Twig.set("hasImg", true | json_encode) }}
                    {{ Twig.endfor() }}

                    <step-by-step-navigation
                        :category-id="{{ Twig.print("category.id") }}"
                        :chunk-size="{{ Twig.print("chunkSize") }}"
                        image-source="{{ source }}"
                        :columns="{{ numberOfColumns }}"
                        :children-count="{{ Twig.print("children | length")}}">
                        <div class="row">
                            {{ Twig.for("i", "1..children | length") }}
                                {{ Twig.if("loop.index <= chunkSize") }}
                                    <div class="col-6 col-md-{{ 12 / numberOfColumns }} mb-3">
                                        <div class="nav-item border d-flex is-loading refreshing with-icon component-loading">
                                            {{ Twig.if("hasImg") }}
                                                <div class="prop-1-1"></div>
                                            {{ Twig.endif() }}
                                            <div class="nav-text d-flex align-center p-2">&nbsp;</div>
                                        </div>
                                    </div>
                                {{ Twig.endif() }}
                            {{ Twig.endfor() }}

                            {{ Twig.if("children | length > chunkSize") }}
                                <div class="mb-3 mx-auto">
                                    <button type="button" class="btn btn-appearance disabled px-4 py-3">
                                        <span>{{ trans("Ceres::Template.stepByStepNavigationShowMore") }}</span>
                                        <i class="fa fa-repeat fa-fw fa-spin"></i>
                                    </button>
                                </div>
                            {{ Twig.endif() }}
                        </div>
                    </step-by-step-navigation>
                {{ Twig.endif() }}
            {{ Twig.endif() }}

        {% endif %}

    </div>
</div>
