{{ component( "Ceres::ItemList.Components.CategoryItem" ) }}
{{ component( "Ceres::ItemList.Components.ItemLazyImg" ) }}
{{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}
{{ component( "Ceres::LiveShopping.Components.LiveShoppingDetails" ) }}

<script type="x/template" id="vue-live-shopping-item">
    <div>
        <category-item v-if="!!currentOffer" :item-data="currentOffer.item" decimal-count="{{ ceresConfig.item.storeSpecial }}" image-url-accessor="urlMiddle">

            <item-store-special v-if="!!storeSpecial"
                                slot="store-special"
                                :store-special="storeSpecial"
                                :recommended-retail-price="currentOffer.item.prices.default"
                                :variation-retail-price="currentOffer.item.prices.specialOffer"
                                :decimal-count="2">
            </item-store-special>

                <a v-if="!!displaySettings.customImagePath" slot="item-image" :href="currentOffer.item | itemURL">
                    <item-lazy-img template="#vue-item-lazy-img"
                                   :image-url="displaySettings.customImagePath"
                                   :alt="currentOffer.item | itemName" 
                                   :title="currentOffer.item | itemName">
                    </item-lazy-img>
                </a>

            <live-shopping-details v-if="!!currentOffer && isOfferActive" 
                                   slot="item-details"
                                   :live-shopping-data="currentOffer"
                                   :display-settings="displaySettings">
            </live-shopping-details>
            
        </category-item>
    </div>
</script>