<script type="x/template" id="vue-live-shopping-details">
    <div class="live-shopping-details">
        <div class="h3 live-shopping-item-name">
            <a :href="liveShoppingData.item | itemURL">
                ${ liveShoppingData.item | itemName }
            </a>
        </div>

        <slot name="after-item-name"></slot>

        <div class="live-shopping-countdown" v-if="displaySettings.showTimer || displaySettings.showStock">
            <hr class="live-shopping-countdown-separator">
            <div class="live-shopping-countdown-heading" v-if="displaySettings.showTimer">
                <div v-if="hasStarted">
                    {{ trans("Ceres::Template.liveShoppingOfferEndsIn") }}
                </div>
                <div v-else>
                    {{ trans("Ceres::Template.liveShoppingOfferBeginsIn") }}
                </div>
            </div>

            <div class="live-shopping-countdown-thread-container" v-if="displaySettings.showTimer && !!duration">
                <div v-if="duration.days > 0" class="live-shopping-countdown-thread">
                    <div class="live-shopping-countdown-thread-number">${ duration.days }</div>
                    <div class="small">{{ trans("Ceres::Template.liveShoppingDays") }}</div>
                </div>
                <div class="live-shopping-countdown-thread">
                    <div class="live-shopping-countdown-thread-number">${ duration.hours }</div>
                    <div class="small">{{ trans("Ceres::Template.liveShoppingHours") }}</div>
                </div>
                <div class="live-shopping-countdown-thread">
                    <div class="live-shopping-countdown-thread-number">${ duration.minutes }</div>
                    <div class="small">{{ trans("Ceres::Template.liveShoppingMinutes") }}</div>
                </div>
                <div v-if="duration.days <= 0" class="live-shopping-countdown-thread">
                    <div class="live-shopping-countdown-thread-number">${ duration.seconds }</div>
                    <div class="small">{{ trans("Ceres::Template.liveShoppingSeconds") }}</div>
                </div>
            </div>

            <template v-if="hasStarted && !hasClosed">
                <div class="live-shopping-progress" v-if="displaySettings.showTimer && displaySettings.showTimerProgress">
                    <div class="bs4-progress">
                        <div :class="'progress-' + Math.round(timePercentage / 10) * 10" class="bs4-progress-bar" role="progressbar" :style="'width:' + timePercentage + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="live-shopping-progress" v-if="displaySettings.showStock">
                    <div class="live-shopping-progress-heading">
                        <span>{{ trans("Ceres::Template.liveShoppingRemainingStock", {"quantityRemaining": "${ itemQuantityRemaining }", "quantityMax": "${ liveShoppingData.liveShopping.quantityMax }"}) }}</span>
                    </div>

                    <div class="bs4-progress" v-if="displaySettings.showStockProgress">
                        <div :class="'progress-' + Math.round(quantitySoldPercentage / 10) * 10" class="bs4-progress-bar" role="progressbar" :style="'width:' + quantitySoldPercentage + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </template>
        </div>

        <div class="live-shopping-prices bg-danger" v-if="hasStarted && !hasClosed">
            <div class="live-shopping-prices-inner">
                <div class="live-shopping-prices-rebate" v-if="!isNaN(itemPriceRebatePercentage) && itemPriceRebatePercentage > 0">{{ trans("Ceres::Template.liveShoppingRebate", {"rebate": "${ itemPriceRebatePercentage }" }) }}</div>
                <div class="live-shopping-prices-container">
                    <div class="live-shopping-price">
                        <strong>${ prices.price.unitPrice.formatted } *</strong>
                    </div>
                    <span v-if="displaySettings.showCrossPrice && prices.rrp.unitPrice.value > 0">
                        <span v-if="prices.isRrpDefaultPrice">{{ trans("Ceres::Template.liveShoppingBefore", {"price": "<del>${ prices.rrp.unitPrice.formatted }</del>"}) | raw }}</span>
                        <span v-else>{{ trans("Ceres::Template.liveShoppingRrp", {"price": "<del>${ prices.rrp.unitPrice.formatted }</del>"}) | raw }}</span>
                    </span>
                </div>
            </div>

            <div class="live-shopping-prices-additional-info">
                <div v-if="!(liveShoppingData.item.unit.unitOfMeasurement === 'C62' && liveShoppingData.item.unit.content === 1)">
                    <span>${ liveShoppingData.item.unit.content }</span>
                    <span>${ liveShoppingData.item.unit.names.name }</span>
                    <span v-if="liveShoppingData.item.variation.mayShowUnitPrice">| ${ prices.price.basePrice }</span>
                </div>

                * {% if services.customer.showNetPrices() %}{{ trans("Ceres::Template.itemExclVAT") }}{% else %}{{ trans("Ceres::Template.itemInclVAT") }}{% endif %} {{ trans("Ceres::Template.itemExclusive") }}
                <a {% if ceresConfig.global.shippingCostsCategoryId > 0 %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.itemShippingCosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
            </div>
        </div>

        <div class="thumb-content" v-else>
            <div>
                <div class="prices">
                    <div class="price-view-port">
                        <del class="crossprice" v-if="displaySettings.showCrossPrice && prices.rrp.price.value > 0">
                            ${ prices.rrp.price.formatted | itemCrossPrice  }
                        </del>
                    </div>
                    
                    <div class="price">
                        ${ prices.price.price.formatted } *
                    </div>
                </div>

                <div class="category-unit-price" v-if="!(liveShoppingData.item.unit.unitOfMeasurement === 'C62' && liveShoppingData.item.unit.content === 1)">
                    <span>${ liveShoppingData.item.unit.content }</span>
                    <span>${ liveShoppingData.item.unit.names.name }</span>
                    <span v-if="liveShoppingData.item.variation.mayShowUnitPrice">| ${ prices.price.basePrice }</span>
                </div>

                <span class="vat small text-muted">
                    * {% if services.customer.showNetPrices() %}{{ trans("Ceres::Template.itemExclVAT") }}{% else %}{{ trans("Ceres::Template.itemInclVAT") }}{% endif %} {{ trans("Ceres::Template.itemExclusive") }}
                    <a {% if ceresConfig.global.shippingCostsCategoryId > 0 %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.itemShippingCosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
                </span>
            </div>
        </div>

    </div>
</script>
