{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "Ceres::ItemList.Components.CategoryItem" ) }}
{{ component( "Ceres::ItemList.Components.ItemLazyImg" ) }}
{{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}
{{ component( "Ceres::LiveShopping.Components.LiveShoppingDetails" ) }}

{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}

<script type="x/template" id="vue-live-shopping-item">
    <div>
        <category-item v-if="!!currentOffer" :item-data="currentOffer.item" :decimal-count="{{ ceresConfig.item.storeSpecial }}" image-url-accessor="urlMiddle" :padding-classes="paddingClasses" :padding-inline-styles="paddingInlineStyles">
            <item-store-special v-if="!!storeSpecial"
                                #store-special
                                :store-special="storeSpecial"
                                :recommended-retail-price="prices.rrp"
                                :variation-retail-price="prices.price"
                                :decimal-count="{{ ceresConfig.item.storeSpecial }}">
            </item-store-special>

            <template #item-image>
                <a v-if="!!displaySettings.customImagePath" :href="currentOffer.item | itemURL">
                    <item-lazy-img template="#vue-item-lazy-img"
                                :image-url="displaySettings.customImagePath"
                                :alt="currentOffer.item | itemName" 
                                :title="currentOffer.item | itemName">
                    </item-lazy-img>
                </a>
            </template>

            <template #item-details v-if="!!currentOffer && whenIsCurrentOffer() !== 1 && isActiveByStock">
                <live-shopping-details :live-shopping-data="currentOffer"
                                    @reload-offer="reloadOffer()"
                                    :display-settings="displaySettings"
                                    :prices="prices"
                                    :is-active-by-stock="isActiveByStock">
                    <template #after-item-name>
                        <div class="live-shopping-add-to-basket">
                            {{ AddToBasket.printVueComponent( "currentOffer.item" ) }}
                        </div>
                    </template>
                </live-shopping-details>
            </template>
        </category-item>
        <div v-else>
            <slot></slot>
        </div>
    </div>
</script>