{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{% if category.details[0].metaTitle %}{{ category.details[0].metaTitle }}{% else %}{{ category.details[0].name }}{% endif %} | {{ trans("Ceres::Template.headerCompanyName") }}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">
{% endblock %}

{% block PageBody %}

    {% set shopBuilderTemplate = shop_builder_category_template(category.id) %}
    {% if shopBuilderTemplate | trim is not empty %}
        <div class="container-max">
            <div class="row">
                <div class="col">
                    {{ shopBuilderTemplate | raw }}
                </div>
            </div>
        </div>
    {% else %}
        {% include category_template( category.id, lang, webstoreConfig.webstoreId ) ignore missing %}
    {% endif %}

{% endblock %}
