{% macro get_nav_bar(categories, currentScopeUrl) %}

    {% for category in categories %}

        {% if category.details | length > 0 %}

            {% set currentScopeUrl = "/" ~ category.details[0].nameUrl %}

            {% if category.children %}

                <li class="ddown">
                    <a href="{{ currentScopeUrl }}" v-render-category="{{ category }}">{{ category.details[0].name }}</a>
                    <ul data-level="1">

                        {% for child in category.children %}
                            {% if child.details | length > 0 %}
                                <li>
                                    <a href="{{ currentScopeUrl }}/{{ child.details[0].nameUrl }}" v-render-category="{{ child }}">{{ child.details[0].name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </li>

            {% else %}

                <li>
                    <a href="{{ currentScopeUrl }}" v-render-category="{{ category }}">{{ category.details[0].name }}</a>
                </li>

            {% endif %}
        {% endif %}
    {% endfor %}

{% endmacro %}

{% macro get_sidemenu(breadcrumbs, categories, currentScopeUrl) %}

    {% import _self as sidemenu %}

    {% set urlNow = currentScopeUrl %}

    {% for category in categories %}

        {% set urlNow = currentScopeUrl ~ "/" ~ category.details[0].nameUrl %}

        <ul>
            <li class="nav-item {% for breadcrumb in breadcrumbs %}{{ breadcrumb | json_encode() }}{% if category.id == breadcrumb.id %} active {% endif %}{% endfor %}" v-check-active category="{{ category }}">
                <a href="{{ urlNow }}" class="nav-link" v-render-category="{{ category }}">{{ category.details[0].name }}</a>
                {% if category.children is not empty %}
                    {{ sidemenu.get_sidemenu(breadcrumbs, category.children, urlNow) }}
                {% endif %}
            </li>
        </ul>

    {% endfor %}

{% endmacro %}