{% macro get_children(category, currentScopeUrl, level, megaMenuLevels, maxItems) %}
    {% set megaMenuLevels = megaMenuLevels | default(1) %}
    {% set maxItems = maxItems | default({"1": 30, "2": 3, "3": 2}) %}
    {% import _self as childlist %}
    {% set counter = 0 %}
    {% if level < megaMenuLevels %}
        {% for child in category.children if counter < maxItems[level] %}
            {% if (child.details | length > 0) %}
                {% if level == 1 %}
                    <li><ul class="collapse-inner">
                {% endif %}
                    <li class="level{{ level }}">
                        {% set newScope = currentScopeUrl ~ "/" ~ child.details[0].nameUrl %}
                        <a @touchstart.stop href="{{ newScope }}{{ urls.trailingSlashSuffix }}">{{ child.details[0].name }}</a>
                    </li>
                    {% if child.children %}
                        {{ childlist.get_children(child, newScope, level + 1, megaMenuLevels, maxItems) }}
                    {% endif %}
                {% if level == 1 %}
                    </ul></li>
                {% endif %}
                {% set counter = counter + 1 %}
                {% if counter == maxItems[level]%}
                    <li class="level{{ level }} bt-more"><a @touchstart.stop href="{{ currentScopeUrl }}{{ urls.trailingSlashSuffix }}">{{ trans("Ceres::Template.itemShowMore") }}...</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro get_nav_bar(categories, currentScopeUrl, megaMenuLevels, maxItemsPerStage) %}
    {% import _self as navbar %}
    {% set counter = 0 %}
    {% set megaMenuLevels = megaMenuLevels | default(1) %}

    {% for category in categories %}

        {% if category.details | length > 0 %}

            {% if urls.includeLanguage %}
                {% set currentScopeUrl = "/" ~ category.details[0].lang ~  "/" ~ category.details[0].nameUrl %}
            {% else %}
                {% set currentScopeUrl = "/" ~ category.details[0].nameUrl %}
            {% endif %}
            {% set translatedChildren = 0 %}
            {% for children in category.children if children.details[0] %}
                {% set translatedChildren = translatedChildren + 1 %}
            {% endfor %}

            {% if category.children and translatedChildren > 0 %}

                <li {% if maxItemsPerStage[1] > 0 %}class="ddown"{% endif %} v-navigation-touch-handler>
                    <a href="{{ currentScopeUrl }}{{ urls.trailingSlashSuffix }}">{{ category.details[0].name }}</a>
                    {% if maxItemsPerStage[1] > 0 %}
                    <ul data-level="1" class="collapse nav-dropdown-{{ counter }}">
                        {% set counter = counter + 1 %}
                        {% if megaMenuLevels == 1 %}
                            {% for child in category.children %}
                                {% if child.details | length > 0 %}
                                    <li>
                                        <ul class="collapse-inner">
                                            <li>
                                                <a href="{{ currentScopeUrl }}/{{ child.details[0].nameUrl }}{{ urls.trailingSlashSuffix }}">{{ child.details[0].name }}</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {{ navbar.get_children(category, currentScopeUrl, 1, megaMenuLevels, maxItemsPerStage) }}
                        {% endif %}
                    </ul>
                    {% endif %}
                </li>

            {% else %}

                <li>
                    <a href="{{ currentScopeUrl }}{{ urls.trailingSlashSuffix }}">{{ category.details[0].name }}</a>
                </li>

            {% endif %}
        {% endif %}
    {% endfor %}

{% endmacro %}

{% macro get_sidemenu(breadcrumbs, categories, currentScopeUrl, spacingPadding, inlinePadding, showItemCount, expandableChildren, customEntries ) %}
    {% import _self as sidemenu %}

    {% for category in categories if category.details[0] %}
        {% for entry in customEntries if entry.text is not empty %}
            {% if entry.url.value is not empty %}
                {% if entry.url.type == 'category' %}
                    {% set __category = services.category.get(entry.url.value) %}
                    {% set realUrl = services.category.getURL(__category) %}
                {% endif %}
                {% if entry.url.type == 'item' %}
                    {% set __itemData = services.item.getVariation(entry.url.value) %}
                    {% set realUrl = __itemData.documents[0].data | itemURL %}
                {% endif %}
                {% if entry.url.type == 'external' or entry.url.type == 'file' %}
                    {% set realUrl = entry.url.value %}
                {% endif %}
            {% endif %}

            {% if entry.position == loop.parent.loop.index or entry.position == 0 and loop.parent.loop.index == 1 %}
            <ul>
                <li class="nav-item">
                    <a {% if realUrl is not empty %}href="{{ realUrl }}"{% endif %} class="nav-link
                        {% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"
                        {% if entry.url.openInNewTab %} target="_blank"{% endif %}
                        {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}>
                        {{ entry.text }}
                    </a>
                </li>
            </ul>
            {% endif %}
        {% endfor %}

        {% set currentUrl = currentScopeUrl %}
        {% if currentUrl is empty and urls.includeLanguage %}
            {% set currentUrl = "/" ~ category.details[0].lang %}
        {% endif %}

        {% set currentUrl = currentUrl ~ "/" ~ category.details[0].nameUrl  %}
        {% set isCategoryActive = false %}
        {% for breadcrumb in breadcrumbs if category.id == breadcrumb.id %}
            {% set isCategoryActive = true %}
        {% endfor %}

        <ul>
            <li class="nav-item{% if isCategoryActive %} active{% if category.children | length > 0 %} is-open{% endif %}{% endif %}">
                {% if category.childCount > 0 and expandableChildren %}
                    <div v-sidenavigation-children="{
                            categoryId: {{ category.id }},
                            currentUrl: {{ currentUrl | json_encode }},
                            isActive: {{ (isCategoryActive and category.children | length > 0) | json_encode }},
                            showItemCount: {{ showItemCount | json_encode }},
                            childCount: {{ category.childCount }},
                            spacingPadding: {{ spacingPadding | json_encode }},
                            inlinePadding: {{ inlinePadding | json_encode }} }"
                         class="expand-nav{% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"
                         {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                {% endif %}

                <a href="{{ currentUrl }}{{ urls.trailingSlashSuffix }}" class="nav-link
                {% if isCategoryActive %} bg-appearance{% endif %}
                {% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"
                {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}>
                    <div class="d-flex">
                        <span class="flex-grow-1">{{ category.details[0].name }}</span>
                        {% if showItemCount == true and category.itemCount[0].count > 0 %}<div class="filter-badge align-self-center">{{ category.itemCount[0].count }}</div>{% endif %}
                    </div>
                </a>

                {% if category.children is not empty %}
                    {% for breadcrumb in breadcrumbs if category.id == breadcrumb.id %}
                        {{ sidemenu.get_sidemenu(breadcrumbs, category.children, currentUrl, spacingPadding, inlinePadding, showItemCount, expandableChildren) }}
                    {% endfor %}
                {% endif %}
            </li>
        </ul>

        {% if loop.index == categories | length %}
            {% for entry in customEntries if entry.text is not empty and entry.position > categories | length %}
                {% if entry.url.value is not empty %}
                    {% if entry.url.type == 'category' %}
                        {% set __category = services.category.get(entry.url.value) %}
                        {% set realUrl = services.category.getURL(__category) %}
                    {% endif %}
                    {% if entry.url.type == 'item' %}
                        {% set __itemData = services.item.getVariation(entry.url.value) %}
                        {% set realUrl = __itemData.documents[0].data | itemURL %}
                    {% endif %}
                    {% if entry.url.type == 'external' or entry.url.type == 'file' %}
                        {% set realUrl = entry.url.value %}
                    {% endif %}
                {% endif %}

                <ul>
                    <li class="nav-item">
                        <a {% if realUrl is not empty %}href="{{ realUrl }}"{% endif %} class="nav-link
                            {% if spacingPadding | length > 0 %} {{ spacingPadding }}{% endif %}"
                            {% if entry.url.openInNewTab %} target="_blank"{% endif %}
                            {% if inlinePadding | length > 0 %} style="{{ inlinePadding }}"{% endif %}>
                            {{ entry.text }}
                        </a>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}

    {% endfor %}

{% endmacro %}
