{% macro get_nav_bar(categories, currentScopeUrl) %}

    {{ component("Ceres::Category.Component.CategoryNavBarHeader") }}

    <noscript>

        {% for category in categories %}

            {% set currentScopeUrl = "/" ~ category.details[0].nameUrl %}

            {% if category.children %}

                <li class="ddown">
                    <a href="{{ currentScopeUrl }}">{{ category.details[0].name }}</a>
                    <ul data-level="1">

                        {% for child in category.children %}

                            <li>
                                <a href="{{ currentScopeUrl }}/{{ child.details[0].nameUrl }}">{{ child.details[0].name }}</a>
                            </li>

                        {% endfor %}

                    </ul>
                </li>

            {% else %}

                <li>
                    <a href="{{ currentScopeUrl }}">{{ category.details[0].name }}</a>
                </li>

            {% endif %}
        {% endfor %}

    </noscript>

    <category-renderer template="#vue-category-nav-bar-header" categories="{{ categories | json_encode() }}" current-scope-url="{{ currentScopeUrl }}"></category-renderer>

{% endmacro %}