{% macro get_children(category, currentScopeUrl, level) %}
    {% set megaMenuLevels = not config('Ceres.header.megamenu_levels') ? 1 : config('Ceres.header.megamenu_levels') %}
    {% set maxitems = { "1": config('Ceres.header.megamenu_items_stage_1'), "2": config('Ceres.header.megamenu_items_stage_2') ,"3": config('Ceres.header.megamenu_items_stage_3')} %}
    {% import _self as childlist %}
    {% set counter = 0 %}
    {% if level < megaMenuLevels %}
        {% for child in category.children if counter < maxitems[level] %}
            {% if (child.details | length > 0) %}
                <li class="level{{ level }}">
                    {% set newScope = currentScopeUrl ~ "/" ~ child.details[0].nameUrl %}
                    <a href="{{ newScope }}" v-render-category="{ id: {{ child.id }}, type: '{{ child.type }}' }">{{ child.details[0].name }}</a>
                    {% if child.children %}
                        {% if level == 1 %}<ul>{% endif %}
                            {{ childlist.get_children(child, newScope, level + 1) }}
                        {% if level == 1 %}</ul>{% endif %}
                    {% endif %}
                </li>
                {% set counter = counter + 1 %}
                {% if counter == maxitems[level]%}
                    <li class="level{{ level }} bt-more"><a href="{{ currentScopeUrl }}" v-render-category="{ id: {{ category.id }}, type: '{{ category.type }}' }">{{ trans("Ceres::Template.itemShowMore") }}...</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro get_nav_bar(categories, currentScopeUrl) %}
    {% import _self as navbar %}
    {% set counter = 0 %}
    {% set megaMenuLevels = not config('Ceres.header.megamenu_levels') ? 1 : config('Ceres.header.megamenu_levels') %}

    {% for category in categories %}

        {% if category.details | length > 0 %}

            {% set currentScopeUrl = "/" ~ category.details[0].nameUrl %}

            {% set translatedChildren = 0 %}
            {% for children in category.children if children.details[0] %}
                {% set translatedChildren = translatedChildren + 1 %}
            {% endfor %}
            
            {% if category.children and translatedChildren > 0 %}

                <li class="ddown">
                    <a href="{{ currentScopeUrl }}" v-render-category="{ id: {{ category.id }}, type: '{{ category.type }}' }">{{ category.details[0].name }}</a>

                    <span class="hidden-lg-up nav-direction" data-toggle="collapse" href="#navDropdown{{ counter }}" aria-expanded="false">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>

                    <ul data-level="1" id="navDropdown{{ counter }}" class="collapse">
                        {% set counter = counter + 1 %}
                        {% if megaMenuLevels == "1" %}
                            {% for child in category.children %}
                                {% if child.details | length > 0 %}
                                    <li>
                                        <a href="{{ currentScopeUrl }}/{{ child.details[0].nameUrl }}" v-render-category="{ id: {{ child.id }}, type: '{{ child.type }}' }">{{ child.details[0].name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {{ navbar.get_children(category, currentScopeUrl, 1) }}
                        {% endif %}
                    </ul>
                </li>

            {% else %}

                <li>
                    <a href="{{ currentScopeUrl }}" v-render-category="{ id: {{ category.id }}, type: '{{ category.type }}' }">{{ category.details[0].name }}</a>
                </li>

            {% endif %}
        {% endif %}
    {% endfor %}

{% endmacro %}

{% macro get_sidemenu(breadcrumbs, categories, currentScopeUrl) %}

    {% import _self as sidemenu %}

    {% set urlNow = currentScopeUrl %}


    {% for category in categories %}

        {% set urlNow = currentScopeUrl ~ "/" ~ category.details[0].nameUrl %}

        {% if category.details[0] %}
            <ul>
                <li class="nav-item{% for breadcrumb in breadcrumbs %}{% if category.id == breadcrumb.id %} active{% endif %}{% endfor %}" v-update-sidenav-selection="$store.getters.breadcrumbs" data-category-id="{{ category.id }}">
                    <a href="{{ urlNow }}" class="nav-link" v-render-category="{ id: {{ category.id }}, type: '{{ category.type }}' }">{{ category.details[0].name }}</a>
                    {% if category.children is not empty %}
                        {{ sidemenu.get_sidemenu(breadcrumbs, category.children, urlNow) }}
                    {% endif %}
                </li>
            </ul>
        {% endif %}

    {% endfor %}

{% endmacro %}