<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set logData = config("Ceres.log.data")|split(', ') %}
{% set sortValues = config("Ceres.sort.data")|split(', ') %}
{% set defaultSorting = config('Ceres.sort.defaultSorting') %}
{% set rowsPerPage = config('Ceres.pagination.rowsPerPage') | split(', ') %}
{% set columnsPerPage = config('Ceres.pagination.columnsPerPage') %}
{% set itemsPerPage = rowsPerPage[0] * columnsPerPage %}
{% set performanceLevel = config('Ceres.log.performance.level') %}
{% set itemName = config('Ceres.item.name') %}

<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

{% if LayoutContainer.show("Ceres::Template.StyleOverwrite") | trim is empty %}
    <link rel="stylesheet" href="{{ plugin_path('Ceres') }}/css/ceres.css">
{% endif %}

{{ LayoutContainer.show("Ceres::Template.StyleOverwrite") }}

<!-- Extend the existing style with a template -->
{{ LayoutContainer.show("Ceres::Template.Style") }}

<script>
    App = {
        config:
        {
            printErrors:        {% if "print_errors" in logData or "all" in logData %}true{% else %}false{% endif %},
            printSuccess:       {% if "print_success" in logData or "all" in logData %}true{% else %}false{% endif %},
            printWarnings:      {% if "print_warnings" in logData or "all" in logData %}true{% else %}false{% endif %},
            printInfos:         {% if "print_infos" in logData or "all" in logData %}true{% else %}false{% endif %},
            printStackTrace:    {% if "print_stack_trace" in logData or "all" in logData %}true{% else %}false{% endif %},
            logMessages:        {% if "log_messages" in logData or "all" in logData %}true{% else %}false{% endif %},
            defaultItemsPerPage: "{{ itemsPerPage }}",
            defaultSorting: "{{ defaultSorting }}",
            performanceLevel: "{{ performanceLevel }}",
            itemName: {{ itemName }},
            variationShowType: "{{ config("Ceres.item.variation_show_type") }}"
        },
        isCategoryView: {% if services.template.isCategory() == "1" %}true{% else %}false{% endif %},
        isCheckoutView : {% if services.template.isCheckout() == "1" %}true{% else %}false{% endif %}
    };
</script>
