<nav class="cmp cmp-paginator row pull-xs-right text-xs-center" v-if="{{ pageMax }} > 1">
        <ul class="pagination col-xs-12 m-y-0">

            <!-- FIRST PAGE LINK -->
            {% if config('Ceres.pagination.showFirstPage') == "true" %}
                <li class="page-item" v-if="{{ page }} > 2">
                    <a class="page-link" @click="{{ setPage }}(1)">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            <!-- ./FIRST PAGE LINK -->

            <!-- PREV LINK -->
            <li class="page-item" :class="{'disabled': {{ page }} <= 1}">
                <a class="page-link" @click="{{ setPage }}({{ page }}-1)">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            </li>
            <!-- ./PREV LINK -->

            <!-- PAGINATION -->
            <li class="page-item" v-if="{{ page }} === {{ pageMax }} && {{ page }} > 2">
                <a class="page-link" @click="{{ setPage }}({{ page }} - 2)">${ {{ page }} - 2 }</a>
            </li>

            <li class="page-item" v-if="{{ page }} > 1">
                <a class="page-link" @click="{{ setPage }}({{ page }} - 1)">${ {{ page }} - 1 }</a>
            </li>

            <li class="page-item active">
                <a class="page-link">${ {{ page }} }</a>
            </li>

            <li class="page-item" v-if="{{ page }} + 1 <= {{ pageMax }}">
                <a class="page-link" @click="{{ setPage }}({{ page }} + 1)">${ {{ page }} + 1 }</a>
            </li>

            <li class="page-item" v-if="{{ page }} === 1 && {{ page }} + 2 <= {{ pageMax }}">
                <a class="page-link" @click="{{ setPage }}({{ page }} + 2)">${ {{ page }} + 2 }</a>
            </li>
            <!-- ./PAGINATION -->

            <!-- NEXT LINK -->
            <li class="page-item" :class="{'disabled': {{ page }} >= {{ pageMax }}}">
                <a class="page-link" @click="{{ setPage }}({{ page }} + 1)">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>
            <!-- ./NEXT LINK -->

            <!-- LAST PAGE LINK -->
            {% if config('Ceres.pagination.showLastPage') == "true" %}
                <li class="page-item" v-if="{{ pageMax }} > 3 && {{ page }} < {{ pageMax }} - 1">
                    <a class="page-link" @click="{{ setPage }}({{ pageMax }})">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            <!-- ./LAST PAGE LINK -->
        </ul>
    </nav>