{{ component("Ceres::Category.Components.CategoryBreadcrumbs") }}

{% set lang         = services.sessionStorage.getLang() %}
{% set configItemName = config("Ceres.item.name") %}

{% if categoryBreadcrumbs is not empty %}
    <nav id="twig-rendered-breadcrumbs" class="container-max small hidden-sm-down" v-is-loading-breadcrumbs-watcher>
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            {% for category in categoryBreadcrumbs %}
                {% if loop.last %}
                    {% if category.details is defined %}
                        <li class="breadcrumb-item active"><span>{{ category.details.first.name }}</span></li>
                    {% else %}
                        <li class="breadcrumb-item active"><span>{{ category | itemName(configItemName) }}</span></li>
                    {% endif %}
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ services.category.getURL( category ) }}" v-render-category="{{ category }}">{{ category.details.first.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <category-breadcrumbs template="#vue-category-breadcrumbs" categories="{{ categories | json_encode() }}" current-category-tree="{{ categoryBreadcrumbs | json_encode() }}"></category-breadcrumbs>
{% endif %}
