{{ component("Ceres::Category.Components.CategoryBreadcrumbs") }}

{% set lang         = services.sessionStorage.getLang() %}

{% if categoryBreadcrumbs is not empty %}
    <nav id="twig-rendered-breadcrumbs" class="container-max small hidden-sm-down">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            {% for category in categoryBreadcrumbs %}
                {% if loop.last %}
                    {% if category.details is defined %}
                        <li class="breadcrumb-item active"><span>{{ category.details.first.name }}</span></li>
                    {% else %}
                        <li v-cloak v-if="$store.state.item.variation.documents" class="breadcrumb-item active">
                            <span>${ $store.state.item.variation.documents[0].data | newItemName }</span>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ services.category.getURL( category ) }}" v-render-category="{ id: {{ category.id }}, type: '{{ category.type }}' }">{{ category.details.first.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <category-breadcrumbs template="#vue-category-breadcrumbs"></category-breadcrumbs>
{% endif %}
