{{ component("Ceres::Category.Components.CategoryBreadcrumbs") }}

{% set categoryTree = services.category.getHierarchy() %}
{% set lang         = services.sessionStorage.getLang() %}
{% set categories = services.category.getNavigationTree("item", lang) %}

<noscript>
    {% if categoryTree is not empty %}
        <nav class="container-max small hidden-sm-down">
            <ul class="breadcrumb">
                <li class="breadcrumb-item" >
                    <a href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>
                {% for category in categoryTree %}
                    {% if loop.last %}
                        <li class="breadcrumb-item active"><span>{{ category.details.first.name }}</span></li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ services.category.getURL( category ) }}">{{ category.details.first.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</noscript>

<category-breadcrumbs template="#vue-category-breadcrumbs" categories="{{ categories | json_encode() }}" current-category-tree="{{ categoryTree | json_encode() }}"></category-breadcrumbs>



