{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<header id="page-header" class="top-bar fixed-top">
    <div>
        <div class="container-max">
            <div class="row mx-0">
                {{ LayoutContainer.show("Ceres::Header.LeftSide") }}

                <ul id="controlsList" class="controls-list list-inline">
                    <li class="list-inline-item control-user">
                        <user-login-handler>
                            <a data-toggle="modal">
                                <i class="mr-1 fa fa-user" aria-hidden="true"></i>
                                <span class="hidden-xs-down">{{ trans("Ceres::Template.login") }}</span>
                            </a>
                            <span class="pipe"></span>
                            <a data-toggle="modal">
                                <i class="mr-1 fa fa-user-plus" aria-hidden="true"></i>
                                <span class="hidden-xs-down">{{ trans("Ceres::Template.loginRegister") }}</span>
                            </a>
                        </user-login-handler>
                    </li>
                    <li class="list-inline-item dropdown control-languages">
                        <a data-toggle="collapse" href="#countrySettings" aria-expanded="false"
                           aria-controls="countrySettings"
                           data-parent="#controlsList">
                            <i class="flag-icon flag-icon-{{ lang }}"></i>
                        </a>
                    </li>

                    {% if enableCurrencySelect == "true" %}
                        <li class="list-inline-item dropdown control-languages">
                            <a class=""
                               data-toggle="collapse"
                               href="#currencySelect"
                               aria-expanded="false"
                               aria-controls="currencySelect"
                               data-parent="#controlsList">
                                <span>{{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="list-inline-item control-search">
                        <a class="anicon anicon-search-xcross"
                           aria-label="toggle search"
                           data-toggle="collapse"
                           href="#searchBox"
                           aria-expanded="false"
                           aria-controls="searchBox"
                           data-parent="#controlsList">
                            <span class="anicon-search-item" aria-hidden="true"></span>
                        </a>
                    </li>
                    {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
                        <li class="list-inline-item control-wish-list">
                            <wish-list-count>
                                <a>
                                    <span class="badge-right">0</span>
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </wish-list-count>
                        </li>
                    {% endif %}
                    <li class="list-inline-item control-basket">
                        <a v-toggle-basket-preview href="#" class="toggle-basket-preview">
                            {% if config("Ceres.header.basket_values") != "sum" %}
                                <span class="badge-right" v-basket-item-quantity="$store.state.basket.data.itemQuantity">0</span>
                            {% endif %}

                            <i v-waiting-animation="$store.state.basket.isBasketLoading" waiting-class="fa fa-refresh fa-spin" class="fa fa-shopping-cart" aria-hidden="true"></i>
                            {% if config("Ceres.header.basket_values") != "quantity" %}
                                <span class="badge" v-if="!$store.state.basket.showNetPrices" v-basket-item-sum="$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                                <span class="badge" v-else v-cloak v-basket-item-sum="$store.state.basket.data.itemSumNet">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                            {% endif %}
                        </a>

                        {% if config("Ceres.basket.preview_type") != "right" %}
                            <basket-preview template="#vue-basket-preview-hover" :show-net-prices="{{ showNetPrices | json_encode }}"></basket-preview>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        {% include "Ceres::PageDesign.Partials.Header.Navigation" %}
    </div>
</header>

<!-- breadcrumb -->
{% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
    {% include "Ceres::PageDesign.Partials.Header.Breadcrumb" %}
{% endif %}

<div class="container-max page-header">
    <div class="row mx-0">
        <div id="searchBox" class="cmp cmp-search-box collapse">
            {% set overrideSearchBar = LayoutContainer.show("Ceres::Search.SearchBar") %}
            {% if overrideSearchBar | trim is empty %}
                <item-search template="#vue-item-search"></item-search>
            {% else %}
                {{ overrideSearchBar | raw }}
            {% endif %}
        </div>

        {% if enableCurrencySelect == "true" %}
            <div id="currencySelect" class="cmp cmp-currency-select collapse">
                <div class="container-max">
                    <div class="row py-3">

                        <div class="currency-list col-12">
                            <div class="list-title">
                                <strong>{{ trans("Ceres::Template.headerCurrency") }}</strong>
                                <hr>
                            </div>
                            <ul class="text-center text-sm-left">
                                {% for currency in services.checkout.getCurrencyList() if currency.name in activeCurrencies or activeCurrencies[0] == 'all' or currency.name == services.checkout.getCurrencyData().name %}
                                    <li{% if currency.name == services.checkout.getCurrencyData().name %} class="active"{% endif %}>
                                        <a href="{{ queryString({"currency": currency.name}) }}" rel="nofollow">
                                            {% if currencyFormatSelect == 'all' %}
                                                {{ currency.name }} <br class="d-block d-sm-none" />({{ currency.symbol }})
                                            {% else %}
                                                {{ currency[currencyFormatSelect] }}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <shop-country-settings
                country-flag-prefix="flag-icon-"
                shipping-countries="{{ services.country.getActiveCountriesList() | filterFields(['id','currLangName', 'isoCode2', 'states.id', 'states.name']) | json_data("activeCountriesList") }}"
                :shipping-country-id="{{ services.checkout.getShippingCountryId }}">
            <div id="countrySettings" class="cmp cmp-country-settings collapse">
                <div class="container-max">
                    <div class="row py-3">
                        <div class="col-12 col-lg-6">

                            <div class="language-settings">
                                <div class="list-title">
                                    <strong>{{ trans("Ceres::Template.headerSelectLanguage") }}</strong>
                                    <hr>
                                </div>

                                {% set languageList = services.webstoreConfig.getActiveLanguageList() %}
                                {% set languageUrls = services.url.getLanguageURLs() %}
                                <ul>
                                    {% for language in languageList %}
                                        <li{% if lang == language %} class="active"{% endif %}>
                                            <a href="{% if languageUrls[language] is defined %}{{ languageUrls[language] ~ queryString() }}{% elseif language != defaultLanguage %}/{{ language }}{{ urls.trailingSlashSuffix }}{% else %}/{% endif %}" data-update-url>
                                                <i class="flag-icon flag-icon-{{ language }}"></i>
                                                {{ trans("Ceres::Template.header" ~ language | capitalize) }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="shipping-settings">
                                <div class="list-title">
                                    <strong>{{ trans("Ceres::Template.headerSelectShippingCountry") }}</strong>
                                    <hr>
                                </div>
                                <shipping-country-select :disable-input="{{ services.template.isCheckout() | json_encode() }}"></shipping-country-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </shop-country-settings>
    </div>
</div>