{{ component( "PluginCallisto::Customer.Components.UserLoginHandler" ) }}

{% set lang                     = services.sessionStorage.getLang() %}
{% set activeShippingCountries  = services.country.getActiveCountriesList(lang) %}
{% set currentShippingCountryId = services.checkout.getShippingCountryId() %}
{% set activeShopLanguageList   = services.webstoreConfig.getActiveLanguageList()|split(', ') %}

<header class="top-bar">
    <div class="container-max">
        <div class="row">
            <div  class="shariff socialbar hidden-sm-down pull-xs-left"
                    data-services='["facebook","googleplus","pinterest","twitter"]'
                    data-url=""
                    data-media-url=""
                    data-theme="minimal">
            </div>

            <ul id="controlsList" class="controls-list list-inline">

                <li class="list-inline-item control-user">
                    <user-login-handler :user-data="{{ services.customer.getContact() | json_encode() }}"></user-login-handler>
                </li>

                <li class="list-inline-item dropdown control-languages">
                    <a class="" data-toggle="collapse" href="#countrySettings" aria-expanded="false" aria-controls="countrySettings" data-parent="#controlsList">
                        <i class="flag-icon flag-icon-{{ lang }}"></i>
                    </a>
                </li>

                <li class="list-inline-item control-search">
                    <a class="" data-toggle="collapse" href="#searchBox" aria-expanded="false" aria-controls="searchBox" data-parent="#controlsList">
                        <i class="fa fa-search"></i>
                        <span class="hidden-xs-down">{{ trans("PluginCallisto::Callisto.generalSearchNoDot") }}</span>
                    </a>
                </li>

                <li class="list-inline-item control-basket">
                    <a href="#" id="toggleBasketPreview" class="toggle-basket-preview">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="badge" v-resource-bind:basket="itemSum" :filters="['currency']"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="container-max">
    <div class="row">
        <div id="searchBox" class="cmp cmp-search-box collapse">
            <div class="search-box-inner">
                <input type="search" class="search-input" name="" value="" placeholder="Begriff eingeben und…">
                <button class="search-submit" type="submit">
                    <i class="fa fa-search hidden-sm-up"></i>
                    <span class="hidden-xs-down">{{ trans("PluginCallisto::Callisto.generalSearchNoDot") }}</span>
                </button>
            </div>
        </div>

        <div id="countrySettings" class="cmp cmp-country-settings collapse">
            <div class="country-settings-inner row">

                <div class="language-settings col-xs-12 col-sm-6">
                    <div class="list-title">
                        <strong>{{ trans("PluginCallisto::Callisto.generalSelectLanguage") }}</strong>
                        <hr>
                    </div>
                    <ul>
                        {% for activeShopLang in activeShopLanguageList %}
                        <li class="{% if activeShopLang == lang %}active{% endif %}">
                            <a data-toggle="collapse" href="#countrySettings" class="" v-change-lang="{currLang: '{{ lang }}', lang: '{{ activeShopLang }}' }">
                                <i class="flag-icon flag-icon-{{ activeShopLang }}"></i>
                                {{ trans("PluginCallisto::Callisto."~activeShopLang) }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="shipping-settings col-xs-12 col-sm-6">
                    <div class="list-title">
                        <strong>{{ trans("PluginCallisto::Callisto.generalSelectShippingCountry") }}</strong>
                        <hr>
                    </div>
                    <ul>
                        {% for shippingCountry in activeShippingCountries %}
                        <li class="{% if currentShippingCountryId == shippingCountry.id %}active{% endif %}">
                            <a data-toggle="collapse" href="#countrySettings" class="" v-shipping-country.literal="{{ shippingCountry.id }}">
                                <i class="flag-icon flag-icon-{{ shippingCountry.isoCode2|lower }}"></i>
                                {{shippingCountry.currLangName}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% include "PluginCallisto::PageDesign.Partials.Header.Navigation" %}

        <!-- breadcrumb -->
        {% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout()  %}
            {% include "PluginCallisto::PageDesign.Partials.Header.Breadcrumb" %}
        {% endif %}

    </div>
</div>
