{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Ceres::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Ceres::PageDesign.Components.MobileNavigation" ) }}
{{ component( "Ceres::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::WishList.Components.WishListCount" ) }}
{{ component( "Ceres::Basket.Components.BasketPreviewHover" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set activeCurrencies = config("Ceres.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("Ceres.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("Ceres.currency.format") %}
{% set currencyFormatSelect = config("Ceres.currency.format_selection") %}


{% set headerContainer = LayoutContainer.show("Ceres::Header") | trim %}
{% if headerContainer is empty %}
    {% include "Ceres::PageDesign.Partials.Header.DefaultHeader" %}
{% else %}
<header id="page-header" class="pos-f-t">
    {{ headerContainer | raw }}
</header>
{% endif %}

<div>
    {% if category.linklist == "Y" %}
        {% set initialCategory = { id: category.id } %}
    {% else %}
        {% set initialCategory = category %}
    {% endif %}
    <mobile-navigation
            :navigation-tree-data="{{ categories | json_encode }}"
            :initial-category="{{ initialCategory | json_encode }}"
            template="#vue-mobile-navigation">
    </mobile-navigation>
</div>
