{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Ceres::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Ceres::PageDesign.Components.MobileNavigation" ) }}
{{ component( "Ceres::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::WishList.Components.WishListCount" ) }}
{{ component( "Ceres::Basket.Components.BasketPreviewHover" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set activeCurrencies = config("Ceres.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("Ceres.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("Ceres.currency.format") %}
{% set currencyFormatSelect = config("Ceres.currency.format_selection") %}

<header class="top-bar">
    <div class="container-max">
        <div class="row">
            {{ LayoutContainer.show("Ceres::Header.LeftSide") }}

            <ul id="controlsList" class="controls-list list-inline">

                <li class="list-inline-item control-user">
                    <user-login-handler template="#vue-user-login-handler"
                            :user-data="{{ services.customer.getContact() | json_encode() }}"></user-login-handler>
                </li>
                <li class="list-inline-item dropdown control-languages">
                    <a class="" data-toggle="collapse" href="#countrySettings" aria-expanded="false"
                       aria-controls="countrySettings"
                       data-parent="#controlsList">
                        <i class="flag-icon flag-icon-{{ lang }}"></i>
                    </a>
                </li>
                {% if enableCurrencySelect == "true" %}
                <li class="list-inline-item dropdown control-languages">
                    <a class=""
                       data-toggle="collapse"
                       href="#currencySelect"
                       aria-expanded="false"
                       aria-controls="currencySelect"
                       data-parent="#controlsList">
                        <span>{{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                    </a>
                </li>
                {% endif %}
                <li class="list-inline-item control-search">
                    <a class="anicon anicon-search-xcross" aria-label="toggle search"
                            data-toggle="collapse" href="#searchBox"
                            aria-expanded="{% if services.template.isSearch() %}true{% else %}false{% endif %}"
                            aria-controls="searchBox"
                            data-parent="#controlsList">
                        <span class="anicon-search-item" aria-hidden="true"></span>
                    </a>
                </li>
                {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
                    <li class="list-inline-item control-wish-list">
                        <wish-list-count :init-ids="{{ services.wishList.getItemWishList() | json_encode }}"></wish-list-count>
                    </li>
                {% endif %}
                <li class="list-inline-item control-basket">
                    <a v-toggle-basket-preview href="#" class="toggle-basket-preview">
                        {% if config("Ceres.header.basket_values") != "sum" %}
                            <span class="badge-right" v-basket-item-quantity="this.$store.state.basket.data.itemQuantity">0</span>
                        {% endif %}

                        <i v-waiting-animation="this.$store.state.basket.isBasketLoading" waiting-class="fa fa-refresh fa-spin" class="fa fa-shopping-cart" aria-hidden="true"></i>
                        {% if config("Ceres.header.basket_values") != "quantity" %}
                            {% if services.customer.showNetPrices() %}
                                <span class="badge" v-basket-item-sum="this.$store.state.basket.data.itemSumNet">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                            {% else %}
                                <span class="badge" v-basket-item-sum="this.$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                            {% endif %}
                        {% endif %}
                    </a>

                    {% if config("Ceres.basket.preview_type") != "right" %}
                        <basket-preview
                            template="#vue-basket-preview-hover"
                            :basket-data="{{ services.basket.getBasketForTemplate() | json_encode() }}">
                        </basket-preview>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    {% include "Ceres::PageDesign.Partials.Header.Navigation" %}

</header>


<!-- breadcrumb -->
{% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
    {% include "Ceres::PageDesign.Partials.Header.Breadcrumb" %}
{% endif %}

{% if category.linklist == "Y" %}
    {% set initialCategory = { id: category.id } %}
{% else %}
    {% set initialCategory = category %}
{% endif %}

<mobile-navigation :navigation-tree-data="{{ categories | json_encode }}" :initial-category="{{ initialCategory | json_encode }}" template="#vue-mobile-navigation"></mobile-navigation>

<div class="container-max page-header">
    <div class="row">
        <div id="searchBox" class="cmp cmp-search-box collapse {% if services.template.isSearch() %} in {% endif %}">
            <item-search template="#vue-item-search"></item-search>
        </div>

        {% if enableCurrencySelect == "true" %}
        <div id="currencySelect" class="cmp cmp-currency-select collapse">
            <div class="container-max">
                <div class="currency-select-inner row">

                    <div class="currency-list col-xs-12">
                        <div class="list-title">
                            <strong>{{ trans("Ceres::Template.currency") }}</strong>
                            <hr>
                        </div>
                        <ul>
                            {% for currency in services.checkout.getCurrencyList() if currency.name in activeCurrencies or activeCurrencies[0] == 'all' or currency.name == services.checkout.getCurrencyData().name %}
                            <li{% if currency.name == services.checkout.getCurrencyData().name %} class="active"{% endif %}>
                                <a href="{{ queryString({"currency": currency.name}) }}" rel="nofollow">
                                    {% if currencyFormatSelect == 'all' %}
                                        {{ currency.name }} ({{ currency.symbol }})
                                    {% else %}
                                        {{ currency[currencyFormatSelect] }}
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
        <shop-country-settings country-flag-prefix="flag-icon-" :localization-data="{{ services.localization.getLocalizationData() | json_encode }}">
            <div id="countrySettings" class="row cmp cmp-country-settings no-margin collapse">
                <div class="container-max">
                    <div class="row no-padding">
                        <div class="country-settings-inner languages col-lg-6">

                            <div class="language-settings">
                                <div class="list-title">
                                    <strong>{{ trans("Ceres::Template.generalSelectLanguage") }}</strong>
                                    <hr>
                                </div>

                                {% set languageList = services.webstoreConfig.getActiveLanguageList() %}
                                {% set languageUrls = services.url.getLanguageURLs() %}
                                <ul>
                                    {% for language in languageList %}
                                        <li{% if lang == language %} class="active"{% endif %}>
                                            <a href="{% if languageUrls[language] is defined %}{{ languageUrls[language] ~ queryString() }}{% else %}/{{ language }}{% endif %}" data-update-url>
                                                <i class="flag-icon flag-icon-{{ language }}"></i>
                                                {{ trans("Ceres::Template." ~ language) }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="country-settings-inner countries col-lg-6">
                            <div class="shipping-settings">
                                <div class="list-title">
                                    <strong>{{ trans("Ceres::Template.generalSelectShippingCountry") }}</strong>
                                    <hr>
                                </div>
                                <shipping-country-select template="#vue-shipping-country-select" :selectable="{{ services.template.isCheckout() | json_encode() }}"></shipping-country-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </shop-country-settings>
    </div>
</div>
