<article class="cmp cmp-order-item">

    <div class="item-image">
        <img src="http://placekitten.com/g/80/80">
    </div>

    <div class="item-details small">

        <div class="item-name">
            <h5>{{ trans("PluginCallisto::Callisto.orderId") }} {{ order.id }}</h5>
        </div>

        <div class="row">
            <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderDate") }}</strong>
            <span class="col-xs-6 col-sm-7">{{ order.createdAt|date("d.m.Y") }}</span>
        </div>
        <div class="row">
            <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderRecipient") }}</strong>
            <span class="col-xs-6 col-sm-7">${ order.addresses[1].searchName }</span>
        </div>
        <div class="row">
            <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderStatus") }}</strong>
            <span class="col-xs-6 col-sm-7">[{{ order.statusId }}]</span>
        </div>
        <div class="row">
            <strong class="col-xs-6 col-sm-5">{{ trans("PluginCallisto::Callisto.orderShipped") }}</strong>
            <span class="col-xs-6 col-sm-7">TODO</span>
        </div>
        <!-- include id -->
        <input type="checkbox" class="item-toggle toggle-description" id="itemid-${ _uid }" value="">

        <div class="item-description">
            <ul class="m-y-1">
                {% for orderItem in order.orderItems %}
                <li>{{ orderItem.orderItemName }}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- include id -->
        <label class="expand-btn" for="itemid-${ _uid }"></label>
    </div>

</article>
