{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set configItemName = config("Ceres.item.name") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<script type="x/template" id="vue-category-item">
    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-{% if (showHeaderNavBar == "side" or showHeaderNavBar == "both") and not services.template.isSearch() %}4{% else %}3{% endif %}">

        <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
            <div class="thumb-inner">
                <div class="thumb-background"></div>

                <add-to-basket template="#vue-add-to-basket" :item="itemData" :show-quantity="false"
                               :item-url="itemData | itemURL"></add-to-basket>

                <div class="thumb-image">
                    <div class="square-container">
                        <div class="square-inner main-image">
                            <category-image-carousel template="#vue-category-image-carousel"
                                                     :image-urls="itemData.images | itemImages imageUrlAccessor"
                                                     :alt-text="texts | itemName {{ configItemName }}"
                                                     :item-url="itemData | itemURL"
                                                     :show-dots="{{ config("Ceres.item.category_show_dots") | json_encode() }}"
                                                     :show-nav="{{ config("Ceres.item.category_show_nav") | json_encode() }}"
                                                     :enable-carousel="{{ enableCarousel }}">
                            </category-image-carousel>
                        </div>
                    </div>
                </div>

                <!-- STORE SPECIALS -->
                <item-store-special v-if="storeSpecial" :store-special="storeSpecial"
                                    :recommended-retail-price="recommendedRetailPrice"
                                    :variation-retail-price="variationRetailPrice"
                                    :decimal-count="decimalCount"></item-store-special>
                <!-- ./STORE SPECIALS -->

                <!-- ITEM DETAILS -->
                <div class="thumb-content">
                    <a href="${ itemData | itemURL }" class="thumb-title small">
                        ${ texts | itemName {{ configItemName }} }
                    </a>
                    <div class="thumb-meta">
                        <div class="prices">

                            <a href="${ itemData | itemURL }" v-if="recommendedRetailPrice > 0">
                                <del class="crossprice">
                                    ${ recommendedRetailPrice | currency itemData.calculatedPrices.rrp.currency }
                                </del>
                            </a>

                            <a href="${ itemData | itemURL }">
                                <div class="price">
                                    ${ variationRetailPrice | currency itemData.calculatedPrices.default.currency }
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
                <!-- ./ITEM DETAILS  -->
            </div>
        </article>
    </li>
</script>
