{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<script type="x/template" id="vue-category-item">
    <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
        <div class="thumb-inner">
            <add-to-basket :item="itemData" :use-large-scale="true" :item-url="itemData | itemURL"></add-to-basket>

            <div class="thumb-background"></div>

            <div class="thumb-image">
                <div class="square-container">
                    <div class="square-inner main-image">
                        <category-image-carousel template="#vue-category-image-carousel"
                                                 :image-urls-data="itemData.images | itemImages(imageUrlAccessor)"
                                                 :alt-text="itemData | itemName"
                                                 :item-url="itemData | itemURL"
                                                 :show-dots="{{ ceresConfig.item.categoryShowDots | json_encode }}"
                                                 :show-nav="{{ ceresConfig.item.categoryShowNav | json_encode }}"
                                                 :enable-carousel="{{ enableCarousel }}"
                                                 ref="categoryImageCarousel">
                        </category-image-carousel>
                    </div>
                </div>
            </div>

            <!-- STORE SPECIALS -->
            <item-store-special v-if="storeSpecial" :store-special="storeSpecial"
                                :recommended-retail-price="itemData.prices.rrp"
                                :variation-retail-price="itemData.prices.default"
                                :decimal-count="decimalCount"></item-store-special>
            <!-- ./STORE SPECIALS -->

            <!-- ITEM DETAILS -->
            <div class="thumb-content">
                <a :href="itemData | itemURL" class="thumb-title small">
                    ${ itemData | itemName }
                </a>
                <div class="thumb-meta">
                    <div class="prices">
                        <div v-if="itemData.prices.rrp && itemData.prices.rrp.price.value > 0" class="price-view-port">
                            <del class="crossprice">
                                ${ itemData.prices.rrp.price.formatted }
                            </del>
                        </div>

                        <div class="price">
                            ${ itemData.prices.default.unitPrice.formatted } *
                        </div>
                    </div>

                    <div class="category-unit-price" v-if="!(itemData.unit.unitOfMeasurement === 'C62' && itemData.unit.content === 1)">
                        <span>${ itemData.unit.content }</span>
                        <span>${ itemData.unit.names.name }</span>
                        <span v-if="itemData.variation.mayShowUnitPrice">| ${ itemData.prices.default.basePrice }</span>
                    </div>
                </div>
                <add-to-basket :item="itemData" :item-url="itemData | itemURL"></add-to-basket>
                <span class="vat small text-muted">
                            * {{ trans("Ceres::Template.itemInclVAT") }} {{ trans("Ceres::Template.itemExclusive") }}
                    <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.itemShippingCosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
                </span>
            </div>
            <!-- ./ITEM DETAILS  -->
        </div>
    </article>
</script>
